<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span> </a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop = "name"> operator </span> </a>
    <meta itemprop = "position" content = "2" />
  </li>
  & # 8250;
  <li>
      <span itemprop = "name"> here </span>
  </li>
</ol>
<h2> Perl comparison operator </h2>



The <b> comparison operator </b> is an operator that compares the magnitude of two values. Perl has a <b> numeric comparison operator </b> that compares numbers and a <b> string comparison operator </b> that compares which is larger in lexical order.

<h3> Numeric comparison operator </h3>

Numeric comparison operators are operators used to compare values ​​as numbers.

<table>
  <tr>
    <td>
      *operator
    </td>
    <td>
      *meaning
    </td>
  </tr>

  <tr>
    <td>
      A == B
    </td>
    <td>
      A and B are equal
    </td>
  </tr>

  <tr>
    <td>
      A! = B
    </td>
    <td>
      A and B are not equal
    </td>
  </tr>

  <tr>
    <td>
      A> B
    </td>
    <td>
      A is greater than B
    </td>
  </tr>

  <tr>
    <td>
      A> = B
    </td>
    <td>
      A is B or higher
    </td>
  </tr>

  <tr>
    <td>
      A <B
    </td>
    <td>
      A is smaller than B
    </td>
  </tr>

  <tr>
    <td>
      A <= B
    </td>
    <td>
      A is less than or equal to B
    </td>
  </tr>

</table>

The comparison operator returns a true value if the condition is met, and a false value if the condition is not met.

Please also refer to the following articles for Perl booleans.

<ul>
  <li>
    <a href="/blog/20080323120628.html"> Perl boolean </a>
  </li>
</ul>

<h4> Used in the conditional part of the if statement </h4>

Use <a href="/blog/20161023147731.html"> if statement </a> for a sample program that compares the numbers assigned to <a href="/blog/20161107147852.html"> variables </a> I will write it.

<pre>
my $ num1 = 4;
my $ num2 = 3;

if ($ num1> $ num2) {
  print "Left is big";
}
</pre>

In this program, $ num1 is assigned 4 and $ num2 is assigned 3. Since $ num1 is greater than $ num2, the condition is true and the inside of the block is executed.

<h4> Used in the conditional part of the ternary operator </h4>

Let's use the comparison operator in the conditional part of the <a href="/blog/20080325120646.html"> ternary operator </a>.

<pre>
my $ num1 = 4;
my $ num2 = 3;

my $ message = $ num1> $ num2? "OK": "Not OK";
</pre>

Since $ num1 is larger than $ num2, true is returned and "OK" is assigned to $ message.

<h3> String comparison operator </h3>

The string comparison operator is an operator used to compare <a href="/blog/20161003147558.html"> strings </a> in lexicographical order.

In dictionary order comparison, the size of the character code is compared one character at a time from the beginning. "A" is smaller than "b". "1" is larger than "02".

<table>
  <tr>
    <td>
      *operator
    </td>
    <td>
      *meaning
    </td>
  </tr>

  <tr>
    <td>
      A eq B
    </td>
    <td>
      A and B are equal
    </td>
  </tr>

  <tr>
    <td>
      A ne B
    </td>
    <td>
      A and B are not equal
    </td>
  </tr>

  <tr>
    <td>
      A gt B
    </td>
    <td>
      A is greater than B
    </td>
  </tr>

  <tr>
    <td>
      A ge B
    </td>
    <td>
      A is B or higher
    </td>
  </tr>

  <tr>
    <td>
      A lt B
    </td>
    <td>
      A is smaller than B
    </td>
  </tr>

  <tr>
    <td>
      A le B
    </td>
    <td>
      A is less than or equal to B
    </td>
  </tr>

</table>

<h4> Used in the conditional part of the if statement </h4>

This is a sample that uses the string comparison operator in the conditional part of the if statement.

<pre>
my $ str1 = "1";
my $ str2 = "02";

if ($ num1 gt $ num2) {
  print "Left is big";
}
</pre>

<h3> Combine conditions with logical operators </h3>

Logical operators allow you to use them in a combination of comparison operators.

<pre>
# $ num1 is greater than 1 and less than 5
if ($ num1> 1 && $ num1 <5) {
  ...
}

# $ num1 is less than 1 or greater than 5
if ($ num1 <1 || $ num1> 5) {
  ...
}
</pre>

Logical operators are explained here.

<ul>
  <li>
    <a href="/blog/20100816136168.html"> Perl logical operators </a>
  </li>
</ul>

<h3> How to check the partial position of a character string </h3>

Perl's string comparison operator "eq" is used when a string matches perfectly, but there are times when you want to know a partial match of a string. In that case, use regular expressions.

<pre>
If # $ str1 contains "Cat"
if ($ str1 = ~ / Cat /) {
  ...
}
</pre>

Regular expressions are explained below.

<ul>
  <li>
    <a href="/blog/20100827127859.html"> Perl regular expression </a>
  </li>
</ul>

<h3> Sample program </h3>

This is a sample of numerical comparison and dictionary order comparison.

<pre>
use strict;
use warnings;

# Numerical comparison and dictionary order comparison
print "1: Compare numerical comparison and dictionary order comparison \ n";
my $ num1 = "1";
my $ num2 = "02";

if ($ num1 <$ num2) {
  print "$ num1 is less than $ num2 when compared numerically \ n";
}

if ($ num1 gt $ num2) {
  print "Compare in lexicographical order, $ num1 is greater than $ num2 \ n";
}

</pre>

Execution result

<pre>
1: Compare numerical comparison and dictionary order comparison
Compared numerically, 1 is less than 02
Compared in lexicographical order, 1 is greater than 02
</pre>