<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    here
  </ li>
</ ol>
<h2> Math :: Trig --Various trigonometric functions </ h2>



The standard functions related to trigonometric functions are <a href="/blog/20180513122166.html"> cos function </a> and <a href="/blog/20180514122166.html"> sin function </a>. There is only one, but there is a trigonometric function related module called Math :: Trig in the standard module. I will briefly introduce the contents.

<h3> Reciprocal of trigonometric function </ h3>

The reciprocal is the number with the denominator and numerator swapped. Note that the inverse function has a different meaning. The reciprocals of sin, cos, and tan are called cosec, sec, and cot, respectively.

You can use the cosec, sec, and cot functions in the Math :: Trig module.

<table>
  <tr>
    <td>
      Twice
    </ td>
    <td>
      meaning
    </ td>
  </ tr>

  <tr>
    <td>
      cosec
    </ td>
    <td>
      1 / sin
    </ td>
  </ tr>

  <tr>
    <td>
      sec
    </ td>
    <td>
      1 / cos
    </ td>
  </ tr>

  <tr>
    <td>
      cot
    </ td>
    <td>
      1 / tan
    </ td>
  </ tr>

</ table>

<h3> Inverse function of trigonometric function </ h3>

The inverse function is g that satisfies x = g (y) when the relation y = f (x) holds. We read that y = f (x) becomes y when we act on x with f. We read that x = g (y) becomes x when we act on y with g.
In other words, g that causes x to act on f and then returns to x when g is applied is called the inverse function of f. If you write with a symbol

<blockquote>
x = g (f (x))
</ blockquote>

When g exists that satisfies, g is called the inverse function of f.

The inverse functions of sin, cos, and tan are called asin (arc sine), acos (arc cosine), and atan (arc tangent), respectively.

You can use the asin function, acos function, and atan function of the Math :: Trig module.

<table>
  <tr>
    <td>
      Twice
    </ td>
    <td>
      meaning
    </ td>
  </ tr>

  <tr>
    <td>
      asin
    </ td>
    <td>
      Inverse function of sin
    </ td>
  </ tr>

  <tr>
    <td>
      acos
    </ td>
    <td>
      Inverse function of cos
    </ td>
  </ tr>

  <tr>
    <td>
      atan
    </ td>
    <td>
      Inverse function of tan
    </ td>
  </ tr>

</ table>