<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop = "name"> standard function </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> chr function-convert numbers to ASCII </h2>



You can use the <strong> chr function </strong> to convert a number to a character that corresponds to an ASCII (ASCII) code. If ASCII code is specified in the first argument, the corresponding character will be returned as the return value. This is the reverse of the <a href="/blog/20080929122278.html"> ord function</a>.

<pre>
my $char = chr $ascii_code;
</pre>

<h3> Chr function sample </h3>

This is a sample to convert a numerical value to a character corresponding to ASCII code using the chr function.

<pre>
use strict;
use warnings;

In the # ASCII character code, 65, 66, and 67 correspond to'A',' B', and'C', respectively.
my $a_num = 65;
my $b_num = 66;
my $c_num = 67;

print chr($a_num). "\n";
print chr($b_num). "\n";
print chr($c_num). "\n";
</pre>