<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161005147566.html">      <span itemprop = "name">operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>Perl comparison operator</h2>

The <b> comparison operator </b> is an operator that compares two numbers. Perl has a <b> numeric comparison operator </b> which compares numbers and a <b> string comparison operator </b> which compares strings.

<h3>Numeric comparison operator</h3>

Numeric comparison operators are operators to compare values as numbers.

<table>
  <tr>
    <th>
      Operator
    </th>
    <th>
      Meaning
    </th>
  </tr>

  <tr>
    <td>
      A == B
    </td>
    <td>
      A is equal to B
    </td>
  </tr>

  <tr>
    <td>
      A != B
    </td>
    <td>
      A is not equal to B
    </td>
  </tr>

  <tr>
    <td>
      A > B
    </td>
    <td>
      A is greater than B
    </td>
  </tr>

  <tr>
    <td>
      A >= B
    </td>
    <td>
      A is greater than or equal to B
    </td>
  </tr>

  <tr>
    <td>
      A < B
    </td>
    <td>
      A is less than B
    </td>
  </tr>

  <tr>
    <td>
      A <= B
    </td>
    <td>
      A is less than or equal to B
    </td>
  </tr>

</table>

The comparison operator returns a true value if the condition is met, and a false value if the condition is not met.

See the following article for Perl boolean.

<ul>
  <li>
    <a href="/blog/20080323120628.html">Perl boolean</a>
  </li>
</ul>

<h4>Example using if statement</h4>

Example using numeric comparison operators and a if statement:

<pre>
my $num1 = 4;
my $num2 = 3;

if ($num1 > $num2) {
  print "Left is big";
}
</pre>

In this program, 4 is assigned to $num1 and 3 is assinged to $num2. Because $num1 is greater than $num2, the condition is true and the inside of the block is executed.

<h4>Example using ternary operator</h4>

Let's use the comparison operator with the <a href="/blog/20080325120646.html">ternary operator</a>.

<pre>
my $num1 = 4;
my $num2 = 3;

my $message = $num1 > $num2 ? "OK": "Not OK";
</pre>

Because $num1 is greater than $num2, true is returned and "OK" is assigned to $message.

<h3>String comparison operator</h3>

The string comparison operator is an operator used to compare <a href="/blog/20161003147558.html">strings</a> in the dictionary order.

In dictionary order comparison, the index of the character code is compared one by one from the beginning of the string. "A" is less than "b". "1" is greater than "02".

<table>
  <tr>
    <th>
      operator
    </th>
    <th>
      meaning
    </th>
  </tr>

  <tr>
    <td>
      A eq B
    </td>
    <td>
      A is equal to B
    </td>
  </tr>

  <tr>
    <td>
      A ne B
    </td>
    <td>
      A is not equal to B
    </td>
  </tr>

  <tr>
    <td>
      A gt B
    </td>
    <td>
      A is greater than B
    </td>
  </tr>

  <tr>
    <td>
      A ge B
    </td>
    <td>
      A is greater than or equal to B
    </td>
  </tr>

  <tr>
    <td>
      A lt B
    </td>
    <td>
      A is less than B
    </td>
  </tr>

  <tr>
    <td>
      A le B
    </td>
    <td>
      A is less than or equal to B
    </td>
  </tr>

</table>

<h4>Example using if statement</h4>

This is an example that uses the string comparison operators with a if statement.

<pre>
my $str1 = "1";
my $str2 = "02";

if ($num1 gt $num2) {
  print "Left is big";
}
</pre>

<h3>Join multiple conditions with logical operator</h3>

Logical operators allow you to join multiple comparison operators.

<pre>
# $num1 is greater than 1 and less than 5
if ($num1 > 1 && $num1 < 5) {
  ...
}

# $num1 is less than 1 or greater than 5
if ($num1 < 1 || $num1 > 5) {
  ...
}
</pre>

Logical operators are explained here.

<ul>
  <li>
    <a href="/blog/20100816136168.html">Perl logical operators</a>
  </li>
</ul>

<h3>How to check the containing of the partial string</h3>

Perl's string comparison operator "eq" is used when the whole charaters of the strings match, but there are times when you want to know a partial match of a string. In that case, use a regular expression.

<pre>
# If $str1 contains "Cat"
if ($str1 =~ /Cat/) {
  ...
}
</pre>

Regular expressions are explained below.

<ul>
  <li>
    <a href="/blog/20100827127859.html">Perl regular expression</a>
  </li>
</ul>

<h3>Example program</h3>

This is an example of numerical comparison and string comparison.

<pre>
use strict;
use warnings;

# Numeric comparison and string comparison
print "1: Compare numerical comparison and string comparison\n";
my $num1 = "1";
my $num2 = "02";

if ($num1 < $num2) {
  print "Compare in the numeric order, $num1 is less than $num2\n";
}

if ($num1 gt $num2) {
  print "Compare in the dictionary order, $num1 is greater than $num2\n";
}

</pre>

Output

<pre>
1: Compare numerical comparison and string comparison
Compare in the numeric order, 1 is less than 02
Compare in the dictionary order, 1 is greater than 02
</pre>
