<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">      <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2>my - Declaration of lexical variable</h2>

You can declare lexical variable using <b> my </b>.

<pre>
# Declaration of lexical variable
my $num;
my @nums;
my %scores;
</pre>

A lexical variable is a local variable in C language.

Perl has the keyword <a href="/blog/20080309120507.html">local</a>, but it doesn't actually create a local variable. The local keyword has the ability to temporarily save and restore <a href="/blog/20080308120495.html">package variable</a>.

Variable declaration by my is a feature added in <a href="/blog/20160225145640.html">Perl 5.6</a>. This is the local variable itself in other languages, but since the keyword local already exists, it may have been named lexical variable so as not to be confusing.

Think of lexical variable in Perl as local variable in other languages.

<h3>What is a variable declaration? </H3>

The variable declaration declares that we will use <a href="/blog/20161107147852.html">variable</a> from now on. Declare new variable using "my".

<pre>
# Declaration of scalar variable
my $num;
</pre>

In addition to scalar variable, you can also declare <a href="/blog/20161012147627.html">array variable</a> and <a href="/blog/20161013147635.html">hash variable</a>. I can do it.

<pre>
# Declaration of array variable
my @nums;

# Hash variable declaration
my %score;
</pre>

<h3>Variable initialization</h3>

"Variable initialization" can be performed at the same time as the variable declaration.

<pre>
# Initialization of scalar variable
my $num = 3;

# Initialization of array variable
my @nums = (1, 2, 3);

# Initialization of hash variable
my %score = (math => 80, english => 70);
</pre>

If initialization is not performed, <a href="/blog/20100220126425.html">undefined value</a> will be assigned for scalar variable. For array variable and hash variable, <a href="/blog/20100308126967.html">empty list</a> is assigned.

<h3>What are lexical variable? </H3>

I wrote that you can declare a "lexical variable" using my, but what exactly is a lexical variable? A lexical variable is a variable that has a lexical scope.

Lexical variable have reached the end of their life and are freed from memory at the end of scope.

<pre>
# Start of scope
{
  my $num = 2;
}
# "$num" is not available here.
</pre>

See below for a detailed explanation of lexical scopes.

<ul>
  <li>
    <a href="/blog/20110128130016.html">Understanding Perl scope</a>
  </li>
</ul>

<h3>Cooperation with strict module</h3>

If you use the strict module and the variable declaration by my together, you will get a compile error if you try to use the variable without the variable declaration.

<pre>
use strict;

my $num = 1;

# Compile error occurs because the variable name is incorrect
print $nam;
</pre>

Be sure to use the strict module in your Perl programs, as you can quickly discover unintended variable usage.

See below for a detailed explanation of the strict module.
<ul>
  <li>
    <a href="/blog/20130912137895.html">strict - Strict grammar check</a>
  </li>
</ul>

<h3>Difference in variable declaration by "my", "our" and "local"</h3>

There are three Perl variable declarations: "my", "our", and "local".

The simple difference is that "my" declares a "lexical variable", "our" declares a "package variable", and "local" declares a package variable and saves the value until the end of scope. I have.

Avoid using "our" or "local" when declaring variable in Perl as much as possible. In modern Perl, you can do complete programming with just a variable declaration with "my".

See below for additional explanations for our and local.

<ul>
  <li>
    <a href="/blog/20080308120495.html">our - Declaration of package variable</a>
  </li>
  <li>
    <a href="/blog/20080309120507.html">local - Temporarily save and restore package variable</a>
  </li>
</ul>