<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <span itemprop = "name">here </span>
  </li>
</ol>
<h2>if statement - conditional branch</h2>

Use <strong> if </strong> for a conditional branch.

<pre>
if (condition) {
  ...
}
</pre>

<h3>Details of conditional branch</h3>

The details of the conditional branch is explained below.

<ul>
  <li>
    <a href="/blog/20161023147731.html">Conditional branching by if statement</a>
  </li>
</ul>