<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20180820153471.html">Installation</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

<h2>Install ActivePerl</h2>

<strong> ActivePerl </strong> is one of the commercially available Perl distributions for Windows provided by ActiveState for free.

The feature is that many Windows-related modules are attached. Modules such as Win32::OLE that can directly operate Excel etc. are attached as standard.

Let's install ActivePerl on Windows so that we can use Perl. Installation is easy.

<h3>Download ActivePerl</h3>

Download ActivePerl from the next page. The latest version as of 2021 is 5.32.

<ul>
  <li>
    <a href="https://www.activestate.com/activeperl/downloads">Download ActivePerl</a>
  </li>
</ul>

<a href="https://www.activestate.com/activeperl/downloads"><img style="border: 1px solid # ddd; width: 100%;" src="/images/active_perl/active_perl_click.png"></a>

As of 2021, ActivePerl download requires ActiveState membership registration. The extension msi indicates that it is a Windows installer.

Only the 64-bit version is provided free of charge.

<h3>Install ActivePerl</h3>

Double-click the downloaded Active Perl.

The installer will start. Press "Next" to proceed.

A check box that says "I accept the terms in the License Agreement" will appear on the way. Check it and press "Next".

Select "typical".

Press "Next" to proceed, and finally click "Install" to start installing Active Perl.

You'll see a dialog here, "Do you want to allow apps from this unknown publisher to make changes to your device?", Click "Yes".

It will take about 5 minutes, so let's wait.

When the progress bar is full, the Active Perl installation is complete.

Press "Finish" to close the dialog. A Readme will be displayed, but you can close it as well.

<h3>Make sure Perl is installed</h3>

After the installation is complete, let's check if Active Perl is actually installed.

Try running a tool called Command Prompt to see the version of Perl.

The command prompt can be executed from "Start Menu"->"List of Apps"->"Windows System Tools"->"Command Prompt".

A black screen will appear, so try pressing "Enter" from the keyboard with the following characters.

<pre>
perl -v
</pre>

If the version information is displayed as shown below, the installation is successful.

<pre>
This is perl 5, version 32, subversion 1 (v5.32.1) built for MSWin32-x64-multi-thread
(with 1 registered patch, see perl -V for more detail)
</pre>

This completes the Active Perl installation.

<h3>How to use Active Perl</h3>

Active Perl runs on Windows using the perl command on a tool called the command prompt.

If you want to know how to use the command prompt, please refer to the article "<a href="/blog/20080603121251.html">Introduction to the command prompt for running Perl</a>".

<h3>More information about Active Perl</h3>

Other information about Active Perl.

<h4>How to uninstall Active Perl</h4>

This is an explanation of how to uninstall Active Perl. This is an example executed on Windows 10.

"Start Menu"->"Settings"->"Apps"->"Click Active Perl"->"Uninstall"

<h4>Differences between Active Perl and Strawberry Perl</h4>

Strawberry Perl is very similar to ActivePerl, but does not require membership registration, it is <a href="https://en.c.perlzemi.com/">C language</a> compiler and Perl's <a href= "/blog/20100809127859.html">MinGW required to compile the XS module</a> is installed by default, <a href="https://perlzemi.com/blog/20101027127859.html">cpanm</a> is installed by default, and libraries such as frequently used image processing can be used, making it easy for Perl users to use.

In addition, Active Perl is released only for the latest version of Perl for free use, while Strawberry Perl also publishes an older version of Perl.

<h4>Support for ActivePerl installation</h4>

If you're having trouble installing ActivePerl or failing to install ActivePerl, ask in the Perl Club Forums of the Perl club that runs your Perl seminar.

<ul>
  <li> <a href="https://perlclub.net/forum">Perl Club Forum</a> </li>
</ul>

<h4>Other ways to install Perl on Windows</h4>

For other ways to use Perl on Windows, see below.

<ul>
  <li>
    <a href="/blog/20180808153368.html">Install Strawberry Perl on Windows</a>
  </li>
  <li>
    <a href="/blog/20180806153350.html">Install msys2 on Windows and use Perl</a>
  </li>
</ul>