<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">      <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> local - Temporarily save and restore package variables </h2>

You can use <b> local </b> to temporarily change package variables.

<pre>
LOCAL_VARIABLE_NAME = value;
</pre>

If no value is specified, <a href="/blog/20100220126425.html">undefined value</a> will be set.

<h3> Saving and restoring values ​​</h3>

Assigning a value using local restores the previous value at the end of the <a href="/blog/20110128130016.html">scope</a>.

<pre>
our $NUM = 5;
{
  local $NUM = 3;
}
# Here, "$NUM" returns to "5" which is the "original value"
</pre>

Package variables modified by local are restored at the end of <a href="/blog/20110128130016.html">scope</a>.

If initialization is not performed, the initial value of the variable value will be an undefined value.

<pre>
local $NUM;
</pre>

local is for package variables declared with <a href="/blog/20080308120495.html">our</a>. Note that it is not available for lexical variables declared by <a href="/blog/20080307120491.html">my</a>.

<pre>
# Compile error
my $num;
local $num;
</pre>

However, no exception occurs for <a href="/blog/20161012147627.html">array</a> values ​​and <a href="/blog/20161013147635.html">hash</a> values.

<pre>
my @nums = (1, 2, 3);
local $nums[1];

my %score = (math => 90, english => 70);
local $score{math};
</pre>

<h3> local for special variables </h3>

The most common use of local in Perl is for <a href="/blog/20161102147817.html">special variables</a> such as "$/", "%ENV" and "@ARGV".

local targets package variables, but special variables actually belong to the <a href="/blog/20100419127089.html">package</a> called main.

So you can use local for special variables as well.

<pre>
local $/;
local $ENV{HOME};
local @ARGV;
</pre>

<h3> Use my for variable declaration </h3>

Since <a href="/blog/20160225145640.html">Perl 5.0</a>, Perl introduces variable declaration by "my", and there is almost no need to declare variables by lcoal. Try to use "my" for almost all variable declarations.

<pre>
# Variable declaration
my $num;
</pre>

<h3> Difference between my and local </h3>

local is not a variable declaration, contrary to the expectation of the name. It has a dynamic scope.

Local variables in other languages ​​are lexical variables using my in Perl.

<table>
  <tr>
    <th>
      local
    </th>
    <th>
      my
    </th>
  </tr>
  <tr>
    <td>
      Not a variable declaration
    </td>
    <td>
      Variable declaration
    </td>
  </tr>
  <tr>
    <td>
      Save/restore values
    </td>
    <td>
      Declare a variable
    </td>
  </tr>
  <tr>
    <td>
      Has a dynamic scope
    </td>
    <td>
      Have a lexical scope
    </td>
  </tr>
</table>

<h3> Read the contents of the file at once </h3>

There are not many occasions when local is used voluntarily, but there are occasions when it is used. That is when describing the process of reading the contents of a file at once.
Let's describe the process of reading the contents of a file at once.

<pre>
my $file ='a.txt';
open my $fh, '<', $file
  or die "Can't open $file: $!";

# Read the contents of the file at once
my $content = do {local $/; <$fh>};
</pre>

The <a href="/blog/20090208123289.html">do block</a> returns the last evaluated value.

local undefined the <a href="/blog/20161102147817.html">special variable</a> "$/" that represents a line break in the file.

This causes the <a href="/blog/20080722121673.html">file input operator</a> "<$fh>" to return the contents of the entire file.

And when the scope ends, "$/" returns to its original state.

Keep in mind that Perl, which doesn't have a standard function to read a file at once, may read the entire contents of the file in this way.

<h3> local sample program </h3>

This is a sample to temporarily change a special variable using local. Special variables are package variables that belong to the main package.

<pre>
{
    # Temporary change of special variable $/
    local $/ = undef;
}
# Original value is restored when exiting scope
</pre>

This is a sample to understand local.

<pre>
use strict;
use warnings;

# local description

our $NUM = 1;
print "\$NUM = $NUM\n";

# The fully qualified name of $NUM is $main::NUM and belongs to the main package.
# (In Perl, no variable is a global variable
# Perl has only lexical and package variables. )

print "\$main::NUM = $main::NUM\n";
print "\n";

{
  # Temporarily change the value of "$NUM" inside the lexical scope
  local $NUM = 2;

  print "In scope\n";
  
  # Output 2
  print "\$NUM = $NUM\n";
}
print "\n";

# Output 1
print "Out of scope\n";
print "\$NUM = $NUM\n";
</pre>