<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161004147558.html">      <span itemprop = "name">standard function </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    here
  </li>
</ol>
<h2> delete function - delete hash key </h2>

You can use the <strong> delete function </strong> to delete the <a href="/blog/20161013147635.html">hash</a> key. The value corresponding to the key is also deleted. The return value is the value that corresponds to the deleted key.

<pre>
my $value = delete $hash{$key};
</pre>

To use the delete function for <a href="/blog/20180208151809.html">hash reference</a>, write:
<pre>
my $value = delete $hash->{$key};
</pre>

This is a sample to delete the key named age using the delete function.

<pre>
# Removed the key age
my %person = (name =>'Ken', age => 19);
delete $person{age};
</pre>

This is a sample for a hash reference.

<pre>
# Delete the key. For reference.
my $person = {name =>'Ken', age => 19};
delete $person->{age};
</pre>

<h3> Sample program </h3>

You can see the output with a sample that removes the hash key.

<pre>
use strict;
use warnings;
use Data::Dumper;

# Student math scores
my %math_scores = (
  Aiko => 89,
  Kenta => 0,
  Taro => undef
);

# 1: Initial state
print "1: Initial state\n";
if (exists $math_scores{Aiko}) {
  print "\$math_scores{Aiko} exists.\n";
}
print Data::Dumper->Dump([\%math_scores], ['*math_scores']);
print "\n\n";

# Delete the key with delete
delete $math_scores{Aiko};

# 2: Deleted by delete
print "2: Deleted by delete\n";
if (exists $math_scores{Aiko}) {
  print "\$math_scores{Aiko} exists.\n";
}
else {
  print "\$math_scores{Aiko} does not exist.\n";
}

print Dumper \%math_scores;
print "\n";
</pre>

Execution result

<pre>
1: Initial state
$math_scores{Aiko} exists.
%math_scores = (
                 'Aiko' => 89,
                 'Kenta' => 0,
                 'Taro' => undef
               );


2: Deleted by delete
$math_scores{Aiko} does not exist.
%math_scores = (
                 'Kenta' => 0,
                 'Taro' => undef
               );
</pre>