<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161116147930.html">        <span itemprop = "name">Windows </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Display UTF-8 characters at the command prompt </h2>



<span style = "color: # FF0000;">It seems that the characters cannot be drawn correctly with this method. </span> (<a href="http://d.hatena.ne.jp/maeyan/20080915/1221420584">maeyan's article</a>).
It didn't work in my environment either.

<h3> Procedure </h3>

<ol>
  <li>
    Command prompt font change
  </li>
  <li>
    Change the character code of the command prompt
  </li>
  <li>
    Automatically set the character code from the shortcut.
  </li>
</ol>

<h3> Windows version </h3>

It was done with Windows XP Home Edition Version 2002 Service Pack 2.

<h3> 1. Change command prompt font </h3>
<pre>
Launch Command Prompt → Right click on title bar
Select "MS Gothic" from → Properties → Font.
</pre>

Change the font to "MS Gothic". MS Gothic does not display all Unicode-enabled characters correctly, but it does support Unicode. Characters including Japanese and decorative characters can be displayed.

<h3> 2. Change the character code of the command prompt </h3>

<pre>
Change to # UTF-8
chcp 65001

# When returning to the original character code (default)
chcp 932

# When checking the character code
chcp
</pre>

To change the character code of the command prompt to UTF-8, use chcp 65001. There seems to be a bug in this mode change, which makes it impossible to set the command prompt from the properties (MS Gothic cannot be selected).

To change the command prompt settings from the properties, return to the original character code as chcp 932 and then make the changes.

<h3> 3. Automatically set the character code from the shortcut </h3>

<pre>
Right-click the shortcut icon at the command prompt → Shortcut
Link destination
%SystemRoot%\system32\cmd.exe /f: on/k "chcp 65001"
Set to.
</pre>

If it is troublesome to change the character code every time, it will be automated./k describes the command you want to execute at the command prompt and at run time./f: on is a file completion function.