<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161026147748.html">
      <span itemprop = "name"> Numerical value </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    here
  </li>
</ol>
<h2> Use trigonometric functions </h2>



Introducing functions and modules for using trigonometric functions.

<h4> Sign </h4>

To find the <strong> sine </strong>, specify the <a href="/blog/20180514122166.html"> sin function</a> in radians with an angle of π (pi function). Is easy.

<pre>
use Math::Trig'pi';

sin(pi / 2);
cos(pi / 3);
</pre>

(Reference) <a href="/blog/20080918122175.html"> Math::Trig</a>

<h4> Cosine </h4>

Use the <a href="/blog/20180513122166.html"> cos function</a> to find the <strong> cosine </strong>.

<pre>
use Math::Trig'pi';

cos(pi / 3);
</pre>

<h3> Various trigonometric functions </h3>

The only standard functions related to trigonometric functions are the cos function and the sin function, but the standard module has a trigonometric function-related module called <a href="/blog/20080918122175.html"> Math::Trig</a>. there is. I will briefly introduce the contents.

<h4> Tangent </h4>

To find the <strong> tangent </strong>, use the <strong> tan function </strong> of the <strong> Math::Trig </strong> module.

<pre>
use Math::Trig qw / tan pi /;
tan (pi / 4);
</pre>

<h4> Reciprocal of trigonometric function </h4>

The reciprocal is the number with the denominator and numerator swapped. Note that the inverse function has a different meaning. The reciprocals of sin, cos, and tan are called cosec, sec, and cot, respectively.

You can use the cosec, sec, and cot functions in the Math::Trig module.

<table>
  <tr>
    <td>
      Twice
    </td>
    <td>
      meaning
    </td>
  </tr>

  <tr>
    <td>
      cosec
    </td>
    <td>
      1 / sin
    </td>
  </tr>

  <tr>
    <td>
      sec
    </td>
    <td>
      1 / cos
    </td>
  </tr>

  <tr>
    <td>
      cot
    </td>
    <td>
      1 / tan
    </td>
  </tr>

</table>

<h4> Inverse function of trigonometric function </h4>

The inverse function is g that satisfies x = g (y) when the relation y = f (x) holds. We read that y = f (x) becomes y when we act on x with f. We read that x = g (y) becomes x when we act on y with g.

In other words, g that causes x to act on f and then returns to x when g is applied is called the inverse function of f. If you write with a symbol

<blockquote>
x = g (f (x))
</blockquote>

When g exists that satisfies, g is called the inverse function of f.

The inverse functions of sin, cos, and tan are called asin(arc sine), acos(arc cosine), and atan (arc tangent), respectively.

You can use the asin function, acos function, and atan function of the Math::Trig module.

<table>
  <tr>
    <td>
      Twice
    </td>
    <td>
      meaning
    </td>
  </tr>

  <tr>
    <td>
      asin
    </td>
    <td>
      Inverse function of sin
    </td>
  </tr>

  <tr>
    <td>
      acos
    </td>
    <td>
      Inverse function of cos
    </td>
  </tr>

  <tr>
    <td>
      atan
    </td>
    <td>
      Inverse function of tan
    </td>
  </tr>

</table>

<h3> Sample </h3>

This is a sample to find sin, cos, and tan.

<pre>
use strict;
use warnings;
use Math::Trig qw / tan pi /;

# sin(90 °) = 1;
print "sin(π / 2) =". Sin (pi / 2). "\ n";

# cos(60 °) = 1/2;
print "cos(π / 3) =". Cos (pi / 3). "\ n";

# tan (45 °) = 1;
print "tan (π / 4) =". tan (pi / 4). "\ n";
</pre>