<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Perl boolean </h2>



Explains <strong> boolean </strong> in Perl. There are five <strong> false values ​​</strong> in Perl:

<table>
  <tr>
    <td>
      1
    </td>
    <td>
      <a href="/blog/20100220126425.html">undef</a>
    </td>
    <td>
      Undefined value
    </td>
  </tr>

  <tr>
    <td>
      2
    </td>
    <td>
      ""
    </td>
    <td>
      Empty string
    </td>
  </tr>

  <tr>
    <td>
      3
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>

  <tr>
    <td>
      Four
    </td>
    <td>
      "0"
    </td>
    <td>
      String 0
    </td>
  </tr>

</table>

The <strong> true value </strong> in Perl is all but the above.

Undefined value, equal to 0 in <a href="/blog/20161026147748.html">number</a>, empty <a href="/blog/20161003147558.html">string</a>, 0 Only the string, the empty <a href="/blog/20100308126967.html">list</a>, will be false.

<h4> Examples of true values ​​</h4>

<pre>
# 1
1;

# String
"Hellow"

# object
my $obj = Point->new;

# String "0.0"
"0.0"
</pre>

"0.0" is numerically equal to 0, but is treated as true.

<h3> Sample program </h3>

This is a sample boolean value.

<pre>
# Boolean sample
my $var; # False. The variable immediately after definition is undef
$var = undef; # False.

$var = 0; # False.
$var = 0.0 # A number equivalent to 0 is false.
$var = 1; # True.

$var =''; # False
$var = '0'; # False.
$var = '0.0' # True. True for strings except '0' and''.
</pre>

False values ​​are often used in if statements. Please see the following article for conditional branching by if statement.

<ul>
  <li>
    <a href="/blog/20161023147731.html">Conditional branching by if statement</a>
  </li>
</ul>