<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    here
  </li>
</ol>
<h2> Perl Advanced </h2>

Click here for more advanced topics on Perl.

<ul>
  <li>
    <a href="/blog/20161006147575.html">Character code</a>
  </li>
  <li>
    <a href="/blog/20161123147990.html">Date / Time</a>
  </li>
  <li>
    <a href="/blog/20170130148603.html">Database</a>
  </li>
  <li>
    <a href="/blog/20191228171433.html">Form creation</a>
  </li>
  <li>
    <a href="/blog/20080806121804.html">Bitwise operator</a>
  </li>
  <li>
    <a href="/blog/20161130148051.html">Module basics</a>
  </li>
  <li>
    <a href="/blog/20150210142353.html">Perl features</a>
  </li>
  <li>
    <a href="/blog/20160225145640.html">Perl release information</a>
  </li>
  <li>
    <a href="/blog/20090221123410.html">Automatic program testing</a>
  </li>
  <li>
    <a href="/blog/20090406123890.html">Socket</a>
  </li>
  <li>
    <a href="/blog/20161103147817.html">Interprocess communication</a>
  </li>
  <li>
    <a href="/blog/20161121147982.html">One liner</a>
  </li>
  <li>
    <a href="/blog/20121214135538.html">Statistics / Analysis</a>
  </li>
  <li>
    <a href="/blog/20100809127859.html">Introduction to XS</a>
  </li>
  <li>
    <a href="/blog/20130416136637.html">Language implementation research</a>
  </li>
  <li>
    <a href="/blog/20100802127859.html">Trivia</a>
  </li>
  <li>
    <a href="/blog/20161030147778.html">Object Oriented</a>
  </li>
</ul>