<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">autoload </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> AUTOLOAD - Subroutine autoload </h2>



Perl allows you to define a subroutine called <strong> AUTOLOAD </strong> that will be called if the subroutine does not exist. This is called subroutine autoloading.

<pre>
package MyModule;

aaaaiiiii (1, 2);

our $AUTOLOAD;
sub AUTOLOAD {
  # ...
}
</pre>

If you define our $AUROLOAD, you can get the name of the called function.

<h4> What is autoload used for? </H4>

When programming in everyday work, there is little need to use autoloading. Also, there is no reason to actively use autoload when creating modules.

Calling autoloads is very slow and alternatives are often available.

If you want to create an accessor, you can dynamically generate it with <a href="/blog/20100312126967.html">eval</a> or <a href="/blog/20080704121518.html">subroutine reference < Substituting/a> for <a href="/blog/20080614121342.html">typeglobs</a> is also better in terms of performance.

Perl has the only feature that can only be achieved with autoloading. That is to give the method to the object. I don't usually use it, but if you want to achieve this functionality in a framework, it's the only way to do it.

<h3> Sample program </h3>

This is a sample of subroutine autoloading.

<pre>
use strict;
use warnings;

# AUTOLOAD subroutine
# ・ If defined, it will be called when the name of the subroutine cannot be found.

print "1: AUTOLOAD calls a non-existent function\n";

# When you call a function that is not defined anywhere.
aaaaiiiii (1, 2);

# This is called.
sub AUTOLOAD {

  # If you define $AUROLOAD, you can get the name of the called function.
  our $AUTOLOAD;

  # You can receive the function name and arguments.
  my (@arg) = @_;
  print "AUTOLOAD has been called.\n";
  print "The function you tried to call is $AUTOLOAD.\n";
  print "The argument is" .join(',', @arg). ".\n";
}
</pre>