<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110212130370.html">
      <span itemprop = "name"> File input / output </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <span itemprop = "name"> here </ span>
  </ li>
</ ol>
<h2> Write a filter program that can specify options </ h2>



Let's write a filter program that can specify options with command line arguments. You can specify the position of the column to be cut out and the delimiter as options.

Use the <a href="/blog/20100123126425.html"> while statement </a> and the line input operator to read the line.

<pre>
use strict;
use warnings;

# Module for handling command line options
use Getopt :: Long'GetOptions';

# Write Unix-like filter programming.
# This time, it is a filter program that extracts the first column of comma-separated character strings.

#Default value if no command line option is specified
my $ col = 1;
my $ sep =',';

#Receive command line options
GetOptions (
  'col = i'=> \ $ col,
  'sep = s'=> \ $ sep,
);

A character with a special meaning was specified in a regular expression such as #.
#Escape the string to work correctly even if
$ sep = quotemeta ($ sep);

# Special line input operator
while (<>) {
  When the argument is omitted, the # chomp function targets $ _.
  chomp;
  
  The third argument of # split, -1, is when the last column is an empty string.
  # Also specified to work correctly
  The #split function returns a list, so only the parts you need
  # Get by array slice
  my $ item = (split (/ $ sep /, $ _, -1)) [$ col -1];
  print $ item. "\ n";
}
</ pre>

(Reference) <a href="/blog/20100827127859.html"> Regular expression </a>

The following is a file for reading.

<pre>
masao: 10: Japan
taro: 20: USA
rika: 38: France
</ pre>

<h3> Code explanation </ h3>

<h4> (1) How to specify command line options </ h4>

<pre>
use Getopt :: Long;
</ pre>

<a href="/blog/20100514127696.html"> Getopt :: Long </a> makes it easy to specify command line options. To specify command line options:

If you're not sure about command line arguments, see the following articles first.

<ul>
  <li>
    <a href="/blog/20080108132865.html"> Handle command line arguments </a>
  </ li>
</ ul>

<pre>
#Specification method 1 (--name val format)
perl script name --col 1 --sep: filename

#Specification method 2 (--name = val format)
perl script name --col = 1 --sep =: file name

#Specification method 3 (abbreviated form)
perl script name -c1 -s: file name
</ pre>

<h3> (2) GetOptions function </ h3>

The GetOption function is a function that makes it easy to receive command line options. It will be imported when you use Getopt :: Long.

Below is a sample of how to write.

<pre>
#Default value if no command line option is specified
my $ col = 1;
my $ sep =',';

#Receive command line options
GetOptions (
  'col = i'=> \ $ col,
  'sep = s'=> \ $ sep,
);
</ pre>

First, set the default values ​​for command line options.
Then call the GetOption function for the number of options you want to specify

<pre>
'Option name = Value type' => Reference to variable
</ pre>

I will arrange the description. The value type can be s, which represents a string, i, which represents a number, and so on.

<h4> (3) Improvement of line reading in while loop </ h4>

<pre>
while (<>) {
  chomp;
  my $ item = (split (/ $ sep /, $ _, -1)) [$ col -1];
  print $ item, "\ n";
}
</ pre>

For more information on while loop processing, see the following article.

<ul>
  <li>
    <a href="/blog/20170521149524.html"> Iterative processing using for statement and while statement </a>
  </ li>
</ ul>

<h4> (3) -1 Omission of $ _ </ h4>

<pre>
chomp;
</ pre>

<a href="/blog/20080226120403.html"> chomp function </a> If you omit the argument, the target that works is <a href="/blog/20161102147817.html"> special variable </a> "$ _ Will be. There are many other functions in Perl that act on $ _ if you omit the argument.

<h4> (3) -Specify -1 as the third argument of the -2 split function </ h4>

<pre>
split (/ $ sep /, $ _, -1)
</ pre>

If the third argument of <a href="/blog/20080301120434.html"> split function </a> is omitted and the end of the element is blank, the last empty string will be ignored. (It was pointed out by Mr. huta.)

<pre>
taro, 10,
</ pre>

If you read, what you want is

<pre>
('taro', 10,'')
</ pre>

Even though it is a list

<pre>
('taro', 10)
</ pre>

Will be acquired. To solve this, you can make the last empty string recognized by giving -1 to the third argument of split.

<h4> (3) -3 Get only the elements specified in the array slice </ h4>

<pre>
my $ item = (split (/ $ sep /, $ _, -1)) [$ col -1];
</ pre>

Since split returns a list, <a href="/blog/20080216120316.html"> array slice </a> gets only the specified elements.