<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161005147566.html">      <span itemprop = "name">operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>=~ - Pattern Matching Operators</h2>

<b>=~</b> is the pattern matching operator. It is used when executing pattern matching and replacement with <a href="/blog/20100827127859.html">Regular Expressions</a>.

<h3>Pattern Matching</h3>

Pattern matching operators are used with regular expressions.

<pre>
# Pattern Matching Operators
$message =~ /eat/
</pre>

If the $message matches the regular expression, the pattern matching operator returns a true value.

<h3>Negate Pattern Matching Operator</h3>

To check if strings don't match regular expressions, you use negate pattern matching operators.

<pre>
$message !~ /You/
</pre>

If the $message does not match the regular expression, the negate pattern matching operator returns a true value.

<h3>Replacement</h3>

You can replace strings with pattern matching operators and regular expressions.

<pre>
# s/RegularExpression/ReplaceString/
$message =~ s/orange/banana/;
</pre>

If the $message matched the regular expression, it is replaced with the specifed string.

<h3>Example</h3>

Examples of regular expressions and pattern matching operators.

<pre>
use strict;
use warnings;

my $message = 'I eat an orange.';
print "\$message:$message\n\n ";

print "1: Check if the string contains eat.\n";
if ($message =~ /eat/) {
  print "\$message contains eat.\n\n";
}

print "2: Check if the string contains You.\n";
if ($message !~ /You/) {
  print "\$message does not contain You.\n\n";
}

print "3: Replace orange in the string with banana.\n";
$message =~ s/orange/banana/;

print "$message\n";
</pre>

The output:

<pre>
$message:I eat an orange.

 1: Check if the string contains eat.
$message contains eat.

2: Check if the string contains You.
$message does not contain You.

3: Replace orange in the string with banana.
I eat an banana.
</pre>
