<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/"><span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161126148016.html"><span itemprop = "name">File operation </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <span itemprop = "name">here </span>
  </li>
</ol>
<h2>Extract the directory name and base name from the file name</h2>



To extract the directory name and base name from the file name, use the <strong> fileparse </strong> method of the <a href="/blog/20100225126425.html">File::Basename</a> module.

<pre>
use File::Basename 'fileparse';
my ($base_name, $dir) = fileparse $file;
</pre>

You can use the fileparse function of the File::Basename module to separate the file name from the directory name and the base name. Note that the 0th in the list of return values is the base name and the 1st is the directory name, which is the reverse of the original order.

File::Basename is created to be OS independent. On Unix, Windows, and MacOS, the file delimiters are different, but they can be used without problems.

<h3>Example</h3>

 This is an example to extract the directory name and base name from the file name.

<pre>
use strict;
use warnings;

# Extract the directory name and base name from the file name

use File::Basename 'fileparse';

my $file_unix = 'dir1/dir2/base_name.txt';
my $file_win = 'dir1 \\dir2 \\base_name.txt';
                               
print "1: Extract the directory name and base name from the file name.\n";
my ($base_name, $dir) = fileparse $file_unix;
print "For Unix\n".
  "\$dir = $dir\n".
  "\$base_name = $base_name\n\n";

($base_name, $dir) = fileparse $file_win;
print "For Windows\n".
  "\$dir = $dir\n".
  "\$base_name = $base_name\n\n";
      
print "2: Extract only the base name.\n";
# In the array slice, extract only the 0th of the list.
my $base_name_only = (fileparse $file_unix) [0];
print "\$base_name_only = $base_name_only\n\n";
</pre>
Output
<pre>
1: Extract the directory name and base name from the file name.
For Unix
$dir = dir1/dir2/$base_name = base_name.txt

For Windows
$dir = dir1\dir2\$base_name = base_name.txt

2: Extract only the base name.
$base_name_only = base_name.txt
</pre>

<hr>
<a href="/blog/20080229120427.html">Perl Reverse Dictionary</a>