<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/"> <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161126148016.html"> <span itemprop = "name"> File operation </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <span itemprop = "name"> here </ span>
  </ li>
</ ol>
<h2> Delete directories with hierarchy at once </ h2>



Use the <strong> rmtree </ strong> of the <a href="/blog/20100409127089.html"> File :: Path </a> module to delete directories with hierarchies all at once. The return value of rmtree is the number of files that could be deleted.

<pre>
use File :: Path'rmtree';
rmtree $ dir;
</ pre>

<h3> Sample </ h3>

This is a sample to delete directories with a hierarchy at once.

<pre>
use strict;
use warnings;
use File :: Path'rmtree';

#Delete the directory
#Preparation (creating a directory)
my $ dir1 = "dir_20080527_ $$";
my $ dir2 = "$ dir1 / dir2";
mkdir $ dir1
  or die "Unable to create $ dir1.: $!";
mkdir $ dir2
  or die "Unable to create $ dir2.: $!";
print "Preparation: $ dir1 and $ dir2 have been created. \ N \ n";
print "1: Delete hierarchical directories at once. \ N";

{
  #To catch the warning, use the __WARN__ signal
  # There is no choice but to use a signal handler to capture.
  # (For old rmtree implementations)
  # The content of the warning is stored in the first argument.
  local $ SIG {__ WARN__} = sub {
    my $ msg = shift;
    die "$ msg";
  };

  if (-d $ dir1) {
    If warn is called in the # rmtree function,
    # Move to the above sub {} and exit with die.
    rmtree ($ dir1);
                   
    print "$ dir1 has been deleted. \ N";
  }
}
</ pre>

(Reference) <a href="/blog/20080309120507.html"> local --Temporarily save and restore package variables </a>