<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop = "name"> Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> for statement </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> for statement - Repeat using element number </h2>

Use <strong> for </strong> to iterate over <strong> element numbers </strong>. Other iterative syntax is <a href="/blog/20100123126425.html"> while statement</a> and foreach statement, but for is used when the element number of the array is required.

<pre>
# for
for (Initialize counter variable; Condition; Update counter variable) {
  ...
}
</pre>

The repetition using the for statement is explained in detail below.

<ul>
  <li>
    <a href="/blog/20170521149524.html"> Let's learn the iterative processing using for statement and while statement</a>
  </li>
</ul>

<h3> Sample </h3>

This is a sample that outputs the elements of the array in order.

<pre>
# Process array elements in sequence
my @nums = (3, 4, 5);
for (my $i = 0; $i <@nums; $i++) {
  print "$i:". $Nums [$i]. "\n";
}
</pre>

This is a sample that outputs the elements of an array in order when the data structure is an array reference.

<pre>
# Process array elements in sequence (array reference)
my $nums = [3, 4, 5];
for (my $i = 0; $i <@ $nums; $i++) {
  print "$i:". $Nums-> [$i]. "\n";
}
</pre>

This is a sample that outputs all the elements of a two-dimensional array in order. In Perl, 2D arrays must be created using references.

<pre>
# Output all elements of 2D array
my $data = [
  ['a', 1],
  ['b', 2]
];;

for (my $i = 0; $i <@ $data; $i++) {
  for (my $k = 0; $k <@ {$data-> [$i]}; $k ++) {
    print "($i, $k):". $Data-> [$i]-> [$k]. "\n";
  }
}
</pre>

This is a sample that outputs the values ​​contained in the two-dimensional array, separated by tabs for each line.

<pre>
# Output 2D array line by row, separated by tabs
my $data = [
  ['a', 1],
  ['b', 2]
];;

for (my $i = 0; $i <@ $data; $i++) {
  print join("\t", @ {$data-> [$i]}). "\n";
}

Here are some samples of the for statement.

<pre>
use strict;
use warnings;

print "[1]\n";
for (my $i = 0; $i <5; $i++) {
  # Add 1 at a time, and when $val reaches 5, exit the loop.
  print "$i\n";
}
print "\n";

print "[2]\n";
my @chars = qw / a b c d e /;
for (my $i = 0; $i <@chars; $i++) {
  # @chars (array size) is 5, so when $index becomes 5, it exits the loop.
  print "$chars [$i]\n";
}
print "\n";
</pre>

Execution result
<pre>
[1]
0
1
2
3
Four

[2]
a
b b
c
d
e
</pre>