<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20100827127859.html">      <span itemprop = "name">Regular expression </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Representing word character delimiters-\ b </h2>


Use the regular expression character <strong>\b </strong> to separate word characters.

<pre>
\ b
</pre>

\ b represents the delimiter. The delimiter is the boundary between word characters and whitespace characters. With "ab cd",/\ bcd/can represent the 0 character between'' and c.

Word characters are alphanumeric characters and underscores. Whitespace is the character represented by\s, which is a space, tab, or newline.

<h3> Sample </h3>

This is a sample using word character delimiters.

<pre>
use strict;
use warnings;

# Represents a word character delimiter.\b
# (A word character is a character consisting of alphanumeric characters and an underscore)

my $word_space = "ab cd ef";
my $word = "abcd ef";

print "1: Represents word string delimiters\n";
if ($word_space =~ /ab\b/&& $word !~ /Ab\b /) {
  print "/ ab \\ b/matches'ab cd ef', but".
    "Does not match'abcd ef'.\n\n";
}

if ($word_space =~ /\ bcd\b/&& $word !~ /\ Bb\b /) {
  print "/ \\ bcd \\ b/matches'ab cd ef', but".
    "Does not match'abcd ef'.\n";
}
</pre>