<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2>if ~ elsif ~ else - Multiple conditional branch</h2>

You can use a <strong> if </strong> statement for a conditional branch. If the condition is true, the inside of the block is executed.

<pre>
if (condition) {
  ...
}
</pre>

<h4>elsif</h4>

You can also use elsif to make multiple conditional branches.

<pre>
if (condition1) {
  ...
}
elsif (condition2) {
  ...
}
</pre>

More conditinal branches.

<pre>
if (condition1) {
  ...
}
elsif (condition2) {
  ...
}
elsif (condition3) {
  ...
}
</pre>

<h4>else</h4>

If you use else, you can create the branch executed if the condition is not met.

<pre>
if (condition) {
  ...
}
else {
  # Do the things if the condition is not met
}
</pre>

A combination with elsif statements:

<pre>
if (condition1) {
  ...
}
elsif (condition2) {
  ...
}
elsif (condition3) {
  ...
}
else {

}
</pre>

Please see below for details on how to use conditional branch using if statement.

<ul>
  <li>
    <a href="/blog/20161023147731.html">Conditional branch using if statement</a>
  </li>
</ul>

<h3>If statement example</h3>

It is an example of if ～ else and if ～ elsif.

<pre>
use strict;
use warnings;

# Conditional branch if ~ else

print "1: if ~ else statement\n";
my $num = 2;
if ($num == 1) {
  # Not effective
}
else {
  print "\$num is not 1.\n\n";
}

# Conditional branch if ~ elsif ~ elsif ~
print "2: if ~ elsif ~ elsif ~ else\n";
if ($num == 1) {
  # Not effective
}
elsif ($num == 2) {
  print "\$num is 2\n\n";
}
elsif ($num == 3) {
  # Not effective
}
else {
  # Not effective
}
</pre>

Output:

<pre>
1: if ~ else statement
$num is not 1.

2: if ~ elsif ~ elsif ~ else
$num is 2
</pre>
