<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">      <span itemprop = "name">Perl </span>
</a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161124147999.html">      <span itemprop = "name">File I / O </span>
</a>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Redirect standard output and write to a file </h2>



There is the easiest and most frequently used method to output to a file. Use the OS function called redirection to change the output to the display performed by the print function to a file.

The following is a sample that displays a character string on the display.

<pre>
use strict;
use warnings;

# Write to file
print "writed to file\n";
</pre>

Save the above file as sample20080726.pl and at the command prompt or shell

<pre>
perl sample20080726.pl> Output file name
</pre>

Please enter. (The output to the display is changed to the output to the specified file.)

<h3> Code explanation </h3>

<h3> (1) What is standard output? </H3>

"Standard output" is the display. The print function prints to the display, which is the standard output by default. You can also explicitly specify STDOUT, which means standard output, as shown below.

<pre>
print "writed to file\n";

# Same as below
print STDOUT "writed to file\n" +
</pre>

<h3> (2) Switch standard output by redirecting </h3>

<pre>
perl sample20080726.pl> Output file name
</pre>

You can switch the standard output to a file with the> symbol. This feature is called a redirect. What you should see on the display is written to the file.

If you output to the standard output with the print function, you can output to the display or to a file.