<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/"><span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161126148016.html"><span itemprop = "name">File operation </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2>Extract the extension from the file name</h2>



To extract the extension from the file name, specify the extension with the second argument of <strong> fileparse </strong> in the <a href="/blog/20100225126425.html">File::Basename</a> module. To do. The third return value gives you the extension.

<pre>
use File::Basename;
my ($base_name, $dir, $suffix) = fileparse ($file_txt, '.txt');
</pre>

You can retrieve the extension by specifying the extension name in the second argument of the fileparse function of the File::Basename module.

You can also use <a href="/blog/20100827127859.html">regular expression</a> to specify the extension pattern.

<pre>
use File::Basename;
my $regex_suffix = qr/\. [^\.]+$/;
my $suffix_txt = (fileparse ($file_txt, $regex_suffix)) [2];
</pre>

This regular expression retrieves the extension after the last appearing. If you want to match with an extension after the first appearing., Use the regular expression "qw(\ .. + $)".

<h3>Example</h3>

This is an example to extract the extension from the file name.

<pre>
use strict;
use warnings;
use File::Basename 'fileparse';

# Extract the extension from the file name.
my $file_txt = 'dir1/dir2/base_name.txt';
my $file_log = 'dir1/dir2/base_name.log';
my $file_bak = 'dir1/dir2/base_name.log.bak';

print "1: Extract the extension from the file name. (Specify the extension name)\n";
my ($base_name, $dir, $suffix) = fileparse ($file_txt, '.txt');
print "\$dir = $dir\n",
  "\$base_name = $base_name\n",
  "\$suffix = $suffix\n\n";

print "2: Extract the extension from the file name. (Specify the extension name pattern)\n";
my $regex_suffix = qr/\. [^\.]+$/;

my $suffix_txt = (fileparse $file_txt, $regex_suffix) [2];
my $suffix_log = (fileparse $file_log, $regex_suffix) [2];
my $suffix_bak = (fileparse $file_bak, $regex_suffix) [2];

print "\$suffix_txt = $suffix_txt\n",
  "\$suffix_log = $suffix_log\n",
  "\$suffix_bak = $suffix_bak\n";
</pre>

Output

<pre>
1: Create a file.
C:\Users\kimoto\labo> perl a.pl
1: Extract the extension from the file name. (Specify the extension name)
$dir = dir1/dir2/$base_name = base_name
$suffix = .txt

2: Extract the extension from the file name. (Specify the extension name pattern)
$suffix_txt = .txt
$suffix_log = .log
$suffix_bak = .bak
</pre>