<h2> Logical product Logical sum denial [Page transfer] </h2>

The contents of this page have been moved to the following pages.

<blockquote>
<a href="/blog/20100816136168.html"> Perl logical operators </a>
</blockquote>

The logical product is expressed as <strong> && </strong>, the logical sum is expressed as <strong> || </strong>, and the negation is expressed as <strong>! </Strong>.

<h3> AND, OR, negation </h3>

<ul>
  <li>
    AND A and B: A && B
  </li>
  <li>
    OR A or B: A || B
  </li>
  <li>
    Not Negative A:! A
  </li>
  <li>
    The negation operator converts 0 to 1 and inverts non-zero numbers to 1.
  </li>
</ul>

<h3> Logical product (A and B) </h3>

<pre>
if ($ num> 1 && $ num <4) {
  print "\ $ num is greater than 1 and less than 4 \ n \ n";
}
</pre>

<h3> OR (A or B) </h3>

<pre>
if ($ pet eq'dog' || $ pet eq'cat') {
  print "\ $ pet is either'dog'or'cat'. \ N \ n";
}
</pre>

<h3> Negation (not A) </h3>

<pre>
if (! $ num0) {
  print "! \ $ Num is true \ n";
}
</pre>

<h3> Sample code </h3>

It is a sample of logical product, logical sum, and negation.

<pre>
use strict;
use warnings;

# AND, OR, negation
print "1. Logical product (A and B) \ n";
my $ num = 3;
if ($ num> 1 && $ num <4) {
  print "\ $ num is greater than 1 and less than 4 \ n \ n";
}

print "2. OR (A or B) \ n";
my $ pet ='dog';
if ($ pet eq'dog' || $ pet eq'cat') {
  print "\ $ pet is either'dog'or'cat'. \ N \ n";
}

print "3. Negation (not A) \ n";
my $ num0 = 0;
if (! $ num0) {
  print "! \ $ Num is true \ n";
}
</pre>