<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161026147748.html">
      <span itemprop = "name"> Numerical value </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Determine if the string represents an integer </h2>



To determine if <a href="/blog/20161003147558.html"> string</a> represents an integer, <a href="/blog/20100827127859.html"> regular expression</a> > Is used. Determines if a regular expression is made up of numbers from start to finish.

<pre>
/ ^ [0-9] + $ /
</pre>

To determine if it's an integer, just add to the regular expression above that it doesn't matter if it's prefixed with + or-.

<pre>
/ ^ [+-]? [0-9] + $ /
</pre>

<h3> Sample </h3>

This is a sample to judge whether a variable is a numerical value.

<pre>
use strict;
use warnings;

print "1: Determine if the string represents the correct number \ n";

my $ num1 = "345";
# Determining if the string is only numbers
# Read "One or more numbers continue from the beginning to the end"
if ($ num1 = ~ / ^ [0-9] + $ /) {
  print "$ num1 is a string of numbers only. \ N";
}

# Judgment whether it is an integer
my $ num2 = "-123";

# "With or without + or-at the beginning, after that
# One or more numbers follow to the end "
if ($ num2 = ~ / ^ [+-]? [0-9] + $ /) {
  print "$ num2 is an integer. \ N";
}
</pre>