<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161004147558.html">      <span itemprop = "name">builtin functions </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    here
  </li>
</ol>
<h2>keys function - get all keys in the hash</h2>

You can use the <strong> keys function </strong> to get all the keys in the <a href="/blog/20161013147635.html">hash</a>. The order of the got keys is indefinite.

<pre>
# Get all keys
my @keys = keys %hash;
</pre>

If you pass <a href="/blog/20180208151809.html">hash reference</a> as an argument, you need to dereference it.

<pre>
# Get all keys. For hash reference.
my @keys = keys %$hash;
</pre>

<h4>Output all hash keys and values</h4>

Try to output all the keys and all the values of the hash using the keys function.

<pre>
# Sort by key dictionary order and output
my $scores = {Ken => 1, Mike => 2, Rika => 3};
for my $person (sort keys %$scores) {
  print "$person: $scores->{$person}\n";
}
</pre>

The output result is as follows.

<pre>
Ken: 1
Mike: 2
Rika: 3
</pre>

The keys obtained with the keys function are in an indefinite order. When combined with <a href="/blog/20100110126528.html">sort function</a>, it can be output in a stable order.

<pre>
# Sort by key dictionary order and output
my $scores = {Ken => 1, Mike => 2, Rika => 3};
for my $person (sort keys %$scores) {
  print "$person: $scores->{$person}\n";
}
</pre>

Furthermore, if you combine it with <a href="/blog/20080227120413.html">reverse function</a>, you can output in the reverse order.

<pre>
# Sort by key dictionary order and output
my $scores = {Ken => 1, Mike => 2, Rika => 3};
for my $person (reverse sort keys %$scores) {
  print "$person: $scores->{$person}\n";
}
</pre>

<h4>Get all hash values</h4>

If you just want to get all the hash values, you can use the <a href="/blog/20100222126425.html">values function</a>.

<pre>
my @values = values %hash;
</pre>

<h4>Get key/value pairs in order</h4>

If you want to get the key/value pairs in order, you can use the each function.

<pre>
# Get (key, value) pairs in order
my %age = (Ken => 19, Mike => 34);
while (my ($name, $age) = each %age) {
  ...
}
</pre>

The <a href="/blog/20100123126425.html">while statement</a> is used to retrieve the key/name pairs in order.

There are similar functions such as keys function, values function, and each function, but it is recommended to use the keys function for hash processing. The keys function has good performance and is very easy to use among the three.