<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/"> <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161126148016.html"> <span itemprop = "name"> File operation </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <span itemprop = "name"> here </span>
  </li>
</ol>
<h2> Get the current directory name </h2>



To get the current directory name, use the <strong> getcwd </strong> function of the <a href="/blog/20100527127859.html"> Cwd</a> module.

<pre>
use Cwd'getcwd';
my $cur_dir = getcwd;
</pre>

<h3> Sample </h3>

This is a sample to get the current directory name.

<pre>
use strict;
use warnings;
use Cwd'getcwd';

# Get the current directory name.
print "1: Get the current directory name. \ N";
my $cur_dir = getcwd;
print $cur_dir, "\ n";
</pre>