<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20180820153471.html">Installation</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

<h2>Download and Installation of ActivePerl</h2>

<strong> ActivePerl </strong> is one of the Windows Perl distributions provided by <a href="https://www.activestate.com/">ActiveState</a> for free.

<a href="https://www.activestate.com/activeperl/downloads"><img src="https://en.perlzemi.com/images/installation/active_perl.png" alt="ActivePerl"></a>

Let's download and install ActivePerl on Windows.

<h3>Installation of ActivePerl</h3>

Download and Install ActivePerl from the next page. The 2022 latest version is Perl 5.34.

<ul>
  <li>
    <a href="https://www.activestate.com/activeperl/downloads">Download and Install ActivePerl</a>
  </li>
</ul>

<a href="https://www.activestate.com/activeperl/downloads"><img style="border: 1px solid # ddd; width: 100%;" src="/images/installation/active_perl_click.png"></a>

ActivePerl download requires ActiveState membership registration.

After the registration, you see the following page.

<img style="border: 1px solid # ddd; width: 100%;" src="/images/installation/active_perl_create_project.png">

Scroll to the bottom of the page.

<img style="border: 1px solid # ddd; width: 100%;" src="/images/installation/active_perl_create_rantime.png">

Click "Create Runtime". A runtime is created.

If you click "Install" button, you see the following content.

<img style="border: 1px solid # ddd; width: 100%;" src="/images/installation/active_perl_install_runtime.png">

Copy the command and paste it to Command Prompt.

<h3>Check the Installation of ActivePerl</h3>

Let's check if ActivePerl is installed.

<h4>Command Prompt</h4>

At first, you execute <a href="/blog/20080603121251.html">Command Prompt</a>. Command Prompt is a Windows CLI tool.

The command prompt can be executed from:

"Start Menu" | "List of Apps" | "Windows System Tools" | "Command Prompt".

A black screen will appear. This is Command Prompt.

<img src="/images/commandprompt/commandprompt.png">

Input the following command to display the version of Perl.

<pre>
perl -v
</pre>

And press "Enter".

The version information of Perl is displayed.

<pre>
This is perl 5, version 34, subversion 0 (v5.34.0) built for MSWin32-x64-multi-thread
</pre>

If you can see this, the installation of ActivePerl is succeed.

<h3>Other ways to install Perl on Windows</h3>

Other ways to install Perl on Windows.

<ul>
  <li>
    <a href="/blog/20180808153368.html">Installation of Strawberry Perl on Windows</a>
  </li>
  <li>
    <a href="/blog/20180806153350.html">Installation of msys2 and Perl on Windows</a>
  </li>
</ul>

<h3>Other CLI Tools</h3>

Other CLI Tools to run Perl.

<ul>
  <li>
    <a href="/blog/20220420170117.html">PowerShell(pwsh) Tutorail for Perl</a>
  </li>
</ul>
