<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/"> <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161126148016.html"> <span itemprop = "name"> File operation </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <span itemprop = "name"> here </span>
  </li>
</ol>
<h2> Create a multi-level directory </h2>



To create a multi-level directory, use the <strong> mkpath </strong> function of the <a href="/blog/20100409127089.html"> File :: Path</a> module.

<pre>
use File :: Path'mkpath';
mkpath $dir_multi_level;
</pre>

To create a multi-level directory, use the mkpath function of the File :: Path module.

<h3> Sample </h3>

This is a sample to create a multi-level directory.

<pre>
use strict;
use warnings;
use File :: Path'mkpath';

# Create a multi-level directory.
my $dir_multi_level = "dir_20080524_ $$/ dir1";

print "1: Create a multi-level directory. \ N";
mkpath ($dir_multi_level);
</pre>