<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>if modifier - postfix if</h2>

Perl has if modifier syntax. You can place if keyword after a statement.

<pre>
STATEMENT if CONDITION;
</pre>

This is an example using the if modifier. If the line starts with "#"(<a href="/blog/20100827127859.html">regular expression</a> /^#/), The program jumps to the next loop.

<pre>
for my $line (@lines) {
  next if $line =~ /^#/;
}
</pre>

The benefits to use the if modifier is that a simple condition branch is written in one line. The combination with <a href="/blog/20080329120687.html">next</a> are often used.

if statement creates <a href="/blog/20110128130016.html">scope</a>, while the if modifier does not. Therefore, the if modifier has a little better performance.

<h4>unless modifier</h4>

The unless modifier also exists.

<pre>
$num1 = 1 unless defined $num1;
</pre>

The unless modifier is explained in detail below.

<ul>
  <li>
    <a href="/blog/20180322152172.html">unless modifier - postfix unless</a>
  </li>
</ul>

<h3>Example code</h3>

This is an example of if modifiers.

<pre>
use strict;
use warnings;

# if modifier
print "1-2: Example of if modifier (next if)\n";
my @lines = (
  '#comment',
  'The first line',
  '2nd line'
);

for my $line (@lines) {
  # If starts with # , go to the next line
  next if $line =~ /^#/;
  print $line, "\n";
}
print "\n";
</pre>

Output

<pre>
1-2: Example of if modifier (next if)
The first line
2nd line
</pre>