<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop = "name"> operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
      <span itemprop = "name"> here </span>
  </li>
</ol>
<h2> Hash slice </h2>



You can retrieve multiple values ​​from a <a href="/blog/20161013147635.html"> hash</a> using a feature called <strong> hash slice </strong>.

<pre>
my @math_score_slice = @math_scores{'Aiko', 'Kenta'};
</pre>

Hash slices allow you to specify multiple keys and retrieve the values ​​as a list. Note that the prefix is ​​@, not $or %, and the keying is {}.

For <a href="/blog/20180208151809.html"> hash reference</a>, you can do a hash slice like this:

<pre>
my @math_score_slice = @$math_scores{'Aiko', 'Kenta'};
</pre>

<h4> Use hash slices as lvalues ​​</h4>

<pre>
@math_score_of{'Aiko', 'Kenta'} = (20, 40);
</pre>

You can assign a hash slice to the corresponding key by using it as an lvalue.

<h4> Array slice </h4>

A similar feature to hash slices is <a href="/blog/20080216120316.html"> array slices</a>. Array slices can be used to retrieve multiple elements of an <a href="/blog/20161012147627.html"> array</a>.

<pre>
# Array slice
my @values = @array[0, 3, 5];
</pre>

<h3> Sample program </h3>

This is a sample program for hash slices.

<pre>
use strict;
use warnings;
use Data::Dumper;

# Student math scores
my %math_scores = (
  Aiko => 89,
  Kenta => 100,
  Taro => 34,
);

print "original hash\n";
print Dumper \%math_scores;
print "\n\n";

# 1: Hash slice
print "1: Hash slice (get values ​​for Aiko and Kenta)\n";
my @math_score_slice = @math_scores{'Aiko', 'Kenta'};
print "\@math_score_slice =", join(',', @math_score_slice), ")\n\n";

# 2: Use hash slices as lvalues ​​(set values ​​for Aiko and Kenta)
print "2: Use hash slice as lvalue"
  . "(Set values ​​for Aiko and Kenta)\n";
@math_scores{'Aiko', 'Kenta'} = (20, 40);
print Dumper \%math_scores;
</pre>

Reference: <a href="/blog/20081007122338.html"> join function</a>
