<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Getting Started with Command Prompt to Run Perl </h2>

Perl programming is done by typing text called commands. First of all, I would like to explain the command prompt, which is a command execution tool in Windows. The explanation assumes that you are using Windows 10. You can follow almost the same procedure on Windows 7 and 8, but there may be some differences, such as where to look for the application.

<h4> What is a command prompt? </H4>

The command prompt is the execution environment of the program using CUI in the Windows environment. CUI is an abbreviation for Character-based User Interface, which is an interface for inputting text and executing a program. When programming Perl on Windows, you will run Perl using the command prompt.

<h4> To run the command prompt </h4>

You can execute it from "Windows System Tools"->"Command Prompt" in the list of apps from the Windows menu at the bottom left of the screen. It is convenient to create a shortcut on the desktop by right-clicking and dragging the command prompt icon.

When you execute the command prompt, the command prompt will be launched as shown below.

<img src = "/ images/commandprompt/commandprompt.png">
The command prompt home directory is the user directory.

In this example:

<pre>
C: \ Users \ kimot
</pre>

<h4> Show extension </h4>

The Perl program is just a text file, but the extension is ".pl", so let's set it to display the extension. The extension is used to indicate the type of program.

Right-click the Windows menu at the bottom left of the screen → click "Explorer" → click "View" on the upper tab → check "File name extension".

<h4> Create a Perl program </h4>

Open the command prompt home directory in Explorer.

In this example, access the following directories.

<pre>
C: \ Users \ kimot
</pre>

Right-click the Windows menu at the bottom left of the screen → click "Explorer" → click the left menu "OS (C :)" → click "User" → click "kimot".

Please note that the part corresponding to Users is displayed as "User" in Japanese.

Right-click an empty part of the C: \ Users \ kimot directory → "New" → "Text Document". Name it "start.pl" and save it. You can note that "If you change the extension, it may not work", but proceed as it is.

Change the association of ".pl" to Notepad. If you have a text editor you are using, change the association to the text editor you are using.

Right-click "start.pl"->"Open with"->"Select another program"->"Notepad"->Check "Always use this app to open .pl files".

Click "start.pl" to open it in Notepad.

Please enter the following content.

<pre>
print "Hello World";
</pre>

Save by selecting "File"->"Save" in the upper left.

<h4> Run Perl </h4>

Use the perl command to run Perl. Enter the following at the command prompt and enter Enter.

<pre>
perl start.pl
</pre>

If the output is as follows, the Perl program can be executed. Congratulations.

<pre>
Hello World
</pre>

<h4> First command to remember </h4>

You can display a list of files with the dir command. Type dir and press Enter.

<pre>
dir
</pre>

You can change the working directory with the cd command.

<pre>
cd directory name
</pre>

Use cd .. to move up one directory.

<pre>
cd ..
</pre>

<h4> Pass an argument with a blank </h4>

<pre>
perl start.pl "a i u"
</pre>

If the argument contains spaces, enclose it in double quotes.

<h4> Change drive </h4>

<pre>
c:
d:
</pre>

You can change the drive to C drive with c: and to D drive with d :.

<h4> Refer to command history </h4>

<pre>
↑
↓
</pre>

You can follow the command history with the up and down keys.

<h4> Completing the file name </h4>

<pre>
Ctrl + f
</pre>

You can enter the file name halfway and press Ctrl + f to complete the file name. It is necessary to change the command prompt settings described below.

<h4> Display environment variables </h4>

<pre>
echo%PATH% (when looking at the contents of the environment variable PATH)
</pre>

To see the environment variables, use echo%environment variable name%.

<h4> Set environment variables </h4>

<pre>
SET DATE = 20080604 (when setting the environment variable DATE to 20080604)
perl start.pl%DATE% (Example using environment variables as arguments)
</pre>

You can set environment variables with SET environment variable name = value. There should be no space to the left or right of =. To use an environment variable, use%environment variable name%.

Setting environment variables does not change the value of OS environment variables. It is valid only within the command prompt that is running.

<h4> Convenient command prompt settings </h4>

<b> How to change the command prompt settings </b>

After creating the shortcut on the desktop, you can change the setting by right-clicking "Properties".

<b> Working folder settings and file name completion settings </b>

You can set the working folder and file name completion from the "Shortcut" tab. The working folder is the current directory when the shortcut is started.

To set filename completion, add:/f on to the end of the command prompt path labeled "link destination". There must be a space before the :. This will enable the "8. Complete Filename" command.

Example%SystemRoot% \ system32 \ cmd.exe: /f on

<b> Easy edit mode setting </b>

You can set the simple edit mode from the "Options" tab. If you check it, you can copy and paste by right-clicking.

<b> Font size setting </b>

You can set the font size from the Font tab. I think it's easier to see if you make it a little smaller.

<b> Screen buffer size setting </b>

You can set the screen buffer size from the "Layout" tab. Set the "Height" item to the maximum value.

If you increase the screen buffer size "height", you can save the output for the set number of lines even if the screen scrolls.