<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">      <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20110212130370.html">      <span itemprop = "name">File input / output </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <span itemprop = "name">here </span>
  </li>
</ol>
<h2> Read a csv file and convert it to an array of Perl hashes </h2>

This is a sample that reads a csv format file and converts it into an array of hashes.

Readability is a bit low because we are actively using a feature called hash slices. If you haven't used Perl for a while and aren't used to it, it may look cryptographic. The structure is almost the same as the previous sample, so I will explain only the different parts.

<pre>
use strict;
use warnings;

# Argument processing
my $file = shift;

unless ($file) {
    die "Usage: $0 file"; # If there is no argument, indicate the usage and exit.
}

Create a key for each column of # csv
my $headers = ['name','age','country'];

# Parse the file and convert the csv format data to an array of arrays.
# The header key is also passed as an argument.
my @recs = parse_file ($file, $headers);

# Output (because it is an array of hashes, follow it with for)
for my $items (@recs) {
  # Concatenate using hash slices
  print join(',', @{$items}{@$headers}) . "\n";
}

# Function for file analysis (I just write it back this time ...)
sub parse_file {
  my ($file, $headers) = @_;
  
  open(my $fh, "<", $file)
    or die "Cannot open $file for read: $!";
  
  # Prepare a reference to an array that stores multiple records
  my $recs = [];
    while (my $line = <$fh>) {
      # Remove line breaks
      chomp $line;
      
      # Prepare a reference to the hash that stores the data
      # Header using hash slice
      Assign to the key corresponding to #
      my $items = {};
      @{$items}{@$headers} = split(',', $line);

      Since the first argument of the # push function is an array, dereference it with @$recs.
      push @$recs, $items;
    }
    close $fh;
    wantarray? return @$recs: return $recs;
}
</pre>

Below is a sample of csv data. Create a csv file, give it to the first argument of the script, and execute it.
<pre>
masao, 10, Japan
taro, 20, USA
rika, 38, France
</pre>

<h3> Code explanation </h3>

<h4> (1) Creating an array of hash keys </h4>

<pre>
my $headers = ['name','age','country'];
</pre>

By using the hash key, we give meaning to what was just an array last time. The first item of the csv file corresponds to name, the second item corresponds to age, and the third item corresponds to country.

<h4> (2) Read the file and convert the csv format text to an array of hashes </h4>

<pre>
my @recs = parse_file ($file, $headers);
</pre>

parse_file is a self-made function that reads a file and converts csv format text into an array of hashes. The input and output images are as follows.

<pre>
masao, 10, Japan
taro, 20, USA
rika, 38, France

↓

@recs = (
  {name =>'masao', age => 10, country =>'Japan'},
  {name =>'taro', age => 20, country =>'USA'},
  {name =>'rika', age => 38, country =>'France'},
)
</pre>

<h4> (3) Output an array of hashes </h4>

<pre>
for my $items (@recs) {
  print join(',', @{$items}{@$headers}) . "\n";
}
</pre>

Since it is an array, the outside is a foreach loop. Output $items, which is a reference to the hash, concatenated with commas with <a href="/blog/20081007122338.html">join function</a>.

<h4> (3) -1 Explanation of hash slices </h4>

I will explain the esoteric hash slice @{$items}{@$headers}.

First, $items is a reference to the hash.

<pre>
{name =>'masao', age => 10, country =>'Japan'}
</pre>

It looks like this.

I usually use% $items to dereference, but I want to dereference it so that hash slices can be used.

<pre>
@{$items}{list of hash keys}
</pre>

will do.

<pre>
@{$items}{'name','age','country'}
</pre>

If you write

<pre>
('masao', 10,'Japan')
</pre>

Can be obtained.

Also, since ['name','age','country'] is assigned to $headers, you can get ('name','age','country') by dereferencing @$headers. increase.

<pre>
@{$items}{@$headers}
</pre>

Is the description

<pre>
@{$items}{'name','age','country'}
</pre>
Is the same as the description
<pre>
('masao', 10,'Japan')
</pre>
Can be obtained.
<pre>
join(',', @{$items}{@$headers})
</pre>
As a result, it is completed by connecting with commas.

<h4> (4) Processing in a while loop </h4>

I'm using a <a href="/blog/20100123126425.html">while statement</a> to create a Perl data structure.

<pre>
while (my $line = <$fh>) {
  # Remove line breaks
  chomp $line;

  # Prepare a reference to the hash that stores the data
  my $items = {};
  # Header using hash slice
  Assign to the key corresponding to #
  @{$items}{@$headers} = split(',', $line);

  The first argument of the # push function is an array, so @$recs
  # And dereference.
  push @$recs, $items;
}
</pre>

<h4> (4) -1 Prepare a reference to the hash </h4>

<pre>
my $items = {}; # Prepare a reference to the hash that stores the data
</pre>

Prepare a reference to the hash you want to have in the array.

<h4> (4) -2 Assign hash slice to corresponding key on the left side </h4>

<pre>
@{$items}{@$headers} = split(',', $line);
</pre>

Same as explained above. Make the left side a hash slice and assign the list divided by the split function to it.