<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161004147558.html">      <span itemprop = "name">standard function </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    here
  </li>
</ol>
<h2>unlink function-delete file</h2>

You can use the <strong> unlink </strong> function to delete a file. The return value is the number of deleted files.

<pre>
unlink $file;
</pre>

<h3>Unlink function programming sample</h3>

This is a programming sample that deletes a file with the unlink function.

<pre>
use strict;
use warnings;
use Fcntl;

# Delete the file.

# Create a file for preparation.
my $file = "sample_20080520_$$. txt";

sysopen(my $fh, $file, O_CREAT | O_WRONLY | O_EXCL)
  or die "Unable to create $file .:$!";
close($fh);
print "Preparation:'$file' has been created.\n\n";

print "1: Delete the file.\n";
if (unlink $file) {
  print "'$file' has been deleted.\n";
}
else {
  print "'$file' could not be deleted.\n";
}
</pre>

(Reference) <a href="/blog/20080804121794.html">sysopen function</a>, <a href="/blog/20180310152509.html">Fcntl</a>