<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">      <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2>local - Temporarily save and restore a package variable</h2>

You can use <b> local </b> to temporarily save and restore a package variable.

<pre>
local $VAR = 4;
</pre>

If no value is specified, <a href="/blog/20100220126425.html">undefined value</a> is assinged.

<h3>Saving and restoring values</h3>

The assigned value using local is restored at the end of the <a href="/blog/20110128130016.html">scope</a>.

<pre>
our $NUM = 5;
{
  local $NUM = 3;
}
# Here, $NUM becomes 5. This is the original value.
</pre>

If initialization is not performed, a <a href="/blog/20100220126425.html">undefined value</a> is assinged.

<pre>
local $NUM;
</pre>

local is available for the package variable declared by using <a href="/blog/20080308120495.html">our</a>. Note that local is not available for a lexical variable declared by using <a href="/blog/20080307120491.html">my</a>.

<pre>
# Compile error
my $num;
local $num;
</pre>

However, no exception occurs for the element of a <a href="/blog/20161012147627.html">array</a> and the value of a <a href="/blog/20161013147635.html">hash</a>.

<pre>
my @nums = (1, 2, 3);
local $nums[1];

my %score = (math => 90, english => 70);
local $score{math};
</pre>

<h3>local for predefined variable</h3>

The most common use of local in Perl is for <a href="/blog/20161102147817.html">predefined variables</a> such as "$/", "%ENV" and "@ARGV".

local is available for a package variable. Predefined variable actually belong to the CORE <a href="/blog/20100419127089.html">package</a>.

So you can use local for predefined variable as well.

<pre>
local $/;
local $ENV{HOME};
local @ARGV;
</pre>

<h3>Let's use my for variable declarations</h3>

Since <a href="/blog/20160225145640.html">Perl 5.0</a>, Perl introduces the variable declaration by "my", so there is almost no need to declare variable by lcoal. Try to use "my" for almost all variable declarations.

<pre>
# Variable declaration
my $num;
</pre>

<h3>Difference between my and local</h3>

local is not a variable declaration unlike what you can imagine from its name. It has a dynamic scope.

The local variable in other languages is the same as the lexical variable of Perl.

<table>
  <tr>
    <th>
      local
    </th>
    <th>
      my
    </th>
  </tr>
  <tr>
    <td>
      Not a variable declaration
    </td>
    <td>
      Variable declaration
    </td>
  </tr>
  <tr>
    <td>
      Save/restore values
    </td>
    <td>
      Declare a variable
    </td>
  </tr>
  <tr>
    <td>
      Has a dynamic scope
    </td>
    <td>
      Have a lexical scope
    </td>
  </tr>
</table>

<h3>Read the whole content of a file using local</h3>

There are not many opportunities to use local, but there are a some important opportunities. The one is to read the whole content of a file.

I describe the way to read the whole content of a file.

<pre>
my $file = 'a.txt';
open my $fh, '<', $file
  or die "Can't open $file:$!";

# Read the whole content of a file
my $content = do {local $/; <$fh>};
</pre>

The <a href="/blog/20090208123289.html">do block</a> returns the last evaluated value.

the <a href="/blog/20161102147817.html">predefined variable</a> "$/" is assinged to a undefined value by using local. "$/" is a line separator of files.

the <a href="/blog/20080722121673.html">line input operator</a> <$fh> returns the whole content of the file.

At the end of scope , "$/" is restored to its original value.

Note that Perl doesn't yet have the builtin function to read the whole content of a file.

<h3>local example program</h3>

This is an example to temporarily save and restore a predefined variable using local. Predefined variable are a package variable that belong to the CORE package.

<pre>
{
    # Temporary change of predefined variable $/
    local $/ = undef;
}
# Original value is restored when exiting scope
</pre>

This is an example to understand local.

<pre>
use strict;
use warnings;

# local description

our $NUM = 1;
print "\$NUM = $NUM\n";

# The fully qualified name of $NUM is $main::NUM and belongs to the main package.
# (In Perl, no variable is a global variable
# Perl has only lexical and a package variable. )

print "\$main::NUM = $main::NUM\n";
print "\n";

{
  # Temporarily change the value of "$NUM" inside the lexical scope
  local $NUM = 2;

  print "In scope\n";
  
  # Output 2
  print "\$NUM = $NUM\n";
}
print "\n";

# Output 1
print "Out of scope\n";
print "\$NUM = $NUM\n";
</pre>

Execution result:

<pre>
$NUM = 1
$main::NUM = 1

In scope
$NUM = 2

Out of scope
$NUM = 1
</pre>
