<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161005147566.html">      <span itemprop = "name">operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
      <span itemprop = "name">here </span>
  </li>
</ol>
<h2> Here-Document-Easily create multi-line strings </h2>



You can use <strong> here document </strong> to describe multiple <a href="/blog/20161003147558.html">strings</a> in an easy-to-understand manner.

<pre>
my $text = <<'EOS';
aaaa
iiii
uuuu
EOS
</pre>

Here-documents allow you to assign a string on a line between <<'EOS' and EOS to the string, preserving line breaks.

Pay attention to the position of the semicolon. After the last EOS, there is no semicolon, there is a semicolon at the end of the first line.

The part called EOS can be any character string. This sample uses EOS to mean "End Of String".

<h4> Expand variables in here documents </h4>

If you change <<'EOS' to << "EOS", you can <a href="/blog/20180228151982.html">variable expansion</a> in the here document.

<pre>
my $message = 'Hello';

# Variable expandable here document
my $text = << "EOS";
aaaa
$message
iiii
uuuu
EOS
</pre>

Even if you omit the double quotes as shown below, the variable will be expanded, but it is recommended to enclose it in double quotes so that you can clearly understand the meaning.

<pre>
my $text = << EOS;
aaaa
$message
iiii
uuuu
EOS
</pre>

<h3> Sample program </h3>

Here-document sample.

<pre>
use strict;
use warnings;

# Here document

print "1: Use here document. (No variable expansion)\n";
my $text_no_expand = <<'EOS';
aaaa
iiii
uuuu
EOS

print "$text_no_expand\n";

print "2: Use here document. (With variable expansion)\n";
my $str = "eeee";
my $text_expand = << "EOS";
$str
oooo
EOS

print "$text_expand\n";
</pre>