<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </span> </a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110212130370.html">
      <span itemprop = "name"> File input / output </span> </a>
    <meta itemprop = "position" content = "2" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <span itemprop = "name"> here </span>
  </li>
</ol>
<h2> Standard I / O and redirection </h2>


Redirection is an OS function that switches the input source of standard input, standard output, and output destination of standard error output. Modern operating systems have basic redirection capabilities.

There are three redirects to keep in mind: a redirect that switches the input source of standard input to a file, a redirect that switches the output destination of standard output to a file, and a redirect that switches the output destination of standard error output to a file.

<h3> 1. Preparation </h3>

I will make a sample to see the redirect movement.
Reads one line from standard input and writes to standard output. It also outputs the character string "error \ n" to the standard error output.
Save this script with a name of your choice. Here, the name is sample_20080731.pl.

When outputting to a file by redirection, please note that the overwrite confirmation of the file is not performed.

<pre>
use strict;
use warnings;

my $ line = <STDIN>; # Read one line from standard input

print $ line; # Output to standard output
print STDERR "error \ n"; # Output to standard error output
</pre>

<h3> 2. Check normal movement </h3>

<pre>
perl sample_20080731.pl
</pre>

Do the above

<pre>
aaa
</pre>

And hit from the keyboard

<pre>
aaa
error
</pre>

Is output. The standard input is the keyboard, and the standard output and standard error output are the display.

<h3> 3. Switch the input source of standard input to a file </h3>

Since the input source is switched from the keyboard to the file, create a file called input_20080731.txt as a preparation and add the contents

<pre>
line
</pre>

will do.

<pre>
perl sample_20080731.pl <input_20080731.txt
</pre>

And hit on the command line

<pre>
line
error
</pre>

Is displayed on the display. The <symbol is the redirect symbol that switches the source of standard input to a file. If you write a program to receive the contents to be read from the standard input, the user can select the input source using redirection.

<h3> 4. Switch the output destination of standard output to a file </h3>

<pre>
perl sample_20080731.pl> output_20080731.txt
</pre>

At the command line

<pre>
aaa
</pre>

When you type, the content aaa is written in output_20080731.txt, and error is displayed on the display. The> symbol is a redirect symbol that switches the output destination of standard output to a file. If the program is written to output the output contents to the standard output, the user can select the output destination by using the redirect.

<h3> 5. Switch the output destination of standard error output to a file </h3>

<pre>
perl sample_20080731.pl 2> error_20080731.txt
</pre>

At the command line

<pre>
aaa
</pre>

If you type, error_20080731.txt will show error and the display will show aaa. The 2> symbol is a redirect symbol that switches the output destination of standard error output to a file. Use this switch if you want to output the error to a file.

<h3> 6. Use redirects in combination </h3>

Redirects can be used in combination.

<pre>
perl sample_20080731.pl <input_20080731.txt> output_20080731.txt 2> error_20080731.txt
</pre>

Will be written as line in output_20080731.txt and error in error_20080731.txt. The line written in output_20080731.txt is the one written in the first line of input_20080731.txt. In this way, redirect symbols can be used in combination.