<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop = "name"> Syntax </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Numeric literals-Representation of numbers in source code </h2>



The representation of numbers in the source code is called <strong> number literals </strong>. Numeric literals can be written as follows.

<h4> integer </h4>

Numbers that are not enclosed in quotes or double quotes are interpreted by Perl as numeric literals.

<pre>
my $num1 = 1;

# Negative number
my $num2 = -1;
</pre>

<h4> Digit separator expression </h4>

If an underscore is included in a numeric literal, it will be ignored. The notations 1_000_000 and 1000000 are equivalent. Underscores can be used to make large numbers easier to read.

<pre>
You can use # _ as a digit separator.
my $num3 = 1_000_000;
</pre>

<h4> Decimal (floating point) </h4>

If it contains a. (Dot), it is interpreted as a decimal. It is the same as the notation in mathematics. A few Perls are double precision floating point.

<pre>
# Decimal point
my $num4 = 1.33;
</pre>

<h4> Minority exponential notation </h4>

You can use exponential notation to represent a small number of numbers. 1.3E3 is equivalent to 1300. 1.3E-3 is equivalent to 0.0013.

<pre>
# 1.3 x 10 cubed
my $num5 = 1.3E3;

# 1.3 x 10 to the -3rd power
my $num6 = 1.3E-3;
</pre>

<h4> Binary number </h4>

You can specify a numerical value in binary by prefixing it with 0b.

<pre>
my $num_bin = 0b1111;
</pre>

<h4> Octal number </h4>

If you add 0 to the beginning, you can specify a numerical value in octal.

<pre>
my $num_oct = 0777;
</pre>

<h4> Hexadecimal </h4>

You can specify a number in hexadecimal by prefixing it with 0x.

<pre>
my $num_hex = 0xFFFF;
</pre>

<h4> What are the numbers in Perl? </H4>

The numbers in Perl are explained in detail below.

<ul>
  <li>
    <a href="/blog/20161026147748.html"> Handling of numbers in Perl</a>
  </li>
</ul>

<h3> Sample program </h3>

This is a sample program that uses numerical literals.

<pre>
use strict;
use warnings;

my $num1 = 1;

# Negative number
my $num2 = -1;

You can use # _ as a digit separator.
my $num3 = 1_000_000;

# Decimal
my $num4 = 1.33;

# Minority exponential notation 1.3 x 10 cubed
my $num5 = 1.3E3;

# 1.3 x 10 to the -3rd power
my $num6 = 1.3E-3;

print "\ $num1 = $num1 \ n";
print "\ $num2 = $num2 \ n";
print "\ $num3 = $num3 \ n";
print "\ $num4 = $num4 \ n";
print "\ $num5 = $num5 \ n";
print "\ $num6 = $num6 \ n";
</pre>