<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
  </li>
</ol>
<h2> if modifier-postfix if </h2>



You can add if after the if modifier.

<pre>
Statement if condition;
</pre>

This is a sample using the if modifier. <a href="/blog/20100827127859.html">Regular expression</a> is used to move to the next line if the beginning is "#".

<pre>
for my $line (@lines) {
  next if $line = ~/^ # /;
}
</pre>

There is a merit to use the if modifier when it is a simple condition that can be written in one line. In combination with <a href="/blog/20080329120687.html">next</a> and last, "next if condition" and "last if condition" are often used.

<h4> Benefits of the if modifier </h4>

The advantage of the if modifier over the normal <a href="/blog/20161023147731.html">if statement</a> is performance. The if statement creates a <a href="/blog/20110128130016.html">scope</a>, while the if modifier does not. Therefore, the if modifier has better performance.

<h4> unless modifier </h4>

There is an unless modifier that can be followed in the same way as the if modifier.

<pre>
$num1 = 1 unless defined $num1;
</pre>

The unless modifier is explained in detail below.

<ul>
  <li>
    <a href="/blog/20180322152172.html">unless modifier - postfix unless</a>
  </li>
</ul>

<h3> Sample code </h3>

This is a sample if modifier.

<pre>
use strict;
use warnings;

# Postfix if
print "1-2: Example of postfix if (next if)\n";
my @lines = (
  '#comment',
  'The first line',
  '2nd line'
);

for my $line (@lines) {
  If # starts with # , go to the next line
  next if $line = ~/^ # /;
  print $line, "\n";
}
print "\n";
</pre>

Execution result

<pre>
The first line
2nd line
</pre>