<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20100827127859.html">      <span itemprop = "name">Regular expression </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Match the beginning and end of a string-^ and $</h2>



Use <strong> ^ </strong> and <strong> $</strong> to represent the beginning and end of a string with a regular expression.

<pre>
# ^ Represents the beginning.
/ ^ ab/
# $Represents the end
/ cd $/
</pre>

^ Is also used as a character class negation symbol. If it is at the beginning of [], it represents the negation of the character class, and if it is at the beginning of //, it represents the beginning of the character string.

<h3> Sample </h3>

This is a sample that matches the beginning and end of the string.

<pre>
use strict;
use warnings;

# Represents the beginning and end of a string. ^ And $
my $word = "abcd";

print "1: Represent the beginning of the string. ^\n";
if ($word =~ /^ ab /) {
  print "'$word' starts with ab.\n"
}
if ($word =~ /bc /) {
  print "includes bc, but\n"
}
if ($word! ~/^ Bc /) {
  print "does not start with bc.\n\n";
}

print "2: Show the end of the string \. ^\n";
if ($word =~ /cd $/) {
  print "'$word' ends with cd.\n"
}
if ($word =~ /bc /) {
  print "includes bc, but\n"
}
if ($word! ~/bc $/) {
  print "does not end with bc.\n\n";
}
</pre>