<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">      <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">my </span>
    <meta itemprop = "position" content = "4" />
  </li>
</ol>
<h2>our - Declaration of package variables</h2>

I will explain the declaration of <b> package variables </b> by <b> our </b>.

<h3>Declaration of package variables</h3>

Use <strong> our </strong> to declare package variables.

<pre>
our $NUM;
</pre>

Package variables are global variables that belong to one namespace. Package variables have qualified names (package names) and can be referenced from anywhere in the source code.

It is customary in Perl to make the variable name of a package variable "uppercase".

<h3>Initialization of package variables</h3>

"Initialization" can be performed at the same time as the declaration of the package variable.

<pre>
our $NUM = 5;
</pre>

<h3>Package variable scope and lifetime</h3>

Describes the life and scope of package variables.

<h4>Package variable lifespan</h4>

Once a package variable is declared and initialized, its value will continue to exist until the end of the program.

<h4>Package variable scope</h4>

At the end of the scope, you will not be able to see it without the package name. You can refer to it by using the fully qualified name.

<pre>
package SomePackage;

our $PACKAGE_VAR1;
$PACKAGE_VAR1 = 1;

# our scope
{
  our $PACKAGE_VAR2 = 2;
}
# At the end of scope, you can only refer to it with a fully qualified name
$SomePackage::PACKAGE_VAR2;
</pre>

See below for a detailed explanation of the scope.

<ul>
  <li>
    <a href="/blog/20110128130016.html">Understand Perl scope</a>
  </li>
</ul>

<h3>Package declaration</h3>

In Perl, a package declaration is a namespace declaration in another language. Generally, package names start with an uppercase letter. Capitalize the word breaks as well.

<pre>
package SomePackage;
</pre>

Package variables can also be accessed with fully qualified names.

<pre>
$SomePackage::PACKAGE_VAR1
</pre>

See the following articles for more information on package declarations.

<ul>
  <li>
    <a href="/blog/20100419127089.html">package - Package declaration</a>
  </li>
</ul>

<h3>main package</h3>

If no package is declared, the package variables declared with our belong to the main package.

<pre>
# Belongs to "main package" as "$main::NUM"
our $NUM;
</pre>

In Perl, there are no variables that do not have a package. What looks like no package actually belongs to the main package.

For example, <a href="/blog/20161102147817.html">special variables</a> don't seem to belong to the package, but they do.

<h3>Should we use variable declaration by our?</h3>

If you write your own program, you rarely have the opportunity to use our variable declarations. The safer and faster "my" variable declaration makes it possible to write a complete program. Avoid "our" as much as possible and use only "my".

my has a lexical scope and is safe with a small accessible range. Since it is in a continuous area, it has the characteristic that the access speed to variables is fast.

See the following article for variable declaration by my.

<ul>
  <li>
    <a href="/blog/20080307120491.html">my - Declaration of lexical variables</a>
  </li>
</ul>

<h3>Example</h3>

This is a example using package variables.

<pre>
use strict;
use warnings;

# Package variables
print "1: Package variable has a qualified name (SomePackage)".
    "It can be referenced from anywhere in the program (even from outside the scope).\n";
{
  # PACKAGE_VAR1 belonging to SomePackage
  $SomePackage::PACKAGE_VAR1 = 1;
  
  # PACKAGE_VAR1 belonging to OtherPackage;
  $OtherPackage::PACKAGE_VAR1 = 2;
}

print "\$SomePackage::PACKAGE_VAR1 = $SomePackage::PACKAGE_VAR1\n";
print "\$OtherPackage::PACKAGE_VAR1 = $OtherPackage::PACKAGE_VAR1\n\n";
</pre>

Execution result

<pre>
1: The package variable has a qualified name (SomePackage) from any position in the program (Sco)
You can also refer to it from outside the loop).
$SomePackage::PACKAGE_VAR1 = 1
$OtherPackage::PACKAGE_VAR1 = 2
</pre>