<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161123147990.html">        <span itemprop = "name">Date / Time </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Get holidays with Google Calendar Data API </h2>



Holidays are very difficult to handle because they are decided by humans. There are also holidays such as spring equinox and autumn equinox, which are decided in February of the previous year, and transfer holidays.

In this sample, we will get the data of Japanese holidays provided by Google with Google Calendar Data API.

It is not absolutely reliable because it is the data of Japanese holidays examined by Google. <span style = "color: # FF0000;">If Google is wrong, it will get the wrong holiday data, so please do not use it as it is for applications where the wrong date causes damage. </span> Make sure you are correct by other means.

<pre>
use strict;
use warnings;

# Use an HTTP client to get information from the web.
use LWP::UserAgent;

# Since the feed is given in XML, parse it with XML::Simple.
use XML::Simple;

# Google Calendar Data API URL (URL to get Japanese holidays)
my $feed_base
  ='http://www.google.com/calendar/feeds/japanese@holiday.calendar.google.com/public/full';

# Start date including this date
my $start_date = '2007-01-01';

# End date not including this date
my $end_date = '2008-01-01';

# Maximum number of feeds
my $max_results = 100;

my $query = "start-min = ${start_date} & start-max = ${end_date} & max-results = ${max_results}";

my $feed_url = $feed_base.'?'. $Query;

# Get XML from the web
my $http_client = LWP::UserAgent-> new;
my $response = $http_client-> get ($feed_url);

my $holidays_xml;
if ($response-> is_success) {
  $holidays_xml = $response-> content;
}
else {
  die "Failed to get the feed.";
}

# Parse XML
my $xml_parser = XML::Simple-> new;
# XML::Change parser for those who don't have SAX
$XML::Simple::PREFERRED_PARSER ='XML::Parser';
my $holidays_data = $xml_parser-> XMLin ($holidays_xml);

my $holidays = [];
for my $key (keys%{$holidays_data-> {'entry'}}) {
  my $holiday_day = $holidays_data-> {entry} {$key} {'gd: when'} {startTime};
  my $holiday_name = $holidays_data-> {entry} {$key} {title} {content};
  push @$holidays, {day => $holiday_day, name => $holiday_name};
}

# Character code is Perl's internal representation (UTF8), so encode as you like
use Encode;
my $encode_to;
if ($^ O eq'MSWin32') {
  $encode_to ='shift-jis';
}
else {
  $encode_to ='utf8';
}

# Encode all data
for my $holiday (@$holidays) {
  for my $key (keys %$holiday) {
    $holiday-> {$key} = encode ($encode_to, $holiday-> {$key});
  }
}

use Data::Dumper;
print Data::Dumper-> Dump ([$holidays], ['* holidays']);
</pre>

<h3> Holiday issues </h3>
Holidays vary from country to country. Even if a holiday is decided, the holiday may change due to a transfer holiday. In some cases, such as the equinox and autumn equinox, the government decides on a formal holiday in February of the previous year.

<h3> Google Calender Data API </h3>

You can use the Google Calender Data API to get national holidays. Transfer holidays are also taken into consideration. Reliability depends on Google's reliability.

<h3> Code explanation </h3>

<h4> Google Calender Data API </h4>
The following URL is the URL for getting holidays for the Google Calender Data API.
<pre>
my $feed_base
  ='http://www.google.com/calendar/feeds/japanese@holiday.calendar.google.com/public/full';
</pre>

<h4> Create query string </h4>
Concatenate the query string with the specified conditions to the above source URL. The date you specify will include the start date and not the end date.

<pre>
# Start date including this date
my $start_date = '2007-01-01';

# End date not including this date
my $end_date = '2008-01-01';

# Maximum number of feeds
my $max_results = 100;

my $query = "start-min = ${start_date} & start-max = ${end_date} & max-results = ${max_results}";
my $feed_url = $feed_base.'?'. $Query;
</pre>

In this sample, the following URL is created.
[http://www.google.com/calendar/feeds/japanese@holiday.calendar.google.com/public/full?start-min=2007-01-01&start-max=2008-01-01&max-results=100 ]

After that, get the information of the above URL from the Web, analyze it because it is XML data, make it easy to use, and encode the character code according to the OS.

<h4> Get XML data from the Web. </h4>

LWP::UserAgent is a module for creating HTTP clients. You can programmatically do what your web browser is doing.

<pre>
use LWP::UserAgent;
my $http_client = LWP::UserAgent-> new;
my $response = $http_client-> get ($feed_url);

my $holidays_xml;
if ($response-> is_success) {
  $holidays_xml = $response-> content;
}
else {
  die "Failed to get the feed.";
}
</pre>

<h4> Parse XML to make it easy to use. </h4>
Use XML::Simple to parse the XML. XML::Simple is a module for converting XML data into Perl data (hash, array).
<pre>
use XML::Simple;

# Parse XML
my $xml_parser = XML::Simple-> new ();
$XML::Simple::PREFERRED_PARSER ='XML::Parser';
my $holidays_data = $xml_parser-> XMLin ($holidays_xml);

my $holidays = [];
for my $key (keys%{$holidays_data-> {'entry'}}) {
  my $holiday_day = $holidays_data-> {entry} {$key} {'gd: when'} {startTime};
  my $holiday_name = $holidays_data-> {entry} {$key} {title} {content};
  push @$holidays, {day => $holiday_day, name => $holiday_name};
}
</pre>

After the XML transformation, you can access the data as follows.

<pre>
# Holiday dates
$holidays_data-> {'entry'} {URL as an identifier} {'gd: when'} {startTime};

# Holiday name
$holidays_data-> {entry} {URL as an identifier} {title} {content};
</pre>

<h4> Convert character code </h4>

The character code of XML received from the Web is UTF-8. When XML::Simple converts XML to Perl data, the characters are converted to Perl's internal representation (UTF-8).

In order to output this correctly, it is necessary to encode it from Perl's internal representation to an appropriate character code.

(Even if the output string is UTF-8, encoding is necessary. It is easy to understand if you think of converting from the internal representation UTF-8 to the external representation UTF-8. Officially, "Turn off the UTF-8 flag. It's hard to understand)

<pre>
use Encode;
my $encode_to;
if ($^ O eq'MSWin32') {
  $encode_to ='shift-jis';
}
else {
   $encode_to ='utf8';
}

# Encode all data
for my $holiday (@$holidays) {
   for my $key (keys %$holiday) {
     $holiday-> {$key} = encode ($encode_to, $holiday-> {$key});
   }
}
</pre>