<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop = "name"> Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> if ~ elseif ~ else --Perform complicated conditional branching </h2>



You can use the <strong> if </strong> statement to perform conditional branching. If the condition is true, the inside of the parentheses is executed.

<pre>
if (condition) {
  ...
}
</pre>

You can also use elsif to make multiple conditional branches.

<pre>
if (condition 1) {
  ...
}
elsif (condition 2) {
  ...
}
</pre>

If you use else, you can perform processing when the condition is not met.

<pre>
if (condition) {
  ...
}
else {
  What to do if the conditions are not met
}
</pre>

Please see below for details on how to use conditional branching using if statements.

<ul>
  <li>
    <a href="/blog/20161023147731.html"> Conditional branching by if statement</a>
  </li>
</ul>

<h3> Conditional branch if ~ else </h3>

<pre>
if (condition) {
  When the conditions are met
}
else {
  If the conditions are not met
}
</pre>

It is used when conditional branching is performed depending on whether the condition is satisfied or not.
  
<h3> Conditional branch if ~ elsif </h3>

<pre>
if (condition 1) {
  When condition 1 is met
}
elsif (condition 2) {
  When condition 2 is met
}
elsif (condition 3) {
  When condition 3 is met
}
else {
  If you didn't see any of the conditions.
}
</pre>

Used when conditional branching is performed under multiple conditions. Unlike C language and Java, it is not written as else if. Write elsif.

<h3> If statement sample </h3>

It is a sample of if ～ else and if ～ elsif.

<pre>
use strict;
use warnings;

# Conditional branch if ~ else

print "1: if ~ else statement \ n";
my $ num = 2;
if ($ num == 1) {
  #Not effective
}
else {
  print "\ $ num is not 1. \ n \ n";
}

# Conditional branch if ~ elsif ~ elsif ~
print "2: if ~ elsif ~ elsif ~ else \ n";
if ($ num == 1) {
  #Not effective
}
elsif ($ num == 2) {
  print "\ $ num is 2 \ n \ n";
}
elsif ($ num == 3) {
  #Not effective
}
else {
  #Not effective
}
</pre>