<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Module :: Starter - Create a distribution module </h2>



If you want to distribute a module, it is convenient to have a module that automatically creates the distribution format. For example, if you want to upload a module you created to CPAN, you must have a defined distribution format. One of the modules that creates the template is <strong> Module :: Starter </strong>.

<h3> Create a template with the module-starter command </h3>

When you install Module :: Starter, the <strong> module-starter </strong> command is also installed. Create a module using this command. When you execute it, you can confirm that a directory called Somo-Module has been created.

<pre>
module-starter - module = Some :: Module - author = "Yuki Kimoto" - email = kimoto.yuki@gmail.com
</pre>

<h4> Specifying the module name </h4>

Specify the module name with <strong>-module </strong>.

<h4> Specify build method </h4>

Specify the build method with - builder. You can specify either "ExtUtils :: MakeMaker" that uses make, which is the standard build method for Unix-like OS, or "Module :: Build" that uses Build written in genuine Perl. By default, "ExtUtils :: MakeMaker" is used. Here, "Module :: Build" is used.

Unless you have a specific need, it's safe to use ExtUtils :: MakeMaker, which is compatible with older versions of Perl.

<h4> Your name </h4>

Specify your name with <strong> - author </strong>.

<h4> Your email address </h4>

Specify your email address with <strong> - email </strong>.

<h3> Directory structure </h3>

Immediately after creating the template, the directory structure is as follows.

<pre>
-rw-r- r-- 1 root root 457 2009-06-14 12:40 Makefile.PL
-rw-r- r-- 1 root root 111 2009-06-14 12:40 Changes
drwxr-xr-x 3 root root 4096 2009-06-14 12:40 lib
-rw-r- r-- 1 root root 89 2009-06-14 12:40 MANIFEST
-rw-r- r-- 1 root root 1398 2009-06-14 12:40 README
drwxr-xr-x 2 root root 4096 2009-06-14 12:40 t
</pre>

I will briefly explain the roles one by one.

<h4> Makefile.PL </h4>

Makefile.PL is a script written in Perl for creating a script called Makefile. A script called Makefile is a script for building, testing, and installing modules.

The reason why the script called Makefile is not prepared from the beginning is that the contents of the Makefile script differ depending on the environment such as the difference in OS.

Execute Makefile.PL to create a Makefile script in order to absorb the differences in the environment and perform the process from module construction to installation.

<pre>
perl Makefile.PL
</pre>

Will create a script called Makefile.

<h4> Changes </h4>

Changes is for writing the history when the module is upgraded. Please note that you often forget to write when you upgrade the module.

<h3> lib </h3>

lib is the directory where the modules are stored. The script that is the main body of the module is stored in this.

<h3> MANIFEST </h3>

In MANIFEST, describe the file to be stored when the module is distributed. You can edit the MANIFEST file directly, but you can also create it automatically.

<h4> t </h4>

The directory that stores the module's automated tests.