<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161030147778.html">      <span itemprop = "name">Object Oriented </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">accessor </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Generate accessor </h2>



Let's create an accessor this time.

<h3> 1. What is an accessor? </H3>

You can't <b> directly mess with data </​​b> in object-oriented programming. This is because in object-oriented programming, it is correct to access objects through <b> exposed methods </b>.

<pre>
my $book = Book->new;

# No!
$book->{title} ='aaa';
</pre>

If you want to mess with the data, do it through the accessor. An accessor is a <b> method for modifying or retrieving data </​​b>.

The correct way to set a value in the data is to use an accessor as shown below.

<pre>
my $book = Book->new;
$book->title ('aaa');
</pre>
The creator of the class is obliged to create and publish the accessor.

<h3> 2. Creating an accessor </h3>

Now let's create an accessor. In Perl, it's common to use the same accessor to get and set a value.

(The book Perl Best Plastis says that the accessor for setting and the accessor for getting should be separated, but in practice such as CPAN, it seems that it is preferable to make only one accessor. is.)

<pre>
sub title {
  my $self = shift;
  if (@_) {
    $self->{title} = $_[0];
  }
  return $self->{title};
}
</pre>

The object is in $self. So, if @_ has a value, I set $_[0] to $self->{title}.

The last line returns $self->{title}.

<h3> 3. If a value is set, create an accessor that returns the old value </h3>

In addition to the above accessors, it is also common to implement an accessor that <b> returns the old value </b> when a value is set.

<pre>
my $book = Book->new(title =>'aaa');
my $old_val = $book->title ('bbb');
</pre>

Create an accessor that returns the old value as follows:

<pre>
sub title {
  my $self = shift;
  if (@_) {
    my $old = $self->{title};
    $self->{title} = $_[0];
    return $old;
  }
  else {
    return $self->{title};
  }
}
</pre>

This concludes the discussion of constructors and accessors. All you have to do now is add your favorite methods.