<h2> Module </ h2>

A description of Perl modules.

<h4> Package and symbol table </ h4>

<ul>
  <li>
    <a href="/blog/20080612121341.html"> Subroutine definition and scope </a>
  </ li>
  <li>
    <a href="/blog/20080613121341.html"> Symbol table </a>
  </ li>
  <li>
    <a href="/blog/20080614121342.html"> Type globs and symbol tables </a>
  </ li>
</ ul>
<h4> Modules and directories </ h4>
<ul>
  <li>
    <a href="/blog/20080126120134.html"> Use the module in the directory one level above the executable program directory </a>
  </ li>
</ ul>

<h4> Loading modules </ h4>

<ul>
  <li>
    <a href="/blog/20090203123287.html"> Load the module by specifying the file name </a>
  </ li>
  <li>
    <a href="/blog/20090204123287.html"> Load the module by specifying the module name with a variable </a>
  </ li>
  <li>
    <a href="/blog/20090205123287.html"> Load module at compile time use </a>
  </ li>
  <li>
    <a href="/blog/20090207123288.html"> Load module at runtime require </a>
  </ li>
  <li>
    <a href="/blog/20090208123289.html"> Understand how modules load </a>
  </ li>
</ ul>

<hr>
<a href="/blog/20080229120427.html"> To Perl Reverse Lookup Encyclopedia </a>