<h2>use - load module at compile time</h2>

Use <strong> use </strong> to load the module at compile time.

<pre>
use MODULE_NAME;
</pre>

The module name must be specified as a bare string. Strings enclosed in quotes or double quotes will not be accepted. Also, variables are not accepted.

<pre>
# Specify the module name with a bare string
use CGI;
</pre>

It is also standard practice to specify the function name after the module name to import the function into the current namespace.

<pre>
# Import function
use File::Basename 'basename', 'dirname';
</pre>

There is a require function in addition to use as a means to load a module, but when loading a module, usually use use. The module expects the import method to be called, so use will do it for you.

<h3> Processing executed by use </h3>

The following processing is executed by use. The case of File :: Basename is taken as an example.

<pre>
# Process executed by use
BEGIN {
  require File::Basename;
  File::Basename->import(qw/basename dirname/);
}
</pre>

The part enclosed in the BEGIN block is executed at compile time. require loads the module and imports that module as a method call.

<h3> How to not execute import </h3>

use will automatically perform the import. If you don't want to import, do the following:

<pre>
# Do not execute import
use File::Basename();
</pre>

<h3> How to pass variables to use </h3>

Since use can only accept bare strings, you need to be creative in passing variables. You need to use <a href="/blog/20100312126967.html"> eval</a> to recognize the variable name as a bare string.

Also, eval can perform dangerous processing, so make sure it does not contain harmful processing before executing it. If the module fails to load, an error message will be stored in $ @.

<pre>
# Pass a variable to use

# Module name
my $module = 'AAA';

# Make sure it consists of only word characters
die "Invalid module name" if $module =~ /\W/;

# Load module
eval "use $module";

# What to do if module loading fails
die $@ if $@;
</pre>