<script> location.href = "https://mojolicious.perlzemi.com/blog/20091215126018.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Mojolicious Utility </ h2>




Introducing Mojolicious's utilities.

<h3> Inheritance </ h3>

If you want to inherit, you can do it in the base module, but Mojolicious provides a slightly enhanced inheritance method. To perform extended inheritance, use the import function of Mojo :: Base.

<pre>
package MyApp :: Photoshoot;
use Mojo :: Base'Mojolicious :: Controller';
</ pre>

The above description is an example of creating the MyApp :: Photoshoot class by inheriting the Mojolicious :: Controller class.

The Mojo :: Base inheritance feature provides additional features such as:

<ul>
  <li>
    Automatically perform "use strict"
  </ li>
  <li>
    Automatically perform "use warnings"
  </ li>
  <li>
    The has method that defines the attribute is imported
  </ li>
</ ul>

<h3> Define accessors </ h3>

To define an accessor, use the attr method of the Mojo :: Base class, or use the has function imported by the Mojo :: Base inheritance feature. You can also set default values ​​for accessors.

In the case of Mojolicious :: Lite, you can add attributes to the application class by calling the attr method from the application object.

<pre>
#Mojolicious :: Lite
app-> attr (x => 1);

# Accessor
my $ x = app-> x;
app-> x (3);
</ pre>

For Mojolicious, use the has function that is imported into Mojo :: Base by the inheritance feature.

<pre>
#Mojolciious

has x => 1;

sub startup {
    my $ self = shift;
    
    # Accessor
    my $ x = $ self-> x;
    $ self-> x (3);
}
</ pre>

<h3> Notes on default values ​​</ h3>

If the default values ​​are non-constants, such as numbers and strings, they must be given as the return value of the subroutine reference. This is what you need to avoid sharing values ​​with other objects.

<pre>
app-> attr (nums => sub {[1, 2, 3]});
app-> attr (person => sub {{name =>'Ken', age => 19}});
app-> attr (dbh => sub {DBI-> connect (...)});
</ pre>

<h3> Get / set mode </ h3>

Use the <strong> mode </ strong> method of the Mojolicious class to get and set the mode.

<pre>
# How to use
my $ mode = $ app-> mode;
$ app-> mode ('test');

#Mojolicious :: Lite
app-> mode;

#Mojolicious (from Controller)
$ self-> app-> mode;
</ pre>

The default mode is development. When you run the application with hypnotoad, the mode will be production.

You can also set the mode using environment variables.

<pre>
export MOJO_MODE = test
</ pre>

<h3> Application class description </ h3>

I will explain the class that represents the main body of the Web application. In the explanation from here, the class that represents the Web application itself will be called the application class.

<h4> Application class </ h4>

Let's take a look at the source code to understand the application classes. The application name is Sampleapp.

<pre>
package Sampleapp;
use Mojo :: Base'Mojolicious';

#This method will run once at server start
sub startup {
  my $ self = shift;

  #Routes
  my $ r = $ self-> routes;
  $ r-> get ('/')-> to ('main # default');
}

1;
</ pre>
The first thing to notice is the next part. You can use Mojo :: Base to inherit classes.

<pre>
use Mojo :: Base'Mojolicious';
</ pre>

The application class is created by inheriting a class called Mojolicious. This means that you can use all the methods defined in Mojolicious in Sampleapp.

Also, since Mojolicious inherits Mojo, Sampleapp can use all the methods defined in Mojo.

<h4> Application settings startup </ h4>

A method called startup is defined in Sampleapp. This method is called only once when the application is initialized. Therefore, the settings related to the application will be made in this method. You will write the definition of dispatch etc. in the startup method.

<pre>
sub startup {
  my $ self = shift;

  #Routes
  my $ r = $ self-> routes;
  $ r-> get ('/')-> to ('main # default');
}
</ pre>

<h4> Methods often used in application classes </ h4>

Sampleapp inherits from Mojolicious, and Mojolicious inherits from Mojo, so you can use those methods. Here are some of the most commonly used methods.

<b> log --Getting a logger </ b>

Mojolicious has a function to output logs according to the setting level. That feature is implemented in the class "<a href="http://search.cpan.org/dist/Mojo/lib/Mojo/Log.pm"> Mojo :: Log </a>".

The application class has a Mojo :: Log object and can be retrieved with the "log" method. In the startup method, $ self is an object that represents the application, so you can call log from here.

<pre>
sub startup {
  my $ self = shift;

  #Getting a logger
  my $ log = $ self-> log;
    
  # Output to log at debug level
  $ log-> debug ('message');
}
</ pre>

<b> home --Get home object </ b>

Mojoliciou has a class called "Mojo :: Home" that represents the home directory of the application. Use the "home" method to get this object.

<pre>
sub startup {
  my $ self = shift;

  #Get home object
  my $ home = $ self-> home;
}
</ pre>

<h3> Read the configuration file </ h3>

Use Mojolicious :: Plugin :: Config to read the configuration file. Below is a sample that loads myapp.conf in the application's home directory.

<pre>
#Mojolicious Lite
my $ conf = plugin ('Config', {file => $ self-> app-> home-> rel_file ('myapp.conf')});

#Mojolicious
my $ conf = $ self-> plugin (
  'Config',
  {file => $ self-> app-> home-> rel_file ('myapp.conf')}
);
</ pre>

Below is a sample configuration file. Database information etc. can be written in the configuration file.

<pre>
{
  db_dsn => "DBI: mysql: database = bookshop;",
  db_user => "ken",
  db_password => "FJ5klsd% &"
}
</ pre>

<h4> Customize the configuration file according to the mode </ h4>

Mojolicious allows you to customize the contents of the configuration file according to the mode. The setting according to the mode

<pre>
myapp.production.conf
</ pre>

like

<pre>
Configuration file name.mode name.extension
</ pre>

Write in the file named.

For example, to customize the database password for production, overwrite the value of db_password as follows:

<pre>
# myapp.production.conf
{
  db_password => "change !!!!"
}
</ pre>

<h3> Read two config files </ h3>

Sometimes you may want to separate the config files and read the two config files. In that case, you can simply use the Config plugin twice. If the hash keys are the same, the settings will be overwritten.

<pre>
$ app-> plugin (Config => {file =>$ conf_file1});
$ app-> plugin (Config => {file => $ conf_file2});
</ pre>

<h3> Log generation management </ h3>

When Mojolicious is operated with hypnotoad in the production environment, a log called production.log will be gradually accumulated.

If you use CentOS to manage logs, it is easy to use logrotate. Place the logrotate configuration file in the directory where your application is located. This time, suppose you have a webapp directory under your home directory.

<pre>
cd webapp
mkdir logrotate
cd logrotate
vi logrotate.conf
</ pre>

Describe the configuration file as follows. It is set to copy and rotate the log file once a week.

<pre>
/home/ken/webapp/log/production.log {
  weekly
  copytruncate
  rotate 12
  missingok
}
</ pre>

After that, let's register the command that actually executes the rotation in crontab.

<pre>
crontab -e
</ pre>

Describe the following contents.
<pre>
0 0 * * * /usr/sbin/logrotate -s $ HOME / webapp / logrotate / logrotate.status $ HOME / webapp / logrotate / logrotate.conf
</ pre>

<h3> Change the browser shortcut icon (favicon) </ h3>

Mojolicious displays a cloud-marked favicon by default, but it's easy to change.

Just place it under the public directory with the name <b> favicon.ico </ b>.

<pre>
public
  --favicon.ico
</ pre>

The old favicon is cached in your browser, so you may need to clear your browser's cache when checking.

If you want to set up a favicon by specifying a file name, specify <b> shortcut icon </ b> in rel in the HTML link tag and do as follows. A favicon is installed under the public directory with the name <b> example.ico </ b>.

<pre>
use Mojolicious :: Lite;

get'/' =>'index';

app-> start;

__DATA__

@@ index.html.ep
<html>
  <head>
    <link rel = "shortcut icon" href = "<% = url_for'/example.ico'%>">
    <title> Favicon Example </ title>
  </ head>
  <body>
    Favicon Example
  </ body>
</ html>
</ pre>

<h3> How to use Mojolicious with Perl 5.8.7 </ h3>

Version 5 of Cent OS is still widely used and I think it will take a long time to move to the new version. The Perl version is sadly 5.8.7. And the good news is that I have a project that backports Mojolicious so that it can run in Perl 5.8.7.

<ul>
  <li>
    <big> <big> <a href="https://github.com/jamadam/mojo-legacy/commits/master"> Mojo Legacy </a> </ big> </ big>
  </ li>
</ ul>

You can use it to write highly portable web applications using Mojolicious.

<h3> Check the log </ h3>

When developing with Mojolicious, there are times when you want to see what kind of error is occurring, such as when the source code is incorrect. In such a case, let's check the log.

If the <b> log </ b> directory is in the same directory as the script, the log will be output to that directory, otherwise the content will be output to the standard error output.

It is usually convenient to create a <b> log </ b> directory.
<pre>
For #Mojolicious :: Lite
myapp.pl
log /
</ pre>

<pre>
For #Mojolicious
script / myapp
log /
</ pre>

<h4> Log name </ h4>

The log is output to the log directory, but the log name has the following rules.

<pre>
Mode name.log
</ pre>

For example, if you are running your application in <b> development mode </ b> using <a href="/blog/20120406133367.html"> morbo </a>, the log name will be development.log. .. This is because the default mode when running on morbo is development.

<pre>
log / development.log
</ pre>

Also, when running with hypnotoad in a <b> production environment </ b>, the log name will be production.log. This is because production is set by default as the mode name when running with hypnotoad.

<pre>
log / production.log
</ pre>

Use the mode method (Mojolicious class) to change the mode.

<pre>
#Mojolicious :: Lite example
app-> mode ('test');

# Mojolicious example
sub startup {
  my $ self = shift;
  $ self-> mode ('test');
}
</ pre>

<h4> A convenient way to check logs on Unix / Linux </ h4>

On Unix / Linux, it is convenient to check the log by using the <b> tail </ b> command. When a new log is output, its contents are automatically displayed.

<pre>
tail -f log / development.log
</ pre>

<h4> Dump data dumper </ h4>

When writing a web application, you often want to dump the data. In Mojolicious, you can simply do a die to call the exception class template and dump the data.

Using <strong> dumper </ strong>, it looks like this:

<pre>
die dumper $ data;
</ pre>

<h3> Get a remote IP address </ h3>

To get the remote IP address, use the <b> remote_address </ b> method of Mojo :: Transaction. This gets the CGI environment variable that corresponds to <b> remote host (REMOTE_ADDR) </ b>.

<pre>
# Get remote IP address
$ c-> tx-> remote_address;
</ pre>

Get the Mojo :: Transaction object from the controller object with the <b> tx </ b> method and then call the <b> remote_address </ b> method to get the remote IP address.

<h3> Get user agent (HTTP header User-Agent) </ h3>

To get the accessing user agent (User-Agent), use the <b> user_agent </ b> method of Mojo :: Header.

<pre>
#Get user agent header
$ c-> req-> headers-> user_agent;
</ pre>

Get the Mojo :: Request object from the controller object with the <b> req </ b> method, get the Mojo :: Header object with the <b> headers </ b> method, and from there the <b> user_agent </ b> method call.

<h3> Check if the connection is secure from https </ h3>

Use the <strong> is_secure </ strong> method of the <strong> Mojo :: Message :: Request </ strong> class to find out if the connection is a <strong> secure connection from https </ strong> increase.

<pre>
my $ secure = $ req-> is_secure;
</ pre>