<h2> Enable Delete key of Tera Term </ h2>

By default, Tera Term behaves strangely on some keyboards, including the delete key. To fix this, you need to modify the keyboard configuration file of Tera Term.

<h4> Keys that need to be modified </ h4>

It seems that the arrangement of the following 6 keys is misplaced.

<pre>
Delete
Insert
Home
End
PageUp
PageDown
</ pre>

<h4> Modify keyboard configuration file </ h4>

Modify the keyboard configuration file. The actual keyboard file is KEYBOARD.cnf, but I'm not sure that file is a shortcut for the abbreviated dial.

[f: id: perlcodesample: 20090104113504p: image]

You can't open it as it is, so open Notepad and drag and drop this icon there. Then you can open it. Copy the original file somewhere and save it. Modify the following parts as follows.

<pre>
; Insert key
Find = 338
Home key
Insert = 327
; PageUp key
Remove = 329
; Delete key
Select = 339
; End key
Prev = 335
; PageDown key
Next = 337
</ pre>
↓
<pre>
; Insert key
Insert = 338
Home key
Find = 327
; PageUp key
Prev = 329
; Delete key
Remove = 339
; End key
Select = 335
; PageDown key
Next = 337
</ pre>

<h3> Settings that should not be forgotten </ h3>

There is one more task. Restart Tera Term and from the menu bar

<pre>
setup-> keyboard
</ pre>

Go to and uncheck "BackSpace key" and "Del key" in Transmit DEL by. You should now be able to use the del key as usual.

<hr>
<a href="/blog/20090820124848.html"> CentOS memo </a>