<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop = "name"> Object Oriented </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> Constructor arguments </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Allow arguments to be passed to the constructor </h2>



This time, let's make it possible to pass arguments to the constructor.

<h3> 1. Pass arguments to the constructor. </h3>
When creating an object
<pre>
my $ book = Book-> new (title =>'Good news', author =>'Kimoto');
</pre>

Is ideal.

Let's create a constructor with such a function.

<pre>
sub new {
  my ($ class,% args) = @_;
  my $ self = {% args};
  return $ self, $ class;
}
</pre>

There is nothing particularly difficult.

<h3> 2. I also want to accept hash references </h3>

You'll want to accept hashes as well as <b> hash references </b>. Like this.

<pre>
my $ book = Book-> new ({title =>'Good news', author =>'Kimoto'});
</pre>

The constructor that can be supported is like this.

<pre>
sub new {
    my ($ class, @args) = @_;
    my% args = ref $ args [0] eq'HASH'?% {$ args [0]}: @args;
    my $ self = {% args};
    return $ self, $ class;
}
</pre>

If the first argument is a hash reference, dereference it and assign it to the hash. If not, assign the argument as a hash.

<h3> 3. I want to set a default value in the constructor </h3>

Now, the demands on the constructor are still going on. For example, if you want to <b> set a default value </b> when no value is assigned.

<pre>
sub new {
  my ($ class, @args) = @_;
  my% args = ref $ args [0] eq'HASH'?% {$ args [0]}: @args;
  my $ self = {% args};
 
  $ self-> {title} || ='default title';
  $ self-> {author} || ='default author';

  return $ self, $ class;
}
</pre>

Please pay attention to the following part. If the <b> value is a false value, the default value is assigned </b>.

<pre>
  $ self-> {title} || ='default title';
  $ self-> {author} || ='default author';
</pre>

However, with this, the default value will be set even if an empty string is assigned, so if that is not the case, use the <b> defined </b> function.

<pre>
  $ self-> {title} ='default title' unless defined $ self-> {title};
</pre>

will do.