<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> Basic grammar </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Perl Basic Grammar Fastest Master </h2>



Is there anyone who needs Perl in the IT field and is studying now? If you know some other languages ​​and read "Perl Basic Grammar Fastest Master", the basics of how to use Perl You can master and write Perl.

<h3> Basics </h3>

<h4> Grammar check </h4>

Be sure to write the following two lines first to make the grammar check strict.

<pre>
use strict;
use warnings;
</pre>

By adding two lines, "<a href="/blog/20130912137895.html"> use strict</a>" and "<a href="/blog/20130916137930.html"> use warnings</a>" Since the grammar is checked in advance, the work of writing the source code becomes faster and the quality of the code improves.

<h4> print function </h4>

Use the <a href="/blog/20170404149131.html"> print function</a> to print the string.

<pre>
print "Hello world";
</pre>

In Perl, you can omit the parentheses in standard or predefined functions.

<h4> Comments </h4>

Perl's <a href="/blog/20130712137361.html"> comment</a>.

<pre>
# comment
</pre>

<h4> Variable declaration </h4>

Variable declaration. Perl variables are declared using <b> my </b>. Variables include scalar variables, array variables, and hash variables.

<pre>
# Scalar variable
my $num;

# Array variables
my @students

# Hash variable
my %month_num;
</pre>

For a detailed explanation of variables, such as variable scope and lifetime, see the following articles.

<ul>
  <li>
    <a href="/blog/20161107147852.html"> Understand Perl variables</a>
  </li>
</ul>

<h4> Script execution </h4>

To run the script, at the command line:

<pre>
perl script.pl
</pre>

Use redirection to write the output to a file.

<pre>
perl script.pl> file.txt
</pre>

Windows requires a command prompt to run the script. Please refer to the following article for how to use the command prompt.

<ul>
  <li>
    <a href="/blog/20080603121251.html"> How to use the command prompt to run Perl</a>
  </li>
</ul>

<h4> Compile check </h4>

To perform a compile check in advance, do the following on the command line.

<pre>
perl -c script.pl
</pre>

<h4> Debugger startup </h4>

Perl comes standard with a debugger. To start the debugger, do the following on the command line:

<pre>
perl -d script.pl
</pre>

Please refer to the following for details on how to use the debugger.

<ul>
  <li>
    <a href="/blog/20100302126967.html"> Perl Debugger Guide</a>
  </li>
</ul>

<h3> Numerical value </h3>

<h4> Numerical representation </h4>

You can assign a number to a scalar variable. You can assign either an integer or a decimal. If the number of digits is large, the underscore can be used as a delimiter.

<pre>
my $num = 1;
my $num = 1.234;
my $num = 100_000_000;
</pre>

Such a numerical representation is called a numeric literal. See the following articles for more information on numerical literals.

<ul>
  <li>
    <a href="/blog/20080826121977.html"> Numeric literals - Representation of numbers in source code</a>
  </li>
</ul>

<h4> Four arithmetic operations </h4>

It is an arithmetic operation.

<pre>
$num = 1 + 1;
$num = 1 - 1;
$num = 1 * 2;
$num = 1 / 2;
</pre>

How to find a quotient. To find the quotient, perform ordinary division and then extract the integer part with the int function.

<pre>
# Quotient
$div = int(3/2);

# Remainder
$mod = 3 % 2;
</pre>

See the following articles for a detailed explanation of the four arithmetic operations.

<ul>
  <li>
    <a href="/blog/20080910122105.html"> Operators that perform four arithmetic operations</a>
  </li>
</ul>

<h4> Increment and decrement </h4>

<a href="/blog/20180224151948.html"> Increment</a> and <a href="/blog/20180226151973.html"> Decrement</a>.

<pre>
# Increment
$i++

# Decrement
$i--
</pre>

<h3> String </h3>

<h4> String representation </h4>

Enclose the string in single or double quotes. You can use special characters such as\t (tab) and\n (newline) in double quotes. You can also expand variables in a string enclosed in double quotes.

<pre>
my $str1 ='abc';
my $str2 = "def";
my $str3 = "a\tbc\n";

# Variable expansion (result is abc def)
my $str4 = "$str1 def";
</pre>

<h4> String manipulation </h4>

Various character string operations. Dot operator to concatenate strings, <a href="/blog/20081007122338.html"> join function</a>, split string <a href="/blog/20080301120434.html"> split function </a>, <a href="/blog/20080926122245.html"> length function</a> to get the length, <a href="/blog/20080224120386.html"> substr function to replace the string <a href="/blog/20080224120386.html"> substr function </a>, <a href="/blog/20080225120395.html"> index function</a> for searching, etc.

<pre>
# Join
my $join1 ='aaa'.' Bbb';

my $join2 = join(',','aaa','bbb','ccc');

# Split
my @record = split(/, /,'aaa, bbb, ccc');

# length
my $length = length'abcdef';

# Cut out
my $substr = substr('abcd', 0, 2); # ab

# search
my $result = index('abcd','cd'); # Returns its position if found, -1 if not found
</pre>

<h3> Array </h3>

Let's take a brief look at Perl arrays.

<h4> Array declaration and assignment </h4>

Array declaration and assignment. An array is a variable to which you can assign multiple values.

<pre>
# Array declaration
my @array;

# Assignment to array
@array = (1, 2, 3);
</pre>

<h4> Array element reference and assignment </h4>

References and assignments to array elements.

<pre>
# Element reference
$array [0];
$array [1];

# Element assignment
$array [0] = 1;
$array [1] = 2;
</pre>

<h4> Number of arrays </h4>

To get the number of arrays, evaluate the arrays in a scalar context. It's a slightly special grammar found only in Perl.

<pre>
my $array_num = @array;
</pre>

<h4> Array manipulation </h4>

A function that manipulates arrays.

<pre>
# Extract the first element
my $first = shift @array;

# Add element at the beginning
unshift @array, 5;

# Extract the last element
my $last = pop @array;

# Add element at the end
push @array, 9;
</pre>

See the following articles for a detailed explanation of arrays.

<ul>
  <li>
    <a href="/blog/20161012147627.html"> Let's understand Perl arrays</a>
  </li>
</ul>

<h3> Hash </h3>

Let's take a brief look at Perl hashes.

<h4> Hash declaration and assignment </h4>

Hash declaration and assignment. A hash is a variable to which you can assign multiple pairs of values.

<pre>
my %hash;
%hash = (a => 1, b => 2);
</pre>

<h4> Hash element reference and assignment </h4>

Hash element references and assignments.

<pre>
# Element reference
$hash {a};
$hash {b};

# Element assignment
$hash {a} = 5;
$hash {b} = 7;
</pre>

If the hash key consists of "a-zA-Z_", it does not need to be enclosed in single or double quotes.

<h4> Hash functions </h4>

<pre>
# Get key
@keys = keys %hash;

# Get value
@values ​​= values %hash;

# Key existence confirmation
exists $hash {a};

# Delete hash key
delete $hash {a};
</pre>

See the following articles for more information on hashing.

<ul>
  <li>
    <a href="/blog/20161013147635.html"> Master Perl hashes</a>
  </li>
</ul>

<h3> Conditional branch </h3>

Describes Perl's conditional branching syntax.

<h4> if statement </h4>

If statement.

<pre>
if (condition) {
    
}
</pre>

<h4> if ~ else statement </h4>

If ~ else statement.

<pre>
if (condition) {
    
}
else {
    
}
</pre>

<h4> if ~ elsif statement </h4>

if ~ elsif statement.

<pre>
if (condition) {
    
}
elsif (condition) {
    
}
</pre>

Note that it is elsif, not else if like other languages.

<h4> Comparison operator </h4>

A list of comparison operators. Perl makes a strict distinction between numeric and string comparisons.

<b> [A] List of numeric comparison operators </b>

<table>
  <tr>
    <td>
      $p == $q
    </td>
    <td>
      $p and $q are equal
    </td>
  </tr>

  <tr>
    <td>
      $p! = $q
    </td>
    <td>
      $p and $q are not equal
    </td>
  </tr>

  <tr>
    <td>
      $p <$q
    </td>
    <td>
      $p is less than $q
    </td>
  </tr>

  <tr>
    <td>
      $p> $q
    </td>
    <td>
      $p is greater than $q
    </td>
  </tr>

  <tr>
    <td>
      $p <= $q
    </td>
    <td>
      $p is less than $q
    </td>
  </tr>

  <tr>
    <td>
      $p> = $q
    </td>
    <td>
      $p is over $q
    </td>
  </tr>

</table>

<b> [B] List of string comparison operators </b>

<table>
  <tr>
    <td>
      $s eq $t
    </td>
    <td>
      $s equals $t
    </td>
  </tr>

  <tr>
    <td>
      $s ne $t
    </td>
    <td>
      $s is not equal to $t
    </td>
  </tr>

  <tr>
    <td>
      $s lt $t
    </td>
    <td>
      $s is less than $t
    </td>
  </tr>

  <tr>
    <td>
      $s gt $t
    </td>
    <td>
      $s is greater than $t
    </td>
  </tr>

  <tr>
    <td>
      $s le $t
    </td>
    <td>
      $s is less than $t
    </td>
  </tr>

  <tr>
    <td>
      $s ge $t
    </td>
    <td>
      $s is over $t
    </td>
  </tr>

</table>

See below for a detailed explanation of Perl's conditional branching.

<ul>
  <li>
    <a href="/blog/20161023147731.html"> Learn the syntax of conditional branching using if statements</a>
  </li>
</ul>

<h3> Repeat syntax </h3>

Learn about Perl's iterative syntax.

<h4> while statement </h4>

<a href="/blog/20100123126425.html"> while statement</a>.

<pre>
my $i = 0;
while ($i <5) {
    
    # process
    
    $i++;
}
</pre>

<h4> for statement </h4>

It is a for statement.

<pre>
for (my $i = 0; $i <5; $i++) {
  ...
}
</pre>

<h4> foreach statement </h4>

It is a foreach statement. You can process each element of the array. foreach is an alias for for and is essentially the same.

<pre>
foreach my $field (@fields) {
  ...
}
</pre>

Perl's iterative syntax is explained in detail in the next article.

<ul>
  <li>
    <a href="/blog/20170521149524.html"> Let's learn the iterative processing using for statement and while statement</a>
  </li>
</ul>

<h3> Subroutine </h3>

In Perl, a function is also called a subroutine. To create a subroutine:

<pre>
sub sum {
  my ($num1, $num2) = @_;
  
  my $total = $num1 + $num2;
  
  return $total;
}
</pre>

Perl doesn't require you to explicitly specify argument names like in other languages. Since the argument is contained in the array @_, use it as needed. Use return to return the return value.

The following article explains in detail how to create a subroutine.

<ul>
  <li>
    <a href="/blog/20101130129876.html"> How to create a subroutine</a>
  </li>
</ul>

<h3> File input / output </h3>

File input / output.

<pre>
open my $fh,'<', $file
  or die "Cannot open'$file': $!";

while (my $line = <$fh>) {
  ...
}

close $fh;
</pre>

When you open a file with the open function, the file handle is assigned to $fh. '<' Is the read mode. When writing, use'>'. You can read a line from a file with the description <$fh>. After or, it is executed when the file open fails. die is a function that displays an error message and terminates the program. $! Is an error message from the OS when the file open fails.

Perl's file I / O is explained in detail on the following pages.

<ul>
  <li>
    <a href="/blog/20110212130370.html"> Basics of file input / output</a>
  </li>
</ul>

<h3> Grammar you should know </h3>

Here's a list of grammars you should know that often appear in Perl.

<h4> Perl truth value </h4>

<a href="/blog/20080323120628.html"> Perl boolean</a> has the following definition: There are four types of values ​​that Perl determines to be false: "undef", "''", "0", and "'0'". Everything else is true.

<h4> Determine if a defined value is defined </h4>

Use the <a href="/blog/20100219126425.html"> defined function</a> to see if a value is defined.

<pre>
defined $num;
</pre>

<h4> Command line arguments </h4>

Use the @ARGV variable to receive <a href="/blog/20080108132865.html"> command line arguments</a>.

<pre>
my ($file, $options) = @ARGV;
</pre>

If you want to receive only one command line argument, you can write: Implicitly @ARGV is passed as an argument to shift.

<pre>
my $file = shift;
</pre>

<h4> Scalar context and list context </h4>

In Perl, some functions have different return values ​​depending on the context. For example, the localtime function. This is a Perl-specific grammar called <a href="/blog/20080608121292.html"> context</a>.

<pre>
# Scalar context (get date / time as a character string)
my $time_str = localtime();

# List context (get each element of date and time as an array)
my @datetime = localtime();
</pre>

<h4> unless statement </h4>

The <a href="/blog/20100125126425.html"> unless statement</a> expresses the negation of the if statement.

<pre>
unless (condition) {
  ...
}
</pre>

<h4> Postfix if, Postfix unless </h4>

In Perl you can put if or unless after a statement.

<pre>
# Postfix if
print $num if $num> 3;

# Postfix unless
die "error" unless $num;
</pre>

<h4> Postfix for </h4>

In Perl you can put a for after a statement.

<pre>
# Postfix for
print $_ for @nums;
</pre>

The values ​​are sequentially assigned to "$_".

<h4> Array slices and hash slices </h4>

Use <a href="/blog/20080216120316.html"> array slice</a> and <a href="/blog/20080215120307.html"> hash slice</a> to get only the specified elements as an array I can do it.

<pre>
# Array slice
@select = @array [1, 4, 5];

# Hash slice
@select = @hash {'a','b','d'};
</pre>

<h4> map function </h4>

You can use the <a href="/blog/20100118126425.html"> map function</a> to transform each element of the array. The elements of @array are assigned to $_ in order.

<pre>
@mapped = map {$_ * 2} @array;
</pre>

<h4> grep function </h4>

You can use <a href="/blog/20100119126425.html"> grep function</a> to get only the elements that match the conditions as an array. The elements of @array are assigned to $_ in order.

<pre>
@select = grep {$_ = ~'cat'} @array;
</pre>

<h4> List assignment </h4>

<a href="/blog/20100308126967.html"> List</a> There is an assignment method called assignment.

<pre>
my ($num1, $num2) = ($num3, $num4);
</pre>

<h4> Range operator </h4>

There is something called <a href="/blog/20170520149523.html"> range operator</a> that represents a range of integers.

<pre>
my @numes = (0 .. 5);
</pre>

<h4> String list operator </h4>There is something called a <a href="/blog/20080222120369.html"> string list operator</a> that makes it easy to write a list of strings.

<pre>
my @strs = qw (aaa bbb ccc);
</pre>

<h4> Single return </h4>

If you write return in a subroutine, <a href="/blog/20100220126425.html"> undef</a> will be returned in the case of scalar context, and an empty list () will be returned in the case of list context. .. If you want to use the return value to tell that an error has occurred in a subroutine, write return instead of return undef.

<pre>
sub name {
  my @args = @_;
  
  return;
}
</pre>

<h4> Exception handling </h4>

Use the <a href="/blog/20100212126425.html"> die function</a> to throw an exception.

<pre>
die "Error message";
</pre>

To catch the exception, use the <a href="/blog/20100312126967.html"> eval block</a> to determine $@.

<pre>
eval {functions that die can occur, etc.};

if ($@) {
  ...
}
</pre>

<h4> Read everything from a file </h4>

There is no function to read everything from a file, so read all the lines into an array and connect them with the <a href="/blog/20081007122338.html"> join function</a>.

<pre>
my @lines = <$fh>;
my $content = join('', @lines);
</pre>

This can be written in one line.

<pre>
my $content = join('', <$fh>);
</pre>

<h4> Ternary operator </h4>

<a href="/blog/20080325120646.html"> Ternary operator</a>. In the sample below, 1 is assigned to $num if $flg is true, and 2 is assigned to $num if it is false.

<pre>
my $num = $flg? 1: 2;
</pre>

<h4> || = </h4>

Substitutes the rvalue if the lvalue is a false value. In the case of the sample below, 2 is assigned to $num if $num is a false value.

<pre>
$num || = 2;
</pre>

<h4> // = </h4>

Defined-or operator. Substitutes the rvalue if the lvalue is undefined. In the sample below, 2 is assigned to $num if $num is undefined.

<pre>
$num // = 2;
</pre>

<h4> Loading modules </h4>

Use <a href="/blog/20090205123287.html"> use</a> to load the module.

<pre>
use module name;
</pre>

<h4> Write a configuration file in Perl </h4>

Use the <a href="/blog/20090208123289.html"> do function</a> to read the configuration file written in Perl.

<pre>
my $conf_file = "app.conf";
my $conf = do $conf_file
  or die qq / Can't load config file "$conf_file": $! $@/;
</pre>

The contents of the configuration file.

<pre>
{
  name =>'Foo',
  number => 9
}
</pre>

If the file is not read or parsed successfully, the undefined value will be returned. If the file name does not exist, $! Will be set, and if the Perl source code fails to load, $@will be set to the error content.

<h4> Multi-line comment </h4>

You can comment on multiple lines by writing as follows.

<pre>
= pod

The text you want to comment on

= cut
</pre>