<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop = "name"> Object Oriented </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> What is object-oriented programming? </Span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> What is object-oriented programming? </H2>



Before describing what is object-oriented, let's use a module written in object-oriented.

<h3> How to use modules written in object orientation </h3>

To use a module written in object orientation, first load the module using <strong> use </strong>. Let's load the CGI module.

<pre>
use CGI;
</pre>

To create an object, write <strong> module name-> new </strong>. Assigning the created object to $ cgi.

<pre>
my $ cgi = CGI-> new ();
</pre>

<strong> new is a method for creating objects </strong> and is called a constructor. At first, you can think of a <strong> method as a function that can be called from-> </strong>.

Let's call methods other than new.

<pre>
my $ str = $ cgi-> h1 ('a');
</pre>

h1 method receives a string

<pre>
<h1> ... </h1>
</pre>

Will be returned.

<h3> Sample </h3>

The description so far is summarized in a sample.

<pre>
use strict;
use warnings;

use CGI;
my $ cgi = CGI-> new;
my $ str = $ cgi-> h1 ('a');

# <h1> a </h1> is output
print $ str;
</pre>

<h3> Object-oriented features </h3>

In object orientation, <strong> methods are called from module names or objects </strong> using->.

<table>
  <tr>
    <td>
      Description
    </td>
    <td>
      How to call the method
    </td>
  </tr>

  <tr>
    <td>
      CGI-> new ()
    </td>
    <td>
       Call from module name
    </td>
  </tr>

  <tr>
    <td>
      $ cgi-> h1
    </td>
    <td>
       Call from object
    </td>
  </tr>

</table>

One of the object-oriented features is that the method is called from the module name or the object.

<h3> How to use classes in Java </h3>

You can see that the description in java is almost the same as Perl.

<pre>
import java.awt.Button;
import java.lang.Math;

Call the constructor (corresponding to new) from the #Button class
Button btn = new Button ();

# Call the paint method to draw from the btn object
btn.paint ();

#Call the abs method that returns the absolute value from the Math class
Math.abs (-3);
</pre>

<h3> What is a Perl class? </H3>

Perl doesn't have a dedicated grammar for creating classes. When we talk about classes in Perl, we just mean modules written in an object-oriented way.