<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20100827127859.html">      <span itemprop = "name">Regular expression </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Match to the end of the string-\ z </h2>



Use <strong>\z </strong> to represent the end of a string with a regular expression.

The difference from "$" is that the meaning does not change even if you use the m option. When using the m option, the "$" now represents the end of the line instead of the end of the string.

<pre>
my $str = "abc\ndef";
if ($str =~ /def\z/m) {
  # Match to the end of the string
}
</pre>