<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> database </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Database basics learned with SQLite </h2>



Explains the basics of databases and SQL using Perl and SQLite. I will explain from the basics of the basics, so I think that you can learn without difficulty. Database technology is used frequently and should be remembered.

<ol>
  <li>
    <a href="/blog/20091121124667.html"> Basics of DBI learned with SQLite</a> - I will explain how to use a database from Perl using DBI.
  </li>
  <li>
    <a href="/blog/20091203126018.html"> Install SQLite on Windows</a> - I will explain how to use SQLite from the command prompt of Windows.
  </li>
  <li>
    <a href="/blog/20091206126018.html"> SQL basics learned with SQLite</a> - I will explain the basics of SQL with a focus on select statements.
  </li>
</ol>