<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20091116124667.html">      <span itemprop = "name">Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> IO::ScalarArray - Active in standard input testing </h2>



This time, I will explain the automatic test of standard input using "IO::ScalarArray".

<h3> 1. How to feed data to standard input </h3>

The standard input STDIN is a handle for input, and data cannot be written to it from within the program.

It is not possible to input data to the standard input, but it is possible to perform a simulated test. Read lines from standard input using a mechanism called tie

<pre>
<STDIN>
</pre>

Can be linked to the description of reading data from a variable. (I won't explain in detail here, but kits's <a href="http://www.akatsukinishisu.net/itazuragaki/perl/tie_stdin.html">tie replaces STDIN</a> article explains how to do this. It has been.)

<h3> 2. Standard input test using IO::ScalarArray </h3>

IO::ScalarArray is a module that uses the tie mechanism to enable descriptions that flow data into standard input. Use it as follows.

First, create an array of the data you want to flow into the standard input. Since the standard input has one line break, add a line break at the end of the data.

Pass it to new in IO::ScalarArray to create the object. Then use a typeglob to make STDIN an alias for $stdin.

<pre>
use IO::ScalarArray;
{
  my @inputs = ("1\n", "2\n", "3\n");
  my $stdin = IO::ScalarArray->new (\@inputs);
  local * STDIN = * $stdin;
  # Exam description
}
</pre>

(Reference) <a href="/blog/20080309120507.html">local</a>

<h3> 3 Standard input automatic test sample </h3>

This is a test of a program that asks questions interactively. The question function is a function that asks if you are a man.

<pre>
use Test::More tests => 1;
use strict;
use warnings;

use IO::ScalarArray;

{
  my @answers = ("y\n");
  my $stdin = IO::ScalarArray->new (\@answers);
  
  local * STDIN = * $stdin;
  
  my $is_man = question ();
  ok ($is_man, 'He is man');
}

# Function to ask if you are male
sub question {
  print "Are you man?\n";
  my $answer = <STDIN>;
  
  chomp $answer;
  my $is_man;
  if ($answer eq 'y') {$is_man = 1}
  else {$is_man = 0}
  
  return $is_man;
}
</pre>

<h3> How to use scalar input/output </h3>
This is a sample that uses Perl's scalar input/output function.

<pre>
use Test::More tests => 1;
use strict;
use warnings;

{
  my $inputs = << "EOS";
y\n
n\n
EOS

  # How to use scalar input/output
  open my $stdin, "<", \$inputs;
  
  local * STDIN = * $stdin;
  
  my $is_man = question ();
  ok ($is_man, 'He is man');
  
  $is_man = question ();
  ok (! $Is_man, 'He is not man');
}

# Function to ask if you are male
sub question {
  print "Are you man?\n";
  my $answer = <STDIN>;
  
  chomp $answer;
  my $is_man;
  if ($answer eq 'y') {$is_man = 1}
  else {$is_man = 0}

  return $is_man;
}
</pre>