<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">      <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">      <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>do-block that returns a value, load a script</h2>



You can use <b> do </b> to create a block that returns the last evaluated value for block syntax. For string syntax, you can specify the name of the file and load the script.

<pre>
# do block-a block that returns the last value
do {...};

# do string-load script
do $file_name;
</pre>

Note that the block syntax and the string syntax have completely different functions. Let's take a closer look at each syntax.

<h3>Block that returns the last value - do block</h3>

You can use the <b> do block </b> to create a block that returns the last evaluated value.

<pre>
# do block
my $value = do {
  1;
  2;
  3;
};
</pre>

If you write as above, 3 will be returned and 3 will be assigned to $value.

There is no particular reason to use this syntax when programming normally, but it is customary to use this syntax if you want to read the contents of a file all at once.

<h4>Read the contents of the file at once</h4>

The following description allows you to read all the contents of a file at once.

<pre>
my $content = do {local $/; <$fh>};
</pre>

A detailed explanation of this description is given below.

<ul>
  <li>
    <a href="/blog/20180521152690.html">Read the entire contents of the file</a>
  </li>
</ul>

local is explained in "<a href="/blog/20080309120507.html">local - temporarily save and restore package variables</a>".

<h3>Loading script - do string</h3>

You can use the <b> do string </b> syntax to read a file as Perl source code.

A common method is to write the configuration file in Perl and read it.

<h4>Write the configuration file in Perl</h4>

It is convenient to write the configuration file in Perl.

<pre>
my $conf_file = "app.conf";
my $conf = do $conf_file
  or die qq/Can't load config file "$conf_file":$! $@/;
</pre>

The contents of the configuration file.

<pre>
{
  name =>'Foo',
  number => 9
}
</pre>

If the file is not read or parsed successfully, the undefined value will be returned. If the file name does not exist, $! Will be set, and if the Perl source code fails to load, $@will be set to the error content.

The configuration file can be written in XML or JSON, but it's easiest to write in Perl.

The do string syntax should only be used to load a script that describes the settings. If you want to load the module, use <a href="/blog/20090205123287.html">use</a> or <a href="/blog/20090207123288.html">require</a> ..