<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> IO::Capture - Capture standard output / standard error output </h2>

Occasionally I have tested standard output. For example, if you want to create interactive programming or test a function that uses print in your source code.

To get the standard output, use the module <a href="http://search.cpan.org/dist/IO-Capture/lib/IO/Capture.pm"> IO::Capture</a> increase. If you can get the standard output, just perform the automatic test as usual.

IO::Capture is not a standard module, so

<pre>
cpan IO::Capture
</pre>

Install with.

<h3> 1. Capture standard output </h3>

To get standard output, use the IO::Capture::Stdout module. It comes with the installation of the IO::Capture module.

The start method starts the capture, and the stop method ends the capture. You can then call the read method to get the captured standard output.

<pre>
use IO::Capture::Stdout;

my $capture = IO::Capture::Stdout-> new;
$capture-> start;
print "aaa";
$capture-> stop;
my $stdout = $capture-> read;
</pre>

If you want to get the standard output multiple times, you can write as follows.

<pre>
$capture-> start;
print "aaa";
print "bbb";
$capture-> stop;
my @stdout = $capture-> read;
</pre>

In the list context, you can get ("aaa", "bbb") by calling read.

<h4> How to capture standard output using only standard features </h4>

There was also a way to capture standard output using only standard features without using modules, so I'll describe it here.

This is a method to switch the output destination of STDOUT with the open function.

<pre>
my $stdout;

Start capturing # STDOUT
open my $temp,'> &', STDOUT;
close STDOUT;
open STDOUT,'>', \ $stdout;

print "hoge";

# STDOUT capture finished
close STDOUT;
open STDOUT,'> &', $temp;
close $temp;

print $stdout; # "hoge" is output
</pre>


<h3> 2. Capture standard error output </h3>

You can do the same with IO::Capture::Stderr.

<pre>
use IO::Capture::Stderr;

my $capture = IO::Capture::Stderr-> new;
$capture-> start;
print STDERR "aaa";
$capture-> stop;
my $stderr = $capture-> read;
</pre>

<h4> How to capture standard error using only standard features </h4>

There was also a way to capture standard error output using only standard features without using modules, so I will describe it here.

This is a method to switch the output destination of STDERR with the open function.

<pre>
my $stderr;

# Start capture STDERR
open my $temp,'> &', STDERR;
close STDERR;
open STDERR,'>', \ $stderr;

print STDERR "hoge";

# End capture STDERR
close STDERR;
open STDERR,'> &', $temp;
close $temp;


print $stderr; # "hoge" is output
</pre>