<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop = "name"> Object Oriented </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
      <span itemprop = "name"> Syntax </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> package </span>
    <meta itemprop = "position" content = "4" />
  </li>
</ol>
<h2> Create class --package </h2>



I will explain how to create a class.

<h3> 1. Make a package declaration to create a class. </h3>

There is no special syntax for creating classes in Perl. Create a class by making a <b> package declaration </b>.

<pre>
package Book;
</pre>

This completes the Book class.

<h3> 2. Class template constructor and accessor </h3>

The template for the monotype class looks like this. It consists of a <b> constructor </b> for creating the object and a <b> accessor </b> for accessing the fields of the object.

<pre>
package Book;

sub new {# Constructor implementation}

sub title {# Implementation of accessor}
sub author {# Implementation of accessor}
</pre>

In the case of a human type class, it looks like this.

<pre>
package File Parser;

sub new {# Constructor implementation}

sub encoding {# Implementation of accessor}
sub err_raise {# Implementation of accessor}

sub parse {
  #Implementation of method to parse file
}

</pre>

The class starts from this form. Next time, I will explain the implementation of the constructor.