<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> File :: Copy --Move and copy files </ h2>



The <strong> File :: Copy </ strong> module allows you to move and copy files.

<pre>
#Loading modules and importing functions
use File :: Copy qw / copy move /;
</ pre>

You can copy the file with the copy function and move the file with the move function. There is a standard function to move files called the rename function, but it does not support moving across file systems. If you want to move files, it's a good idea to use File :: Copy's move. Move can also be used when moving directories.

<pre>
#File copy
copy ($ from, $ to);

#Move file
move ($ from, $ to)
</ pre>

This is a sample to copy a file. Error processing is performed in case the file copy fails (* 1). Make sure to include the OS error message "$!" In the error message.

<pre>
#File copy
my $ from ='xxx';
my $ to ='yyy';

copy ($ from, $ to)
  or die "Can't copy \" $ from \ "to \" $ to \ ": $!";
</ pre>

This is a sample to move files. Performs error handling in case the file move fails. Make sure to include the OS error message "$!" In the error message.

<pre>
#Move file
my $ from ='xxx';
my $ to ='yyy';

move ($ from, $ to)
  or die "Can't move \" $ from \ "to \" $ to \ ": $!";
</ pre>

The file copy will fail if the file does not exist, or if the destination directory does not have write permissions.

<h3> Related articles </ h3>

<ul>
  <li>
    <a href="/blog/20080521121142.html"> Copy the file </a>
  </ li>
  <li>
    <a href="/blog/20080522121142.html"> Move the file (rename the file) </a>
  </ li>
</ ul>