<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20091116124667.html">      <span itemprop = "name">Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> JSON - Analyzing JSON data </​​h2>



You can use the <strong> JSON module </strong> to parse JSON data. JSON is a language for describing data and can represent data structures such as arrays and hashes. JSON is just a string, so it's portable. It is often used when exchanging data with other programming languages.

<pre>
# Loading modules and importing functions
use JSON qw / encode_json decode_json /;
</pre>

Use the <strong> decode_json function </strong> to convert JSON to a Perl data structure.

<pre>
# Convert JSON to Perl data structures
my $json_in ='[{"name": "Ken", "age": 19}, {"name": "Ken", "age": 25}]';

my $data = decode_json ($json_in);
</pre>

This translates into a Perl data structure that looks like this:

<pre>
# JSON
'[{" name ":" Ken "," age ": 19}, {" name ":" Ken "," age ": 25}]'
</pre>
▼
<pre>
# Perl
[
  {
    'name' =>'Ken',
    'age' => 19
  },
  {
    'name' =>'Ken',
    'age' => 25
  }
];;
</pre>

Conversely, use the <strong> encode_json function </strong> to convert Perl data structures to JSON.

<pre>
# Convert Perl data structures to JSON
my $json_out = encode_json ($data);
</pre>

<h3> Handling of Japanese in JSON module </h3>

You need to be a little careful when dealing with Japanese in the JSON module. You need to remember the following:

<ol>
  <li>
    decode_json converts from "UTF-8 byte string-JSON" to "internal string-Perl data"
  </li>
  <li>
    encode_json converts from "internal string-Perl data" to "UTF-8 byte string-JSON"
  </li>
</ol>

This relationship is illustrated below.

<pre>
UTF-8 byte string-JSON UTF-8 byte string-Perl data
                      \ \
encode_json is \
Conversion to top left \
                         \ decode_json is the conversion to the lower right
                          \ \
Internal string JSON Internal string-Perl data
</pre>

The conversion from top left to bottom right is done by decode_json, and the conversion from bottom right to top left is done by encode_json. There is no method to convert up / down or left / right.

For example, it is easy to make a mistake, but if you write the following, it will not work. (Since Japanese is handled in the script, the utf8 pragma is enabled and the script is saved in UTF-8.)

<pre>
# Common mistakes when dealing with Japanese. decode_json needs to receive UTF-8 byte string
use utf8;
use JSON'decode_json';

my $json ='{"name": "Masuda"}';

my $data = decode_json ($json);
</pre>

The reason this doesn't work is that $json has already been converted to an internal string because the utf8 pragma is enabled. This doesn't work because decode_json takes a byte string as an argument. You need to convert it to a UTF-8 byte string with the encode_utf8 function of the Encode module.

<pre>
# Correct example when dealing with Japanese
use utf8;
use JSON'decode_json';
use Encode'encode_utf8';

my $json ='{"name": "Masuda"}';

# Convert to UTF-8 byte string
$json = encode_utf8 ($json);

my $data = decode_json ($json);
</pre>

<h3> Read the JSON written in the file </h3>

Since the JSON module does not have a function to read a file, I will describe how to read from a file.

<pre>
# Sample to read JSON from file
use JSON'decode_json';

my $file = shift;

my $data = decode_json (get_content ($file));

# Function to get the contents of a file
sub get_content {
  my $file = shift;

  open my $fh,'<', $file
    or die "Can't open file \" $file \ ": $!";
  
  my $content = do {local $/; <$fh>};
 
  close $fh;

  return $content;
}
</pre>