<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Scalar :: Util - Utility for scalar values ​​</h2>



<strong> Scalar :: Util </strong> is a module that collects utilities related to scalar values.

<pre>
Using # Scalar :: Util
use Scalar :: Util'looks_like_number';
</pre>

<h3> Numerical functions </h3>

Use <strong> looks_like_number </strong> to determine if it is a number.

<pre>
# Judgment of whether it is a numerical value
$is_number = looks_like_number ($num);
</pre>

<h3> Other Scalar :: Util functions </h3>

Introducing other functions of Scalar :: Util.

<table>
  <tr>
    <td>
      * Function name
    </td>
    <td>
      *meaning
    </td>
  </tr>

  <tr>
    <td>
      blessed
    </td>
    <td>
      Find out if an object is breathed
    </td>
  </tr>

  <tr>
    <td>
      refaddr
    </td>
    <td>
      Returns the reference memory address
    </td>
  </tr>

  <tr>
    <td>
      reftype
    </td>
    <td>
      Returns the type of reference
    </td>
  </tr>

  <tr>
    <td>
      weaken
    </td>
    <td>
      Make the reference a weak reference
    </td>
  </tr>

  <tr>
    <td>
      unweaken
    </td>
    <td>
      Return reference to normal reference
    </td>
  </tr>

  <tr>
    <td>
      isweak
    </td>
    <td>
      Find out if the reference is a weak reference
    </td>
  </tr>

  <tr>
    <td>
      looks_like_number
    </td>
    <td>
      Whether it looks like a number
    </td>
  </tr>

</table>

<a href="http://search.cpan.org/dist/Scalar-List-Utils/lib/Scalar/Util.pm"> Scalar :: Util documentation </strong> for more information on Scalar :: Util functions Please see a>.