<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop = "name"> Syntax </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> while statement </ span>
    <meta itemprop = "position" content = "4" />
  </ li>
</ ol>

<h2> while statement --Repeat processing </ h2>

You can write a <strong> iterative process </ strong> using a while statement. Repeat the contents of the block while the condition is true.

<pre>
while (condition) {
  ...
}
</ pre>

<h3> Output numerical value from 0 to 2 </ h3>

This is a sample that outputs a numerical value from 0 to 2 using a while statement. The variable "$ i" is incremented at the end of the while statement. When "$ i" becomes 3, the condition becomes false, so the while exits.

<pre>
# Output numerical values ​​from 0 to 2
my $ i = 0;
while ($ i <= 2) {
  print "$ i \ n";
  $ i ++;
}
</ pre>

What is the difference between a while statement and a <a href="/blog/20080327120662.html"> for statement </a> (or <a href="/blog/20080328120673.html"> foreach statement </a>)? ??

You can write all the iterative processing with the while statement, but if you can write it with the for statement or foreach statement, it is better to write it using the for statement or foreach statement.

<pre>
# for statement
for (my $ i = 0; $ i <= 2; $ i ++) {
  print "$ i \ n";
}

# foreach statement
foreach my $ num (@nums) {
  print "$ num \ n";
}
</ pre>

As a side note, in Perl, the for statement and the foreach statement are exactly the same and can be rewritten to each other.

<h3> Sample using infinite loop </ h3>

A frequently used example of while is the description of an infinite loop. If you write 1 in the condition, the loop will repeat forever.

<pre>
while (1) {
  ...
}
</ pre>

To break out of the loop, use the <a href="/blog/20170527149589.html"> last statement </a>. Note that the loop escape is not a break statement but a last statement unlike C language.

In the example below, the <a href="/blog/20161012147627.html"> array </a> elements are removed one by one with the <a href="/blog/20100106126425.html"> pop function </a>. So, when there are no more elements in the array, it is judged by <a href="/blog/20161023147731.html"> if statement </a>, and the while block is exited by using the last statement.

<pre>
my @nums = (1, 2, 3);
while (1) {
  if (@nums) {
    pop @nums;
  }
  else {
    last;
  }
}
</ pre>

<h3> Read lines in order from standard input / command line arguments </ h3>

As an example often used in while statements, use <a href="/blog/20080722121673.html"> line input operator </a> to order lines from standard input or a file given as a command line argument. Let's load it into.

<pre>
#Read line
while (my $ line = <>) {
  #Skip only the first line
  next if $. == 1;
  
  # Remove line breaks
  chomp $ line;
  
  # process
  print "Line: $ line \ n";
}
</ pre>

In this sample, <a href="/blog/20080226120403.html"> chomp function </a> is used to remove line breaks and output with "Line:".

Using <a href="/blog/20161102147817.html"> special variable "$." </a> and <a href="/blog/20080329120687.html"> next statement </a>, the line number is Processing is skipped only at the first line.

Use this program as follows. Using the while statement and the line input operator, you can easily write a program that reads lines from a file or standard input.

<pre>
# When reading a file name from a command line argument
perl script.pl file

#When reading from standard input using a pipe
cat file> perl script.pl
</ pre>

This can be multiple files.

<pre>
# When reading a file name from a command line argument
perl script.pl file1 file2

#When reading from standard input using a pipe
cat file1 file2> perl script.pl
</ pre>


<h3> Related information </ h3>

The iterative process is explained in detail below.

<ul>
  <li>
    <a href="/blog/20170521149524.html"> Repeat with for statement and while statement </a>
  </ li>
</ ul>

Perl also has <a href="/blog/20171225151420.html"> do ~ while statement </a>, but since the next and last statements cannot be used as they are, it is strongly recommended to use the while statement. I recommend it.