<script> location.href = "https://mojolicious.perlzemi.com/blog/20101112127859.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span>
    </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Underwrite the process to be executed before all processes in Mojolicious </ h2>




For example, when performing authentication, I would like to check if I am logged in just before all the processing. In such a case, use a function called under. Create an under () from the root and specify the callback you want to execute. If the return value of the callback is true, the continuation processing is performed, and if it is false, the continuation processing is not performed.

<pre>
sub startup {
  my $ self = shift;
  
  my $ r = $ self-> routes;

  # certification
  $ r = $ r-> under (sub {
    my $ self = shift;
    
    if ($ self-> session ('login_name')) {
      return 1;
    }
    else {
      my $ url = $ self-> req-> url-> to_string;
      if ($ url = ~ m # login $ #) {
        return 1;
      }
      else {
        $ self-> render ('denied');
        return;
      }
    }
  });

  $ r-> get ('/')-> name ('index');
}
</ pre>

It looks a little weird, but I think the above is concise because the to method returns the under itself. It shares the unders with all routes, so it overwrites $ r itself. If the session ID is not issued and you access other than the URL for logging in, the template that the authentication refuses is drawn.

<h3> Changes from Mojolicious 6 </ h3>

Starting with Mojolicious 6, the bridge method that creates a bridge has been integrated into the under method. The functionality is the same, so be sure to use the under method.