<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> Getopt :: Long --Handle command line options </ h2>



You can use <strong> Getopt :: Long </ strong> to handle options for <a href="/blog/20080108132865.html"> command line arguments </a>.

<pre>
#Loading modules and importing functions
use Getopt :: Long'GetOptions';
</ pre>

Consider specifying the following options with command line arguments:

<pre>
Specify the option with the # command line argument.
perl script.pl --enable_cache --max_clients = 5 --type = single config.init
</ pre>

You can easily handle such command line options using the <strong> GetOptions function </ strong>.

<pre>
Handling command line argument options with #GetOptions

#Set default value
my $ enable_cache;
my $ max_clients = 5;
my $ type ='prefork';

# Optional processing
GetOptions (
  'enable_cache' => \ $ enable_cache,
  'max_clients = i'=> \ $ max_clients,
  'type = s'=> \ $ type
);

Receives non-option arguments
my $ conf_file = shift;
</ pre>

How to use the GetOptions function.

<pre>
Arguments of # GetOptions
GetOptions (
  'Option name = Value type' =>'Variable to save',
  'Option name = Value type' =>'Variable to save',
  ...
);
</ pre>

For "Option name = Type", specify the option name and value type. If the option name is a boolean value, the value type is omitted. If the option name is an integer, specify i as the value type. If the option name is a string, specify s as the value type.

<pre>
# Authenticity value
'enable_cache' => \ $ enable_cache

# Integer
'max_clients = i'=> \ $ max_clients

#String
'type = s'=> \ $ type
</ pre>

For "Variables to save", specify a reference for scalar variables. Set the default value first and pass it as a reference to the GetOptions argument.

<pre>
#Set default value
my $ max_clients = 5;

#Specify a scalar variable reference in the argument
GetOptions (
  'max_clients = i'=> \ $ max_clients,
);
</ pre>

Command line options can also be specified by abbreviated names. The initial letter of the option name is the abbreviated name.

<pre>
# Specify command line argument options with abbreviated name
perl script.pl -e -m = 5 -t = single config.init
</ pre>

= Can be omitted.

<pre>
# Omit equal
perl script.pl --enable_cache --max_clients 5 --type single config.init
</ pre>