<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Digest :: MD5 - Digest value using MD5 </h2>



You can use the <strong> Digest :: MD5 </strong> module to find the digest value using MD5.

<pre>
#Loading modules and importing functions
use Digest :: MD5'md5_hex';
</pre>

You can use the <strong> md5_hex </strong> function to get the MD5 value as a 32-digit hexadecimal string.

<pre>
Find the # MD5 value
my $ md5_sum = md5_hex'alkeiop2lkj39';
</pre>

The result is a 32-digit hexadecimal number like this:

<pre>
# MD5 value (obtained as a hexadecimal string)
fb4b7c4a986c550fce0a645ab425ea6d
</pre>

<h4> Digest :: MD5 FAQ </h4>

Q. Simply put, what is MD5?
A. It is one of the functions that creates "a value that is very difficult to guess the original value" from "a certain value". It is used to check if the file is corrupted (if the file is even slightly corrupted, it can be checked by the different MD5 value), or it is used for digital signatures.

Q. Is it possible to get MD5 values ​​in other formats?
A. Yes you can. You can use the md5 function to get the MD5 value in binary format, and the md5_base64 function to get the MD5 value in base64 format.

Q. Is there a safer hash function?
A. There is a module called <a href="/blog/20100502127089.html"> Digest :: SHA</a> that allows you to get a safer digest value.