<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> POSIX - Functions defined in POSIX </h2>



The <strong> POSIX </strong> module allows you to use the functions defined in POSIX.

<pre>
# Use of POSIX modules
use POSIX qw / ceil floor /;
</pre>

<h3> Math-related functions </h3>

Use <strong> ceil </strong> to round up the decimal point.

<pre>
# Round up the decimal point
$result = ceil $num;
</pre>

Use <strong> floor </strong> to round down the decimal point.

<pre>
# Decimal point devaluation
$result = floor $num;
</pre>

<h3> To see a list of POSIX functions </h3>

Perl has a large number of POSIX functions defined. See <a href="http://perldoc.perl.org/POSIX.html"> perldoc's POSIX documentation</a> for a list of POSIX functions.