<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop = "name"> operator </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li>
      <span itemprop = "name"> here </ span>
  </ li>
</ ol>
<h2> Perl list </ h2>



A <strong> list </ strong> is a representation of a sequence of multiple values.

<pre>
#List
('a','b','c','d')
</ pre>

Lists can be assigned to <a href="/blog/20161012147627.html"> arrays </a> or <a href="/blog/20161013147635.html"> hashes </a> for initialization. ..

<pre>
#Assignment to array
my @array = ('a','b','c','d');

#Assignment to hash
my% hash = ('a','b','c','d');
</ pre>

<h3> Difference between array and list </ h3>

Arrays and lists are similar, but in reality there are some differences.

The first difference is in the linguistic sense. Arrays are variables and lists are notations.

The second is that the values ​​are different when evaluated in <a href="/blog/20080608121292.html"> scalar context </a>.

Take a look at the following code. What do you think about "$ num1" and "$ num2"?

<pre>
#Evaluate list in scalar context
my $ num1 = (5, 6, 7);

#Evaluate arrays in scalar context
my @nums = (5, 6, 7);
my $ num2 = @nums;

</ pre>

The answer is that "$ num1" becomes "7" and $ num2 becomes "3".

In a scalar context, evaluating a list returns the "last value in the list", and evaluating an array returns the "number of arrays".

<h3> List notation for hashing </ h3>

A simple notation using "=>" is provided to make assignments to hashes.

<pre>
# Hash notation
my% hash = (a =>'b', c =>'d');
</ pre>

It has exactly the same meaning as a regular list, only the notation is different. For the string to the left of =>, single quotes can be omitted if it consists only of alphanumeric characters and underscores. The notation that omits single quotes is preferred.

<h3> List assignment </ h3>

You can assign a list by using the list on the left side. You can assign multiple values ​​to multiple variables.

<pre>
my ($ var1, $ var2) = (3, 5);
</ pre>

List by receiving <a href="/blog/20080108132865.html"> command line arguments </a> and receiving arguments in <a href="/blog/20101130129876.html"> subroutine </a> You can use assignment.

<pre>
#Receiving command line arguments
my ($ var1, $ var2) = @ARGV;

#Receiving arguments in a subroutine
sub foo {
  my ($ var1, $ var2) = @_;
  ...
}
</ pre>

This is used frequently, so be sure to remember it.

<h3> String list operator </ h3>

The string list operator makes it easy to represent a list of strings.

<pre>
qw (Cat Mouse Dog)
</ pre>

Please refer to the following articles for a detailed explanation of the string list operator.

<ul>
  <li>
    <a href="/blog/20080222120369.html"> String list operator </a>
  </ li>
</ ul>

<h3> Automatic initialization with empty list </ h3>

Arrays and hashes are declared and initialized with an empty list.

<pre>
# The following is the same
my @nums;
my @nums = ();
</ pre>

<pre>
# The following is the same
my% score;
my% score = ();
</ pre>