<script> location.href = "https://mojolicious.perlzemi.com/blog/20100907127859.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span>
    </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Mojolicious's useful API </ h2>



<h3> Request object </ h3>

The request object can be retrieved through the controller object.

<pre>
get'/' => sub {
  my $ self = shift;
  my $ req = $ self-> req;
};
</ pre>

The request object is <a href="http://search.cpan.org/dist/Mojolicious/lib/Mojo/Message/Request.pm"> Mojo :: Message :: Request </a>. <a href="http://search.cpan.org/dist/Mojolicious/lib/Mojo/Message/Request.pm"> Mojo :: Message :: Request </a> is <a href="http:/ It inherits from /search.cpan.org/dist/Mojolicious/lib/Mojo/Message.pm "> Mojo :: Message </a>.

Introducing a convenient API for request objects.

<h4> params </ h4>

You can use the params method to access a parameter object that holds the parameters passed in GET and POST.

<pre>
my $ params = $ req-> params;
</ pre>

<h4> query_params </ h4>

You can use the query_params method to access a parameter object that holds the parameters passed in the GET.

<pre>
my $ params = $ req-> query_params;
</ pre>

<h4> json </ h4>

You can use the json method to get the data sent in JSON format as a Perl data structure.

<pre>
my $ data = $ req-> json;
</ pre>

<h4> is_secure </ h4>

<pre>
my $ secure = $ req-> is_secure;
</ pre>

Check if the connection is secure. In other words, check if you are connected with "https: //".

<h4> is_xhr </ h4>

<pre>
$ xhr = $ req-> is_xhr;
</ pre>

Checks if the "Check X-Requested-With" header contains the string "XMLHttpRequest". In other words, it checks whether it is communicating with AJAX.

<h3> Parameter object </ h3>

A parameter object is an object that holds the parameters passed by GET or POST. This is a <a href="http://search.cpan.org/dist/Mojolicious/lib/Mojo/Parameters.pm"> Mojo :: Parameters </a> object.

Introducing a convenient API for parameter objects.

<h4> to_hash </ h4>

You can use the to_hash method to convert a parameter to a hash reference.

<pre>
my $ hash = $ params-> to_hash;
</ pre>

I think this is often used by controller objects as follows:

<pre>
get'/' => sub {
  my $ self = shift;
  my $ data = $ self-> req-> params-> to_hash;
}
</ pre>

<h3> Application object </ h3>

The application object can be obtained using the app function.

<pre>
my $ app = app;
</ pre>

The application object is a <a href="http://search.cpan.org/dist/Mojolicious/lib/Mojolicious.pm"> Mojolicious </a> object. <a href="http://search.cpan.org/dist/Mojolicious/lib/Mojolicious.pm"> Mojolicious </a> is <a href="http://search.cpan.org/dist/Mojolicious" It inherits from /lib/Mojo.pm "> Mojo </a>.

Introducing useful APIs for application objects.

<h4> home </ h4>

Use the home method to get the home object.

<pre>
my $ home = $ app-> home;
</ pre>

The home object is a <a href="http://search.cpan.org/dist/Mojolicious/lib/Mojo/Home.pm"> Mojo :: Home </a> object that has information about the application's home directory. increase.

<h4> log </ h4>

Use the log method to get the log object.

<pre>
my $ log = $ app-> log;
</ pre>

The log object is a <a href="http://search.cpan.org/dist/Mojolicious/lib/Mojo/Log.pm"> Mojo :: Log </a> object.

<h4> secrets </ h4>

Use the secrets method to set a password to encrypt the cookie.

<pre>
$ app-> secrets (['lkjiji! & F']);
</ pre>

Be sure to set it when managing sessions using cookies.

<h4> start </ h4>

Use the start method to start the application.

<pre>
$ app-> start;
</ pre>

<h4> types </ h4>

Use the types method to get the types object.

<pre>
my $ types = $ app-> types;
</ pre>

The type object is a <a href="http://search.cpan.org/dist/Mojolicious/lib/MojoX/Types.pm"> MojoX :: Types </a> object. This is the object that defines the file extension and content type mapping.

<h4> defaults </ h4>

Use the defaults method to set the default value for the stash.

<pre>
# Set
$ app-> defaults ({foo =>'bar'});
$ app-> defaults-> {foo} ='bar';

#Get
my $ foo = $ app-> defaults-> {foo};
</ pre>

<h4> helper </ h4>
Use the helper method to add a helper method.
<pre>
$ app-> helper (
  foo => sub {...},
  bar => sub {...}
);
</ pre>

Helper methods added by the helper method can be used inside application objects, controller objects, and templates.

<pre>
$ app-> foo;
</ pre>

<pre>
$ c-> foo;
</ pre>

<pre>
@@ index.html.ep
% foo;
</ pre>

<h4> mode </ h4>

Use the mode method to get and set the mode of the application.

<pre>
my $ mode = $ app-> mode;
$ app-> mode ('production');
</ pre>

This can also be done using environment variables.

<pre>
export MOJO_MODE = production
</ pre>


<h3> Functions imported by Mojolicious :: Lite </ h3>

This function is imported when Mojolicious :: Lite is loaded. (For more information on Mojolicious :: Lite, please refer to <a href="http://wiki.livedoor.jp/mojolicious/d/Mojolicious :: Lite"> Mojolicious :: Lite documentation </a>. )

<h4> app </ h4>

To get the application object, define the app function.
<pre>
my $ app = app;
</ pre>

<h4> get </ h4>

Use the get function to define the processing for the URL accessed by the HTTP GET method. ..

<pre>
get'/: foo' => sub {...};
</ pre>

<h4> post </ h4>

Use the post function to define the processing for URLs accessed by the HTTP POST method.

<pre>
post'/: foo' => sub {...};
</ pre>

<h4> any </ h4>

Use the any function to define the processing for URLs accessed by any HTTP method. .. You can also specify multiple HTTP methods.

<pre>
any'/: foo'=> sub {...};
any [qw / get post head put delete /] =>'/: foo' => sub {...};
</ pre>

<h4> under </ h4>

Use the under function to define the process you want to execute before executing the process defined by the get or post method. This can be used for authentication etc.

<pre>
under sub {...};
</ pre>

<h4> websocket </ h4>

WebSocket handshake (connecting to a websocket)Use the websocket function to define the processing for the URL accessed by).

<pre>
websocket'/: foo' => sub {...};
</ pre>

<h4> plugin </ h4>

Use the plugin function to add a plugin.

<pre>
plugin'JsonConfig';
</ pre>

The default namespace is Mojolicious :: Plugin, and you can load the plugin by specifying the module name under this.