<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20091116124667.html">      <span itemprop = "name">Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2>FindBin - Get the path to the directory where the script resides</h2>



You can use the <strong> FindBin </strong> module to get the path of the directory where the script resides.

<pre>
# Load module
use FindBin;
</pre>

The path to the directory where the script resides is assigned to the <strong> $FindBin::Bin </strong> <a href="/blog/20080308120495.html">a package variable</a>.

<pre>
# Get the path of the directory where the script resides
my $script_dir = $FindBin::Bin;
</pre>

FindBin is a slightly unusual module, but it's the standard way to get the path to the directory where the script resides.

<h4>Set the module loading path</h4>

The FindBin module is used together with the <a href="/blog/20100525127859.html">lib</a> module and often sets the module loading path.

By doing the following, you can set the directory called lib in the directory where the script exists as the loading path of the module.

<pre>
# Add the lib directory of the directory where the script exists to the search path
use FindBin;
use lib "$FindBin::Bin/lib";
</pre>

<h4>Script base name</h4>

You can get the base name of the script with <strong> $FindBin::Script </strong>.

<pre>
use FindBin;
$FindBin::Script
</pre>