<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20091116124667.html">      <span itemprop = "name">Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Cwd - Get the path of the current directory </h2>



You can use the <strong> Cwd </strong> module to get the path of the current directory.

<pre>
# Loading modules and importing functions
use Cwd 'getcwd';
</pre>

Use the <strong> getcwd </strong> function to get the path of the current directory.

<pre>
# Get the path of the current directory
my $curdir = getcwd;
</pre>

<h3> Related </h3>

<ul>
  <li>
    <a href="/blog/20080531121229.html">Get the current directory name</a>
  </li>
</ul>