<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> MIME :: QuotedPrint - encoded to quoted-printable format </h2>



The <strong> MIME :: QuotedPrint </strong> module allows you to encode data in quoted-printable format.

<pre>
# Loading modules and importing functions
use MIME :: QuotedPrint qw / encode_qp decode_qp /;
</pre>

Use the <strong> encode_qp </strong> function to encode to quoted-printable format.

<pre>
# Quoted-encoded to printable format
my $ qp_data = encode_qp $ data;
</pre>

Use the <strong> decode_qp </strong> function to decode quoted-printable format data.

<pre>
Decode data in # quoted-printable format
my $ data = decode_qp $ qp_data;
</pre>

<h3> FAQ about MIME :: QuotedPrint module </h3>

Q. What is the quoted-printable format in a nutshell?
A. It is a data format that uses printable characters (alphanumeric characters and equal sign "="). From a usage point of view, it is similar to the Base64 format (* 1). For example, since it is not possible to send characters other than 7-bit data by e-mail, it is converted to a character string in the ASCII range in quoted-printable format.

If the input text is mostly alphanumeric, the quoted-printable format allows you to read the alphanumeric characters even after encoding, which improves size efficiency. On the contrary, when dealing with binary data and multibyte character strings, the Base64 format is more size efficient.