<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Digest :: SHA - Calculate the digest value by SHA </h2>



You can use the <strong> Digest :: SHA </strong> module to find various SHA values. Use the following function to find the SHA-1 value.
<pre>
#Loading modules and importing functions
use Digest :: SHA'sha1_hex';
</pre>

You can use the <strong> sha1_hex </strong> function to get the SHA-1 value as a 40-digit hexadecimal string.

<pre>
# SHA-1 Find the value
my $ sha1_sum = sha1_hex'alkeiop2lkj39';
</pre>

The result is a 40-digit hexadecimal number like this:

<pre>
# SHA-1 value (obtained as a hexadecimal string)
20b07a8050be5dd980b1c17109fbbffaf3194498
</pre>

<h4> Digest :: SHA FAQ </h4>

Q. Simply put, what is SHA?
A. It is one of the functions that creates "a value that is very difficult to guess the original value" from "a certain value". It is used to check if the file is corrupted (even if the file is slightly corrupted, it can be checked by the different SHA value), or it is used for digital signatures. SHA is harder to guess than MD5, which has the same functionality. You can use the <a href="/blog/20100501127089.html"> Digest :: MD5</a> module to find the MD5 value.

Q. Is it possible to get SHA-1 values ​​in other formats?
A. Yes you can. You can use the sha1 function to get the SHA-1 value in binary format, and the sha1_base64 function to get the SHA-1 value in base64 format.

Q. In addition to SHA-1, there are high-strength SHA-256, SHA-384, SHA-512, etc. Can I use them?

A. Yes you can. It has the following functions:
<pre>
# Binary format
sha1
sha224
sha256
sha384
sha512

# Hexadecimal string
sha1_hex
sha224_hex
sha256_hex
sha384_hex
sha512_hex

# base64 format
sha1_base64
sha224_base64
sha256_base64
sha384_base64
sha512_base64
</pre>