<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20091116124667.html">      <span itemprop = "name">Module</span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<h2>cpanm - Install Perl Module on your Home Directory</h2>

<b>cpanm</b> is a command to install CPAN modules quickly. You can also install CPAN modules on your home directory.

<h3>Install cpanm</h3>

Explain how to install cpanm. At first you can check if cpanm is installed.

<pre>
cpanm -h
</pre>

If cpanm is not installed, you can install cpanm in the following ways.

<h4>perlbrew with cpanm</h4>

If you use <a href="/blog/20110220130464.html">perlbrew</a> to install Perl, you can install cpanm in the following command.

<pre>
# perlbrew with cpanm
perlbrew install-cpanm
</pre>

<h4>plenv with cpanm</h4>

If you use <a href="/blog/20180816153437.html">plenv</a> to install Perl, you can install cpanm in the following command.

<pre>
# plenv with cpanm
plenv install-cpanm
</pre>

<h4>Install cpanm using cpan Command</h4>

You can install cpanm using <a href="/blog/20100504127089.html">cpan command</a>. If you use perlbrew or plenv, the above ways is recommended.

<pre>
cpan App::cpanminus
</pre>

<h4>Install cpanm using Package Managers</h4>

Install cpanm using Package Managers.

<b><a href="https://en.ubuntu.perlzemi.com/">Ubuntu</a>, Debian</b>

<pre>
apt install cpanminus
</pre>

<b>Redhat Renux, <a href="https://en.centos.perlzemi.com/">Cent OS</a></b>

<pre>
yum install perl-App-cpanminus
</pre>

<h3>Install CPAN Modules</h3>

Install CPAN modules using cpanm.

<pre>
# Install CPAN modules.
cpanm Mojolicious
</pre>

If you see the document of module, the installation is succeed.

<pre>
perldoc Mojolicious
</pre>

<h4>Install CPAN modules in the specified directory</h4>

You can install CPAN modules in the specified directory using <b>-L</b> option.

<pre>
cpanm -L extlib DBIx::Custom
</pre>

DBIx::Custom will be installed "extlib" in the current directory.

<h3>cpanfile - Define Required Modules using </h3>

You can defined required modules and the versions using <b>cpanfile</b>.

<h4>cpanfile</h4>

<b>cpanfile</b> is a file to define the requred modules and the versions.

Create the file "cpanfile".

<pre>
# Create cpanfile
touch cpanfile
</pre>

Define cpanfile.

<pre>
requires 'DBI', '== 1.619';
requires 'DBD::SQLite', '== 1.36_04';
requires 'DBIx::Custom', '== 0.25';
</pre>

Explain cpanfile formats.

<pre>
requires MODULE_NAME VERSION
</pre>

You can use the following syntax for the version:

<table>
  <tr>
    <td>
      <b> Description </b>
    </td>
    <td>
      <b> Format </b>
    </td>
    <td>
      <b> Example </b>
    </td>
  </tr>

  <tr>
    <td>
      Specified version
    </td>
    <td>
      == Version
    </td>
    <td>
      == 0.03
    </td>
  </tr>

  <tr>
    <td>
      Specified version or higher
    </td>
    <td>
      Version only or >= version
    </td>
    <td>
      >= 0.03
    </td>
  </tr>

  <tr>
    <td>
      Below the specified version
    </td>
    <td>
      <=
    </td>
    <td>
      <= 0.03
    </td>
  </tr>

  <tr>
    <td>
      Greater than the specified version
    </td>
    <td>
      > Version
    </td>
    <td>
      > 0.03
    </td>
  </tr>

  <tr>
    <td>
      Less than the specified version
    </td>
    <td>
      <Version
    </td>
    <td>
      < 0.03
    </td>
  </tr>
</table>

<h4>Install CPAN Modules defined in cpanfile</h4>

You can install CPAN modules defined in cpanfile using <b>--installdeps</b> option.

<pre>
# Install CPAN modules defined in cpanfile
perl cpanm --installdeps .
</pre>

You can also install the module in the specified directory using <strong>-L</strong> option.

<pre>
perl cpanm -L extlib - installdeps.
</pre>
