<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20091116124667.html">      <span itemprop = "name">Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2>File::Basename - Get the base name of the file</h2>

<strong> File::Basename </strong> is a module to get the base name and directory name from the file name. You can use the following three functions:
<ul>
  <li>
    <strong> basename </strong>-Get the base name of the file
  </li>
  <li>
    <strong> dirname </strong> - Get directory name
  </li>
  <li>
    <strong> fileparse </strong> - A little more detailed operation
  </li>
</ul>

To use these functions, it's a good idea to import them explicitly.

<pre>
# Import function
use File::Basename 'basename', 'dirname';
</pre>

<h3>basename function</h3>

Use the basename function to get the base name of a file. The base name is the last part of the file name.

<pre>
# Get base name
$basename = basename $file;
</pre>

<h3>dirname function</h3>

Use the dirname function to get the directory name.

<pre>
# Get directory name
$dirname = dirname $file;
</pre>

Examples of basename and dirname. If the file name is "dir/a.txt", you can get "a.txt" with basename and "dir" with dirname.

<pre>
# Get base name and directory name
use File::Basename qw/basename dirname/;
my $file = 'dir/a.txt';
my $basename = basename $file;
my $dirname = dirname $file;
</pre>

<h3>A little more detailed operation on the file name</h3>

You can use fileparse to get the base name and directory name at once.

<pre>
# Get base name and directory name
($basename, $dirname) = fileparse $file;
</pre>

Also, if you specify the extension with <a href="/blog/20100827127859.html">regular expression</a> in the second argument of fileparse, you can retrieve the extension and the base name separately.

<pre>
# Get base name, directory name, extension
($basename, $dirname, $ext) = fileparse ($file, $regex);
</pre>

This is an example to extract the extension. Specify a regular expression as the second argument. The regular expression "\ .. * $" means ". Comes and ends with 0 or more characters that can be anything." If $file is "dir/a.txt", $basename will be "a" and $ext will be ".txt".

<pre>
# Extract extension
use File::Basename 'fileparse';
my $file = 'dir/a.txt';
my ($basename, $dirname, $ext) = fileparse ($file, qr/\ .. * $/);
</pre>

The above is an example of extracting the extension, but if two extensions continue, the extension after the first extension will be extracted. For example, if the file name is "dir/a.txt.gz", $ext will be ".txt.gz".

If you want to retrieve ".gz", change the regular expression to "\. [^\.] * $". The meaning of this regular expression is that ". Comes and ends with 0 or more characters other than.".