<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20130220136137.html">
        <span itemprop = "name"> reading material </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> I thought about why Perl doesn't really need exception handling finally </h2>



Perl uses die to raise an exception. This corresponds to throw in the Java language. Use <a href="/blog/20100312126967.html"> eval</a> to catch the exception. This is equivalent to catch in the Java language. Whether or not an exception has occurred can be determined by whether a message is set in $ @.

<pre>
# Perl exception handling

eval {
  # Exception-raising process
}

if ($ @) {
  
}
</pre>

As you know, Perl doesn't have a finally statement. But I don't hear stories that are particularly troublesome. Why. In most cases, the processing performed by the finally statement is the release of external resources. It is the process of closing a file, deleting a temporary file, and releasing the connection to the DB. There is a desire to execute such processing with a finally statement.

Why is the finally statement required in Java? This is because in Java, GC uses a mechanism called "generational GC", so the programmer cannot know when to release an object. In Java, the finalizer should not release resources. So the finaly statement is mandatory.

Perl's GC uses a simple reference counting method to ensure that the destructor is executed when the object is released. I feel that the finally statement is not a required feature because I can write the logic for releasing resources in this position.

Also, ruby ​​has a GC mark-and-sweep, so it should be designed so that destructors are not used. Therefore, the finally statement (eusure statement in Ruby) is a necessary function.

I realize that just because Perl doesn't have a finally statement doesn't mean there's a big inconvenience. So Perl's exception handling is useless, and the idea that exception handling that implements finally is great doesn't seem to be a valid evaluation.