<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161004147558.html">      <span itemprop = "name">builtin functions </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    here
  </li>
</ol>
<h2>values function - get all values in the hash</h2>


Use the <strong> values function </strong> to get all the <strong> hash values </strong>. The order of the retrieved values is indefinite.

<pre>
# Get all values
@values = values %hash;
</pre>

You need to pass a hash as an argument, so if it's a hash reference, you need to dereference it.

<pre>
# Get all values. For hash reference
@values = values %$hash;
</pre>