<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161004147558.html">      <span itemprop = "name">standard function </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    here
  </li>
</ol>
<h2> sort function - sort array </h2>


Use the <strong> sort function </strong> to <strong> sort the array </strong>. Pass a code block for comparison as the first argument. To sort in ascending order, write $a before $b, and to sort in descending order, write $b before $a. Use <=> as the comparison operator if you want to compare as a number, and use cmp if you want to compare in lexicographical order. Note that there is no comma immediately after the code block.

<pre>
# Sort in ascending order
@sorted = sort {$a operator $b} @array;

# Sort in descending order
@sorted = sort {$b operator $a} @array;
</pre>

<h3> Sorting sample </h3>

This is a sample that sorts in ascending order of numerical values. @nums becomes (2, 3, 5, 11).

<pre>
# Sort by numerical value in ascending order
my @nums = (5, 11, 3, 2);
@nums = sort {$a <=> $b} @nums;
</pre>

This is a sample that sorts the numbers in descending order. @nums becomes (11, 5, 3, 2).

<pre>
# Sort by numerical value in descending order
my @nums = (5, 11, 3, 2);
@nums = sort {$b <=> $a} @nums;
</pre>

This is a sample that sorts in ascending order in dictionary order. @nums will be (11, 2, 3, 5). When comparing 11 and 3 in dictionary order, 11 comes to bloom.

<pre>
# Sort in ascending dictionary order
my @nums = (5, 11, 3, 2);
@nums = sort {$a cmp $b} @nums;
</pre>

This is a sample that sorts in descending order of dictionary order. @nums becomes (5, 3, 2, 11).

<pre>
# Sort in descending order of dictionary
my @nums = (5, 11, 3, 2);
@nums = sort {$b cmp $a} @nums;
</pre>

<h3> Omission of code block </h3>

If you omit the code block, it has the same meaning as if you sort in ascending dictionary order.

<pre>
# The next two have the same meaning
@nums = sort @nums;
@nums = sort {$a cmp $b} @nums;
</pre>

<h3> Sort by multiple conditions </h3>

Try to sort the strings in the order of longest, and if the lengths are the same, sort them in ascending dictionary order. Use || to specify the second condition. If the order cannot be determined in the first comparison, the next comparison will be made. @strs becomes ('aaa', 'bbb', 'aa', 'bb', 'a', 'b').

<pre>
my @strs = ('aaa', 'bbb', 'b', 'a', 'aa', 'bb');
@strs = sort {length $b <=> length $a || $a cmp $b} @strs;
</pre>

<h3> Hash values ​​are sorted by key and output </h3>

Let's sort the hashes by key and output. The order of the keys is not guaranteed for the hash, so if you want to output in a fixed order, rearrange the keys and output.

<pre>
my %points = (Tom => 100, Mike => 30, Mami => 90);
for my $name (sort keys %points) {
  print "$name: $points{$name}\n";
}
</pre>

<h3> Sorting array references </h3>

Let's sort the array references. The point is to dereference when passing it to the sort function and dereference it when receiving it.

<pre>
my $nums = [5, 11, 3, 2];
@$nums = sort @$nums;
</pre>

<h3> Sort the hash array </h3>

Let's sort the array of hashes. The sample hash array contains information about multiple people. Let's sort this by the age of the person. (Note: We call it an array of hashes, but the exact meaning here is an array reference that contains a hash reference.)

Hash references are assigned to $a and $b, so use $a->{age}, $b->{age} to get the age. Use this to make a comparison.

<pre>
# Person data
my $people = [
  {name =>'Ken', age => 19},
  {name =>'Taro', age => 9},
  {name =>'Kaori', age => 23}
];;

@$persons = sort {$a->{age} <=> $b->{age}} @$persons;
</pre>

$persons is sorted in ascending order of age and the data looks like this:

<pre>
[
  {name =>'Taro', age => 9},
  {name =>'Ken', age => 19},
  {name =>'Kaori', age => 23}
];;
</pre>