<script> location.href = "https://mojolicious.perlzemi.com/blog/20101017127859.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Mojolicious's "automatic test" technique </ h2>



We have summarized the techniques for performing "automatic tests" of Mojolicious.

<h3> How to debug a script with Mojolicious :: Lite </ h3>

<strong> Mojolicious :: Lite </ strong> makes it easy to <strong> debug </ strong> your scripts. The nice thing is that you can test with a very short description. This is a great advantage when creating web apps with Mojolcious :: Lite.

First of all, it is a simple web application created with Mojolicious :: Lite.
<pre>
use Mojolicious :: Lite;

get'/' => sub {
  my $ self = shift;

  $ DB :: single = 1;

  $ self-> render (text =>'Hello');
};

app-> start;
</ pre>

Save this file as "myapp.pl". The point to pay attention to is the description "$ DB :: single = 1". This is the notation for embedding breakpoints in scripts. If the debugger finds this line, it will stop at that position.

Next, create a test directory.
<pre>
mkdir t
</ pre>

Place the test script in a directory called t. Try creating a script named "basic.t" in this directory.

<pre>
use Test :: More'no_plan';

use strict;
use warnings;
use utf8;

use Test :: Mojo;

use FindBin;
$ ENV {MOJO_HOME} = "$ FindBin :: Bin / ..";
require "$ ENV {MOJO_HOME} /myapp.pl";

my $ t = Test :: Mojo-> new;
$ t-> get_ok ('/');
</ pre>

(Reference) <a href="/blog/20100524127696.html"> FindBin </a>

This script is written in Mojolicious :: Lite's POD for automated testing, but it can also be used for debugging. This is because the process when actually accessing "/" is executed with the description "$ t-> get_ok ('/')".

Next, let's start this test script using the debugger. It is better to execute the script from the directory where the script is located, not from the t directory.

<pre>
perl -d t / basic.t
</ pre>

If the module is placed in the lib directory, add the lib directory to the module search path as follows.

<pre>
perl -d -Ilib t / basic.t
</ pre>

When the debugger starts, use the "c" command to go to the breakpoint described as "$ DB :: single = 1".

<pre>
c
</ pre>

You can reach the position you want to debug.

<pre>
Five
6: $ DB :: single = 1;
7
8 ==> $ self-> render (text =>'Hello');
9:};
Ten
11: app-> start;
</ pre>

Remembering this technique will make developing Mojolicious :: Lite even easier.


<h3> Write a test to check if a page link is broken in Mojolicious </ h3>

Define a method like this: This is a test that gets the contents of the page, gets all the hyperlinks in it, and if 200 is returned when the link is accessed, it is OK. Please describe after use Test :: Mojo. $ Test :: Builder :: Level is incremented by 1 to get information about the caller of the row that failed the test.

<pre>
{
  package Test :: Mojo;
  
  sub link_ok {
    my ($ t, $ url) = @_;
    
    local $ Test :: Builder :: Level = $ Test :: Builder :: Level + 1;
    
    my @links;
    $ t-> ua-> get ($ url)-> res-> dom-> find ('a [href]')-> each (sub {
      my $ self = shift;
      
      push @links, $ self-> attrs-> {href};
    });
    
    for my $ link (@links) {
      $ t-> get_ok ($ link)-> status_is (200) unless $ link = ~ / logout /;
    }
  }
}
</ pre>

It looks like this when using it.

<pre>
$ t-> link_ok ('/ user / list');
</ pre>

Creating tests can be a hassle, but it's very resistant to code changes and gives you peace of mind.

<h3> Show lines where tests failed in Mojolicious's automated tests </ h3>

When doing an automatic test with Mojolicious, it is very difficult to see where the test failed because the output content is large.

With good use of pipes and grep, you can only see the line numbers.

<pre>
perl myapp.pl test 2> & 1 | grep line
</ pre>

Since the test result is output to the standard error output, it is piped into grep and only the line containing the line line is extracted.

<h3> Find out where the warning occurred during the automated test </ h3>

When performing automatic tests with Mojolicious, I often get warnings that the following undefined values ​​are being used.

<pre>
Use of uninitialized value in concatenation (.) Or string at (eval 520) line 94.
</ pre>

You have to pinpoint the location and find the location of the problem, but it's hard to do this on your own. In such cases, it's a good idea to convert the warning to an exception to get the caller's information. To convert a warning to an exception:

<pre>
#Convert warning to exeption
use Carp'confess';
$ SIG {__ WARN __} = sub {confess $ _ [0]};
</ pre>

If you write as above, you can write a callback when a warning occurs. confess can raise an exception to include the stack and race containing the caller in the message. It's a good idea to write this at the top of the automated test script.

Now that you know the line number in the script and what you're doing, you can often find the cause by dumping the data output by that process.

<h3> What to do if you get stuck in an infinite loop during a Mojolicious test </ h3>

When developing with Mojolicious, I sometimes get stuck in an infinite loop because I accidentally called a method with the same name. I can't stop the server because I can't hear Ctrl + c.

In this case, press Ctrl + z once to switch the server to background execution. Then use the ps command to identify the process ID of the server and the -KILL signal to kill the process.

<pre>
ps -ef | grep myapp.pl

kill -KILL process ID
</ pre>

<h4> Addendum </ h4>

I added the following opinions.

<blockquote>
Mojolicious often has to ctrl + c, the theory that the controller and the view are doing extra things respectively
</ blockquote>

This is not due to Mojolicious, but when some functions of the controller class are separated into the base class, I forgot to call the method of the superclass and called the method with the same name as myself, which is generally called an infinite loop. Object-oriented and making mistakes. In normal programming, when an infinite loop occurs, the program ends with an error, but in the case of the server it can not be stopped, so I am writing a solution, Mojolicious is not doing strange things is.

<h3> How to know the exception that occurred in the automatic test </ h3>

When writing an automated test in Mojolicious, it's pretty good to know that the test didn't work and the template displayed a Server error with an exception. In such a case, I wonder how to know the contents of the exception.

So, let me tell you one way.

<h4> Capture and output the contents of the exception </ h4>

The content of the exception can be obtained from the stash key <b> exception </ b>. Let's set up a hook and get this.

<pre>
my $ app = YourApp-> new;
my $ t = Test :: Mojo-> new ($ app);

$ app-> hook (after_dispatch => sub {
  my $ c = shift;
  my $ exception = $ c-> stash ('exception');
  warn $ exception if $ exception;
});
</ pre>

<h3> test frameView exam details on the screen </ h3>

The <strong> verbose </ strong> option allows you to view details with the test command.

<pre>
perl myapp.pl test --verbose
</ pre>

<h3> Start a server that can be connected via SSL for testing purposes </ h3>

You may want to test SSL. Mojolicious has a test private key and a server certificate, so you can start a server that connects via https. As a prerequisite, a module called IO :: Socket :: SSL is required, so install it.

<pre>
cpan IO :: Socket :: SSL
</ pre>

You can connect via https by starting the server with the following options.

<pre>
#Built-in standalone server
perl myapp.pl daemon --listen https: // *: 3000

#Test morbo server that automatically reloads
morbo myapp.pl --listen https: // *: 3000
</ pre>

(Reference) <a href="/blog/20120406133367.html"> morbo </a>

You can connect via https with the following URL.

<pre>
https: // localhost: 3000
</ pre>

Of course, it's normal to listen on both HTTP and HTTPS, so it's a good idea to do the following:

<pre>
morbo myapp.pl --listen http: // *: 3000 --listen https: // *: 3001
</ pre>

SSL is supposed to connect to port <b> 443 </ b> by default if no port is specified. But in a test environment, it listens for SSL requests on different ports.

But it's better to set environment variables than to do this. This will allow each user to test using a different port.

<pre>
export MOJO_LISTEN = http: // *: 3000, https: // *: 3001
</ pre>

However, this is troublesome because you have to write different source code for the URL on the production machine and the development machine. Therefore, it is a good idea to create the following helper. If a port number exists, determine the port number by adding 1 to the SSL port number in operation.

Also, in production, do not specify the port, leave it to the default, HTTP is 80, HTTPS is 443.

If you register the following helpers, you can do it for general purposes.

<pre>
$ app-> helper (
  url_for_https => sub {
    my $ self = shift;
    my $ url = $ self-> url_for (@ _)-> to_abs-> scheme ('https');
    my $ port = $ url-> port;
    $ url-> port ($ port + 1) if defined $ port;
    return $ url;
  }
);
</ pre>

<h3> Use CSS3 selector to check if HTML element exists </ h3>

You can use the <strong> Test :: Mojo </ strong> <strong> element_exists </ strong> method to test for the existence of HTML elements that match the CSS3 selector.

<pre>
$ t = $ t-> element_exists ('div.foo [x = y]');
$ t = $ t-> element_exists ('html head title','has a title');
</ pre>

You can use the <strong> Test :: Mojo </ strong> <strong> element_exists_not </ strong> method to test that there are no HTML elements that match the CSS3 selector.

<pre>
$ t = $ t-> element_exists_not ('div.foo [x = y]');
$ t = $ t-> element_exists_not ('html head title','has no title');
</ pre>

<h3> Test the text content of HTML elements using CSS3 selectors </ h3>

You can use the <strong> Test :: Mojo </ strong> <strong> text_is </ strong> method to test the text content of HTML elements that match the CSS3 selector.

<pre>
$ t = $ t-> text_is ('div.foo [x = y]'=>' Hello!');
$ t = $ t-> text_is ('html head title' =>'Hello!',' Right title');
</ pre>

You can use the <strong> Test :: Mojo </ strong> <strong> text_isnt </ strong> method to test the text content of HTML elements that don't match the CSS3 selector.

<pre>
$ t = $ t-> text_isnt ('div.foo [x = y]'=>' Hello!');
$ t = $ t-> text_isnt ('html head title' =>'Hello!','Different title');
</ pre>

You can use the <strong> Test :: Mojo </ strong> <strong> text_like </ strong> method to test the text content of an HTML element that matches a CSS3 selector.

<pre>
$ t = $ t-> text_like ('div.foo [x = y]' => qr / Hello /);
$ t = $ t-> text_like ('html head title' => qr / Hello /,'right title');
</ pre>

You can also use the <strong> Test :: Mojo </ strong> <strong> text_unlike </ strong> method to test the text content of HTML elements that don't match the CSS3 selector.

<pre>
$ t = $ t-> text_unlike ('div.foo [x = y]' => qr / Hello /);
$ t = $ t-> text_unlike ('html head title' => qr / Hello /,'different title');
</ pre>