<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> Text :: Diff </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Text :: Diff --Check text differences </h2>



Use the <strong> Text :: Diff </strong> module to see the diffs in the text. A Perl implementation of the Unix diff program.

<pre>
#Loading modules and importing functions
use Text :: Diff'diff';
</pre>

Use the <strong> diff </strong> function to see the diffs in the text. You can specify a file name or a character string as an argument.

<pre>
#Check file differences
$ diff = diff ($ filename1, $ filename2);
$ diff = diff (\ $ string1, $ string2);
</pre>

This is a sample that outputs the difference in text between files.

<pre>
#Check the difference between files
use Text :: Diff'diff';

my @files = @ARGV;

my $ diff = diff ($ files [0], $ files [1]);

print $ diff;
</pre>

<h3> Difference result style </h3>

You can optionally specify the style of the diff result. The styles are:

<h4> Unified </h4>

The <strong> Unified </strong> style is the following difference display method.

<pre>
--- A Mon Nov 12 23:49:30 2001
+++ B Mon Nov 12 23:49:30 2001
@@ -2,13 +2,13 @@
 2
 3
 Four
-5d
+ 5a
 6
 7
 8
 9
+ 9a
 Ten
 11
-11d
 12
 13
</pre>

<h4> Context </h4>

<strong> Context </strong> is the following difference display method.

<pre>
*** A Mon Nov 12 23:49:30 2001
--- B Mon Nov 12 23:49:30 2001
***************
*** 2,14 ****
  2
  3
  Four
! 5d
  6
  7
  8
  9
  Ten
  11
--11d
  12
  13
--- 2,14 ----
  2
  3
  Four
! 5a
  6
  7
  8
  9
+ 9a
  Ten
  11
  12
  13
</pre>

<h4> OldStyle </h4>

<strong> OldStyle </strong> is the following difference display method.

<pre>
5c5
<5d
---
> 5a
9a10
> 9a
12d12
<11d
</pre>