<script> location.href ='https://dbix-custom.perlzemi.com/blog/20110911131900.html'; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop = "name"> DBIx :: Custom </ span> </a>
    <meta itemprop = "position" content = "4" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> Method to check "table" and "column" information of DBIx :: Custom </ h2>




Introducing a method to check the "table" and "column" information of DBIx :: Custom.

<h3> Check the information of all tables in order each_table </ h3>

Use the <strong> each_table </ strong> method to look up the information in all the tables in order.

<pre>
$ dbi-> each_table (
  sub {
    my ($ dbi, $ table, $ table_info) = @_;
    
    my $ table_name = $ table_info-> {TABLE_NAME};
  }
);
</ pre>

Follows the information of all the tables in the database in order. In the argument, specify the callback function that will be the actual table for each table. The callback function takes three arguments:

<ol>
  <li>
    DBIx :: Custom object
  </ li>
  <li>
    table name
  </ li>
  <li>
    Table information
  </ li>
</ ol>

<h4> Speeding up each_table </ h4>

The each_table method is slow. It's pretty slow, especially if you have a large number of system tables in your database.

If user_table_info is set, each_table will use it as table information. You can speed up each_table as follows:

<pre>
my $ table_infos = $ dbi-> get_table_info (exclude => qr / ^ system_ /);
$ dbi-> user_table_info ($ table_info);
$ dbi-> each_table (sub {...});
</ pre>

<h3> Get table information get_table_info </ h3>

Use the <strong> get_table_info </ strong> method to get the table information.

<pre>
my $ table_infos = $ dbi-> get_table_info (exclude => qr / ^ system_ /);
</ pre>

With the exclude option, you can specify the table name to exclude with a regular expression.

<h3> Set database table information --user_table_info </ h3>

Normally, each_table method is used to get the table information of the database, but in the case of a database that holds a large number of system tables, it is very slow to get the table information every time it is accessed. Become.

The <strong> user_table_info </ strong> method allows you to set the table information so that each_table can use the table information.

<pre>
$ dbi-> user_table_info ($ user_table_info)
</ pre>

The each_table method is very fast.

The data structure of the information to be set is as follows.

<pre>
[
  {table =>'book', info => {...}},
  {table =>'author', info => {...}}
]
</ pre>

Normally, the information acquired in advance by get_table_info is set in user_table_info.

<pre>
my $ user_table_info = $ dbi-> get_table_info (exclude => qr / ^ system /);
$ dbi-> user_table_info ($ user_table_info);
</ pre>

<h3> Get column information --get_column_info </ h3>

Use the <strong> get_column_info </ strong> method to get the column information.

<pre>
my $ column_infos = $ dbi-> get_column_info (exclude_table => qr / ^ system_ /);
</ pre>

With the exclude_table option, you can specify the table name to exclude with a regular expression.

<h3> Examine all column information in order --each_column </ h3>

Use the <strong> each_column </ strong> method to go through all the column information in order.

<pre>
$ dbi-> each_column (
  sub {
    my ($ dbi, $ table, $ column, $ column_info) = @_;
    
    my $ type = $ column_info-> {TYPE_NAME};
    
    if ($ type eq'DATE') {
      # ...
    }
  }
);
</ pre>

Follows the information in all columns in the database in order. In the argument, specify the callback function to be executed for each column. The callback function takes four arguments:

<ol>
  <li>
    DBIx :: Custom object
  </ li>
  <li>
    table name
  </ li>
  <li>
    Column name
  </ li>
  <li>
    Column information
  </ li>
</ ol>

<h4> Speeding up each_column </ h4>

The each_column method is slow. It's pretty slow, especially if you have a lot of system columns in your database.

If user_column_info is set, each_column will use this as column information. You can speed up each_column as follows:

<pre>
my $ column_infos = $ dbi-> get_column_info (exclude_table => qr / ^ system_ /);
$ dbi-> user_column_info ($ column_info);
$ dbi-> each_column (sub {...});
</ pre>

This method also speeds up setup_model and type_rule, which use each_column internally.

<h3> Set database column information --user_column_info </ h3>

Normally, the each_column method is used to get the column information of the database, but in the case of a database that holds a large number of system tables, it is very slow to get the column information every time it is accessed. ..

You can use the <strong> user_column_info </ strong> method to set the column information and make this column information available to each_column.

<pre>
$ dbi-> user_column_info ($ user_column_info)
</ pre>

The each_column method is very fast, and the methods that use each_column internally, such as type_rule and setup_model, are also fast.

The data structure of the information to be set is as follows.

<pre>
[
  {table =>'book', column =>'title', info => {...}},
  {table =>'author', column =>'name', info => {...}}
]
</ pre>

Normally, set the information acquired in advance by get_column_info to user_column_info.

<pre>
my $ user_column_info = $ dbi-> get_column_info (exclude_table => qr / ^ system /);
$ dbi-> user_column_info ($ user_column_info);
</ pre>

<h3> Specify a table to display the type names of all columns show_typename </ h3>

Use the <strong> show_typename </ strong> method to specify a table to display the type names for all columns.

<pre>
$ dbi-> show_typename ($ table);
</ pre>

The table name is displayed in the first row, and the column name and type name are displayed in the second and subsequent rows.

<pre>
book
title: varchar
issue_date: date
</ pre>

This type name can be used in into1 and into2 of type_rule.
<h3> Show data types for all columns in the specified table --show_datatype </ h3>

Use the <strong> show_datatype </ strong> method to display the data types of all columns in the specified table.

<pre>
$ dbi-> show_datatype ($ table);
</ pre>

The table name is displayed in the first row, and the column name and data type are displayed in the second and subsequent rows.

<pre>
book
title: 5
issue_date: 91
</ pre>

This data type is available in type_rule from1 and from2.

<h3> Get list of type names available_typename </ h3>

Use the <strong> available_typename </ strong> method to get a list of type names available in the database.

<pre>
print $ dbi-> available_typename;
</ pre>

Note that the type name roughly matches the type you specify when defining the database table, but not exactly.

Use the <strong> show_typename </ strong> method to find out the correct type name.

<h3> Get list of data types available_datatype </ h3>

Use the <strong> available_datatype </ strong> method to get a list of the data types available in the database.

<pre>
print $ dbi-> available_datatype;
</ pre>

The data types listed by this method are obtained with the following logic.

<pre>
for my $ i (-1000 .. 1000) {
  $ dbh-> type_info ($ i);
  my $ data_type = $ type_info-> {DATA_TYPE};
}
</ pre>

It's similar to the value you can get with the TYPE attribute of the statement handle, but note that it doesn't seem to match exactly. Also, SQLite doesn't list anything.

<pre>
$ sth-> {TYPE}
</ pre>

Use the <strong> show_datatype </ strong> method to find out the correct data type.

<h4> Data types available in PostgreSQL </ h4>

DataType available in PostgreSQL that can be obtained by DBI.

<blockquote>
Data Type (Type name)
 -3 (bytea)
0 (unknown)
1 (bpchar)
2 (numeric)
3 (numeric)
4 (int4)
5 (int2)
6 (float4)
7 (float8)
8 (int8)
9 (date) # This may be wrong
10 (tinterval)
11 (timestamp)
12 (text)
16 (bool)
50 (array)
91 (date) #date thinks this is correct.
92 (time)
93 (timestamp)
94 (timetz)
95 (timestamptz)
</ blockquote>

<h3> Data types available in Microsoft SQL Server 2008 R2 </ h3>

A list of data types returned by Microsoft SQL Server 2008 R2 that can be retrieved by DBI. The value of available_datatype. It is when accessed via DBD :: ODBC.

<pre>
Data Type (Type name)
-150 (sql_variant)
-11 (unique identifier)
-10 (ntext)
-9 (nvarchar)
-8 (nchar)
-7 (bit)
-6 (tinyint)
-5 (bigint)
-4 (image)
-3 (varbinary)
-2 (binary)
-1 (text)
-150 (sql_variant)
1 (char)
2 (numeric)
3 (decimal)
4 (int)
5 (smallint)
6 (float)
7 (real)
12 (varchar)
93 (datetime)
</ pre>

I can't find the date type, but in SQL Server, the Date type seems to be returned as -9 (nvarchar). In the case of date type, in the case of SQL server, it seems that automatic judgment cannot be performed.

<h3> Exclude a specific table from the tables to be searched --exclude_table </ h3>

DBIx :: Custom has a method to look up a table in the database. Use <strong> exclude_table </ strong> if you want to exclude a specific table from the search.

<pre>
$ dbi-> exclude_table (qr / pg_ /);
</ pre>

The value specifies a regular expression reference.

The four methods each_column, each_table, type_rule, setup_model go to get the table information of the database, but exclude the table that matches the regular expression specified by exclude_table from the search target.

Microsoft SQL Server and Oracle have a large number of system tables internally, so if you set them up properly, you will get better performance.