<h2>Specify the width and height of the main window/Tkx Tips</h2>
Use the g_wm_geometry method to specify the width and height of the main window.

<pre>
# Width and height
$mw->g_wm_geometry("600x300");
</pre>

Width and height are specified in the format "width x height".

If you want to specify the display position at the same time, do as follows.

<pre>
$mw->g_wm_geometry("600x300 + 200 + 400");
</pre>

Below is an example.

<pre>
use strict;
use warnings;

use Tkx;

my $mw = Tkx::widget->new(".");
$mw->g_wm_geometry("600x300");

Tkx::MainLoop ();
</pre>