<script> location.href ='https://dbix-custom.perlzemi.com/blog/20110202130016.html'; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop = "name"> DBIx :: Custom </ span> </a>
    <meta itemprop = "position" content = "4" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> "Delete" a row with the "delete" method of DBIx :: Custom </ h2>



Use the <strong> delete </ strong> method to delete a row in the table.

<pre>
$ dbi-> delete (
  table =>'book',
  where => {id => 1},
);
</ pre>

Specify the target table with <strong> table </ strong>. Specify the condition of the row to be deleted with <strong> where </ strong>. Where can be a hash reference or a DBIx :: Custom :: Where object.

The following SQL is issued:

<pre>
delete from book where id =?;
</ pre>

The corresponding value is embedded in the placeholder.

<h3> Delete method options </ h3>

The delete method can use all the options of "<a href="/blog/20110708131364.html"> execute method </a>". It also implements the following options.

<h4> Specifying conditions by ID id </ h4>

You can specify the condition by ID by using the id option. The primary_key must be set.

<pre>
id => 4
id => [4, 5]
</ pre>

Suppose you want to execute the following delete.
<pre>

$ dbi-> delete (
  primary_key => ['id1','id2'],
  id => [4, 5],
  table =>'book',
);
</ pre>

This is the same as delete below.

<pre>
$ dbi-> delete (where => {id1 => 4, id2 => 5}, table =>'book');
</ pre>

<h4> prefix prefix </ h4>

Use the prefix option to set a string between delete and from table.

<pre>
prefix =>'some'
</ pre>

For example, the following SQL is executed.

<pre>
delete some from book
</ pre>

<h4> table name table </ h4>

Specify the table name with the table option.

<pre>
table =>'book'
</ pre>

<h4> Where clause where </ h4>

Use the where option to write a Where clause.

<pre>
where => {author =>'Ken','title' =>'Perl'}
where => [
  ['and',': author {=}',': title {like}'],
  {author =>'Ken', title =>'% Perl%'}
]
</ pre>

See "where option" in "<a href="/blog/20110210130016.html"> select method </a>" for how to specify the where option. See <a href="/blog/20110924132031.html"> Dynamic Where Clause Generation </a> for more information on Where clause generation.

<h3> Delete all lines delete_all </ h3>

Use the <strong> delete_all </ strong> method to delete all the rows in the table. The delete method cannot delete all rows for safety reasons, so use the delete_all method.

<pre>
$ dbi-> delete_all (table =>'book');
</ pre>

Specify the target table with <strong> table </ strong>.

The following SQL is issued:

<pre>
delete from book;
</ pre>