<script> location.href = "https://mojolicious.perlzemi.com/blog/20110330130559.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span>
    </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> UTF-8 handling / Mojolicious reference </ h2>



How to handle when using UTF-8 with Mojolicious.

<ul>
  <li>
    <a href="https://github.com/kraih/mojo/wiki/Utf-8-manipulation"> UTF-8 Manipulation </a>
  </ li>
</ ul>

The point is Mitsu. One is to enable the utf8 pragma when dealing with UTF-8 in scripts. Of course, save the file in UTF-8.

<pre>
use utf8;
</ pre>

(Currently Mojolicious automatically sets the utf8 pragma automatically, so you don't need to write it.)

The second is that when the request reaches the controller, the character string included in the parameters etc. has already been converted to the internal character string. So, as a caveat, for example, when registering in the database, it is necessary to change from the internal character string to the byte character string.

The third is that when the template is drawn, it is converted from an internal string to a byte string. The template itself is converted from a byte string to an internal string when it is loaded, and automatically converted from an internal string to a byte string when it is output. Therefore, when passing parameters with the render method etc., it is necessary to pass the converted character string to the internal character string.

<pre>
get'/' => sub {
  my $ self = shift;

  # Converted to internal string
  my $ title = $ self-> param ('title');
    
  #Convert internal string to byte string when saving to database

   #Convert byte string to internal string when retrieving from database

  # Pass an internal string
  $ self-> render (title => $ title);
}
</ pre>