<script> location.href = "https://mojolicious.perlzemi.com/blog/20110420130648.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span>
    </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Get HTTP method / Mojolicious </ h2>



To get the HTTP method, use the <strong> method </ strong> method of the Mojo :: Message :: Request class.

<pre>
my $ method = $ req-> method;
</ pre>

The following is an example with Mojolicious :: Lite. You can access the Mojo :: Message :: Request object using the req method of the Mojolicious :: Controller object.

<pre>
#Mojolicious :: Lite
get'/' => sub {
  my $ self = shift;
  my $ method = $ self-> req-> method;
};
</ pre>

The following is an example from Mojolicious.

<pre>
#Mojolicious
package MyApp :: Picture;

use Mojo :: Base'Mojolicious :: Controller';

use utf8;

# Login screen
sub list {
  my $ self = shift;
  my $ method = $ self-> req-> method;
}
</ pre>

When branching by the HTTP method, it is better to make a judgment after making it lowercase with the lc function as follows.

<pre>
if (lc $ self-> req-> method eq'post') {
  ...
}
else {
  ...
}
</ pre>