<script> location.href ='https://dbix-custom.perlzemi.com'; </ script>

<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> DBIx :: Custom --Easy access to database with SQL </ h2>



<strong> DBIx :: Custom </ strong> is a module that simplifies queries to databases such as "insert, update, delete, select". As a <strong> O / R mapper </ strong>, you can write something close to raw SQL with little to remember.

DBIx :: Custom has the following useful features.

<ul class = "check-list">
<ol>
  <li>
    Easily execute insert, update, delete, select, fast insert statement, bulk insert support
  </ li>
  <li>
    Flexible Where clause generation, flexible order by clause generation, support for named placeholders
  </ li>
  <li>
    Supports MySQL, PostgreSQL, SQLite, Oracle, Microsoft SQL Server, Microsoft Access
  </ li>
</ ol>
</ ul>

See the sample code.

<pre>
use DBIx :: Custom;
my $ dbi = DBIx :: Custom-> connect (dsn => $ dsn);

#Insert
$ dbi-> insert ({id => 1, title =>'Perl'}, table =>'book');

# Update
$ dbi-> update ({title =>'Perl'}, table =>'book', where => {id => 1});

# delete
$ dbi-> delete (where => {id => 1}, table =>'book');

# Choice
my $ rows = $ dbi-> select (table =>'book')-> all;
</ pre>

It will be easy to write.

<h3> Installation </ h3>

Let's "install" DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110508130736.html"> Install DBIx :: Custom </a>
  </ li>
</ ul>

<h3> Connecting to the database </ h3>

Explains how to "connect to the database" with DBIx :: Custom. It can also be used in various databases.

<ul>
  <li>
    <a href="/blog/20110516130787.html"> Connect to the database </a>
  </ li>
</ ul>

<h3> Query execution </ h3>

I will explain how to execute a query with DBIx :: Custom. Remember the insert, update, delete, select statements.

<ul>
  <li>
    <a href="/blog/20110210130016.html"> Select row select </a>
  </ li>
  <li>
    <a href="/blog/20110129130016.html"> Insert line insert </a>
  </ li>
  <li>
    <a href="/blog/20110130130016.html"> Line update update </a>
  </ li>
  <li>
    <a href="/blog/20110202130016.html"> Delete line delete </a>
  </ li>
  <li>
    <a href="/blog/20110708131364.html"> Execute SQL execute </a>
  </ li>
</ ul>

<h3> Row fetch </ h3>

I will explain how to "fetch rows" with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110709131364.html"> Fetch rows </a>
  </ li>
</ ul>

<h3> Dynamic creation of Where clauses </ h3>

I will explain how to "dynamically create a where clause" with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110924132031.html"> Dynamically generate Where clause </a>
  </ li>
</ ul>

<h3> Dynamic generation of Order By clause </ h3>

Learn how to "dynamically create an order by clause" with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110928132041.html"> Order By clause generation </a>
  </ li>
</ ul>

<h3> Model </ h3>

I will explain how to use "model" with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110816131802.html"> Use "model" </a>
  </ li>
</ ul>

<h3> Applied functions </ h3>

Introducing the "advanced features" of DBIx :: Custom.

<h4> SQL generation </ h4>

Here's a handy method for "generating SQL" with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110812131778.html"> Introduction of methods for "generating SQL" with DBIx :: Custom </a>
  </ li>
</ ul>

<h4> Filtering </ h4>

I will explain how to use "filtering" with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110926132031.html"> Use "filtering" </a>
  </ li>
</ ul>

<h4> Table and column information </ h4>

Introducing a method to check "table and column information" of DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110911131900.html"> Method to check the "table" and "column" information of DBIx :: Custom </a>
  </ li>
</ ul>

<h4> Utility </ h4>

Introducing the "utility" method of DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110904131900.html"> Introduction of DBIx :: Custom's "utility" method </a>
  </ li>
</ ul>