<script> location.href = "https://mojolicious.perlzemi.com/blog/20110521130853.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Hello World! Application with Mojolicious </ h2>



The Hello World application (hello.pl) by Mojolicious writes: We will use a module called Mojolicious :: Lite included in Mojolicious. It's just three lines, but it's a complete web application.

<pre>
use Mojolicious :: Lite;
get'/' => sub {shift-> render (text =>'Hello World!')};
app-> start;
</ pre>

Let's run the application on a built-in web server. Run the <a href="/blog/20120406133367.html"> morbo </a> command on the command line.

<pre>
morbo hello.pl
</ pre>

The web application is started with the port number 3000.

<pre>
Server available at http://127.0.0.1:3000.
</ pre>

Access the following URL on your browser.

<pre>
http://127.0.0.1:3000/
</ pre>

"Hello World!" Is displayed on the screen.