<script> location.href = "https://mojolicious.perlzemi.com/blog/20110501130707.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span>
    </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
Get <h2> parameters / Mojolicious </ h2>



Mojolicious often includes the following three elements when it comes to parameters, so let's first distinguish between the following three.

<ol>
  <li>
    Data contained in the query string
  </ li>
  <li>
    Data contained in the HTTP body sent by POST
  </ li>
  <li>
    Data captured in the URL
  </ li>
</ ol>

<h4> (1) Data contained in the query string </ h4>

The query string is the data set after? In the URL.

<pre>
http://somehost.com/search?name=Ken&age=19
</ pre>

Each parameter "parameter name: value" is connected by "&". Query string parameters are often used when searching for something.

<h4> (2) Data contained in the HTTP body sent by POST </ h4>

This is the data contained in the HTTP body, such as when submitting a form.

<h4> Data captured in the URL </ h4>

Mojolicious allows you to capture a portion of the URL as a parameter.

<pre>
get'/ entry /: id'=> sub {...};
</ pre>

This value is also treated as a parameter.

<h3> Get parameter values ​​</ h3>

To get the value of a parameter, use the param method of Mojolicious :: Controller. This includes all of the above (1), (2), (3).

<pre>
my $ age = $ c-> param ('age');
</ pre>

<h3> Get multiple values ​​</ h3>

Call the every_param method to get multiple selected values ​​such as checkboxes.

<pre>
my $ contries = $ c-> every_param ('country');
</ pre>

<b> Caution </ b>: param ($ name) in list context has been removed in Mojolicious 6 due to security concerns. Be sure to use every_param.

<h3> Get the names and values ​​of all parameters </ h3>

Use "$ c-> req-> params-> to_hash" to get all the parameter names.

<pre>
my $ params = $ c-> req-> params-> to_hash
</ pre>

<b> Caution </ b>: $ c-> param in list context is obsolete from Mojolicious 6 for security reasons. To get all the names, get the keys in "keys @ $ params" after getting the names and values ​​above.

Below is a sample from Mojolicious :: Lite.

<pre>
#Mojolicious :: Lite
use Mojolicious :: Lite;

use utf8;

get'/ entry /: id'=> sub {
  my $ self = shift;
  my $ age = $ self-> param ('age');
  my @countries = $ self-> param ('country');
  my @names = $ self-> param;
};
</ pre>

Below is a sample from Mojolicious.

<pre>
package MyApp :: Diary;

use Mojo :: Base'Mojolicious :: Controller';

sub entry {
  my $ self = shift;
  my $ age = $ self-> param ('age');
  my @countries = $ self-> param ('country');
  my @names = $ self-> param;
}
</ pre>