<script> location.href ='https://dbix-custom.perlzemi.com/blog/20110708131364.html'; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop = "name"> DBIx :: Custom </ span> </a>
    <meta itemprop = "position" content = "4" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> "Execute SQL" with "execute" method of DBIx :: Custom </ h2>



Use the execute method to execute the SQL.

<pre>
# Execute SQL
my $ result = $ dbi-> execute ("select * from book");
</ pre>

The return value is a <a href="/blog/20110709131364.html"> DBIx :: Custom :: Result </a> object. Use the all method to get all the rows.

<pre>
# Fetch all rows
my $ rows = $ result-> all;
</ pre>

<h3> Named placeholder </ h3>

DBIx :: Custom supports named placeholders on all RDBMSs, such as those supported by Oracle.

<pre>
#Named placeholder
my $ result = $ dbi-> execute ("select * from book where title =: title",
  {title =>'Perl'});
</ pre>

Named placeholders start with a colon, such as ": title". The value to be embedded can be specified by the hash reference. This has the same meaning as the following executable statement.

<pre>
my $ title ='Perl';
my $ sql = "select * from book where title =?";
my $ dbh = DBI-> connect (...);
my $ sth = $ dbh-> prepare ($ sql);
$ sth-> execute ($ title);
</ pre>

Named placeholders are very useful because you don't have to worry about the order of the parameter values.

<h3> If you want to use a named placeholder with the same name </ h3>

You may have used the same name in a named placeholder. For example, if you want to specify a start date and an end date. In such a case, write as follows.

<pre>
# Use named placeholder more than once
my $ result = $ dbi-> execute (
  "select * from book where date>: date and date <: date",
  {date => [3, 5]});
</ pre>

If you want to pass multiple values, specify the value of the parameter as an array reference, such as "date => [3, 5]".

<h3> Abbreviated notation for named placeholders </ h3>
Named placeholders often repeat the same name twice, such as "title =: title", so a shorthand notation is provided.

<pre>
# Placeholder abbreviation
: Placeholder name {operator}
</ pre>

For example, ": title {=}" has the same meaning as "title =: title". It can be used with other operators as well.

<pre>
# Named placeholder suger syntax
: title {like}-> title like: title
: title {<}-> title <: title
: title {>}-> title>: title
</ pre>

By using this, the execute sample introduced at the beginning can be rewritten as follows.

<pre>
# Named placeholder suger syntax example
my $ result = $ dbi-> execute ("select * from book where: title {=}",
  {title =>'Perl'});
</ pre>

<h3> Use column name including table name </ h3>

You can also use the column name including the table name as the placeholder name.
<pre>
my $ result = $ dbi-> execute ("select * from book where: book.title {=}",
  {'book.title'=>'Perl'});
</ pre>

<h3> execute method options </ h3>

You can specify various options for DBIx :: Custom. You can write as follows using the third and subsequent arguments.

<pre>
$ dbi-> execute ($ sql, $ param, option name => option value, ...)
</ pre>

<h3> execute method options </ h3>

A list of options for the <a href="/blog/20110708131364.html"> execute method </a>.

<h4> SQL processing after_build_sql </ h4>

You can use after_build_sql to process the SQL after it has been built. The value specifies a code reference for the conversion.

<pre>
after_build_sql => $ code_ref
</ pre>

The following is an example. This is a sample to get the number of executed SQL columns.

<pre>
$ dbi-> select (
  table =>'book',
  column =>'distinct (name)',
  after_build_sql => sub {
    "select count (*) from ($ _ [0]) as t1"
  }
);

The following SQL is executed.

<pre>
select count (*) from (select distinct (name) from book) as t1;
</ pre>

<h4> Add to the end of SQL append </ h4>

You can use the append option to add a statement to the end of the SQL.

<pre>
append =>'order by name'
</ pre>

<h4> Specify bind type bind_type </ h4>

If the data you are inserting is binary data, you may need to explicitly specify that. For example, in SQLite, if you want to insert BLOB type data, you need to write as follows when using DBI.

<pre>
$ sth-> bind_param ($ pos, $ value, DBI :: SQL_BLOB);
</ pre>

Use the bind_type option to do the same thing with the execute method.

<pre>
#Bind type option
bind_type => {image => DBI :: SQL_BLOB}
bind_type => [image => DBI :: SQL_BLOB]
bind_type => [[qw / image audio /] => DBI :: SQL_BLOB]
</ pre>

The value of bind_type is specified by the hash reference. You can also use an array reference if you want to specify the same value for multiple columns (third method).

<h4> Specifying a filter filter </ h4>

You can use the filter option to filter the value of the parameter before embedding it in the placeholder.

<pre>
#Filter option
filter => {title => sub {uc $ _ [0]}}
filter => {title =>'upper_case'}
filter => [[qw / title author /] => sub {uc $ _ [0]}]
</ pre>

The filter is described in the format "{column name => filter (subroutine or filter name)}". If you use it with a filter name, you need to register the filter in advance using the register_filter method.

If you want to use the same filter for multiple column names, you can also specify it using the array reference (third method).

<h4> ID specification id </ h4>

If you specify the id option, you can specify the parameter without specifying the column name when primary_key is set.

<pre>
id => 4
id => [4, 5]
</ pre>

For example, if [id1, id2] is set in primary_key, id => [4, 5] specifies {id1 => 4, id2 => 5} as the parameter that is the second argument of execute. Will be the same as.

<pre>
$ dbi->execute (
  "select * from book where id1 =: id1 and id2 =: id2",
  {},
  primary_key => ['id1','id2'],
  id => [4, 5],
);
</ pre>

The above execute is the same as below.

<pre>
$ dbi-> execute (
  "select * from book where id1 =: id1 and id2 =: id2",
  {id1 => 4, id2 => 5}
);
</ pre>

<h4> Get query object query </ h4>

If you set the query option to 1, you can get the DBIx :: Custom :: Query object as the return value instead of executing the SQL.

<pre>
query => 1
</ pre>

The DBIx :: Custom :: Query object is useful for finding out what kind of query is actually being executed.

<pre>
my $ sql = $ query-> sql;
my $ columns = $ query-> columns;
</ pre>

Passing the query object to the execute method is a deprecated feature and should not be used. This was a potentially very buggy implementation. Use the reuse option instead to speed up execution.

<h4> Primary key settings primary_key </ h4>

Set the primary_key to be used in the id option.

<pre>
primary_key =>'id'
primary_key => ['id1','id2']
</ pre>

<h4> Query reuse reuse </ h4>

It has been confirmed that the reuse option can be used to increase the execution speed when executing the same SQL consecutively, which is 2 to 3 times faster. Specify a hash reference as an argument to save the query.

<pre>
reuse => $ hash_ref
</ pre>

Below is a sample.

<pre>
my $ queries = {};
for my $ param (@params) {
  $ dbi-> execute ($ sql, $ row, reuse => $ queries);
}
</ pre>

Of course you can also use it with the insert, update, delete and select methods.

<pre>
my $ queries = {};
for my $ row (@rows) {
  $ dbi-> insert ($ row, table =>'book', reuse => $ queries);
}
</ pre>

<h4> table name table </ h4>

You can specify the table name with the table option.

<pre>
table =>'author'
</ pre>

Generally, the execute method executes the specified SQL, so there is no need to specify the table option.

The table option has the following effects: If the column name of the named placeholder is not given as a fully qualified name, the column name will be fully qualified with the specified table name. The column names used in the parameters are also fully qualified.

<pre>
$ dbi-> execute ("select * from book where title =: title and author =: author",
  {title =>'Perl', author =>'Ken'}, table =>'book');
</ pre>

The above execute has the same meaning as the following.

<pre>
$ dbi-> execute (
  "select * from book where title =: book.title and author =: book.author",
  {'book.title' =>'Perl','book.author' =>'Ken'});
</ pre>

The table option is to be used when into1 or into2 of type_rule is set. This is because it is not possible to determine which table column name it is unless it is a fully qualified name, so filtering by type_rule does not work.

Therefore, you need to be aware of it only when you set into1 or into2 in type_rule.

<h4> Table alias table_alias </ h4>

You can set table aliases with the table_alias option.

<pre>
table_alias => {worker =>'user'} # {alias name => table name}
</ pre>

The key is the alias name and the value is the table name. If you set an alias for the table, the filtering effect of <b> into1 </ b> and <b> into2 </ b> specified by the C <type_rule> method will also work with the alias name. ..

In this example, the C <into1> and C <inot2> filters set in the columns of the user table are also valid for the columns of the worker table.

<h4> Disable type rules type_rule_off </ h4>

You can use the type_rule_off option to disable the into1 and into2 filters set in type_rule.

<pre>
type_rule_off => 1
</ pre>

It has no effect on the from1 and from2 filters.

<h4> Disable type rule 1 type_rule1_off </ h4>

You can use the type_rule1_off option to disable the into1 filter set in type_rule.

<pre>
type_rule1_off => 1
</ pre>

It has no effect on the from1 and from2 filters.

<h4> Disable type rule 2 type_rule2_off </ h4>

You can use the type_rule2_off option to disable the into2 filter set in type_rule.

<pre>
type_rule2_off => 1
</ pre>

It has no effect on the from1 and from2 filters.