<script> location.href = "https://mojolicious.perlzemi.com/blog/20110525130883.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span>
    </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Describe various routes with Mojolicious :: Lite </ h2>




Let's write various routes with Mojolicious :: Lite.

<h3> GET and POST methods </ h3>

The route to "/" by the GET method. The GET method is often used when retrieving a page or performing a search.

<pre>
# Via get method
use Mojolicious :: Lite;
get'/' => sub {shift-> render (text =>'Hello')};
app-> start;
</ pre>

Next is the route to "/ create" by the POST method. The POST method is often used to make changes to data that resides on the server, such as posting, updating, or deleting new articles. Generally, you can think of it as being used in the form submission process.

<pre>
# Via post method
use Mojolicious :: Lite;
get'/' =>'index';
post'/ create'=> sub {
  my $ self = shift;
  
  my $ title = $ self-> param ('title');
  
  $ self-> render (text => $ title);
};
app-> start;

__DATA__

@@ index.html.ep
<html>
  <head> <title> Top Page </ title> </ head>
  <body>
    <form method = "post" action = "<% = url_for'/ create'%>">
      <div> Title: <input type = "text" name = "title"> </ div>
      <div> <input type = "submit" value = "Send"> </ div>
    </ form>
  </ body>
</ html>
</ pre>

<h3> Use placeholders </ h3>

You can include placeholders in the URL. Start with a colon, like ": name". You can think of placeholders as variables.

<pre>
#Place holder
get'/ entry /: date' => sub {
  my $ self = shift;
  
  my $ date = $ self-> param ('date');
  
  $ self-> render (text => $ date);
};
</ pre>

The value specified in the placeholder can be obtained by the param method.

Let's access it with the following URL. It is displayed as 20111212.

<pre>
/ entry / 20111212
</ pre>

<h4> Relax Placeholder </ h4>

However, this placeholder cannot contain. (Dot). If you also want to capture. Use the Relax Placeholder. Relax placeholders start with a sharp, like "#name". Note that relax placeholders should always be enclosed in parentheses "()". (Note: From around Mojolicious 3.0, the Relax Placeholder notation has changed from ".name" to "#name".)

<pre>
#Relax place holder
get'/ entry / (.datetime)' => sub {
  my $ self = shift;
  
  my $ datetime = $ self-> param ('datetime');
  
  $ self-> render (text => $ datetime);
};
</ pre>

Let's access it with the following URL. It is displayed as 20111212.102232.

<pre>
/entry/20111212.102232
</ pre>

<h4> Wildcard Placeholder </ h4>

Use wildcard placeholders if you want to match including / (slash).

<pre>
#Wildcard place holder
get'/ entry / * datetime' => sub {
  my $ self = shift;
  
  my $ datetime = $ self-> param ('datetime');
  
  $ self-> render (text => $ datetime);
};
</ pre>

Let's access it with the following URL. 20111212/102232 is displayed.

<pre>
/ entry / 20111212/102232
</ pre>

<h3> Root technique </ h3>

<h4> Two routes </ h4>

What if you want to execute the same logic on the following two URLs?

<pre>
/ entry
/ entry / 20101111
</ pre>

In such a case, it is better to set the default value to undef. Then you can use the same logic in the above two routes.

<pre>
#Match above two URL
get'/ entry /: date'=> {date => undef} => sub {
  my $ self = shift;
  
  my $ date = $ self-> param ('date') ||'undefined';
  
  $ self-> render (text => $ date);
};
</ pre>

<h4> Mixing static and dynamic routes </ h4>

What if you want to mix static and dynamic routes?

<pre>
#Static route
/ description

# User name
/ kimoto
/ kraih
/ taro
</ pre>

In that case, all you have to do is write the static route at the top.

<pre>
#Static route
get'/ description' => sub {shift-> render (text =>'description')};

#Dinamic route
get'/: user' => sub {
  my $ self = shift;
  
  my $ user = $ self-> param ('user');
  
  $ self-> render (text => $ user);
};
</ pre>

Let's describe a slightly more difficult route. URLs such as Github also have this kind of mechanism.

<pre>
#Description (Static)
/ description

#User name (Dinamic)
/ kimoto
/ kraih
/ taro

#User name and profile (Dinamic and Static)
/ kimoto / profile
/ kraih / profile
/ taro / profile

#User name and project (Dinamic and Dinamic)
/ kimoto / dbix-custom
/ kraih / mojo
/ taro / foobar
</ pre>

<pre>
#Description (Static)
get'/ description' => sub {shift-> render (text =>'description')};

#User name (Dinamic)
get'/: user' => sub {
  my $ self = shift;
  
  my $ user = $ self-> param ('user');
  
  $ self-> render (text => "User $ user");
};

#User name and profile (Dinamic and Static)
get'/: user / profile'=> sub {
  my $ self = shift;
  
  my $ user = $ self-> param ('user');
  
  $ self-> render (text => "$ user Profile");
};

#User name and project (Dinamic and Dinamic)
get'/: user /: project' => sub {
  my $ self = shift;
  
  my $ user = $ self-> param ('user');
  my $ project = $ self-> param ('project');
  
  $ self-> render (text => "$ user $ project Project");
};
</ pre>