<script> location.href = "https://mojolicious.perlzemi.com/blog/20110424130671.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span>
    </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
Convert <h2> parameters to hash references / Mojolicious </ h2>



To convert the parameters to a hash reference, use the <strong> to_hash </ strong> method of the Mojo :: Parameters class.

<pre>
my $ hash_data = $ params-> to_hash;
</ pre>

This is a sample of Mojolicious :: Lite. Converting parameters (query string, POST data, captured in URL) to hash reference.

<pre>
#Mojolicious :: Lite
get'/' => sub {
  my $ self = shift;
  my $ param = $ self-> req-> params-> to_hash;
};
</ pre>

Get the Mojo :: Message :: Request object with the req method of the Mojolicious :: Controller object, get the Mojo :: Parameters object with the params method of the Mojo :: Message :: Request object, and the to_hash method from the Mojo :: Parameters object. Is calling.

This is a sample of Mojolicious.

<pre>
#Mojolicious
package MyApp :: Book;

use Mojo :: Base'Mojolicious :: Controller';

sub register {
  my $ self = shift;
  my $ param = $ self-> req-> params-> to_hash;
}
</ pre>