t>
</pre>

Use the script tag to write JavaScript. Specify "text / javascript" for type. It seems that the JavaScript code needs to be written in a section called CDATA so that it works properly even with the specification of XHTML. On the contrary, from the viewpoint of JavaScript, the CDATA section is not needed, so it is commented out with //.

<h4> Loading external JavaScript </h4>

<pre>
<script src = "/ js / myapi.js" type = "text / javascript"> </script>
</pre>

Use the script tag to load external JavaScript. Specify the URL of the JavaScript source in src, and specify "text / javascript" in type.

<h3> At the end </h3>

It was a rush, but I will finish the explanation of HTML.

<hr>

<a href="http://px.a8.net/svt/ejp?a8mat=25TFA7+74LUIA+D8Y+C5VW1" target="_blank">
<img border = "0" width = "250" height = "250" alt = "" src = "http://www21.a8.net/svt/bgt?aid=130703263431&wid=001&eno=01&mid=s00000001717002043000&mc=1" > </a>
<img border = "0" width = "1" height = "1" src = "http://www18.a8.net/0.gif?a8mat=25TFA7+74LUIA+D8Y+C5VW1" alt = "">