<script> location.href ='https://dbix-custom.perlzemi.com/blog/20110812131778.html'; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop = "name"> DBIx :: Custom </ span> </a>
    <meta itemprop = "position" content = "4" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> Introduction of methods for "generating SQL" with DBIx :: Custom </ h2>




Introducing the method for "generating SQL" with DBIx :: Custom.

<h3> Easily generate column names for use in select statements --column </ h3>

Use the <strong> column </ strong> method to easily generate the column name part used in the select statement.

<pre>
my $ column = $ dbi-> column (book => [qw / author title /]);
</ pre>

A column name similar to the following is generated.

<pre>
"book". "author" as "book.author", "book". "title" as "book.title"
</ pre>

The column method helps to write less duplication.

You can also change the delimiter used in the column name alias.

<pre>
$ dbi-> separator ('-');
</ pre>

If you change the delimiter to "-", the following column name will be generated.

<pre>
"book". "author" as "book-author", "book". "title" as "book-title"
</ pre>

<h3> Use column in select method </ h3>

You can use the column method in the column option of the select method.

<pre>
my $ result = $ dbi-> select (
  table =>'book',
  column => [
    $ dbi-> column (book => [qw / title author /])
  ]
);
</ pre>

However, it is troublesome to write a column, so using a hash reference has the same meaning as using the column method, so it is better to use this.

<pre>
my $ result = $ dbi-> select (
  table =>'book',
  column => [
    {book => [qw / title author /]}
  ]
);
</ pre>

<h3> Generate unqualified column name for table name --mycolumn </ h3>

The <strong> mycolumn </ strong> method makes it easy to generate unqualified column names for table names.

<pre>
my $ mycolumn = $ dbi-> mycolumn (book => ['author','title']);
</ pre>

A column name similar to the following is generated.

<pre>
book.author as author,
book.title as title
</ pre>

This is supposed to be used in the column option of the select method.

<pre>
$ dbi-> select (column => [
  $ dbi-> mycolumn (book => ['author','title'])
]);
</ pre>

<h3> Dynamically generate the values ​​part in the insert statement --values_clause </ h3>

Use the <strong> values_clause </ strong> method to dynamically generate the values ​​part of the insert.

<pre>
my $ values_clause = $ dbi-> values_clause ({title =>'a', age => 2});
</ pre>

This will be a string like this:

<pre>
(title, author) values ​​(title =: title, age =: age);
</ pre>

It can be used to make an insert statement.

<pre>
my $ insert_sql = "insert into book $ values_clause";
</ pre>

<h3> Dynamically generate the part to assign the value in the update statement --assign_clause </ h3>

Use the <strong> assign_clause </ strong> method to dynamically generate the part to which the value is assigned in the update statement.

<pre>
my $ param = {id => 1, title =>'Perl'};
my $ assign_clause = $ dbi-> assign_clause ($ param);
</ pre>

It will be expanded as follows.

<pre>
id =: id, title =: title
</ pre>

You can create an update statement as follows:

<pre>
my $ update_sql = "update book set $ assign_clause";
</ pre>

The SQL created in this way can be executed by the execute method.

<pre>
$ dbi-> execute ($ update_sql, $ param);
</ pre>

<h3> Change quotes for reserved words --quote </ h3>

Use the <strong> quote </ strong> method to change the quotes for reserved words.

<pre>
$ dbi-> quote ('"');
$ dbi-> quote ('[]');
</ pre>

Quoting can be set with a single character or as a pair.

The default value of quote is set automatically according to the database, so it is usually not necessary to set it.

<pre>
[Database] [quote value]
MySQL `

Connection via ODBC
(Assuming Microsoft SQL Server and Access) []

other than that                              "
</ pre>

Table names and column names are automatically quoted using the quote value.

For example, in MySQL, select like below

<pre>
$ dbi-> select (
  table =>'book',
  column => [
    {book => ['author']}
  ]
);
</ pre>

When you execute, the following SQL is executed.

<pre>
select book.author as `book.author` from` book`;
</ pre>

<h3> Change table name and column name delimiter --separator / DBIx :: Custom </ h3>

Use the <strong> separator </ strong> method to change the table and column name delimiters.

<pre>
$ dbi-> separator ('-');
</ pre>

The default delimiter is ".".

<h4> Impact on column method </ h4>

The character specified in separator is used as an alias for the column name in the string returned by the column method.

In the case of column method, it will be as follows.

<pre>
my $ column = $ dbi-> column (book => [qw / title author /]);
</ pre>

The alias of the column name included in the return string will be something like "table name-column name".

<pre>
"book". "title" as "book-title", "book". "author" as "book-author"
</ pre>

<h4> Impact on column option of select method </ h4>

In the column option of select method, the character specified in separator is used as the delimiter between table name and column name even when hash reference is used.

<pre>
my $ result = $ dbi-> select (
  table =>'book',
  column => [
    {book => [qw / title author /]}
  ]
);
</ pre>

The following SQL is executed.

<pre>
select "book". "title" as "book-title", "book". "author" as "book-author" from "book"
</ pre>

<h4> When separator helps </ h4>

For example, it is very useful for embedding data obtained from a database in HTML. When working with the DOM, jQuery has become the de facto standard. However, the default "." Delimiter is jQuery cannot handle the string correctly unless you escape the dot.

If you change the delimiter to "-", you can handle it as it is, so you can use it in a way that is compatible with HTML.

<h3> Generate a value for the like operator like_value </ h3>

When using the like operator, the value is usually sandwiched between "%" on the left and right, such as "% Perl%". like_value is a function (code reference) that performs conversion to add% to the left and right.

<pre>
my $ like_value = $ dbi-> like_value-> ("Perl");
</ pre>

In this example you can get the string "% Perl%".

<h3> Registration of subroutine to generate current time </ h3>

The subroutine that generates the current time can be set with the <strong> now </ strong> attribute.

<pre>
$ dbi-> now (
  sub {
    my ($ sec, $ min, $ hour, $ mday, $ mon, $ year) = localtime;
    $ mon ++;
    $ year + = 1900;
    return sprintf ("% 04d /% 02d /% 02d% 02d:% 02d:% 02d");
  }
);
</ pre>

By default, a subroutine that returns the current time in the format "2011-10-14 05:05:27" is registered.

You can also use a database function to get the current time, in which case you can specify it in the scalar reference.

<pre>
$ dbi-> now (\ "now ()");
</ pre>

This current time is used by the ctime option and mtime option of the insert method and the mtime option of the update method.