<script> location.href = "https://mojolicious.perlzemi.com/blog/20110406130586.html"; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop = "name"> Perl </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop = "name"> Mojolicious </ span>
    </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Set a passphrase for signed cookies / Mojolicious </ h2>



Set a passphrase for signed cookies Use the <strong> secrets </ strong> method of the Mojolicious class to set it. Pass an array reference as an argument.

<pre>
$ app-> secrets (['lkjsdf% $ #']);
</ pre>

If you do not make this setting, a warning will be issued, so make sure to set it in a non-test environment.

This is an example of use with Mojolicious :: Lite and Mojolicious.

<pre>
#Mojolicious :: Lite
app-> secrets (['lkjsdf% $ #']);

#Mojolicious
sub starup {
  my $ self = shift;
  $ self-> secrets (['lkjsdf% $ #']);
}
</ pre>

<h3> Set a new passphrase without interrupting the session. </ h3>

You can set a new passphrase without interrupting your session.

<pre>
$ app-> secrets (['new_passw0rd','old_passw0rd']);
</ pre>

Please set a new passphrase at the beginning.

<h3> Changes in Mojolicious 5 </ h3>

The secret method has been deprecated and replaced by the secrets method. This is to set a new passphrase to avoid discarding the session.