<script> location.href ='https://dbix-custom.perlzemi.com/blog/20110130130016.html'; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop = "name"> DBIx :: Custom </ span> </a>
    <meta itemprop = "position" content = "4" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> "Update" a row with the "update" method of DBIx :: Custom </ h2>



Use the <strong> update </ strong> method to update the rows in the table.

<pre>
$ dbi-> update (
  {title =>'Perl', author =>'Ken'},
  table =>'book',
  where => {id => 1},
);
</ pre>

In the first argument, specify the data for update as a hash reference. Specify the target table with <strong> table </ strong>. Specify the condition of the row to be updated with <strong> where </ strong>. Where can be a hash reference or a DBIx :: Custom :: Where object. The following SQL is issued:

<pre>
update book set title =?, author =? where id =?;
</ pre>

The corresponding value is embedded in the placeholder.

If you pass the scalar reference as a value, you can embed it in SQL as it is.

<pre>
{date => \ "NOW ()"}
</ pre>

<h3> update method options </ h3>

The update method can use all the options of the "execute" method], and the following new options are available. For the execute option, refer to the option item of "<a href="/blog/20110708131364.html"> execute method </a>".

<h4> Condition specification by ID id </ h4>

Use the id option to specify conditions by ID. The primary_key option must be specified.

<pre>
id => 4
id => [4, 5]
</ pre>

For example, suppose you execute the following update statement.

<pre>
$ dbi-> update (
  {title =>'Perl', author =>'Ken'}
  primary_key => ['id1','id2'],
  id => [4, 5],
  table =>'book'
);
</ pre>

This has the same meaning as the update statement below.

<pre>
$ dbi-> update (
  {title =>'Perl', author =>'Ken'}
  where => {id1 => 4, id2 => 5},
  table =>'book'
);
</ pre>

<h4> prefix prefix </ h4>

You can add a string between update and the table name.

<pre>
prefix =>'or replace'
</ pre>

For example, you can execute the following SQL statement.

<pre>
update or replace book
</ pre>

<h4> table name table </ h4>

Specify the table name with the table option.

<pre>
table =>'book'
</ pre>

<h4> Set the current time when updating mtime </ h4>

To update the update time at update time, specify the column name to store the update time with the mtime option.

<pre>
mtime =>'modified_time'
</ pre>

The default format is "YYYY-mm-dd HH: MM: SS". This can be changed with the now attribute.

<h4> Where clause where </ h4>

Use the where option to write a Where clause.

<pre>
where => {author =>'Ken','title' =>'Perl'}
where => [
  ['and',': author {=}',': title {like}'],
  {author =>'Ken', title =>'% Perl%'}
]
</ pre>

See the where option in "<a href="/blog/20110210130016.html"> select method </a>" for how to specify the where option. See <a href="/blog/20110924132031.html"> Dynamic Where Clause Generation </a> for more information on Where clause generation.

<h4> Placeholder wrapping wrap </ h4>

If you want to edit the placeholder part of the set part of the update statement, use the wrap option.

<pre>
wrap => {price => sub {"max ($ _ [0])"}}
</ pre>

For example, suppose you run the following update:

<pre>
$ dbi-> update (
  {price => 100},
  table =>'book',
  where => {id => 1}
  wrap => {price => sub {"$ _ [0] + 5"}}
);
</ pre>

The following SQL is executed.

<pre>
update book set price =? + 5 where id = 1
</ pre>

<h3> Update all rows update_all </ h3>

Use the <strong> update_all </ strong> method to update all the rows in the table. For your safety, the update method does not allow all row updates, so use the update_all method instead.

<pre>
$ dbi-> update_all ({title =>'Perl', author =>'Ken'}, table =>'book');
</ pre>

Specify the data for update in the first argument as a hash reference. Specify the target table with <strong> table </ strong>. The following SQL is issued:

<pre>
update book set title =?, author =?;
</ pre>

The corresponding value is embedded in the placeholder.