<script> location.href ='https://dbix-custom.perlzemi.com/blog/20110210130016.html'; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop = "name"> DBIx :: Custom </ span> </a>
    <meta itemprop = "position" content = "4" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> "Select" a row with the "select" method of DBIx :: Custom </ h2>




In DBIx :: Custom, use the <strong> select </ strong> method to select a row.

<pre>
my $ result = $ dbi-> select (table =>'book');
</ pre>

Specify the table name in table. The following SQL will be issued.

<pre>
select * from book;
</ pre>

The return value is a DBIx :: Custom :: Result object, which can be used to fetch rows.

<pre>
while (my $ row = $ result-> fetch_hash) {
  print $ row-> {author}. "\ n";
  print $ row-> {title}. "\ n";
}
</ pre>

I'm using the <a href="/blog/20100123126425.html"> while statement </a> to retrieve all the lines line by line.

<h3> Select method options </ h3>

You can use all the options of the <a href="/blog/20110916131923.html"> execute method </a> in the select method. In addition, the following options are implemented.

<h3> Column name column </ h3>

Use the column option to specify the column name.

<pre>
my $ result = $ dbi-> select (
  table =>'book',
  column => [
    'author',
    'title'
  ]
);
</ pre>

Alternatively, you can specify the column name as the first argument of the select method.

<pre>
my $ result = $ dbi-> select (['author','title'], table =>'book');
</ pre>

The following SQL is issued:

<pre>
select author, title from book;
</ pre>

<h4> Specify column name column </ h4>

You can specify the column name in various ways using the column option. If the column option is omitted, "*" representing all columns will be set as the column name.

<b> (1) String </ b>
It is specified by a character string.

<pre>
column =>'author'
</ pre>

<b> (2) Array reference </ b>

You can specify multiple columns in the array reference.

<pre>
column => ['author','title']
</ pre>

A column name similar to the following is generated.

<pre>
author, title
</ pre>

<b> (3) Hash reference </ b>

You can use hash references to describe a set of table and column names.

<pre>
column => {book => [qw / title author]}
</ pre>

A column name similar to the following is generated.

<pre>
book.author as "book.author",
book.title as "book.title"
</ pre>

The alias part is properly escaped depending on the database. Internally it executes the column method.

<b> (4) Combination of array reference and hash reference </ b>
You can also specify multiple hash references within an array reference.

<pre>
column => [
  {book => [qw / title author]},
  {company => [qw / id name /]}
]
</ pre>

A column name similar to the following is generated.

<pre>
book.author as "book.author",
book.title as "book.title",
company.id as "company.id",
company.name as "company.name"
</ pre>

You can also mix string and hash references as elements of an array reference as follows:

<pre>
column => [
  'title',
  'author',
  {company => [qw / id name /]}
]
</ pre>

<h4> Specifying conditions by ID id </ h4>

Use the id option to specify the condition by ID. The primary_key must be set.

<pre>
id => 4
id => [4, 5]
</ pre>

For example, suppose the following select is executed.

<pre> |
$ dbi-> select (
  primary_key => ['id1','id2'],
  id => [4, 5],
  table =>'book'
);
</ pre>

This is the same as the next select.

<pre>
$ dbi-> select (
  where => {id1 => 4, id2 => 5},
  table =>'book'
);
</ pre>

<h4> Join clause join </ h4>

Specify the join option to specify the join clause.

<pre>
join =>'left outer join company on book.company_id = company_id'
join => [
  'left outer join company on book.company_id = company_id',
  'left outer join location on company.location_id = location.id'
]
</ pre>

Note that the DBIx :: Custom join clause has a slightly special implementation. The select method searches for the table name specified in the column and where clauses to find the required join. Unnecessary join clauses are not included in the SQL.

In other words, if the table name is not found in the column option or where option, the join clause will not be concatenated.

For example, suppose you execute the following select.

<pre>
$ dbi-> select (
  table =>'book',
  column => ['company.location_id as location_id'],
  where => {'company.name' =>'Orange'},
  join => [
    'left outer join company on book.company_id = company.id',
    'left outer join location on company.location_id = location.id'
  ]
);
</ pre>

In the above, the table name company appears in the column option. On the other hand, the table name location does not appear in the column or where options.

So you only need to concatenate the company table in the join clause, not the location table.

It will generate the following SQL:

<pre>
select company.location_id as location_id
from book
  left outer join company on book.company_id = company.id
where company.name =?;
</ pre>

The select method tries to find the table name as automatically as possible, but it may not be possible with complex join clauses. In such cases, specify a hash reference instead of a string to specify the required table name, as follows:

<pre>
$ dbi-> select (
  table =>'book',
  column => ['company.location_id as location_id'],
  where => {'company.name' =>'Orange'},
  join => {
    clause =>'left outer join location on company.location_id = location.id',
    table => ['company','location']
  }
);
</ pre>

Generally speaking, there are two tables in the join clauseThe name must be included in the form "table name.column name". Therefore, when using the using clause etc., the table name is not in the form of "table name.column name", so it is necessary to specify it explicitly.

Also, the order of the table names is important. The source table must be on the left and the destination table must be on the right.

<pre>
# Correct example The source book (book.company_id) is on the left and the destination company (company.id) is on the right.
left outer join company on book.company_id = company.id

# Wrong example The source book (book.company_id) is on the right and the destination company (company.id) is on the left.
left outer join company on company.id = book.company_id
</ pre>

Both have the same meaning for a normal SQL statement, but the parsed results are different for DBIx :: Custom.

It was a little difficult explanation, but the advantage that join can be described as it is and that only necessary joins are selected is very big. Also, if you write the join clause naturally, it is unlikely that the analysis will fail.

<h4> Parameter specification param </ h4>

Use the param option to specify a value for a named placeholder that appears before the where clause.

<pre>
param => {'table2.key3' => 5}
</ pre>

For example, you can use it if you want to use named placeholders in join clauses.

<pre>
join => ['inner join (select * from table2 where table2.key3 =: table2.key3)'.
          'as table2 on table1.key1 = table2.key1']
</ pre>

<h4> prefix prefix </ h4>

Use prefix if you want to add a string immediately after select.

<pre>
prefix =>'SQL_CALC_FOUND_ROWS'
</ pre>

For example, you can issue the following SQL.

<pre>
select SQL_CALC_FOUND_ROWS * from book;
</ pre>

<h4> table name table </ h4>

Use the table option to specify the table name.
<pre>
table =>'book'
</ pre>

<h4> Where clause where </ h4>

Use the where option to write a Where clause.
<pre>
where => {author =>'Ken','title' =>'Perl'}
where => [
  ['and',': author {=}',': title {like}'],
  {author =>'Ken', title =>'% Perl%'}
]
</ pre>

<h3> where option </ h3>

Although it is a where option, it can be specified in various formats as follows.

<h4> Specify by hash reference </ h4>

When the Where clause is specified in the hash reference, the comparison by equivalence (=) is connected by and.

<pre>
where => {author =>'Ken','title' =>'Perl'}
</ pre>

The above specification would be a Where clause like this:

<pre>
where author =: author and title =: title
</ pre>

"Ken" and "Perl" are embedded in named placeholders (: author,: title).

If you specify an array reference as the value, you can write using <b> in </ b>.

<pre>
where => {author => ['Ken','Taro'],'title' =>'Perl'}
</ pre>

The above is the following Where ward.

<pre>
where author in (: author,: author) and title =: title
</ pre>

The corresponding value is embedded in the named placeholder.

<h4> Specify by DBIx :: Custom :: Where object </ h4>

You can specify a DBIx :: Custom :: Where object.

<pre>
where => $ where_obj
</ pre>

See <a href="/blog/20110924132031.html"> Dynamic Where Clause Generation </a> for the DBIx :: Custom :: Where object.

<h4> Specification by array reference </ h4>

If you specify by array reference, you can do the same without creating a DBIx :: Custom :: Where object.

<pre>
where => [
  ['and',': author {=}',': title {like}'],
  {author =>'Ken', title =>'% Perl%'}
];;
</ pre>

The above has the same meaning as the following description.

<pre>
where => $ dbi-> where (
  clause => ['and',': author {=}',': title {like}'],
  param => {author =>'Ken', title =>'% Perl%'}
);
</ pre>

<h4> Specify by character string </ h4>

If specified as a string, a simple Where clause will be generated.

<pre>
where =>'title is null'
</ pre>

The above specification would be a Where clause like this:

<pre>
where title is null
</ pre>

Get the number of <h3> rows --count </ h3>

Use the <strong> count </ strong> method to get the number of rows.

<pre>
my $ count = $ dbi-> count (table =>'book', where => {title =>'Perl'});
</ pre>

The options that can be specified are the same as the select method. "Count (*)" is automatically set in column.

Currently, it is recommended to use the select method rather than the count method.

<pre>
my $ count = $ dbi-> select (
  'count (*)',
  table =>'book',
  where => {title =>'Perl'}
)-> value;
</ pre>