<script> location.href ='https://dbix-custom.perlzemi.com/blog/20110816131802.html'; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop = "name"> DBIx :: Custom </ span> </a>
    <meta itemprop = "position" content = "4" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> Use "model" with DBIx :: Custom </ h2>




I will explain how to use "model" with DBIx :: Custom.

<h3> Create model --create_model </ h3>

Use the <strong> create_model </ strong> method to create a model.

<pre>
$ dbi-> create_model (
  table =>'book',
  primary_key =>'id',
  join => [
    'left outer join company on book.company_id = company.id'
  ],,
  ctime =>'ctime',
  mtime =>'mtime'
);
</ pre>
    
The model includes "<b> table </ b> --table name" "<b> primary_key </ b> --primary key" "<b> join </ b> --join clause" "<b> ctime </ b> b> --Created date and time "," <b> mtime </ b> --Updated date and time ", etc. can be set.

These are automatically used when you call the <b> insert </ b>, <b> update </ b>, <b> delete </ b>, <b> select </ b> methods from your model. It will be so.

<h4> Get model </ h4>

The created model can be obtained by specifying the table name with the <b> model </ b> method.

<pre>
my $ book_model = $ dbi-> model ('book');
</ pre>

The model is a <b> DBIx :: Custom :: Model </ b> object. From the model, you can call the methods of <b> DBIx :: Custom :: Model </ b> and all the methods of DBIx :: Custom.

<h4> Using the model </ h4>

You can use methods such as insert, update, delete, select, count in your model. Options such as table, primary_key, and join can be omitted to simplify the description.

<pre>
my $ result = $ model-> select (
  column => [
    {company => [qw / name /]}
  ]
);
</ pre>

You can also call all DBIx :: Custom or DBI methods from the model.

<h3> Import externally defined model --include_model </ h3>

Use the include_model method to incorporate an externally defined model into your program. DBIx :: Custom allows you to define a model externally and improve maintainability as your program grows.

<pre>
$ dbi-> include_model ('MyModel');
</ pre>

This example captures all models that belong under the namespace MyModel. Also note that you need a module named MyModel.

<pre>
lib / MyModel.pm
    / MyModel / book.pm
              / company.pm
</ pre>

<h4> Model sample </ h4>

<b> MyModel </ b>

MyModel typically looks like this: Makes it inherit from DBIx :: Custom :: Model.

<pre>
package MyModel;
use DBIx :: Custom :: Model -base;

1;
</ pre>

The <b> -base </ b> option is for inheritance and is inherited from <b> Object :: Simple </ b>.

<b> MyModel :: book </ b>

MyModel :: book looks like this: Make it inherit from MyModel.

<pre>
has primary_key =>'book_id';
has ctime =>'created_time';
has mtime =>'modified_time';

has join => sub {
  [
    'left join company on book.company_id = company.id',
    'left join author on book.author_id = author.id'
  ]
}

1;
</ pre>

<b> has </ b> is a method for defining attributes and is a feature of <b> Object :: Simple </ b>.

<h3> Set up the model --setup_model </ h3>

Use <strong> setup_model </ strong> to set up the model. The column name is automatically set in the columns of the model (DBIx :: Custom :: Model) by examining the table information in the database.

<pre>
$ dbi-> setup_model;
</ pre>

If the <b> columns </ b> attribute of DBIx :: Custom :: Model is set, use the <b> mycolumn </ b> method of DBIx :: Custom :: Model to do everything in the table You can generate a column clause that contains the columns of.

<pre>
my $ book_model = $ dbi-> model ('book');
my $ column_clause = $ book_model-> mycolumn;
</ pre>
  
A column clause similar to the following is generated that contains all the columns.

<pre>
book.author as author,
book.title as title,
book.price as price
</ pre>

You can also use DBIx :: Custom's <b> column </ b> method without specifying a column name.

<pre>
my $ column_clause = $ dbi-> column ('book');
</ pre>

A column clause is generated that contains all the columns as follows:

<pre>
book.author as "book.author",
book.title as "book.title",
book.price as "book.price"
</ pre>

<h3> Get model --model </ h3>

You can use the <strong> model </ strong> method to get the model created by the create_model and include_model methods.

<pre>
my $ model = $ dbi-> model ('book');
</ pre>