<script> location.href ='https://dbix-custom.perlzemi.com/blog/20110516130787.html'; </ script>
<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop = "name"> database </ span> </a>
    <meta itemprop = "position" content = "3" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop = "name"> DBIx :: Custom </ span> </a>
    <meta itemprop = "position" content = "4" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> How to "connect to database" with DBIx :: Custom </ h2>



Use the <strong> connect </ strong> method to connect to the database. Try connecting to SQLite as a database.

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: SQLite: dbname = bookshop"
);
</ pre>

Specify the data source name in dsn to connect to the database. The data source depends on each database. If the connection is successful, the DBIx :: Custom object will be returned as the return value.

<h3> Username and password </ h3>

Use user and password if you need a username and password to connect to the database.

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: SQLite: dbname = bookshop",
  user =>'ken',
  password =>'utj4857'
);
</ pre>

<h3> DBI options </ h3>

DBI options can be specified with option.

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: SQLite: dbname = bookshop",
  option => {sqlite_unicode => 1}
);
</ pre>

The following values ​​are set by default for DBI options. It throws an exception for the error and the commit is in autocommit mode.

<pre>
{
  RaiseError => 1,
  PrintError => 0,
  AutoCommit => 1
}
</ pre>

The default DBI options can be obtained with the default_option method if desired.
<pre>
my $ default_option = DBIx :: Custom-> new-> default_option;
</ pre>

<h3> Connect to MySQL </ h3>

To connect to <strong> MySQL </ strong> using the connect method:

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: mysql: database = bookshop",
  user =>'ken',
  password =>'! LFKD% $ &',
  option => {mysql_enable_utf8 => 1}
);
</ pre>

Specify the data source name in dsn, the database user name in user, and the database password in password. For option, specify the DBI module option. The return value will be a DBIx :: Custom object.

Setting mysql_enable_utf8 to 1 as a DBI option is useful because it automatically converts Perl's internal strings to UTF-8 byte strings.

In addition, MySQL allows you to easily connect to a remote MySQL server by specifying the host name and port number.

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: mysql: database = bookshop; host = somehost.com; port = 3306",
  user =>'ken',
  password =>'! LFKD% $ &',
);
</ pre>

<h3> Connect to PostgreSQL </ h3>

To connect to <strong> PostgreSQL </ strong> using the connect method:

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: Pg: dbname = bookshop",
  user =>'ken',
  password =>'! LFKD% $ &',
  option => {pg_enable_utf8 => 1}
);
</ pre>

Specify the data source name in dsn, the database user name in user, and the database password in password. For option, specify the DBI module option. The return value will be a DBIx :: Custom object.

Setting pg_enable_utf8 to 1 as a DBI option is convenient because it automatically converts Perl's internal strings to UTF-8 byte strings.

In addition, MySQL allows you to easily connect to a remote PostgreSQL server by specifying the host name and port number.

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: Pg: dbname = $ dbname; host = somehost.com; port = 5432;",
  user =>'ken',
  password =>'! LFKD% $ &',
);
</ pre>

<h3> Connect to SQLite </ h3>

To connect to <strong> SQLite </ strong> using the connect method:

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: SQLite: dbname = $ database",
  option => {sqlite_unicode => 1}
);
</ pre>

Specify the data source name in dsn. For option, specify the DBI module option. The return value will be a DBIx :: Custom object.

Setting sqlite_unicode to 1 as a DBI option is useful because it automatically converts Perl's internal strings to UTF-8 byte strings.

Also, with SQLite, it is convenient to be able to create a database in memory when conducting tests.

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: SQLite: dbname =: memory:"
);
</ pre>

<h3> Connect to Oracle </ h3>

To connect to <strong> Oracle </ strong> using the connect method:

<h4> When connecting with a net service name </ h4>

When connecting to Oracle with a net service name, the description is as follows.
 
<pre>
#Connect to Oracle (Net servrice name)
my $ dbi = DBIx :: Custom-> connect (dsn => "dbi: Oracle: $ net_service_name");
</ pre>

If you want to connect with the net service name, you need to define the net service name in the file tnsnames.ora.

tnsnames.ora should be located in the following path:

<pre>
$ ORACLE_HOME / network / admin / tnsnames.ora
</ pre>

Below is a sample of tnsnames.ora.

<pre>
mydb =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP) (HOST = localhost) (PORT = 1521))
    )
    (CONNECT_DATA =
      (SID = XE)
    )
  )
</ pre>

In this case, mydb is the net service name. Specify the database name in the SID part. In this example, XE is the database name.

<a href="http://www.shift-the-oracle.com/oracle-net/tnsnames.html"> For more information on tnsnames.ora, see this explanation </a>.

<h4> When directly specifying the database name </ h4>

To specify the database name directly:

<pre>
#Connect to Oracle (SID)
my $ dbi = DBIx :: Custom-> connect (
  dsn =>'dbi: Oracle: host = localhost; port = 1521; sid = $ database',
);
</ pre>

sid is the part that specifies the database name. For example, if you are using the Expression version of Oracle, you can connect by specifying EX. Specify the port numberIf not, it will automatically try the ports in the order of 1526, 1521.

<h4> Oracle database name </ h4>

In Oracle, there are a lot of things called database names. <a href="http://www.shift-the-oracle.com/config/oracle_sid-db_name-global_name.html"> For more information on Oracle database names, see here </a>.

<h3> Connect to Microsoft SQL Server via ODBC </ h3>

To connect to <strong> Microsoft SQL Server </ strong> via ODBC using the DBIx :: Custom connect method:

<h4> For Windows authentication </ h4>

<pre>
# Data source name (Windows authentication)
my $ dsn = "dbi: ODBC: driver = {SQL Server}; Server = {localhost \\ SQLEXPRESS};"
  . "Trusted_Connection = yes; AutoTranslate = No; Database = master;";

#Connect
my $ dbi = DBIx :: Custom-> connect (dsn => $ dsn);
</ pre>

The data source name starts with "dbi: ODBC:". The value of driver is {SQL Server}. The value specified for Server must be "hostname \\ object name".

If you want to use Windows Authentication, set the value of Trusted_Connection to yes. AutoTranslate is related to the automatic conversion of data, but is usually set to No. For Database, you can specify the name of the database you want to connect to.

If you want to specify the port number, set the value of Server as follows.

<pre>
# With port number
Server = {localhost \\ SQLEXPRESS, 1433}
</ pre>

This setting is also true if you use a regular DBI instead of DBIx :: Custom.

<h4> For SQL Server Authentication </ h4>

<pre>
# Data source name (SQL Server authentication)
my $ dsn = "dbi: ODBC: driver = {SQL Server}; Server = {localhost \\ SQLEXPRESS};"
  . "Trusted_Connection = No; AutoTranslate = No; Database = master;";

#Connect
my $ dbi = DBIx :: Custom-> connect (dsn => $ dsn, user =>'kimoto', password =>'iejfid');
</ pre>

It is almost the same as the case of Windows authentication, but in the case of SQL Server authentication, set the Trusted_Connection part to No. Also, since SQL Server authentication is password-based authentication, specify password as well.

Also, if you want to connect with SQL Server Authentication, you cannot connect unless SQL Server Authentication is enabled, so you need to check what the settings are.

<a href="http://msdn.microsoft.com/ja-jp/library/ms188670.aspx"> Switching between Windows authentication and SQL Server authentication </a>

Remember to restart SQL Server after changing the settings.

<h3> Connect to Microsoft Access </ h3>

To connect to <strong> Microsoft Access </ strong> via ODBC using the connect method: (This connection method is the same when using Perl and raw DBI.)

<h4> mdb file </ h4>

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: ODBC: driver = Microsoft Access Driver (* .mdb); dbq = hoge.mdb",
);
</ pre>

Specify the data source name in dsn. The return value will be a DBIx :: Custom object.

Note that join is not supported in mdb files. This is a Microsoft Access limitation.

<h4> Microsoft Access 2007 accdb file </ h4>

First <a href="http://www.microsoft.com/downloads/ja-jp/details.aspx?FamilyID=7554F536-8C28-4598-9B72-EF94E038C891"> Install the ODBC driver for 2007 from here </ strong> a> must be done.

Then specify dsn as follows: Note that the above mdb file is slightly different (enclosed in {}).

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: ODBC: Driver = {Microsoft Access Driver (* .mdb, * .accdb)}; DBQ = hoge.accdb",
);
</ pre>

I can use join in the accdb file, but it seems that I can't include. (Dot) in the column. You can use it correctly by changing the separator to "-" etc. as shown below.

<pre>
$ dbi-> separator ('-');
</ pre>

<h4> Microsoft Access 2010 accdb file </ h4>

<a href="http://www.microsoft.com/downloads/ja-jp/details.aspx?FamilyID=c06b8369-60dd-4b64-a44b-84b371ede16d"> Install the ODBC driver for 2010 from here </a> > Must be.

The connection method will be the same as that of 2007.

<h3> Connect to DB2 </ h3>

To connect to <strong> DB2 </ strong> using the connect method:

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: DB2: db_name",
  user => $ username,
  password => $ password
);
</ pre>

Specify the data source name in dsn. The return value will be a DBIx :: Custom object.

<h3> Use "DBIx :: Connector" </ h3>

When running a Web application on a production machine, it is necessary to manage database connections. For example, if there is no connection for a long time, the database may determine that the connection is not in use and disconnect it. Also, if you run your web application on a prefork server or mod_perl environment, you may inadvertently lose your database connection.

In such a case, the connection manager comes into play. The database manager DBIx :: Connector will automatically repair lost connections for you. When used with DBIx :: Custom, set the <b> connector </ b> attribute to <b> 1 </ b>.

<pre>
my $ dbi = DBIx :: Custom-> connect (
  dsn => "dbi: mysql: database = $ database",
  user => $ user,
  password => $ password,
  dbi_option => {mysql_enable_utf8 => 1},
  connector => 1
);
</ pre>

After connecting, you can access the DBIx :: Connector object with the connector attribute.

<pre>
my $ connector = $ dbi-> connector;
</ pre>

If you want to execute a transaction:

<pre>
$ dbi-> connector-> txn (sub {
  #Processing 1
  ...

  #Processing 2
  ...
});
</ pre>

See the DBIx :: Connector documentation for more details on how to use it.

<h4> Use another connection manager </ h4>

You can also use another connection manager. The connection manager must have a method called <b> dbh </ b>.

<pre>
my $ connector = DBIx :: SomeConnector-> new (
  "dbi: mysql: database = $ database",
  $ user,
  $ password,
  {
    % {DBIx :: Custom-> new-> default_dbi_option},
    mysql_enable_utf8 => 1
  }
);

my $ dbi = DBIx :: Custom-> connect (connector => $ connector);
</ pre>

You can specify a connection manager object for connector. For DBI options, pass the default options for DBIx :: Custom and the options you specify.