<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20160225145640.html">
      <span itemprop = "name"> Version information </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <span itemprop = "name"> here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Perl 5.14 release </h2>



Perl 5.14 has been released. The part that I was personally interested in.

<h3> Unicode6 support </h3>

Added support for Unicode 6. Pictograms etc. can be used. However, there are some parts that collide with the internal implementation of Perl (characters that represent bells). It seems that this will be replaced by the characters handled by Unicode 6 in the future.

<h3> Improved IPv6 support </h3>

It is easier to write applications that support IPv6.

<h3> Improved CPAN command </h3>

CPAN command settings are now more automatic. It also includes local::lib, so you can now install it in your user environment with just the CPAN command (probably).

<h3> HTTP client added to standard module </h3>

An HTTP client called HTTP::Tiny has been added to the standard module. A CPAN module has been added to access the HTTP server without external reliance. I personally thought it was a good decision to have an HTTP client as a standard attachment.

<h3> A module that parses JSON has been added to the standard module </h3>

A module for parsing JSON called JSON::PP has been added to the standard module. It seems to be used for reading a config file written in JSON of the CPAN module. I personally thought it was a good decision to have a module that parses JSON as standard.

<h3> Other grammars </h3>

Some grammars have been updated. It became easier to write, such as being able to pass an array reference to push. It may be about 15 years later that it will be widely used as standard, so please wait leisurely.

<h3> Performance </h3>

It seems that optimization was done in the process of string concatenation. Some template engines seem to have a noticeable effect and may have improved performance by as much as 10%.