<script> location.href = "https://mojolicious.perlzemi.com/blog/20110519130853.html"; </ script>

<h2> Install Mojolicious / Mojolicious Reference </ h2>

Mojolicious is just a Perl module, so it's as easy to install as any other module.

<pre>
cpan Mojolicious
</ pre>

If you want to try Mojolicious on Windows, this should be enough (<a href="/blog/20110520130853.html"> What to do if you get a YAML error </a>. Also, WebSocket exams can be timed. In some cases, it will succeed after several installations.) If you want to install Mojolicious in your environment on Linux or Mac OS X, you can refer to the following steps.

<ul>
  <li>
    <a href="/blog/20101027127859.html"> Building a local environment with cpanm (CentOS) </a>
  </ li>
</ ul>

Also, Mojolicious does not depend on other modules, so you can upload it by FTP and use it easily on a rental server. You can refer to the following steps for this procedure.

<ul>
  <li>
    <a href="/blog/20101221130016.html"> The procedure from starting Mojolicious development on Windows to publishing it on Sakura's rental server </a>
  </ li>
</ ul>

<hr>
<a href="/blog/20110402130560.html"> Go to Mojolicious Reference </a>