<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  & # 8250;
  <li>
    here
  </li>
</ol>
<h2> PDL-Statistics and analysis with Perl </h2>



I feel that the fields of <strong> big data </​​strong>, <strong> data science </strong>, and <strong> statistical analysis </strong> are becoming trends these days. I will explain how to perform statistical analysis using Perl's <strong> PDL </strong> module.

<h3> Installation </h3>

Let's install PDL.

<ul>
  <li>
    <a href="/blog/20131101138330.html"> Install PDL</a>
  </li>
</ul>

<h3> Basics </h3>

Learn the basics of PDL.

<ul>
  <li>
    <a href="/blog/20131022138234.html"> Learn the basics of PDL</a>
  </li>
</ul>

<h3> Statistics </h3>

Introducing statistical functions in PDL.

<ul>
  <li>
    <a href="/blog/20131023138240.html"> Basic statistical functions</a>
  </li>
</ul>

<h3> Multidimensional data </​​h3>

Let's express "multidimensional data" in PDL.

<ul>
  <li>
    <a href="/blog/20131029138301.html"> Representing multidimensional data</a>
  </li>
</ul>

<h3> Graph </h3>

Let's draw a "graph" in PDL.

<ul>
  <li>
    <a href="/blog/20131106138369.html"> Creating a simple graph</a>
  </li>
</ul>

<h3> Matrix </h3>

I will explain how to handle "matrix" in PDL.

<ul>
  <li>
    <a href="/blog/20121109135538.html"> Handling of "matrix" in PDL</a>
  </li>
</ul>

<h3> Complex numbers </h3>

Let's use complex numbers in PDL.

<ul>
  <li>
    <a href="/blog/20121123135520.html"> Use complex numbers</a>
  </li>
</ul>