<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20130220136137.html">
        <span itemprop = "name"> reading material </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
</ ol>
<h2> Know the development status of the Perl core. Repositories and mailing lists. </ h2>



The <strong> Perl Core </ strong> is developed using the following <strong> Repository </ strong>. Commits are made on a daily basis, and most of them fix small bugs. Perl has a release cycle of once a year and is being developed according to that schedule.

<blockquote>
<a href="http://perl5.git.perl.org/perl.git"> Perl core repository </a>
</ blockquote>

You can also see the development status of Perl's core by looking at the <strong> mailing list </ strong> in the <strong> perl.perl5.porters </ strong> group.

<blockquote>
<a href="https://groups.google.com/forum/?fromgroups=#!forum/perl.perl5.porters"> perl.perl5.porters (Google Groups) </a>
</ blockquote>

Actually, it's being discussed here.