<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20130220136137.html">        <span itemprop = "name">reading material </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2>Perl is a familiar scripting language whose syntax is similar to C, Java, PHP, and JavaScript</h2>



Perl's grammatical structure isn't unique, it's similar and familiar to the popular languages C, Java, PHP, and JavaScript. Some people like something beautiful and wonderful, but others find it easier to use if it's similar.

<h3>if statement</h3>

The familiar if statement. It's separated by blocks, so it feels easy to distinguish it from the surrounding lines.

<pre>
# Perl, C, Java, PHP, JavaScript
if (condition) {

}
</pre>

<h3>while statement</h3>

What about the <a href="/blog/20100123126425.html">while statement</a>? This is also the same as if and is separated by blocks.

<pre>
# Perl, C, Java, PHP, JavaScript
while (condition) {

}
</pre>

<h3>for statement</h3>

The for statement is the same and is surrounded by blocks.

<pre>
# Perl, C, Java, PHP, JavaScript
for (initial value; condition; next value) {

}
</pre>

<h3>Semicolon at the end of the sentence</h3>

In Perl, one executable statement is separated by a semicolon. It feels like a "break".

<pre>
# Perl, C, Java, PHP, JavaScript
Execution statement;
</pre>

<h3>Variable declaration</h3>

In Perl, make a variable declaration when using variable. With a variable declaration, it's easy to visually understand where the variable started.

<pre>
# Perl
my $num = 1;

# C, Java
int num = 1;

# JavaScript
var num = 1

# PHP (not)
$num = 1
</pre>

<h3>print</h3>

The output of the variable is the print function in Perl.

<pre>
# Perl, PHP
print $num;

# C
printf("%s", str);

# Java
System.out.print(num);

# JavaScript (not for browser language)
</pre>

If you're familiar with other languages, Perl's syntax is similar and you'll find it easier to read.