<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Encode :: UTF8Mac - Mac OS X filename encoding </h2>



I think Mac OS X uses UTF-8 as the file system encoding, but it's actually a little different, and it's a Mac OX X-specific specification. To handle this correctly, it is easy to use a module called Encode :: UTF8Mac.

<pre>
use Encode qw / encode decode /;
use Encode :: UTF8Mac;

# Encode
my $byte = encode ('utf-8-mac', $string);

# Decode
my $string = decode ('utf-8-mac', $byte);
</pre>

If you use use to load Encode :: UTF8Mac, you will be able to use <b> utf-8-mac </b> as the encoding for your Encode module. This encoding allows Mac OS X filenames to be handled correctly.

The Encode :: UTF8Mac method is recommended because it allows you to use standard Encode modules without using Mac OS X-specific methods such as Text :: Iconv.