<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20091116124667.html">        <span itemprop = "name">Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">        <span itemprop = "name">PDL </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Handling of "matrix" in PDL </h2>




I will explain the handling of "matrix" in PDL.

<h3> Creating a matrix </h3>

Use the <b> pdl </b> function to create a matrix.

<pre>
use PDL;

my $mat = mpdl [
  [1, 2],
  [3, 4]
];;
</pre>

The following matrix is created.

<pre>
[
 [1 2]
 [3 4]
]
</pre>

<h3> Matrix addition </h3>

Use the <b> + </b> operator to add matrices.

<pre>
use PDL;

my $mat1 = pdl [
  [1, 2],
  [3, 4]
];;
my $mat2 = pdl [
  [5, 6],
  [7, 8]
];;

my $mat_sum = $mat1 + $mat2;
</pre>

Each element is added and the result is as follows.

<pre>
[
 [6 8]
 [10 12]
]
</pre>

<h3> Matrix subtraction </h3>

Use the <strong>-</strong> operator to add matrices.

<pre>
use PDL;

my $mat1 = pdl [
  [1, 2],
  [3, 4]
];;

my $mat2 = pdl [
  [5, 6],
  [7, 8]
];;

my $mat_sub = $mat2- $mat1;
</pre>
Each element is subtracted and the result is as follows.

<pre>
[
 [4 4]
 [4 4]
]
</pre>


<h3> Matrix product </h3>

Use the <strong> x </strong> operator to find the matrix product.

<pre>
use PDL;

my $mat1 = pdl [
  [1, 2],
  [3, 4]
];;
my $mat2 = pdl [
  [5, 6],
  [7, 8]
];;

my $mat_multi = $mat1 x $mat2;
</pre>

The calculated result is as follows.

<pre>
[
 [19 22]
 [43 50]
]
</pre>

<h3> Get matrix elements </h3>

Use the <strong> at </strong> method to get the elements of the matrix. Note that the row and column order is different from a regular matrix, and the subscripts start at 0.

<pre>
$matrix->at (column, row)
</pre>

The following is a sample to get the value (3) of the 2nd row and 1st column of the 2x2 matrix.

<pre>
use PDL;

my $mat = pdl [
  [1, 2],
  [3, 4]
];;
my $val = $mat->at (0, 1);
</pre>

<h3> Set matrix elements </h3>

To set the elements of a matrix, use the notation <strong> nice slice </strong>. You need to load the <b> PDL::NiceSlice </b> module to use nice slice notation.

<pre>
use PDL;
use PDL::NiceSlice;

$matrix (column, row). = Value
</pre>

This notation is a bit special, with parentheses after the variable. Also, the <b>. = </B> string concatenation and equal combination is overloaded for value assignment.

Below is a sample of a 2x2 matrix with the value in the 2nd row and 1st column set to 5. Note that the subscripts start at 0.

<pre>
use PDL;
use PDL::NiceSlice;

my $mat = pdl [
  [1, 2],
  [3, 4]
];;
$mat (0, 1). = 5;
</pre>

The output of this variable is as follows.

<pre>
[
 [1 2]
 [5 4]
]
</pre>

<h3> Create an identity matrix </h3>

Let's create an identity matrix. Let's make a 3x3 identity matrix. The procedure is to create a 3x3 square matrix with all zeros in the <b> zeroes </b> function of <strong> PDL::Core </strong>. Then slice the diagonal with the <b> diagonal </b> method and substitute 1. The argument (0, 1) means 1D and 2D. It means to get the diagonal of 1D and 2D.

<pre>
use PDL;

my $mat = PDL::Core::zeroes (3, 3);
$mat->diagonal (0, 1). = 1;
</pre>

The output result is as follows.

<pre>
[
 [1 0 0]
 [0 1 0]
 [0 0 1]
]
</pre>

<h3> Find the determinant </h3>

Use the <b> det </b> method to find the determinant.

<pre>
use PDL;

my $mat = pdl [
  [1, 2],
  [3, 4]
];;

my $det = $mat->det;
</pre>

The value of the determinant is as follows.

<pre>
-2
</pre>

<h3> Find the inverse matrix </h3>

Use the <b> inv </b> function to find the inverse matrix.

<pre>
use PDL;

my $mat = pdl [1, 2], [3, 4];

my $mat_inv = inv $mat;
</pre>

The calculated result is as follows.

<pre>
[
 [  -twenty one]
 [1.5 -0.5]
]
</pre>

<h3> Create a vector (column vector) </h3>

To create a vector (column vector):

<pre>
use PDL;

my $vec = pdl [
  [1],
  [2]
];;
</pre>

The output result of the data is as follows.

<pre>
[
 [1]
 [2]
]
</pre>

<h3> Calculate the linear transformation </h3>


Let's calculate the linear transformation. It is an operation of square matrix × column vector.

<pre>
use PDL;

my $mat = pdl [
  [1, 2],
  [3, 4]
];;

my $vec = pdl [
  [Five],
  [6]
];;

my $result = $mat x $vec;
</pre>

The output result is as follows.

<pre>
[
 [17]
 [39]
]
</pre>

t [5, 6] was converted to t [17, 39] by the 2 × 2 matrix [[1, 2], [3, 4]]. (t means transpose)