<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">comment </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2>Perl Comments</h2>



Learn how to make <b> comments </b> in Perl. Comments are written for annotation, where they are not actually executed.

<h3>Comments</h3>

# Use <strong> </strong> to write <strong> comments </strong> in Perl.

<pre>
# comment
</pre>

# Comments are from to the end.

<h3>Multi - line comment</h3>

To make a <strong> multi-line comment </strong> in Perl, use the notation "<strong >=pod =cut </strong>" as follows.

<pre>
=pod

The part you want to comment on.

=cut
</pre>

In fact, Perl doesn't provide syntax for multi-line comments. This notation is <a href="/blog/20170408149166.html">POD notation</a> for writing Perl documents to indicate that this part is a document. You can use POD notation to make pseudo multi-line comments.

This comment should only be used if you want to comment it out temporarily and should not be included in the source code you release.