<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
        <span itemprop = "name"> PDL </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Install PDL </h2>




Let's install the module "PDL" for statistics and analysis.

<h3> Linux / Unix </h3>

Just install using cpan or cpanm. Install PDL and PDL :: Stats.

<pre>
cpan PDL
cpan PDL :: Stats
</pre>

Or download cpanm and do the following:

<pre>
cpanm PDL
cpanm PDL :: Stats
</pre>

<h3> Windows (Active Perl + ppm) </h3>

It is easy to use ppm for installation on Windows using ActivePerl. First of all, install the following packages.

<pre>
ppm install http://www.sisyphusion.tk/ppm/Astro-FITS-Header.ppd --force
ppm install http://www.sisyphusion.tk/ppm/Convert-UU.ppd --force
ppm install http://www.sisyphusion.tk/ppm/Sub-Exporter-Progressive.ppd --force
ppm install http://www.sisyphusion.tk/ppm/PerlIO-Layers.ppd --force
ppm install http://www.sisyphusion.tk/ppm/Const-Fast.ppd --force
ppm install http://www.sisyphusion.tk/ppm/File-Map.ppd --force
ppm install http://www.sisyphusion.tk/ppm/OpenGL.ppd --force

</pre>

Then install PDL.

<pre>
ppm install http://www.sisyphusion.tk/ppm/PDL.ppd --force

</pre>

When you install, the following message will be displayed, so make a note of the message in your environment.

<pre>
  In order to utilise the built in proj4 capability set your
  PROJ_LIB environment variable to C: \ Perl \ site \ lib \ PDL \ proj_supp
</pre>

Press Enter to complete the installation.

Let's set the environment variables displayed earlier. You can set environment variables from "Start"-> "Computer"-> "Properties"-> "Advanced system settings"-> "Environment variables". Let's add a new PROJ_LIB to the user's environment variable and set the value to the value displayed earlier. In this example, it is "C: \ Perl \ site \ lib \ PDL \ proj_supp".

Let's also install PDL :: Stats, which is a library of statistics.

<pre>
ppm install http://www.sisyphusion.tk/ppm/PDL-Stats.ppd --force
</pre>

<h3> What to do if you can't install PDL with the Windows ActivePerl cpan command </h3>

In my case, I tried to install PDL with the Windows ActivePerl cpan command, but the Devel :: CheckLib test failed and I couldn't install it. (Perl 5.16.3 + Devel :: CheckLib 1.01)

In such cases, it is often possible to install successfully by using the ActivePerl module installation mechanism called ppm.

<pre>
ppm install PDL
</pre>

It's best to be able to install it with the cpan command, but it's also worth remembering that a package manager called ppm is available as a workaround.