<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span> </a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> here </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

<h2> Reading material </h2>

I have an article about thinking about a programming language called Perl.

<h3> Perl linguistic features </h3>

An article about the linguistic features of Perl.

<ul>
  <li>
    <a href="/blog/20100228126944.html"> Where Perl excels </a>
  </li>
  <li>
    <a href="/blog/20120516133712.html"> Perl is a familiar scripting language with syntax similar to C, Java, PHP, and JavaScript </a>
  </li>
  <li>
    <a href="/blog/20120429133570.html"> Perl is a backwards compatible scripting language </a>
  </li>
  <li>
    <a href="/blog/20100531127859.html"> I thought about why Perl doesn't really need exception handling finally </a>
  </li>
  <li>
    <a href="/blog/20130227136192.html"> Think about the benefits of having no type in a variable </a>
  </li>
  <li>
    <a href="/blog/20131010138141.html"> Perl's garbage collection (GC) characteristics </a>
  </li>
  <li>
    <a href="/blog/20150210142353.html"> Perl linguistic features </a>
  </li>
</ul>


<h3> Variable name </h3>

A discussion of variable names.

<ul>
  <li>
    <a href="/blog/20081103122562.html"> Be sure to give the variable a proper name </a>
  </li>
  <li>
    <a href="/blog/20140530140140.html"> Is the hash variable name singular or plural? </a>
  </li>
</ul>

<h3> FAQ </h3>

<ul>
  <li>
    <a href="/blog/20101201129876.html"> FAQ </a>
  </li>
</ul>

<h3> Perl Core Development </h3>

<ul>
  <li>
    <a href="/blog/20120904134671.html"> To know the development status of Perl core, you can see it in the google group of perl.perl5.porters </a>
  </li>
</ul>

<h3> Object Oriented </h3>

Hash-based object-oriented programming is simple, fast, and memory-saving.

<ul>
  <li>
    <a href="/blog/20130707137319.html"> Let's review hash-based object orientation </a>
  </li>
</ul>