<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">coding rules </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Perl seminar coding rules </h2>



Perl seminars are created according to the following coding rules. Please refer to it.

<h3> Style </h3>

<h4> Indent is 2 in space </h4>

<pre>
sub parse {
  my $str = shift;
  
  my $tree;
  ...

  return $tree;
}
</pre>

<h4> One line can be up to 79 characters </h4>

One line is written within 79 characters.

<pre>
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</pre>

<h3> Space </h3>

<h4> Do not put spaces inside parentheses () </h4>

<pre>
my @nums = (2, 4, 5);
my %ages = (kimoto => 20, ken => 25);
my $total = (2 + 3) + 2;
while ($num == 2) {...}
for (my $i = 4; $i <5; $i++) {...}
</pre>

<h4> Do not put a space inside the bracket [] </h4>

<pre>
my $nums = [2, 4, 5];
</pre>

<h4> Do not put spaces inside the hash reference brace {} </h4>

<pre>
my $ages = {kimoto => 20, ken => 25};
</pre>

<h4> When the subroutine is one line, put a space inside the brace </h4>

<pre>
sub ua {LWP::UserAgent->new}
</pre>

<h4> When the sentence is one line, put a space inside the brace </h4>

<pre>
if (condition) {$num = 1}
else {$num = 2}
</pre>

<h4> Do not put a space in front of the comma, put a space behind the comma </h4>

<pre>
my @nums = (2, 4, 5);
</pre>

<h4> Insert spaces to the left and right of the operator </h4>

<pre>
2 + 3
twenty three
twenty three
twenty three
2 ^ 5
2 == 3
2! = 3
2 <3
2> 3
'a'.'b'
'a' eq'b'
'a' ne'b'
</pre>

<h4> Insert a space immediately after the if statement, unless statement, while statement, and for statement </h4>

Insert a space immediately after the if statement, unless statement, <a href="/blog/20100123126425.html">while statement</a>, for statement.

<pre>
if (condition) {

}
unless (condition) {

}
for (condition) {

}
while (condition) {

}
</pre>

<h4> If, unless, while, for opening brace {insert a space in front of </h4>

<pre>
if (condition) {

}
unless (condition) {

}
for (condition) {

}
while (condition) {

}
</pre>

<h4> One space is always available </h4>

<pre>
my $num = 1;
my $title ='Perl';
my $author ='kimoto';
</pre>
It looks beautiful if you have equal (=), but it is troublesome considering the trouble of correction, so I always keep one space.

<h4> Indent +2 when there are multiple lines </h4>

<pre>
my $str ='Hello Hello Hello Hello Hello Hello Hello Hello'
  .'Hello Hello Hello Hello Hello Hello Hello Hello Hello'
  . "Hello Hello Hello Hello Hello\n";
</pre>
It is easy to see if it is aligned at the position of the character string, but since it takes time to correct the blank, I try to connect the next line to the +2 position with a blank.

<h3> Semicolon </h3>

<h4> Do not add a semicolon; when the subroutine is on one line </h4>

<pre>
sub ua {LWP::UserAgent->new}
</pre>

<h4> Do not add a semicolon; when the statement is on one line </h4>

<pre>
if (condition) {$num = 1}
else {$num = 2}
</pre>

<h3> String </h3>

<h4> Use single quotes when the string does not contain variables </h4>

<pre>
my $str ='Hello World!';
</pre>

<h3> Conditional statement / repeating statement </h3>

<h4> Use while without using until </h4>

<pre>
while (condition) {

}
</pre>

Since all conditional statements can be written with while and it is common in other languages, while is used instead of until.

<h4> Use while without do ~ while </h4>

<pre>
while (condition) {

}
</pre>

All statements that can be written with do ~ while can be written with while, and there is a restriction that next and last cannot be used in do, so while is used.

<h4> Use for instead of foreach </h4>

<pre>
for (condition) {...}
</pre>

Since foreach is another name for for, we use for which can be written short.

<h3> Modules, Subroutines, Methods </h3>

<h4> Do not put parentheses for functions with one argument </h4>

<pre>
my $num = int 5;
my $class = ref $obj;
</pre>

<h4> Do not put parentheses on functions and methods that do not require arguments </h4>

<pre>
my $time = time;
my $ua = LWP::UserAgent->new;
</pre>

<h4> Use direct object syntax </h4>

<pre>
my $ua = LWP::UserAgent->new;
</pre>

It doesn't use indirect object syntax.

exception.

<pre>
print $fh "Hello";
printf $fh "Hello%d", 3;
</pre>

Because it is a very general way of writing.

<h4> Specify the function to import </h4>

<pre>
use Encode'encode';
</pre>

exception. When it is very common not to describe the import.

<pre>
use Mojolicious::Lite;
use Time::Piece;
</pre>

<h4> If there is only one function to import, enclose it in single quotes </h4>

<pre>
use Encode'encode';
</pre>

<h4> Use the string list operator qw // when there are multiple functions to import </h4>

<pre>
use Encode qw / encode decode /;
</pre>

<h4> Always use use to load modules </h4>

<pre>
use LWP::UserAgent;
use XML::Simple;
</pre>

exception. Use require if you want to load the module at runtime.

<pre>
if ($use_agent) {
  require LWP::UserAgent;
}
</pre>

However, in most cases I use use because it is fast enough.

<h4> Use "use module name ()" if you don't want to import the function </h4>

<pre>
use Carp ();
</pre>

<h3> Comments </h3>

<h4> The format of the comment is to write one # , followed by a space, and then the comment </h4>

<pre>
# comment
</pre>

<h4> Comments start at the beginning of a line or just multiple spaces </h4>

<pre>
# comment
  # comment
</pre>

<h4> Write comments before expressions </h4>
<pre>
# Time
my $time = time;
</pre>

<h3> Array / hash </h3>

<h4> If the elements of the array fit in one line, write in one line </h4>

<pre>
my @animals = ('cat','dog','mouse');
</pre>

<h4> If the elements of the array do not fit on one line, write each element on one line </h4>

<pre>
my @animals = (
  'cat',
  'dog',
  'mouse',
  ...
);
</pre>

<h4> If the hash element fits on one line, write it on one line </h4>

<pre>
my %ages = (kimoto => 32, ken => 25, asuka => 50);
</pre>

<h4> If the hash elements don't fit on one line, write each element on one line </h4>

<pre>
my %ages = (
  kimoto => 32,
  ken => 25,
  asuka => 50,
  ...
);
</pre>

<h3> Please refer to the coding rules </h3>

This is a Perl seminar coding rule. I've written Perl and feel that it's general, easy to understand, beautiful, and short. Please use it as a reference for good coding.