<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> DDP --Output data in an easy-to-understand manner </h2>



You can use a module called DDP to output <strong> data in an easy-to-understand manner. </strong> Useful for viewing the contents of complex data with nested hashes and arrays.

<pre>
# Output data in an easy-to-understand manner
use DDP;
p $ data;
</pre>

Because DDP is included in the distribution Data :: Printer. If you install Data :: Printer, DDP will also be installed.

There is Data :: Dumper as a core module as a tool for outputting Perl data. Data :: Dumper is difficult to use in the following points. The first is that the character string is output as an internal representation, so it is difficult to check what kind of character string is included. The other is that data dumping is a popular feature, but typing is a bit long.

DDP has the following features.

<ul>
  <li>
    You can display strings written in UTF-8
  </li>
  <li>
    You can output the data with a function called p.
  </li>
</ul>

You can also write in one line by writing the following in the place where you want to output the data.

<pre>
use DDP; p $ data;
</pre>