<h2> Task Deal has been released. --Reflect settings on multiple generation machines. An alternative to Perl's Ruby Chef. </ h2>

We have released 0.01 of Task Deal that we were developing. This is a major release. Since it is a tool made by Perl, it can be installed easily, and the environment settings can be reflected on multiple machines from the screen of the Web browser. It is possible to send one command to multiple machines at once.

<img src = "http://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20130812/20130812143922_original.png?1376285992" width = "700">

<h3> Sample </ h3>

You can try Task Deal below. For your safety, only the echo command can be executed. The ehoc command is just a shell.

<blockquote>
<a href="http://perlcodesample.com:10040/"> Task Deal sample </a>
(ID admin, password test)
</ blockquote>

<h3> Repository </ h3>

<blockquote>
<a href="https://github.com/yuki-kimoto/taskdeal"> Repository </a>
</ blockquote>

<h3> Features </ h3>

Task Deal has the following features.

<ul>
  <li>
    You can execute commands from a web browser screen on multiple machines.
  </ li>
  <li>
    The client (target machine side) and the server (web browser side) communicate using WebSocket. Push delivery of commands from the server to the client.
  </ li>
  <li>
    It's portable. It can be installed on Unix / Linux servers and Cygwin on Windows (requires gcc4).
  </ li>
  <li>
    Only Perl 5.8.7 or higher is required. Installation is very easy.
  </ li>
  <li>
    It also supports SSL.
  </ li>
  <li>
    You don't have to memorize a dedicated description or cookbook using Ruby's DSL like Chef. You can write machine settings in a familiar shell.
  </ li>
  <li>
    Since push delivery type communication is performed from the server side, there is no need to set the client. All you have to do is connect the client to the server side.
  </ li>
  <li>
    The client-side command log is retrieved on the server side, so you can see what happened on the server side.
  </ li>
</ ul>

<h3> Installation on Unix / Linux machines </ h3>

Task Deal is very easy to install.

<h3> Download </ h3>

Download the tar.gz file, unpack it, and change the directory.

<pre>
curl -kL https://github.com/yuki-kimoto/taskdeal/archive/latest.tar.gz> taskdeal-latest.tar.gz
tar xf taskdeal-latest.tar.gz
mv taskdeal-latest taskdeal
cd task deal
</ pre>

<h3> Setup </ h3>

Run the following command: The required modules will be installed.

<pre>
./setup.sh
</ pre>

<h3> Exam </ h3>

Check if the setup is successful with the following command.

<pre>
prove t
</ pre>

If "All tests successful" is displayed, the setup is successful.

<h3> Operation </ h3>

<h4> Server startup and restart </ h4>

Start the Task Deal server with the following command. The server starts in the background. The default port number is 10040.

<pre>
./taskdeal-server
</ pre>

Please access the following URL.

<pre>
http: // localhost: 10040
</ pre>
    
If you want to change the port, edit taskdeal-server.conf. If you cannot access this port, please review your firewall settings as well.

You can perform tasks on the client from the screen of your web browser.

The connection port for clients is 10041 by default.

<h4> Stop server </ h4>

You can stop the server with the --stop option.

<pre>
./taskdeal-server --stop
</ pre>

<h4> Start client </ h4>

You can start the client with the following command.

<pre>
./taskdeal-client
</ pre>

The client receives the task from the server and executes it.

The client connects to http: // localhost: 10041 by default. If you want to change this value, change the host and port in the server section of taskdeal-client.conf.

<h3> Stop client </ h3>

<ul>
  <li>
    You can stop the server with the -stop option.
  </ li>
</ ul>

<pre>
./taskdeal-client --stop
</ pre>

<h4> Server settings </ h4>

See taskdeal-server.conf.

<h4> Client configuration </ h4>

See taskdeal-client.conf.

<h4> Role and task settings </ h4>

You can create roles in <b> server / roles </ b>. A role is just a directory that stores tasks.

First, let's create roles in the <b> server / roles </ b> directory with the names small and medium. You can give the roll any name you like.

<pre>
server / roles / small
            / medium
</ pre>

The task is just an executable file. Give the file execute permission. It can be created in the role directory.

<pre>
server / roles / small / echo
</ pre>

The echo task is just an executable script that prints "foo".

<pre>
#! / bin / sh
echo "foo"
</ pre>

Tasks can also be hierarchically structured using directories.

<pre>
server / roles / small / echo
                  / dir / echo2
</ pre>

<h4> Developer </ h4>

If you are a developer, you can start the server and client with the following commands.

<pre>
#Start the server
./devels
    
#Start client
./develc
</ pre>

You can access it at the following URL:

<pre>
http: // localhost: 3000
</ pre>

If you have git, you can easily install it using git.

<pre>
git clone git: //github.com/yuki-kimoto/taskdeal.git
</ pre>

It would be convenient to write the settings in taskdeal-client.my.conf and taskdeal-server.my.conf.

<h3> Web Site </ h3>

<a href="http://perlcodesample.sakura.ne.jp/taskdeal-site/"> TaskDeal Web Site </a>