<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20130220136137.html">        <span itemprop = "name">reading material </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2>Is the hash variable name singular or plural? </H2>



Scalar variable can be singular and array variable can be plural, but in the case of hash variable, I'm always wondering whether the variable name should be singular or plural. Let's think about the policy of how to put it on.

Scalar variable are always singular.

<pre>
my $name = 'kimoto';
</pre>

Array variable are always plural.

<pre>
my @names = ('kimoto', 'tanaka');
</pre>

What about hash variable? Then, when expressing the information of the book first. There is only one book. The book contains information that represents the book. In such cases, I feel that the singular is better.

<pre>
my %book = {
  id => '00000001',
  title =>'Perl'
}
my $id = $book{id};
my $title = $book{title};
</pre>

Next, let's consider the case of specifying a name and retrieving the father's name. It's the same type and contains information about multiple people. In such cases, I feel that the plural is better.

<pre>
my %fathers = (
  ken =>'taro',
  naoto =>'ichiro'
);
my $father = $fathers{ken};
</pre>

In other words, in the case of hashes, there are cases where it is more natural to make the variable name singular, and there are cases where it is more natural to make it plural.