<h2> I like the MIME :: Lite interface </ h2>

The mailing module MIME :: Lite has been deprecated by the maintainers, but for simple purposes it's all usable and I think it's easier to use than Email :: Sender. There are many document samples and web samples. Anyway, it's a little annoying that the widely used modules suddenly change.

Email :: Sender Recommendation doesn't mean that more and more samples are being introduced using it.

So why not wrap Email :: Sender and create Emaill :: Sender :: MIME :: Lite, which provides a MIME :: Lite interface? Even if you migrate it, it's easy to migrate because it's just a replacement, and bugs can be solved with the Email :: Sender project.