<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> Lingua :: JA :: Regular :: Unicode module </h2>



Old Jcode had a method called h2z that converts half-width katakana to full-width katakana, but modern Perl doesn't use Jcode. In modern Perl, it's best to treat strings as internal strings inside your program.

I think it's a good idea to use the <strong> katakana_h2z </strong> function of the <strong> Lingua :: JA :: Regular :: Unicode </strong> module to replace the old code.

<pre>
use utf8;
use Lingua :: JA :: Regular :: Unicode'katakana_h2z';
my $str_h ='Aiueo';
my $str_z = katakana_h2z $str_h;
</pre>

This source code must be saved in UTF-8.