<h2>A tool for investigating IO-loaded processes piotop</h2>

A tool <strong> piotop </strong> that displays the running process and the read and write I/O of the process in real time in Bps like the top command is published on GitHub.

<pre>
- Every 3 sec -
 13:59:10 up 13 days, 15:28, 11 users, load average: 0.22, 0.05, 0.01
 pid state read write command cwd_path
 1818 S (sleeping) 0bps 1Mbps kjournald/ 13314 S (sleeping) 21Kbps 32Kbps rsync/backup
 13312 D (disk sleep) 21Mbps 0bps rsync/ 13313 D (disk sleep) 20Mbps 0bps rsync/backup
 21561 S (sleeping) 0bps 0bps bash/root
 1788 S (sleeping) 0bps 0bps kmpathd/0/</pre>

<blockquote>
<a href="http://blog.matsumoto-r.jp/?p=2361">Further modification of piotop.pl, a tool for investigating I/O for each process on Linux</a>
<a href="https://github.com/matsumoto-r/piotop">piotop (GitHub)</a>
</blockquote>

It's a Perl tool, so it's convenient because you can use it without worrying about which version of Perl you have installed. I sent a patch that uses cpanm and had it applied, so setup can be done with a single command.

These are the most useful aspects of Perl, so let's make an application in Perl for a while. You can create an app that can be easily used in any environment.

<hr>
<a href="/blog/20130319136374.html">Applications written in Perl</a>