<h2>Get width and height of the image with Imager getwidth, getheight</h2>

In Perl's image manipulation module Imager, use the <b> getwidth </b> and <b> getheight </b> methods to get the width and height.

<pre>
# Get width
$imager->getwidth

# Get height
$imager->getheight;
</pre>

<h3>Example</h3>

This is an example using getwidth and gettheight.

<pre>
use Imager;
my $imager = Imager->new;
my $image_file = 'image.png';
$imager->read(file => $image_file);
my $width = $imager->getwidth;
my $height = $imager->getheight;
</pre>