<h2> Let's learn the types of data | Introduction to Rstats (statistical analysis / scientific calculation) </h2>

Remember the data types available in Rstats. The type of Rstats is the same as the type of R language.

<h3> NULL --Nothing </h3>

Use NULL to indicate that there is nothing. It can be used to initialize an array or remove attributes such as the names attribute.

<pre>
NULL
</pre>

<h3> Missing value NA </h3>

Missing values ​​are represented by <b> NA </b>. NA stands for data loss.

<pre>
NA
</pre>

<h3> Non-number --NaN, Inf (immovable decimal point operation only) </h3>

NaN, although named NA, is completely different. It means that it cannot be expressed as a number in the calculation of NaN immovable decimal point.

<pre>
NaN
</pre>

For example, the result of the operation "0/0" cannot be expressed as a number, so it becomes "NaN".

Also, if the floating point operation can be expressed as infinity, "Inf" is returned.

=====

<pre>
Inf
</pre>

For example, the result of the operation "1/0" is "Inf".

<h3> String </h3>

To create a string, specify the Perl string as an argument to the <b> "c_" </b> function.

<pre>
c_ ("abc");
</pre>

<h3> Numerical value </h3>

To create a number, specify the Perl number as an argument to the <b> "c_" </b> function.

<pre>
c_ (34.4);
</pre>

<h3> Complex numbers </h3>

Use <b> i_ </b> to represent complex numbers. For example, to express the complex number "1 + 2i", use the "<b> i_ </b>" function as follows.

<pre>
1 + 2 * i_
</pre>

Please note that the number "1" and the complex number "1 + 0 * i_" are different.

<h3> Logical value </h3>

The logical ground is expressed by "<b> TRUE </b>" and "<b> FALSE </b>".

<pre>
#True
TRUE

# Fake
FALSE
</pre>

You can also use <b> T_ </b> and <b> F_ </b> as abbreviations.

<pre>
#True
T_

# Fake
F_
</pre>

<h3> Date (not implemented) </h3>

There is a date type, but it is not currently implemented.

<hr>

<a href="/blog/20151002144374.html"> Introduction to Rstats (statistical analysis / scientific calculation) </a>