<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20160225145640.html">      <span itemprop = "name">Version information </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Perl 5.22 has been released-math related enhancements, method performance improvements, regular expression improvements </h2>



The latest version of Perl 5.22 was released on June 1, 2015.

<blockquote>
<a href="http://perl5.git.perl.org/perl.git/commit/70f63a4c7dba89e8e48b44de7978faae4319e693">Perl 5.22 release</a>
</blockquote>

This release has a lot of feature additions.

<h3> Performance improvements </h3>

The best part about Perl 5.22 is the performance improvements. Improved performance with multi-reference parsing and improved method parsing.

<h4> Improved performance of multi-level dereference </h4>

Perl's internal parser can now efficiently parse multi-tier dereferences. This has improved the performance of multi-tier dereferences.

<pre>
$scores-> [0] {math};
</pre>

<h4> Method call and SUPER pseudo-class performance improvement </h4>

Method calls and SUPER pseudo-classes are pre-parsed and their information cached. This improves the performance of method calls at runtime.

<pre>
$obj-> method
$obj-> SUPER::method;
</pre>

<h4> Performance improvement of length function </h4>

The length function improves performance by 20%for non-UTF-8 strings.

<h4> Array and hash performance improvements </h4>

Access to array and hash elements is faster if the key is a constant or a simple variable.

<h3> Addition of Perl 5.22 features </h3>

Perl 5.22 includes improvements to math-related features.

<h3> C99 math functions are now available </h3>

Mathematical functions supported by C99 in Perl are now available through the POSIX module.

<pre>
atanh
tgamma
</pre>

<h4> Improved handling of infinity and NaN (non-numeric) </h4>

Inf and NaN are now more robustly available.
 
<h4> Improved hexadecimal floating point parsing </h4>

Hexadecimal floating point parsing has been improved. It also adds a literal that describes floating point points in hexadecimal.

<pre>
0x1.23p-4
</pre>

Now it is possible to represent numbers at the Perl level that are consistent with the machine level.

As you can see, Perl 5.22 has significantly improved math-related features.

<h4> Flags that don't use regular parentheses for capture </h4>

Perl 5.22 adds a new flag for <a href="/blog/20100827127859.html">regular expressions</a> that doesn't use regular parentheses for capture. This makes it possible to write complex regular expressions concisely without using the uncaptured parentheses "(? :)".

<pre>
 "hello" = ~ / (hi | hello) / n
</pre>

I'm using parentheses, but I don't capture them. If you want to capture with the n option, do the following:

<pre>
"hello" = ~ / (?-n :( hi | hello)) / n; # $1 is "hello"
"hello" = ~ / (? <greet> hi | hello) / n; # $1 is "hello", $+ {greet} is also "hello"
</pre>

When writing complex regular expressions, it might be easier to see them in combination with the n option and a named capture.

<h4> Unicode 7.0 support </h4>

Perl 5.22 now supports Unicode 7.0. Perl supports Unicode very quickly.

<h4> Alias ​​through reference </h4>

There is a feature called aliases as a feature of Perl, which can now be called at the syntax level. This feature is experimental.

<pre>
use experimental::refaliasing;

my $nums = [1, 2, 3];
my $nums_alias;
\ $nums_alias = \ $nums;
</pre>

<h4> Constant function support </h4>

Constant functions are now supported by the const subroutine attribute. Once the function is executed, its value is saved, and the value is used from the second time onward. This feature is experimental.

<pre>
my $value = sub: const {100 * 100};
</pre>

<h4> Double Diamond Operator-Safer Diamond Operator </h4>

A safer double diamond operator "<< >>" is now supported. Traditional diamond operators use the two-argument open function internally, while double-diamond operators use the three-argument open function.

<pre>
my $line = <<>>;
</pre>

<h4> encoding module now has lexical scope </h4>

The encoding module is a deprecated module, but it is still alive. Therefore, the range of impact when using encoding as a functional improvement has changed from global to lexical. The encoding module can now be partially used, such as on a file-by-file basis.

<h3> Deprecated features </h3>

Converting all <h4> warnings to fatal errors has been deprecated. </h4>

Any statement that makes all warnings fatal errors has been deprecated. The following description is deprecated in the future and should be avoided.

<pre>
use warnings FATAL =>'all';
</pre>

This is because when the Perl core adds a new warning, there is a risk that the previously running application will get stuck due to an error. It seems that Perl's core team has opted for safe addition of new warnings rather than full compatibility. I also agree with this.

<h3> Incompatible changes </h3>

The following description resulted in an error.

<pre>
defined(@array)
defined(%hash)
</pre>

This description was deprecated as of 5.6.1, and in 5.16, a warning of deprecation was issued, but in 5.22, an error occurred. When upgrading Perl, please note that the old source code may have this description.

<h3> Module off core </h3>

<h4> CGI module is off core </h4>

The CGI module is off the core. This may come as a surprise, but it's also a trend of the times. After that, please install and use it from CPAN.

Today, the mainstream is to develop web applications using web frameworks. You can find the framework you need for web development from the following pages.

<blockquote>
<a href="http://search.cpan.org/~ether/Task-Kensho-0.38/lib/Task/Kensho.pm#Task::Kensho::WebDev: _Web_Development">Task::Kensho::WebDev : _Web_Development</a>
</blockquote>

<h4> Module::Build is off core </h4>

Module::Build has been removed from the core. When Module::Build is needed, it has been removed for the purpose of having a mechanism in Perl that automatically installs from CPAN and to keep core management as small as possible.

<h3> Summary </h3>

First of all, I like Perl's enhancements to math-related features. We're happy to see the addition of features that cover areas where Perl is lagging behind.

Also, I think it's great that the performance of methods and multi-level dereferences has improved. For example, it was reported that the Perl web framework Mojolicious had a performance improvement of 20%or more after upgrading to Perl 5.22.

Also, I'm happy to say that converting warnings to fatal errors has been deprecated, giving you the possibility to add them when "use warnings" is "use v5.xx". It was opened. Early policy changes will help improve functions later.