<h2>Check if the string contains Japanese</h2>

You can use <a href="/blog/20100827127859.html">regular expression</a> to find out if the string contains Japanese. Use the following metacharacters to check for Kanji, Hiragana, and Katakana. The string must be an decoded string.

<table>
   <tr>
     <td>
       Character type
     </td>
     <td>
       Metacharacters
     </td>
   </tr>

   <tr>
     <td>
       Chinese characters
     </td>
     <td>
\p{Han}
     </td>
   </tr>

   <tr>
     <td>
       Hiragana
     </td>
     <td>
\p{Hiragana}
     </td>
   </tr>

   <tr>
     <td>
       Kanakana
     </td>
     <td>
\p{Katakana}
     </td>
   </tr>

</table>

<pre>
use strict;
use warnings;
use utf8;

my $str = 'Ai Uesan';
if ($str =~ /[\p{Han}\p{Hiragana}\p{Katakana}]/) {
   # Contains Japanese
}
</pre>