<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">Character code </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2>Character code - Handling of character code in Perl</h2>



I am writing about the handling of character codes in Perl. For the handling of Perl character codes, please read the following articles first. 90%of Perl's character code handling can be understood by reading this article.

<ul>
  <li>
    <a href="/blog/20091118124667.html">Encode.pm - Handle multibyte strings such as Japanese properly</a> <span style = "color: red">  </li>
</ul>

<h4>Character code related</h4>

<ul>
  <li>
    <a href="/blog/20130612137099.html">Expressing Unicode characters with code points</a>
  </li>
  <li>
    <a href="/blog/20130610137100.html">Easy way to find the code point of a character's Unicode</a>
  </li>
  <li>
    <a href="/blog/20140425139840.html">A modern way to convert half-width katakana to full-width katakana</a>
  </li>
  <li>
    <a href="/blog/20120604133938.html">Representing square meters (m2) in Unicode</a>
  </li>
</ul>