<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">hash </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Understand Perl hashes </h2>



A description of Perl's "hash". Perl hashes are "associative arrays" in other languages.

In an array, you could retrieve an element by specifying a number, but in an "associative array", you can retrieve an element by specifying a character string as a key.

<h3> Hash basics </h3>

The basis of hashing. Hash declaration and initialization. Hash output and assignment. You can think of a hash as an array from which you can get a value of a string as a subscript. You can retrieve the value using a character string as a key.

<h4> Hash declaration and initialization </h4>

Declaring and initializing the hash is done as follows.

<pre>
my %fathers = ('Taro' =>'Kenji', 'Naoko' =>'Yoshio');
# or
my %fathers = (Taro =>'Kenji', Naoko =>'Yoshio');
</pre>

The variable prefix is <b> percent sign </b> "%". (Key 1 => Value 1, Key 2 => Value 2, ...). Taro's father can be read as Kenji, Naoko's father as Yoshio

<h4> Hash element output </h4>

<pre>
print $mothers{'Taro'};
</pre>

When printing, $instead of%. $When dealing with a single element. Use {} to specify the key. (In the case of an array, it was []). {} Is read as a bracket. ([] Is brace. () Is parenthesis)

<h3> Hash element assignment </h3>

<pre>
$mothers{'Naoko'} = 'Haruna';
</pre>

<h3> Processing of each element of hash </h3>

<ul>
  <li>
    <a href="/blog/20080210120265.html">Get all of the hashes - keys function</a> <span style = "color: red">[Important] </span>
  </li>
  <li>
    <a href="/blog/20100222126425.html">Get all values of a hash - values function</a>
  </li>
  <li>
    <a href="/blog/20080212120283.html">Get all keys and values of a hash - each function</a>
  </li>
</ul>

<h3> Hash manipulation </h3>

<ul>
  <li>
    <a href="/blog/20080213120291.html">Check for the existence of a key - exists function</a> <span style = "color: red">[Important] </span>
  </li>
  <li>
    <a href="/blog/20080214120300.html">Delete hash key - delete function</a> <span style = "color: red">[Important] </span>
  </li>
  <li>
    <a href="/blog/20080227120413.html">Reverse function that swaps hash keys and values </a>
  </li>
  <li>
    <a href="/blog/20080215120307.html">Hash slice ... Extract multiple values of hash</a>
  </li>
</ul>

<h3> Hash reference </h3>

You can create a hash reference as follows:

<pre>
my $math_scores_ref = \%math_scores;
</pre>

Prefix%with\to generate a reference to the hash. Assign the generated reference to the scalar variable $math_score_href

<h4> Create a direct hash reference using an anonymous hash. </h4>

<pre>
my $math_scores_ref2 = {
  Aiko => 89,
  Kenta => 100,
  Taro => 34,
};
</pre>

You can use {} instead of () to create a reference to a direct hash

<h4> Access the hash element </h4>

<pre>
$math_scores_ref->{Aiko}
</pre>

<h4> Extract the hash from the hash reference </h4>

Dereference to retrieve a hash from a hash reference.

<pre>
my %hash = %$hash_ref;
my %hash = %{$hash_ref};
</pre>

You can also dereference a reference to a hash to retrieve the hash.

<pre>
my %math_scores = %$math_scores;
</pre>

You can dereference and retrieve hashes with%$math_scores.

You can use "->{key}" if you only need one element.

<pre>
$math_scores->{Taro};
</pre>

You can read more about hash references here.

<ul>
  <li>
    <a href="/blog/20180208151809.html">Hash reference</a>
  </li>
</ul>

<h3> Multidimensional data structure using hash </h3>

The multidimensional data structure using hashes is explained in detail in the following articles. You can learn about "array hash", "hash array", and "hash hash".

<ul>
  <li>
    <a href="/blog/20100930127859.html">Manipulate "multidimensional data structure" freely with "array" and "hash"</a>
  </li>
</ul>

<h3> Column "It's Perl's fault that associative arrays are called hashes" </h3>

Perl has made a great decision to incorporate associative arrays as a feature of the language. It's incredibly convenient. This was a huge success, and almost all other scripting languages have been affected to incorporate associative arrays into the language itself.

Perhaps the name associative array was long, Perl decided to call it a hash. This is an association from the hash function.

But, surprisingly, it seems to represent the data structure exactly.

<h3> Sample code </h3>

<h4> Hash basics </h4>

The basis of hashing. Hash declaration and initialization. This is a sample of hash output and assignment.

<pre>
use strict;
use warnings;

# What is a hash?
You can think of the # string as a subscript and an array from which you can get the value.
You can retrieve the value using the # string as a key.

# Hash declaration and initialization (variable prefix is%)
# (Key 1 => Value 1, Key 2 => Value 2, ...)
# Taro's father reads Kenji, Naoko's father reads Yoshio
my %fathers = ('Taro' =>'Kenji', 'Naoko' =>'Yoshio');

# More Perl-like writing
The'' to the left of # => can be omitted
my %mathers = (Taro =>'Tomoko', Naoko =>'Shizuka');

# 1: Hash element output
print "1: Hash element output\n";
# When outputting, $instead of%
# {} Use brackets
print "\$mathers{'Taro'} =", $mathers{'Taro'}, "\n";
print "\n";

# 2: Hash element assignment
print "2: Hash element assignment\n";
$mathers{'Naoko'} = 'Haruna';
print "\$mathers{'Naoko'} =", $mathers{'Naoko'} . "\n";
</pre>
Execution result
<pre>
1: Hash element output
$mothers{'Taro'} = Tomoko

2: Assignment of hash elements
$mothers{'Naoko'} = Haruna
</pre>

<h4> Hash reference </h4>

This is a sample using the hash reference.

<pre>
use strict;
use warnings;
use Data::Dumper;

# Student math scores
my %math_scores = (
  Aiko => 89,
  Kenta => 100,
  Taro => 34,
);

# 1: Hash reference%is preceded by\to generate a reference to the hash.
# Assign the generated reference to the scalar variable $math_scores_ref
my $math_scores_ref = \%math_scores;
print "1: Hash reference\n";
print Data::Dumper->Dump ([$math_scores_ref], ['$math_scores_ref']);
print "\n\n";

# 2: Make a direct hash reference using an anonymous hash ({}).
my $math_scores_ref2 = {
  Aiko => 89,
  Kenta => 100,
  Taro => 34,
};

print "2: Anonymous hash\n";
print Data::Dumper->Dump ([$math_scores_ref2], ['$math_scores_ref2']);
print "\n\n";

# 3: Access the hash element. ($hash_ref->{key})
print "3: Access the hash element.\n";
print "\$math_scores_ref->{Aiko} = $math_scores_ref->{Aiko}\n";
print "\$math_scores_ref->{Kenta} = $math_scores_ref->{Kenta}\n";

</pre>

Execution result
<pre>
1: Hash reference
$math_scores_ref = {'Aiko' => 89,
                     'Kenta' => 100,
                     'Taro' => 34
                   };


2: Anonymous hash
$math_scores_ref2 = {
                      'Aiko' => 89,
                      'Kenta' => 100,
                      'Taro' => 34
                    };


3: Access the hash element.
$math_scores_ref->{Aiko} = 89
$math_scores_ref->{Kenta} = 100
</pre>

<h4> Hash reference dereference </h4>

This is a sample to dereference the hash reference.

<pre>
use strict;
use warnings;
use Data::Dumper;

# Student math scores
my $math_scores = {
  Taro => 89,
  Naoko => 54,
  Kenji => 54
};

# 1: Dereference and output all elements of the hash
print "1: Dereference and print all elements of the hash\n";
for my $key (keys %$math_scores) {
  print "\$math_scores->{$key} =" . $math_scores->{$key} . "\n";
}
print "\n";

# 2: Use the->operator to refer to an element.
print "2: Delete one key\n";
delete $math_scores->{Taro};

print Data::Dumper->Dump ([$math_scores], ['$math_scores']);
</pre>
Execution result
<pre>
1: Dereference and output all elements of the hash
$math_scores->{Kenji} = 54
$math_scores->{Taro} = 89
$math_scores->{Naoko} = 54

2: Delete one key
$math_scores = {
                 'Kenji' => 54,
                 'Naoko' => 54
               };
</pre>