<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/"> <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> File operations </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> File / directory operation </h2>



We have summarized how to create / delete / copy files / directories.

<h4> Basic knowledge of file names </h4>

<ul>
  <li>
    <a href="/blog/20080514121077.html"> Absolute and relative paths</a>
  </li>
  <li>
    <a href="/blog/20080515121086.html"> Representation of the hierarchy above the directory ..</a>
  </li>
</ul>

<h4> Handling of file names </h4>

<ul>
  <li>
    <a href="/blog/20080517121111.html"> Extract the directory name and base name from the file name</a>
  </li>
  <li>
    <a href="/blog/20080518121112.html"> Extract the extension from the file name</a>
  </li>
  <li>
    <a href="/blog/20090216123384.html"> Convert the file name to the file name in the OS of the execution environment</a>
  </li>
</ul>

<h4> File operation </h4>

<ul>
  <li>
    <a href="/blog/20080519121125.html"> Create a file</a>
  </li>
  <li>
    <a href="/blog/20080520121125.html"> Delete the file</a>
  </li>
  <li>
    <a href="/blog/20080521121142.html"> Copy the file</a>
  </li>
  <li>
    <a href="/blog/20080522121142.html"> Move files</a>
  </li>
</ul>

<h4> Directory operation </h4>

<ul>
  <li>
    <a href="/blog/20080523121155.html"> Create a directory</a>
  </li>
  <li>
    <a href="/blog/20080526121181.html"> Delete the directory</a>
  </li>
  <li>
    <a href="/blog/20080522121142.html"> Rename the directory</a>
  </li>
  <li>
    <a href="/blog/20080528121197.html"> Change the current directory</a>
  </li>
  <li>
    <a href="/blog/20080531121229.html"> Get the current directory name</a>
  </li>
  <li>
    <a href="/blog/20080529121207.html"> Get the list of files in the current directory</a>
  </li>
</ul>

<h4> Recursive directory manipulation </h4>

<ul>
  <li>
    <a href="/blog/20080524121160.html"> Create a multi-level directory</a>
  </li>
  <li>
    <a href="/blog/20080527121190.html"> Delete directories with hierarchy at once</a>
  </li>
  <li>
    <a href="/blog/20080530121229.html"> Recursively process all files</a>
  </li>
</ul>

<h4> Permissions </h4>

Explains file permissions on Unix / Linux.

<ul>
  <li>
    <a href="/blog/20080822121950.html"> Understand permissions</a>
  </li>
</ul>

<h4> Script information </h4>

<ul>
  <li>
    <a href="/blog/20180509152716.html"> Get the script name $ 0</a>
  </li>
  <li>
    <a href="/blog/20100524127696.html"> Get the directory name of the execution script --FindBin</a>
  </li>
  <li>
    <a href="/blog/20080425120914.html"> Get the package name</a>
  </li>
  <li>
    <a href="/blog/20080426120922.html"> Get the line number on the script</a>
  </li>
  <li>
    <a href="/blog/20080427120926.html"> Get the script file name</a>
  </li>
</ul>