<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <span itemprop = "name">here </span>
  </li>
</ol>
<h2>Perl Release Information - Introducing feature additions for each version</h2>



Here is a summary of Perl release articles. Please help us to understand the changes between Perl versions. If you write it to work with Perl 5.8.7, you can run it in almost any environment.

<h4>Perl 5.28</h4>

<ul>
  <li>
    <a href="/blog/20180626152996.html">Perl 5.28 released-Unicode 10.0 support, faster string concatenation, ref function, keys function, faster for loop</a>
  </li>
</ul>

<h4>Perl 5.26</h4>

<ul>
  <li>
    <a href="/blog/20170531149624.html">The latest version of Perl, Perl 5.26, has been released. Indentable here-documents, Unicode 9.0 support, long key hash performance improvements</a>
  </li>
</ul>

<h4>Perl 5.24</h4>

<ul>
  <li>
    <a href="/blog/20160510146284.html">Perl latest version 5.24 released-faster subroutines and math, Unicode 8.0 support, grammar enhancements</a>
  </li>
</ul>

<h4>Perl 5.22</h4>

<ul>
  <li>
    <a href="/blog/20150602143324.html">Perl 5.22 has been released-math related enhancements, method performance improvements, regular expression improvements</a> (2015)
  </li>
</ul>

<h4>Perl 5.20</h4>
<ul>
  <li>
    <a href="/blog/20140528140125.html">Perl 5.20 released-support for ipv6, new subroutine syntax, new slice notation, Unicode 6.3 support, etc.</a> (2014)
  </li>
</ul>

<h4>Perl 5.18</h4>

<ul>
  <li>
    <a href="/blog/20130520136901.html">Perl 5.18 has been released</a> (2013)
  </li>
</ul>

<h4>Perl 5.16</h4>

<ul>
  <li>
    <a href="/blog/20120521133755.html">The latest version 5.16.0 of Perl has been released</a> (2012)
  </li>
</ul>

<h4>Perl 5.14</h4>

<ul>
  <li>
    <a href="/blog/20110327130552.html">Perl 5.14 release</a> (2011)
  </li>
</ul>

<h4>Perl 5.6</h4>

<ul>
  <li>
    Declaration of package variables by our
  </li>
</ul>

<h4>Perl 5.0</h4>

<ul>
  <li>
    Declaration of lexical variables by my
  </li>
</ul>

<h4>Perl 1.0</h4>

<ul>
  <li>
    1988 Perl 1.0 released
  </li>
</ul>

<h4>References</h4>

<ul>
  <li>
    <a href="https://speakerdeck.com/anatofuz/dokidokiperldiao-cha-tuan-part1">Pounding Perl Survey Team Part1</a> - Documents researched about Perl 1.0
  </li>
</ul>