<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161005147566.html">      <span itemprop = "name">operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
  </li>
</ol>
<h2> Anonymous hash generator-create hash reference </h2>



Perl has an operator <b> anonymous hash generator </b> "{}". The name is a bit tricky, but in practice it's an easy way to create a hash reference.

With the anonymous hash generator, you can easily create a <a href="/blog/20180208151809.html">hash reference</a> as follows:

<pre>
# Anonymous hash generator
my $point = {x => 1, y => 2};
</pre>

If you don't want to use an anonymous hash generator, write: First create a <a href="/blog/20161013147635.html">hash</a> and then use the reference generator to create a hash reference.

<pre>
# If you don't use an anonymous hash generator
my %point = (x => 1, y => 2);
my $point = \%point;
</pre>

If you use an anonymous hash generator, you can omit the above process and write it. When you look at {x => 1, y => 2}, it will be easier to understand if you have the feeling that the above processing is omitted.

<b> Why is it called an "anonymous hash generator"? </B>

With an anonymous hash generator, you don't have to create a hash called "%point". In other words, an "anonymous hash" that corresponds to "%point" is created internally.

I'm sure it was named with a focus on this part.

There is a <a href="/blog/20170924150634.html">anonymous array generator</a> that corresponds to the anonymous hash generator.