<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>redo statement-return to the beginning of the iteration</h2>



You can use the <b> redo statement </b> to return to the beginning of the iteration.

<pre>
redo
</pre>

This is a sample program using redo. You are back at the beginning of the loop you are in.

<pre>
use strict;
use warnings;

my @nums = (1, 2, 3);

while (1) {
  my $num = pop @nums;
  print "$num\n";
  
  if (@nums) {
    redo;
  }
  else {
    last;
  }
}
</pre>

<h3>redo is a deprecated syntax</h3>

As I wrote in <a href="/blog/20091120124667.html">Perl's modern writing method</a>, the redo statement is not recommended.

The reason is that if you have <a href="/blog/20100123126425.html">while statement</a>, for statement, last statement, next statement, if statement, you can write any repetition and conditional branching, so redo is positive. Because there is no reason to use it as a target. redo is Perl's own syntax, which is unfamiliar and doesn't give you a better view of your source code.

<h3>Related information</h3>

There are <b> next statement </b> and <b> last statement </b> as syntax to control the loop like redo.

<h4>You can jump to the beginning of the loop using the next statement</h4>

You can use the next statement to move to the beginning of the next loop.

<pre>
next
</pre>

For the next statement, refer to the following article.

<ul>
  <li>
    <a href="/blog/20080329120687.html">next statement-jumps to the beginning of the next iteration</a>
  </li>
</ul>

<h4>You can escape the loop using the last statement</h4>

You can break out of the loop with the last statement.

<pre>
last
</pre>

For the last statement, refer to the following article.

<ul>
  <li>
    <a href="/blog/20170527149589.html">last sentence - get out of repetition</a>
  </li>
</ul>