<h2> cpm - A tool that allows you to run cpanm in parallel and install modules 3 times faster </h2>

Sometimes you want to quickly install a module from CPAN if you have a lot of dependencies. In such a case, if you use cpm, it seems that you can execute cpanm in parallel and install it quickly.

<blockquote>
<a href="http://qiita.com/skaji/items/85b9714180329efc8bde">cpm - a fast CPAN module installer</a>


Speaking of CPAN module installers, I think cpanm is world famous and is used by many people.


I use cpanm a lot, but I was wondering if cpanm would take a lot of time to install the CPAN module, such as when developing an application with a lot of dependencies, and it might be a little faster.


So I made cpm. <b> cpm internally uses cpanm in parallel to speed up CPAN module installation. </b>
</blockquote>