<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop = "name"> operator </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <span itemprop = "name"> here </ span>
  </ li>
</ ol>
<h2> Yadayada operator-... </ h2>



It's not particularly useful, but if you use it in a part that is not implemented in Perl, it will cause a <a href="/blog/20100411127089.html"> exception </a> and terminate the program <b> There is a Yada Yada operator </ b>.

<pre>
# Yadayada operator
...
</ pre>

I only use it to express "do something" in the sample code.

<h3> Sample program </ h3>

This is a sample program that uses the Yadayada operator.

<pre>
use strict;
use warnings;

my $ num = 4;

# Not implemented yet
...
</ pre>

The output result is as follows.

<pre>
Unimplemented at a.pl line 9.
</ pre>