<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20100809127859.html">        <span itemprop = "name">XS </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2>Easy way to implement XS using multiple modules</h2>



When I tried to make a module using XS, I suddenly had a problem when dividing it into multiple modules. For example, if you want to implement XS with both SomeModule and SomeModule::Util. I was investigating the method, but I found the implementation method to be quite complicated and difficult.

I tried various things, but the next method seemed to be easy, so I will introduce it. The advantages of this method are:

<ol>
  <li>
    No need to modify <a href="/blog/20150725143778.html">Makefile.PL</a>
  </li>
  <li>
    No need to modify the name of the file SomeModule.xs
  </li>
  <li>
    Only one XS file called SomeModule.xs is OK
  </li>
  <li>
    The standard tool <a href="/blog/20170209150055.html">h2xs</a> is fine
  </li>
</ol>

<h4>Create a module with h2xs</h4>

First, create a module for XS with h2xs.

<pre>
h2xs -A -n SomeModule
</pre>

This will create a directory called "SomeModule". The following files and directories will be created.

<pre>
Changes
lib/Makefile.PL
MANIFEST
ppport.h
README
SomeModule.xs
t/</pre>

<h4>XS file description</h4>

I will create an XS file. Let's add a function called foo that displays "foo" to SomeModule, and a function called bar that displays "bar" to SomeModule::Util.

First of all, when you open the XS file, you should see something like the following.

<pre>
# include "EXTERN.h"
# include "perl.h"
# include "XSUB.h"

# include "ppport.h"


MODULE = SomeModule PACKAGE = SomeModule
</pre>

The first thing to remember is that the "MODULE = SomeModule PACKAGE = SomeModule" section should be at the bottom. If you do not leave this part at the end, the XS will fail to load.

Let's write it. Add "MODULE = SomeModule::Util PACKAGE = SomeModule::Util". Then define bar in XS. Also, define foo in the section "MODULE = SomeModule PACKAGE = SomeModule".

<pre>
# include "EXTERN.h"
# include "perl.h"
# include "XSUB.h"

# include "ppport.h"

MODULE = SomeModule::Util PACKAGE = SomeModule::Util

void
bar (...)
  PPCODE:
{
  PerlIO_printf(PerlIO_stdout (), "bar\n");
  XSRETURN (0);
}

MODULE = SomeModule PACKAGE = SomeModule

void
foo (...)
  PPCODE:
{
  PerlIO_printf(PerlIO_stdout (), "foo\n");
  XSRETURN (0);
}
</pre>

<h4>Creating a module</h4>

At this point, all you have to do is create SomeModule and SomeModule::Util.

<b> SomeModule source code </b>

You can leave the source code for SomeModule.pm as it is. I organized it a little and made it as follows.

<pre>
package SomeModule;

use strict;
use warnings;

our $VERSION = '0.01';

require XSLoader;
XSLoader::load ('SomeModule', $VERSION);

1;
</pre>

<b> SomeModule::Util source code </b>

Let's also create SomeModule::Util::bar. Save this in "lib/SomeModule/Util.pm". This is an almost empty file with only the package name declared.

<pre>
package SomeModule::Util;

1;
</pre>

<h4>Test script</h4>

Create a test script. This should be in the same directory where the XS files are located.

<pre>
use strict;
use warnings;

use SomeModule;
use SomeModule::Util;

SomeModule::foo ();
SomeModule::Util::bar ();
</pre>

<h4>Compile and run</h4>

Let's compile and run it.

<pre>
perl Makefile.PL
make
perl -Mblib test.pl
</pre>

If the output is as follows, it is successful.

<pre>
foo
bar
</pre>

Writing XS in multiple modules doesn't seem to be that difficult.