<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161004147558.html">        <span itemprop = "name">standard function </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    here
  </li>
</ol>
<h2>readdir function-reads the contents of a directory</h2>



Use the <b> readdir function </b> to read the contents of the directory.

<pre>
readdir directory handle
</pre>

Specify the directory handle obtained by <a href="/blog/20171002150691.html">opendir function</a>. The return value is the name of the file in the directory. You can read all the files in the directory by calling it repeatedly.

Let's write a sample program that gets the directory handle with the opendir function and reads all the files with the readdir function. I use <a href="/blog/20100123126425.html">while statement</a> to get the file names one by one.

<pre>
# Directory name
my $dir = 'study';

# Open directory
opendir my $dh, $dir
  or die "Can't open directory $dir:$!";

# Read all files
while (my $file = readdir $dh) {
  print "$file\n";
}
</pre>

The output result is a list of file names included in the directory as shown below.

<pre>
..
..
a.txt
b.txt
</pre>

Note that it contains a "." That represents the current directory and a ".." that represents a directory one level higher.

Normally, I don't think you need "." Or "..". So use <a href="/blog/20080329120687.html">next statement</a> and skip if these two are true.

<pre>
# Read all files
while (my $file = readdir $dh) {
  next if $file eq '.' || $file eq ' ..';
  print "$file\n";
}
</pre>

This will give you the results you want.

If you want to make the file list <a href="/blog/20161012147627.html">array</a> without outputting it, write as follows.

<pre>
my @files;
while (my $file = readdir $dh) {
  next if $file eq '.' || $file eq ' ..';
  push @files, $file;
}
</pre>

<h3>How to get a list of files including subdirectories? </H3>

If you want to process files recursively, including subdirectories, you should use the File::Find module.

<ul>
  <li>
    <a href="/blog/20080530121229.html">File::Find - Recursively process subdirectories</a>
  </li>
</ul>

<h3>Please tell me how to use it properly with the glob function</h3>

In Perl, you can get a list of filenames by using the <a href="/blog/20080529121207.html">glob function</a> without using the directory handle.

The glob function has the following advantages:

<ul>
  <li>
    "." ".." is not included
  </li>
  <li>
    There is no need to loop. Convenient to combine with <a href="/blog/20100119126425.html">grep function</a>.
  </li>
  <li>
    You can get the full path of the file name instead of the base name
  </li>
  <li>
    You can use the wildcard "*"
  </li>
</ul>

Frankly speaking, the readdir function doesn't come into play very often, and it's easy to use the glob function to get a list of filenames.

I think that it is indispensable when you want to see the file list exactly in directory units like the implementation of File::Find. The glob function is useful for everyday use.