<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2>Site information</h2>

<ul>
  <li>
    <a href="/blog/20160718146881.html">Perl Seminar Manager</a>
  </li>
  <li>
    <a href="/blog/20170918151092.html">Yuki Kimoto's book</a>
  </li>
  <li>
    <a href="/blog/20120326133275.html">Use the server more freely Perl</a>
  </li>
  <li>
    <a href="/blog/20130220136137.html">Reading</a>
  </li>
  <li>
    <a href="http://d.hatena.ne.jp/perlcodeexample/archive">All articles</a>
  </li>
  <li>
    <a href="/blog/20170919151092.html">Popular articles</a>
  </li>
  <li>
    <a href="/blog/20170920151092.html">Events/Communities/Study Sessions</a>
  </li>
  <li>
    <a href="/blog/20170921151092.html">Links</a>
  </li>
  <li>
    <a href="http://b.hatena.ne.jp/perlcodeexample">Hatena Bookmark</a>
  </li>
  <li>
    <a href="/blog/20130421136653.html">GitPrep</a>
  </li>
</ul>