<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop = "name"> standard function </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> sleep function-sleeps for a specified amount of time </h2>



You can use the <b> sleep function </b> to sleep for a specified amount of time. Sleep means stopping a program without using CPU resources.

<pre>
# Sleep for 10 seconds
sleep 10;
</pre>

<h3> Sleep in microseconds </h3>

The sleep function can only sleep in seconds. To sleep in seconds less than that, use the <b> usleep </b> function of the <a href="/blog/20180309152509.html"> Time::Hires</a> module. The seconds you specify are microseconds. Microseconds are "1/1000" of "1/1000" of 1 second.

<pre>
use Time::HiRes'usleep';

# 300 microseconds sleep
usleep(300);
</pre>

<h3> Sample program </h3>

This is a sample program of the sleep function. After displaying "Hello", sleep for 3 seconds and display "World".

<pre>
use strict;
use warnings;

print "Hello \ n";
sleep(3);
print "World \ n";
</pre>