<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">        <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2> Perl A technique you should definitely remember </h2>



Here are some techniques you should definitely remember when developing in Perl.

<div class = "block-link-list"><ul>
  <li>
    <a href="/blog/20100930127859.html">1. References</a> <span> Freely use multidimensional data structures with arrays, hashes and references. </span>
  </li>
  <li>
    <a href="/blog/20100411127089.html">2. Exception handling</a> <span> This is an explanation of Perl exception handling. </span>
  </li>
  <li>
    <a href="/blog/20080108132865.html">3. Command line arguments</a> <span> Explains how to receive command line arguments. </span>
  </li>
  <li>
    <a href="/blog/20100302126967.html">4. Debugger</a> <span> Useful Perl Debugger to Remember </span>
  </li>
  <li>
    <a href="/blog/20091120124667.html">5. Modern writing</a> <span> Remember Perl's modern writing </span>
  </li>
  <li>
    <a href="/blog/20130305136248.html">6. Object Oriented</a> <span> An introduction to Perl's object orientation. </span>
  </li>
  <li>
    <a href="/blog/20110128130016.html">7. Scope</a> <span> Let's understand Perl's scope. </span>
  </li>
  <li>
    <a href="/blog/20091105124627.html">8. Date and time</a> <span> I will explain how to handle date and time. </span>
  </li>
  <li>
    <a href="/blog/20161026147748.html">9. Numerical calculation</a> <span> Numerical values in Perl. Mathematical functions etc. </Span>
  </li>
</ul>
</div>