<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20100809127859.html">
        <span itemprop = "name"> XS </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2> How to use C ++ library from XS </h2>



Perl's XS also allows you to call libraries written in <b> C ++ </b>. Just specify "g ++" for C ++ for the compiler and linker.

<h3> Create a module with h2xs </h3>

First, create a module for XS with h2xs.

<pre>
h2xs -A -n SomeModule
</pre>

This will create a directory called "SomeModule". The following files and directories will be created.

<pre>
Changes
lib /
Makefile.PL
MANIFEST
ppport.h
README
SomeModule.xs
t /
</pre>

<h3> Creating a C ++ library </h3>

Let's create a C ++ library. Create a header file and a source file.

<b> mylib.h </b>

This is a header file. Declaring mylib_print.

<pre>
void mylib_print();
</pre>

<b> mylib.cpp </b>

C ++ source file. mylib_print is a function that outputs the string "mylib_cpp". Note that the file name extension is ".cpp".

<pre>
# include <iostream>

void mylib_print() {
  std::cout << "mylib_cpp \ n";
}
</pre>

Save the header and source files and place them in the same directory where the XS files are located.

<h3> XS file description </h3>

Let's write an XS file. I am calling mylib_print.

<pre>
# include "EXTERN.h"
# include "perl.h"
# include "XSUB.h"

# include "ppport.h"
# include "mylib.h"

MODULE = SomeModule PACKAGE = SomeModule

void
foo (...)
  PPCODE:
{
  mylib_print();
  XSRETURN (0);
}
</pre>

<h3> Modify Makefile.PL </h3>

Next, let's modify Makefile.PL a little. The bottom "OBJECT" option is commented out by default, so uncomment it. If you set "$(O_FILES)", all C language source files and C ++ source files in the current directory will be compiled.

Then change the compiler and linker to "g ++". The compiler can be set with the "CC" option, and the linker can be set with the "LD".

<pre>
use ExtUtils::MakeMaker;
use strict;
use warnings;

WriteMakefile (
    NAME =>'SomeModule',
    VERSION_FROM =>'lib / SomeModule.pm', # finds $VERSION
    PREREQ_PM => {}, # e.g., Module::Name => 1.1
    ($]> = 5.005? # # Add these new keywords supported since 5.005
      (ABSTRACT_FROM =>'lib / SomeModule.pm', # retrieve abstract from module
       AUTHOR =>'A. U. Thor <kimoto@sakura.ne.jp>') :()),
    LIBS => [''], # e.g.,'-lm'
    DEFINE =>'', # e.g.,'-DHAVE_SOMETHING'
    INC =>'-I.', # e.g.,'-I. -I / usr / include / other'
    OBJECT =>'$(O_FILES)', # link all the C files too
    CC =>'g ++',
    LD =>'g ++',
);
</pre>

<h3> Test script </h3>

Create a test script. This should be in the same directory where the XS files are located.

<pre>
use strict;
use warnings;

use SomeModule;

SomeModule::foo ();
</pre>

<h3> Compile and run </h3>

Let's compile and run it.

<pre>
perl Makefile.PL
make
perl -Mblib test.pl
</pre>

If the output is as follows, it is successful.

<pre>
mylib_cpp
</pre>

Now you can use the C ++ library from the XS file.

<h3> FAQ </h3>

<h4> Is it possible to write C ++ directly in the XS file? </h4>

I can do it. However, it tends to cause problems such as collision with Perl symbols, so I think it is better to describe it in the source file and header file.

<h4> Is it possible to use a mixture of C language libraries and C ++ libraries? </h4>

C ++ is almost upward compatible with C language, so I think it's okay if the C language library can be compiled with g ++. If not, I'm not sure.