<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li>
    here
  </li>
</ol>
<h2> database </h2>




Explains how to connect to a "database" in Perl. It supports many databases such as MySQL, SQLite, Oracle, Access, and SQL Server.

<h3> Use of various databases </h3>

I will explain how to use various databases.

<ul>
  <li>
    <a href="/blog/20161122147981.html"> Cooperation with MySQL</a>
  </li>
  <li>
    <a href="/blog/20091121124667.html"> Basics of database operations learned with SQLite</a>
  </li>
  <li>
    <a href="/blog/20110707131337.html"> Install DBD :: Oracle</a>
  </li>
  <li>
    <a href="/blog/20101218130016.html"> Procedure for connecting to SQL Server</a>
  </li>
</ul>

<h3> Module </h3>

Introducing a convenient module for connecting to a database.

<h4> DBIx :: Custom </h4>

Explains how to easily execute SQL to the database using the module "DBIx :: Custom".

<ul>
  <li>
    <a href="/blog/20110401130559.html"> Easy way to execute SQL with DBIx :: Custom</a>
  </li>
</ul>