<h2> Perl Module Introduction-Introduction to CPAN's Rich Joules </h2>

<a href="/blog/20091116124667.html:title">Perl module thorough explanation</a> explains the Perl module in detail, but recently I haven't had enough time to write an explanation. Even so, I often cannot write detailed explanations.

Therefore, I would like to briefly introduce and link in the form of module introduction. If there is a module that says "I want you to post it on the link", please include the module name and a one-line explanation in the comment section. I do not ask myself or others. I will introduce them all.

<h4> FFI-Call shared libraries (.so, .dll) directly from Perl </h4>

<table>
  <tr>
    <td>
      <a href="/blog/20121207135484.html">FFI::Raw</a>
    </td>
    <td>
      Simple FFI module
    </td>
    <td>
      <a href="http://search.cpan.org/dist/FFI-Raw/lib/FFI/Raw.pm">cpan</a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="https://qiita.com/yukikimoto/items/8e595d8b890294b45912">FFI::Platypus</a>
    </td>
    <td>
      Feature-rich FFI module
    </td>
    <td>
      <a href="http://search.cpan.org/dist/FFI-Platypus/lib/FFI/Platypus.pm">cpan</a>
    </td>
  </tr>

</table>

<h4> Date / Time </h4>

<table>
  <tr>
    <td>
      <a href="http://www.moongift.jp/2014/10/time-moment-%E3%81%95%E3%81%BE%E3%81%96%E3%81%BE%E3% 81%AA%E3% 82%B3%E3% 83%BC%E3% 83% 87%E3% 82%A3%E3% 83%B3%E3% 82%B0%E3% 82%B9%E3% 82%BF%E3% 82%A4%E3% 83%AB%E3% 82% 92%E6% 84% 8F%E8%AD% 98%E3% 81% 97%E3% 81% 9F /">Time::Moment</a>
    </td>
    <td>
      High-speed processing of date and time
    </td>
    <td>
      <a href="http://search.cpan.org/dist/Time-Moment/lib/Time/Moment.pod">cpan</a>
    </td>
  </tr>

</table>

<h4> Artificial intelligence </h4>

<table>
  <tr>
    <td>
      <a href="/blog/20170713149995.html">AI::MXNet</a>
    </td>
    <td>
      Perl interface for MXNet machine learning library
    </td>
    <td>
      <a href="http://search.cpan.org/dist/AI-MXNet/lib/AI/MXNet.pm">cpan</a>
    </td>
  </tr>

</table>