<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161005147566.html">      <span itemprop = "name">operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20080910122105.html">      <span itemprop = "name">Arithmetic operator </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>Decrement operator " - "</h2>



Using the <b> decrement operator </b>, the <a href="/blog/20161026147748.html">assigned to the <a href="/blog/20161107147852.html">variable</a> You can subtract 1 from the number</a>. Decrement operators can be added before or after a variable.

<pre>
# Decrement (postscript)
$num- ;

# Decrement (prefix)
- $num;
</pre>

The decrement operator has the same meaning as the following description using the <a href="/blog/20180220151913.html">subtraction operator</a>.

<pre>
$num = $num - 1;
</pre>

Decrement operators are sometimes used in <a href="/blog/20161022147731.html">for statements</a>.

<pre>
for (my $i = 10; $i >= 0; $i- ) {
  print "$i\n";
}
</pre>

This example program outputs 10 to 0.

<h3>Difference between prefix decrement and post - decrement</h3>

The prefix decrement and the suffix decrement have the same meaning when used alone, but have different meanings when the return value is used, such as when they are assigned.

<h4>Prefix decrement</h4>

For prefix decrements, the decremented value is returned.

<pre>
my $num1 = 1;
my $num2 = - $num;
</pre>

"$Num1" is decremented to 0. This value of 0 is returned and assigned to "$num2".

I explained in the case of assignment, but I will also give an example of passing a value to <a href="/blog/20101130129876.html">subroutine</a>. The fun is passed a <b> decremented value </b>.

<pre>
func (-$i);
</pre>

<h4>Postfix decrement</h4>

For prefix decrements, the value before decrementing is returned.

<pre>
my $num1 = 1;
my $num2 = $i- ;
</pre>

"$Num1" is decremented to 0, but the value before decrementing, 1 is assigned to $num2.

The above two have different values in $k. In the first case, $k contains 0. In the second case, $k contains 1.

I explained in the case of assignment, but I will also give an example of passing a value to a subroutine. The fun is passed <b> the value before it was decremented </b>.

<pre>
func ($i- );
</pre>

<h3>Increment operator</h3>

The increment operator is the opposite of the decrement operator and is an operator that can add one. The increment operator is explained in detail below.

<ul>
  <li>
    <a href="/blog/20180224151948.html">Increment operator</a>
  </li>
</ul>