<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161102147817.html">        <span itemprop = "name">Special variable </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2>Default variable $_</h2>



There is a default variable in Perl.

<pre>
$_
</pre>

Let's first look at some examples where default variable are used.

<h4>grep function</h4>

Each element of the array passed to the <a href="/blog/20100119126425.html">grep function</a> is assigned to the default variable.

<pre>
my @values2 = grep {$_ eq 'cat'} @values1;
</pre>

"$_" Is the default variable, and each element of @values1 is assigned in order.

This is easy to understand if you think of it as expressing the English pronoun "it".

<h4>map function</h4>

Each element of the array passed to the <a href="/blog/20100118126425.html">map function</a> is assigned to the default variable.

<pre>
my @values2 = map {lc $_} @values1;
</pre>

<h4>When the declaration of a lexical variable is omitted in for</h4>

If for omits the declaration of a lexical variable, each element of the array is assigned to the default variable.

<pre>
for (@values) {
  print "$_\n";
}
</pre>

<h4>Postfix for</h4>

If you use the trailing for, each element of the array is assigned to the default variable.

<pre>
print "$_\n" for @values;
</pre>

<h4>When the diamond operator is used alone in the while statement</h4>

<a href="/blog/20100123126425.html">while statement</a> <a href="http://d.hatena.ne.jp/perlcodeexample/comment/20080722/1216737340">Diamond operator < If you use/a> alone, each line is assigned to the default argument in turn.

<pre>
while (<>) {
  print "$_\n";
}
</pre>

This usage above is the usage of default variable that you often see.

<h3>Implicit arguments in builtin functions</h3>

Some <a href="/blog/20161004147558.html">Perl builtin functions</a> use default variable as implicit arguments if you omit the arguments.

This is a bad way to avoid writing it yourself, as it will reduce readability.

For example, if you omit the argument in the <a href="/blog/20100326127089.html">lc function</a>, the default variable becomes the implicit argument.

<pre>
my @values2 = map {lc} @values1;
</pre>

This has the same meaning as if you explicitly wrote the default arguments.

<pre>
my @values2 = map {lc $_} @values1;
</pre>

If the argument is omitted in the builtin functions, suspect that an implicit argument is being used.

<h3>Implicit target in regular expression</h3>

If the left side of the <a href="/blog/20100827127859.html">regular expression</a> pattern matching operator is omitted, the default variable will be used.

<pre>
for (@values) {
  s/cat/dog/;
}
</pre>

This has the same meaning as if you explicitly wrote the default variable.

<pre>
for (@values) {
  $_ =~ s/cat/dog/;
}
</pre>