<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

<h2>Perl Download and Installation</h2>

Explains how to download and install Perl on Windows, Mac, and <a href="https://en.linux.perlzemi.com/">Linux</a>/<a href="https://en.wikipedia.org/wiki/Unix">UNIX</a>.

<div id = "windows"></div>

<h3>Installation of Perl on Windows</h3>

Let's install Perl on <b>Windows</b>. I explain the way to use Strawberry Perl, ActivePerl, and msys2.

<h4>Installation of Strawberry Perl</h4>

Strawberry Perl is one of the Perl distributions on Windows. Strawberry Perl is easy to install and has the C language compiler <a href="https://en.wikipedia.org/wiki/MinGW">MinGW</a> and a CPAN module installer <a href="/blog/20101027127859.html">cpanm</a> and often used C libraries.

<a href="/blog/20180808153368.html"><img style = "border: 1px solid # ddd; max-width: 450px;" src="/images/installation/strawberry_perl.png"></a>

<a href="/blog/20180808153368.html">Install Strawberry Perl on Windows</a>

<h4>Installation of ActivePerl</h4>

ActivePerl is also a Perl distributions on Windows.

<a href="/blog/20080602121231.html"><img style = "border: 1px solid # ddd; max-width: 480px;" src = "/images/installation/active_perl.png"></a>
<a href="/blog/20080602121231.html">Install ActivePerl on Windows</a>

<h4>Installation of msys2 and Perl</h4>

msys2 is a software to build a pseudo <a href="https://en.linux.perlzemi.com/">Linux</a> environment on Windows.

<a href="/blog/20180806153350.html"><img style = "max-width: 500px;" src = "/images/installation/msys2.png"></a>

Some of <a href="/blog/20161103147817.html">IPC</a> don't work well on Windows Perl distributions, but all IPC work well on msys2.

For example, the development server of <a href="https://en.mojolicious.perlzemi.com/">Mojolicious</a> works well on msys2.

<a href="/blog/20180806153350.html">Installation of msys2 and Perl</a>

<div id = "mac"></div>

<h3>Installation Perl on Mac</h3>

Perl is installed by default on Mac. you can start using Perl right away.

<a href="/blog/20180814153419.html"><img style = "border: 1px solid # ddd; max-width: 300px;" src = "/images/installation/mac.png"></a>

You can also install the latest Perl on your Mac.
 
<a href="/blog/20180814153419.html">Installation of Perl on Mac</a>

<div id = "linux"></div>

<h3>Installation of Perl on Linux/UNIX</h3>

Perl is widely installed on Linux/UNIX by default. 

If not, You can install the latest Perl on your <a href="https://en.linux.perlzemi.com/">Linux</a>/<a href="https://en.wikipedia.org/wiki/Unix">UNIX</a>.

<a alt="Install Perl on Unix/Linux" href="/blog/20180813153411.html"><img style = "border: 1px solid # ddd; max-width: 400px;" src = "/images/installation/linux.png"></a>

<a href="/blog/20180813153411.html">Installation of Perl on Linux/UNIX</a>
