<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20180820153471.html">Installation</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2>Installing Perl on macOS</h2>

Perl is already installed in the macOS environment.

Check if Perl is installed with the following command.

<pre>
perl -v
</pre>

If the version information is displayed, it's OK.

Let's get started with Perl.

<h4>Installing Perl in the user environment</h4>

If you want to use the latest Perl etc., you can also install Perl in your environment.

If you want to install the CPAN module, it is recommended to install Perl in your environment.

The new Mac OS X (mojave) system Perl fails to install Perl modules written in C for security reasons.

If you want to install Perl in its own user environment, you can use a tool called perlbrew or plenv.

Since root authority is not required, it is easy to install and does not pollute the OS environment. You can install and use the latest Perl.

If you're running Perl on a production web service, this is the mainstream method as of 2019.

Both perlbrew and plenv are similar tools for installing Perl in your environment. Please select as you like.

<a href="https://syncer.jp/mac-terminal">Start up the terminal on macOS</a>, and then follow the steps below.

<ul>
  <li>
    <a href="/blog/20110220130464.html">perlbrew - Install Perl in your environment</a>
  </li>
  <li>
    <a href="/blog/20180816153437.html">plenv - Install Perl in your environment</a>
  </li>
</ul>