<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161102147817.html">        <span itemprop = "name">Special variables </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Regular expression capture $1, $2, $3, ... </h2>



The strings captured by <a href="/blog/20100827127859.html">regular expression</a> are assigned to "$1", "$2", and "$3" in order.

<pre>
$1
$2
$3
</pre>

After this, it continues with "$4" and "$5".