<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop = "name"> operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li>
      <span itemprop = "name"> here </span>
  </li>
</ol>
<h2> Backticks operator-Run another process and get standard output </h2>



You can use the <b> backticks operator </b> to run another process and get the standard output produced by that process.

<pre>
# Backticks operator
my $output = `$cmd`;
</pre>

It's pretty similar to the <a href="/blog/20180124151680.html"> system function</a>. The system function returns an exit status, while the backticks operator returns the standard output of the process.

<h3> Execute the ls command </h3>

As an example of the backticks operator, let's execute the Linux ls command that displays the contents of the current directory.

<pre>
my $output = `ls`;
</pre>

$output shows a list of current directories.

<pre>
a.pl gperl module-starter.txt not_important_project ringowiki static-perl.tar
batch Image-PNG-Simple mojo Object-Simple role task deal
crontab.txt imager-japanese-translation.wiki mojo-examples
</pre>

<h3> To check the return value of the calling process </h3>

How do you check if the process you call with the backticks operator fails or returns an error status?

<a href="/blog/20161102147817.html"> Special variables</a> Use "$?".

If this value is non-zero, then some error has occurred.

<pre>
# Error checking
if ($?) {
  die "Command error";
}
</pre>

You can also know the error status in more detail.

$? Is a 16-bit value, and the exit status of the child process is stored in the upper 8 bits. You can get the exit status by shifting to the right 8 bits.

<pre>
my $output = `ls`;

# Check the exit status of the child process
my $status = $? >> 8;
if ($status! = 0) {
  # Error handling
}
</pre>

<h3> Backticks operator security </h3>

The backticks operator is a security-prone operator. For example, suppose the input data from the Web is "rm" and you pass it unchecked to the backticks operator.

The backticks operator executes unintended commands.

If you are receiving input from the user programmatically, make sure that the string you pass to the backticks operator is safe.

<h3> Backticks operator sample </h3>

This is a sample backticks operator.

<pre>
use strict;
use warnings;

my $output = `ls -l`;

if ($?) {
  die "Command error";
}

print "$output\n";
</pre>