<h2> readline function --read one line </ h2>

You can use the <b> readline function </ b> to read a single line.

<pre>
readline file handle
</ pre>

The readline function has exactly the same functionality as the line input operator. In Perl, it's customary to use line input operators, so it's better to use line input operators.

Please refer to the following article for the line input operator.

<ul>
   <li>
     <a href="/blog/20080722121673.html"> Line input operator "& lt; & gt;" --Read one line from a file </a>
   </ li>
</ ul>