<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161005147566.html">      <span itemprop = "name">operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20100820127859.html">      <span itemprop = "name">File test </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  &#8250;
  <li>
      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>Check the existence of the file</h2>



To <b> check if a file exists </b>, use the file test operator "-e".

<pre>
-e $file
</pre>

Returns a true value if the file exists, a false value if it does not exist. Directories and symbolic links are also treated as files. This is because on Unix, directories are also considered as special files and are considered as files.

<h4>Check if the normal file exists</h4>

If you want to check if a regular file that is not a directory exists, you can check it with the file test operator "-f".

<pre>
-f $file
</pre>

Normal Returns a true value if the file exists, a false value if it does not exist. A normal file is a file that stores data such as a text file or a binary file.

<h4>Types of files that can be confirmed to exist</h4>

There are also file test operators that can check for the existence of directories and symbolic links.

<table>
  <tr>
    <td>
      <span style = "font-weight: bold;">File type </span>
    </td>
    <td>
      <span style = "font-weight: bold;">Corresponding file operator </span>
    </td>
  </tr>

  <tr>
    <td>
      Normal file
    </td>
    <td>
                                             -f
    </td>
  </tr>

  <tr>
    <td>
      Directory
    </td>
    <td>
                                            -d
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://itpro.nikkeibp.co.jp/article/Keyword/20071025/285561/">Symbolic link</a>
    </td>
    <td>
                                        -l
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://e-words.jp/w/E5908DE5898DE4BB98E3818DE38391E382A4E38397.html">Named pipe</a>, file handle that is a pipe
    </td>
    <td>
              -p
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://e-words.jp/w/E382BDE382B1E38383E38388.html">Socket</a>
    </td>
    <td>
             -S
    </td>
  </tr>

  <tr>
    <td>
      Block special file
    </td>
    <td>
            -b
    </td>
  </tr>

  <tr>
    <td>
      Character special file
    </td>
    <td>
           -c
    </td>
  </tr>

</table>

I have put up a link to the explanation page of terms.

<h3>Sample program</h3>

This is a sample to check the existence of a file using the file test operator "-e".

<pre>
use strict;
use warnings;

# Check for the existence of the file.
# -e file name
# -e can be used for directories, files, symbolic links, etc.
# You can check if it exists without distinguishing the .

print "1: Check the existence of the file. -e\n";
my $file_all_type = 'a';

if (-e $file_all_type) {
  print "'$file_all_type' exists.\n";
}
else {print "'$file_all_type' does not exist.\n"}
</pre>

This is a sample to check the existence of a normal file using the file operator -f.

<pre>
use strict;
use warnings;

# Check the existence of normal files.
# -f file name

print "1: Check the existence of normal files. -f\n";
my $file = 'a.txt';
if (-f $file) {
  print "'$file' exists.\n";
}
else {print "'$file' does not exist.\n"}
</pre>