<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20180820153471.html">Installation</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

<h2> Install msys2 on Windows and use Perl </h2>

Learn how to install msys2 on Windows and use Perl.

<a href="https://www.msys2.org">msys2</a> is a tool that <b> provides a Linux-like shell environment on Windows </b>. You can develop using Perl in a Linux-like environment.

<b> msys2 screen </b>
<div>
  <img src = "/ images / msys2.png"></div>

With msys2, you can use Linux commands such as ls, cat, tar, and git, and UTF-8 can be displayed correctly.

Since there is a POSIX compatibility layer, the development server of <a href="/blog/20140319139520.html">Mojolicious</a> will work properly, assuming booting on Linux.

<h3> 10 minutes to install msys2 </h3>

Download and install msys2.

<h4> Download msys2 </h4>

Let's install msys2. Use the 64-bit version of msys2 for 64-bit Windows, and use the 32-bit version of msys2 for 32-bit Windows.

Currently (March 8, 2021), most Windows seems to be a 64-bit version, so normally a 64-bit version should be fine. The following explanation is based on the 64-bit version.

<ul>
  <li>
    <a href="https://www.msys2.org/">Top page-Click "1. Download the installer: msys2-x86_64-Date.exe"</a>
  </li>
</ul>

Click to download msys2 to your desktop.

<h4> Confirm user name </h4>

Make sure that the user directory under "C: \ Users" (Japanese display is C: \ users) in Windows is in English as shown below.

<pre>
kimot
</pre>

If it is in Japanese as shown below, additional settings are required.

<pre>
Kimoto
</pre>

If it is in Japanese, before installing msys2, set the variable name to "HOME" and the variable value to "C: \ msys64 \ home \ msys2user" in the environment variable settings. ..

<ul>
  <li> <a href="http://www.wannko.net/windows10/etc/kankyo.html">Add environment variables</a>
</ul>

The above directory is set as the home directory of msys2.

<h4> Install msys2 </h4>

Double-click the msys2 icon on your desktop.

Press Next to start the installation. It will take about 3 minutes, so let's wait.

When you press Finish, msys2 will start, but let's press the cross on the upper right to end it.

<h4> Second and subsequent startups of msys2 </h4>

Once you close msys2, you're wondering where to start next.

If you look for the table of contents of m from the list of applications in the Windows Start-menu, you will find the directory "MSYS2 64bit".

In it

<ul>
  <li>
    MSYS2 MinGW 64bit
  </li>
  <li>
    MSYS2 MINGW 32bit
  </li>
  <li>
    <b> MSYS2 MSYS </b>
  </li>
</ul>

However, let's start <b> "MSYS2 MSYS" </b>. There are three types of startup scripts in msys2, but <b> for Perl to work properly, select "MSYS2 MSYS", which has the highest Linux reproducibility </b>.

Please note that if you make a mistake, the Perl environment will not be set up correctly.

The other two seem to be used when developing Windows native apps.

It is convenient to start by creating a shortcut on the desktop. In that case, select "Right click", "Other", "Open file location", "Right click" and "Copy" "MSYS2 MSYS", and then "Paste" on the desktop.

<h3> Perl environment construction 20 minutes </h3>

Make Perl available on msys2. Let's install Perl and the list of development environments required for Perl together.

pacman is a package manager for msys2.

<pre>
pacman -S perl perl-CPAN msys2-devel make libcrypt-devel
</pre>

Copy the above and select "Right click"-> "Paste" in msys2 to paste it. Press Enter to execute the above command.

You will be asked if you want to install it, so press "Enter" to proceed. No matter what you ask, just press "Enter".

The following will be installed. This is the minimum environment required for Perl to work properly. Perl is written in <a href="https://clanguage.perlclub.net/">C language</a> and is a C language compiler <a href="https://linux" for compiling Perl modules. .perlclub.net/blog/20201216103956.html">gcc</a> is required.

<ul>
  <li>
    perl (perl)
  </li>
  <li>
    cpan (perl-CPAN)
  </li>
  <li>
    gcc (msys2-devel)
  </li>
  <li>
    make (make)
  </li>
  <li>
    crypt.h (libcrypt-devel)
  </li>
</ul>

<b> Now press the cross on the upper right once to close the terminal and restart "MSYS2 MSYS". If you don't do this, your PATH settings will be incorrect and the cpan command will not work properly. </b>

Make sure you have Perl installed.

<pre>
perl -v
</pre>

If you see the following, it is installed. The version may be new.

<pre>
This is perl 5, version 24, subversion 4 (v5.24.4) built for x86_64-msys-thread-multi
</pre>

<h4> Run Perl script </h4>

The user directory of msys2 is in the following location. Place your Perl script under your user directory.

<pre>
C: \ msys64 \ home \ username
</pre>

Move the current directory.

<pre>
cd C: \ msys64 \ home \ username
</pre>

Create a file called "test.pl" here. Let's write the following.

<pre>
print "Hello, World!\n";
</pre>

Let's run a Perl script.

<pre>
perl test.pl
</pre>

If you see something like the following, Perl is successfully installed and the program is running.

<pre>
Hello, World!
</pre>

<h4> Install CPAN module </h4>

To make sure your Perl environment is built correctly, install Mojolicious running pure Perl and JSON::XS written in XS.

Some CPAN modules are expected to work in Unix / Linux environments. Make sure the symlink works properly on msys2 with the following settings.

<pre>
export MSYS = winsymlinks
</pre>

At the first time, you will be asked if you want to set cpan automatically, so press "Enter" to proceed. No matter what you ask, just press "Enter".

<pre>
cpan Mojolicious
cpan JSON::XS
</pre>

If you can confirm this installation, the work is finished. Thank you for your hard work.

<h3> Troubleshooting </h3>

When the msys2 installation and Perl installation procedures fail, virus checkers (Avast, McAfee, Norton, etc.) may falsely detect msys2 as virus software.

Also, depending on the virus checker, it may not be possible to execute with administrator privileges.

If you encounter this issue, temporarily stop the virus checker and right-click "Run as administrator" before launching the msys2 installer.

If you are using Windows 10, it seems that you can install it without any problem by using the default virus software, Windows Defender.

<h3> Frequently used Linux commands </h3>

Frequently used <a href="https://linux.perlclub.net/blog/20200211081227.html" such as <a href="https://git.perlclub.net/">git</a> and rsync It's a good idea to have the> Linux commands</a> installed as well.

<pre>
pacman -S git
pacman -S rsync
</pre>

<h3> Please </h3>

msys2 is updated regularly and the package name and update command change, so if this procedure doesn't work, <a href="https://github.com/yuki-kimoto/perlzemitut">repository </strong> Please let us know on a> or Twitter.