<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161102147817.html">        <span itemprop = "name">Special variables </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Examine the loaded module%INC </h2>



Use a special variable called <strong>%INC </strong> to find out which modules are loaded.

<pre>
%INC
</pre>

The%INC hash is assigned a combination of module name and module file name. You can see the module name and which file you actually imported. The result output by <a href="/blog/20080208120248.html">Data::Dumper</a> is as follows.

<pre>
$VAR1 = {
          'Data / Dumper.pm' =>' C: /Strawberry/perl/lib/Data/Dumper.pm',
          'XSLoader.pm' =>' C: /Strawberry/perl/lib/XSLoader.pm',
          'feature.pm' =>' C: /Strawberry/perl/lib/feature.pm',
          'Carp.pm' =>' C: /Strawberry/perl/lib/Carp.pm',
          'warnings.pm' =>' C: /Strawberry/perl/lib/warnings.pm',
          'bytes.pm' =>' C: /Strawberry/perl/lib/bytes.pm',
          'strict.pm' =>' C: /Strawberry/perl/lib/strict.pm',
          'Exporter.pm' =>' C: /Strawberry/perl/lib/Exporter.pm',
          'warnings / register.pm' =>' C: /Strawberry/perl/lib/warnings/register.pm',
          'constant.pm' =>' C: /Strawberry/perl/lib/constant.pm'
        };
</pre>

%INC has nothing to do with @INC, which contains the <a href="/blog/20180508152716.html">module search path</a>. @INC and%INC are completely different variables. If you want to know only the module name, use the <a href="/blog/20080210120265.html">keys function</a> to retrieve only the keys.