<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20180820153471.html">Installation</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

<h2>Installation of msys2 and Perl on Windows</h2>

Explains how to install <a href="https://www.msys2.org">msys2</a> and Perl on Windows. The msys2 is a software to build a Linux-like environment on Windows. Perl can be installed on msys2.

<img src="/images/msys2.png">

On msys2, you can use <a href="https://en.linux.perlzemi.com/blog/20200211081227.html">Linux commands</a> such as ls, cat, tar, and <a href="https://en.git.perlzemi.com/">git</a>. The terminal charset is UTF-8.

The msys2 is compatible with POSIX. The Perl web framework such as <a href="https://en.mojolicious.perlzemi.com/">Mojolicious</a> can work correctly.

<h3>Download of msys2</h3>

Let's download msys2 from the following page.

<ul>
  <li>
    <a href="https://www.msys2.org/">msys2.org</a>
  </li>
</ul>

Click "the installer: msys2-x86_64-20220319.exe" and donwload msys2 to your desktop.

<h3>Installation of msys2</h3>

Double-click the msys2 icon on your desktop.

Press Next.

Press Finish. The msys2 will start.

<h3>Execution of msys2</h3>

You close msys2. Next time, you find the msys2 program.

"Windows Start Menu" | "List of Apps" | "MSYS2 64bit".

You will see three msys2 program.

<ul>
  <li>
    MSYS2 MinGW 64bit
  </li>
  <li>
    MSYS2 MINGW 32bit
  </li>
  <li>
    <b>MSYS2 MSYS</b>
  </li>
</ul>

Click <b>MSYS2 MSYS</b>. This is needed to run Perl.

"MSYS2 MinGW 64bit" and "MSYS2 MINGW 32bit" are used to create Windows native apps.

<h3>Instalation of Perl on msys2</h3>

Make Perl available on msys2. Let's install Perl and the list of development environments required for Perl together.

pacman is a package manager for msys2.

<pre>
pacman -S perl perl-CPAN msys2-devel make libcrypt-devel
</pre>

Copy the above and select "Right click"->"Paste" in msys2 to paste it. Press Enter to execute the above command.

You will be asked if you want to install it, so press "Enter" to proceed. No matter what you ask, just press "Enter".

The following will be installed. This is the minimum environment required for Perl to work properly. Perl is written in <a href="https://en.c.perlzemi.com/">C language</a> and is a C language compiler <a href="https://linux" for compiling Perl modules. .perlclub.net/blog/20201216103956.html">gcc</a> is required.

<ul>
  <li>
    perl (perl)
  </li>
  <li>
    cpan (perl-CPAN)
  </li>
  <li>
    gcc (msys2-devel)
  </li>
  <li>
    make (make)
  </li>
  <li>
    crypt.h (libcrypt-devel)
  </li>
</ul>

<b> Now press the cross on the upper right once to close the terminal and restart "MSYS2 MSYS". If you don't do this, your PATH settings will be incorrect and the cpan command will not work properly. </b>

Make sure you have Perl installed.

<pre>
perl -v
</pre>

If you see the following, it is installed. The version may be new.

<pre>
This is perl 5, version 24, subversion 4 (v5.24.4) built for x86_64-msys-thread-multi
</pre>

<h4>Run Perl script</h4>

The user directory of msys2 is in the following location. Place your Perl script under your user directory.

<pre>
C:\msys64\home\username
</pre>

Move the current directory.

<pre>
cd C:\msys64\home\username
</pre>

Create a file called "test.pl" here. Let's write the following.

<pre>
print "Hello, World!\n";
</pre>

Let's run a Perl script.

<pre>
perl test.pl
</pre>

If you see something like the following, Perl is successfully installed and the program is running.

<pre>
Hello, World!
</pre>

<h4>Install CPAN module</h4>

To make sure your Perl environment is built correctly, install Mojolicious running pure Perl and JSON::XS written in XS.

Some CPAN modules are expected to work in Unix/Linux environments. Make sure the symlink works properly on msys2 with the following settings.

<pre>
export MSYS = winsymlinks
</pre>

At the first time, you will be asked if you want to set cpan automatically, so press "Enter" to proceed. No matter what you ask, just press "Enter".

<pre>
cpan Mojolicious
cpan JSON::XS
</pre>

If you can confirm this installation, the work is finished. Thank you for your hard work.

<h3>Troubleshooting</h3>

When the msys2 installation and Perl installation procedures fail, virus checkers (Avast, McAfee, Norton, etc.) may falsely detect msys2 as virus software.

Also, depending on the virus checker, it may not be possible to execute with administrator privileges.

If you encounter this issue, temporarily stop the virus checker and right-click "Run as administrator" before launching the msys2 installer.

If you are using Windows 10, it seems that you can install it without any problem by using the default virus software, Windows Defender.

<h3>Frequently used Linux commands</h3>

Frequently used <a href="https://en.linux.perlzemi.com/blog/20200211081227.html" such as <a href="https://en.git.perlzemi.com/">git</a> and rsync It's a good idea to have the> Linux commands</a> installed as well.

<pre>
pacman -S git
pacman -S rsync
</pre>

<h3>Please</h3>

msys2 is updated regularly and the package name and update command change, so if this procedure doesn't work, <a href="https://github.com/yuki-kimoto/perlzemitut">repository </strong> Please let us know on a> or Twitter.