<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20180820153471.html">Installation</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

<h2>Installation of msys2 and Perl on Windows</h2>

Explains how to install <a href="https://www.msys2.org">msys2</a> and Perl on Windows. The msys2 is a software to build a Linux-like environment on Windows. Perl can be installed on msys2.

<img src="/images/msys2.png">

On msys2, you can use <a href="https://en.linux.perlzemi.com/blog/20200211081227.html">Linux commands</a> such as <a href="https://en.linux.perlzemi.com/blog/20191126082723.html">ls</a>, <a href="https://en.linux.perlzemi.com/blog/20200113083613.html">cat</a>, <a href="https://en.linux.perlzemi.com/blog/20190129171737.html">tar</a>, and <a href="https://en.git.perlzemi.com/">git</a>. The terminal charset is UTF-8.

The msys2 is compatible with POSIX. The Perl web framework such as <a href="https://en.mojolicious.perlzemi.com/">Mojolicious</a> can work correctly.

<h3>Download of msys2</h3>

Let's download msys2 from the following page.

<ul>
  <li>
    <a href="https://www.msys2.org/">msys2.org</a>
  </li>
</ul>

Click "the installer: msys2-x86_64-20220319.exe" and donwload msys2 to your desktop.

<h3>Installation of msys2</h3>

Double-click the msys2 icon on your desktop.

Press Next.

Press Finish. The msys2 will start.

<h3>Execution of msys2</h3>

You close msys2. Next time, you find the msys2 program.

"Windows Start Menu" | "List of Apps" | "MSYS2 64bit".

You will see three msys2 program.

<ul>
  <li>
    MSYS2 MinGW 64bit
  </li>
  <li>
    MSYS2 MINGW 32bit
  </li>
  <li>
    <b>MSYS2 MSYS</b>
  </li>
</ul>

Click <b>MSYS2 MSYS</b>. This is needed to run Perl.

"MSYS2 MinGW 64bit" and "MSYS2 MINGW 32bit" are used to create Windows native apps.

<h3>Instalation of Perl on msys2</h3>

Let's install Perl. <b>pacman</b> is the package manager of msys2.

<pre>
pacman -S perl perl-CPAN msys2-devel make libcrypt-devel
</pre>

Copy the above command and paste it on msys2 by clicking the right mouse button.

You will be asked if you want to install them. Press "Enter".

The following softwares will be installed for Perl.

<ul>
  <li>
    perl (perl)
  </li>
  <li>
    cpan (perl-CPAN)
  </li>
  <li>
    gcc (msys2-devel)
  </li>
  <li>
    make (make)
  </li>
  <li>
    crypt.h (libcrypt-devel)
  </li>
</ul>

Some Perl modules are written by C/C++ language. To compile these modules, <a href="https://en.linux.perlzemi.com/blog/20201216103956.html">gcc</a> and make are required.

<h3>Check of Perl Installation</h3>

Checks of Perl installation.

<pre>
perl -v
</pre>

If you see the version of Perl, the Perl installation is succeed.

<pre>
This is perl 5, version 24, subversion 4 (v5.24.4) built for x86_64-msys-thread-multi
</pre>

<h3>Installation of CPAN Modules</h3>

To make sure your Perl environment is built correctly, install some Perl modules.

Some CPAN modules expect Unix/Linux environments. Make sure the symlink works properly on msys2 with the following command.

<pre>
export MSYS = winsymlinks
</pre>

At the first time to use cpan, you will be asked if you want to set cpan automatically. Press "Enter".

<pre>
cpan Mojolicious
cpan JSON::XS
</pre>

If the installation of these modules are finished, your Perl environment on msys2 is built correctly.
