<h2> To get infinity (Inf), infinitesimal (-Inf), non-number (NaN) </h2>

To get an infinitesimal (Inf), infinitesimal (-Inf), and non-numeric (NaN) numeric representation in Perl:

<h4> Infinity Inf </h4>

You can get infinity (Inf) by doing a floating point operation that overflows in the positive direction.

<pre>
9 ** 9 ** 9
</pre>

<h4> Infinitesimal -Inf </h4>

You can get infinity (Inf) by doing a floating point operation that overflows in the negative direction.

<pre>
-9 ** 9 ** 9
</pre>

<h4> Innumerable NaN </h4>

You can get a non-number (NaN) by dividing infinity by infinity.

<pre>
9 ** 9 ** 9/9 ** 9 ** 9
</pre>


(Reference) <a href="http://perldoc.jp/docs/perl/5.22.1/perldata.pod#Special32floating32point:32infinity32-40Inf41-32and32not-a-number32-40NaN41">Special floating point number: Infinite ( Inf) and non-numerical (NaN)</a>