<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<h2>Perl Downloading and Installation</h2>

Explains the way to download and install Perl to Windows, Mac, and Linux.

<div id="windows"></div>

<h3>Windows Perl Installation</h3>

Let's install Perl to Windows. Explains the way to using Strawberry Perl, ActivePerl, or msys2.

<h4>Strawberry Perl Installation</h4>

Strawberry Perl is one of Windows Perl distributions. Strawberry Perl is easy to install and has a compiler of <a href="https://c-perlzemi-com.translate.goog/?_x_tr_sl=ja&_x_tr_tl=en&_x_tr_hl=ja&_x_tr_pto=nui">C Language</a> "<a href="https://ja-m-wikipedia-org.translate.goog/wiki/MinGW?_x_tr_sl=ja&_x_tr_tl=en&_x_tr_hl=ja&_x_tr_pto=nui">MinGW</a>", a <a href="https://perlzemi-com.translate.goog/blog/20101008127859.html?_x_tr_sl=ja&_x_tr_tl=en&_x_tr_hl=ja&_x_tr_pto=nui">CPAN</a> module installer "<a href="https://perlzemi-com.translate.goog/blog/20101027127859.html?_x_tr_sl=ja&_x_tr_tl=en&_x_tr_hl=ja&_x_tr_pto=nui">cpanm</a>", C libraries which is offten used in the image processing.

<a href="/blog/20180808153368.html"><img style="border:1px solid #ddd;max-width:450px;" src="https://perlzemi.com/images/strawberry_perl/strawberry_perl_logo.png"></a>

<a href="/blog/20180808153368.html">Strawberry Perl Installation into Windows</a>

(Uncompleted)
