<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161005147566.html">      <span itemprop = "name">operator </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20100820127859.html">      <span itemprop = "name">File test </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  &#8250;
  <li>
      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>Get the number of days that have passed since the last update</h2>



Use the file test operator "-M" to <b> get the number of days elapsed since the last update </b>.

<pre>
-M $file
</pre>

<h4>Example program</h4>

This is a example that uses the file operator -M to get the number of days that have passed since the last update.

<pre>
use strict;
use warnings;

# Get the number of days that have passed since the last update.
# -M $file

print "1: Get the number of days that have passed since the last update.\n";
my $file = "a.txt";
if (-e $file) {
  my $from_last_modify = -M $file;
  print "$from_last_modify days have passed since the last update.\n";
}
else {print "$file does not exist.\n"}
</pre>