<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20180820153471.html">Installation</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2>Installation of Perl on Mac</h2>

Perl is already installed on Mac. 

Execute the "Terminal" application and input the following command to check the version of Perl.

<pre>
perl -v
</pre>

You can see the version of Perl.

<pre>
This is perl 5, version 28, subversion 2 (v5.28.2) built for darwin-thread-multi-2level
(with 2 registered patches, see perl -V for more detail)
</pre>

<h3>Installation of Perl on your home directory</h3>

If you want to install the specific version of Perl on your home directory, you can use <b>perlbrew</b> or <b>plenv</b> according to your taste.

<ul>
  <li>
    <a href="/blog/20110220130464.html">perlbrew - Install Perl on your home directory</a>
  </li>
  <li>
    <a href="/blog/20180816153437.html">plenv - Install Perl on your home directory</a>
  </li>
</ul>
