<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </ span> </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop = "name"> Module </ span> </a>
    <meta itemprop = "position" content = "2" />
  </ li>
  & # 8250;
  <li>
    here
  </ li>
</ ol>
<h2> Fcntl --Import constants for flock / seek / sysopen function </ h2>



You can use the <b> Fcntl function </ b> to import constants used in the flock and seek functions.

<pre>
# constant of flock function
use Fcntl': flock';

# seek function constant
use Fcntl': seek';

#sysopen function constant
use Fcntl': DEFAULT';
</ pre>

<h4> Constants used in the flock function </ h4>

This is the constant used in the imported <a href="/blog/20080814121872.html"> flock function </a>.

<table>
  <tr>
    <td>
      LOCK_SH
    </ td>
    <td>
      Read lock
    </ td>
  </ tr>

  <tr>
    <td>
      LOCK_EX
    </ td>
    <td>
      Write lock
    </ td>
  </ tr>

  <tr>
    <td>
      LOCK_NB
    </ td>
    <td>
      Non-blocking mode
    </ td>
  </ tr>

  <tr>
    <td>
      LOCK_UN
    </ td>
    <td>
      unlock
    </ td>
  </ tr>

</ table>

<h4> Constants used in the seek function </ h4>

A constant used in the imported seek function.

<table>
  <tr>
    <td>
      SEEK_SET
    </ td>
    <td>
      Top of file
    </ td>
  </ tr>

  <tr>
    <td>
      SEEK_CUR
    </ td>
    <td>
      present location
    </ td>
  </ tr>

  <tr>
    <td>
      SEEK_END
    </ td>
    <td>
      End of file
    </ td>
  </ tr>

</ table>

<h4> Constants used in sysopen function </ h4>

This is a constant related to the file mode used by the imported <a href="/blog/20080804121794.html"> sysopen function </a>.

<table>
  <tr>
    <td>
      O_RDONLY
    </ td>
    <td>
      Read
    </ td>
  </ tr>

  <tr>
    <td>
      O_WRONLY
    </ td>
    <td>
      write in
    </ td>
  </ tr>

  <tr>
    <td>
      O_RDWR
    </ td>
    <td>
      Read / write
    </ td>
  </ tr>

  <tr>
    <td>
      O_CREAT
    </ td>
    <td>
      Create the file if it does not exist.
    </ td>
  </ tr>

  <tr>
    <td>
      O_EXCL
    </ td>
    <td>
      Fail open if the file exists
    </ td>
  </ tr>

  <tr>
    <td>
      O_APPEND
    </ td>
    <td>
      Additional writing
    </ td>
  </ tr>

  <tr>
    <td>
      O_TRUNC
    </ td>
    <td>
      Truncate the file to 0 bytes
    </ td>
  </ tr>

</ table>