<h2> A tool to run morbo on Windows - winmorbo </h2>

We have released a tool <b> winmorbo </b> that makes the Mojolicious development server "morbo" work well on Windows.

<blockquote>
<a href="https://github.com/yuki-kimoto/winmorbo">winmorbo</a>
</blockquote>

On Windows, the Mojolicious development server morbo doesn't work. This is because the worker process does not receive the parent TERM signal well.

This makes web development very tedious on Windows.

I hacked Mojo::Server::Morbo in a simple way to get morbo working well on Windows.

<h3> How to install winmorbo </h3>

<h4> Download winmorbo.bat </h4>

First, download winmorb.bat to your Mojolicious project directory.

<blockquote>
<a href="https://github.com/yuki-kimoto/winmorbo">winmorbo - Github</a>
</blockquote>

Click winmorbo.bat on GitHub and click the Raw button to download winmorbo.bat.

<h4> Run winmorbo.bat </h4>

To run the Mojolicious application, run the following command.

Since it is a Windows batch file, you do not need to specify the .bat extension.

In this sample, the Mojolicious application is app.pl.

<pre>
    winmorbo app.pl
</pre>

If the window opens and the next screen appears, it is successful.

<pre>
    C: \ Users \ kimot \ labo> cmd / C perl -x -S winmorbo app.pl
    Server available at http://127.0.0.1:3000
</pre>

This will automatically restart the morbo server every time you change a file.

<h3> Frequently Asked Questions </h3>

<h4> I get a "Can't open dir (templates)" error </h4>

This is because there is a "Templates" directory in the Windows user directory.

Mojolicious also uses the "templates" directory.

To solve this problem, create one directory (eg labo).

<pre>
    cd C: \ Users \ kimot
    mkdir labo
    cd labo
</pre>

Then create app.pl in the labo directory.