<h2>Read the entire contents of the file</h2>

How can I read the contents of a file in bulk with Perl? By convention, the contents of a file are often read at once, with the following description:

<pre>
my $file = 'a.txt';
open my $fh, '<', $file
  or die "Can't open $file:$!";

# Read the contents of the file at once
my $content = do {local $/; <$fh>};
</pre>

<a href="/blog/20090208123289.html">do block</a> returns the last evaluated value.

local undefined <a href="/blog/20161102147817.html">predefined variable</a> "$/" that represents a line break in the file.

This causes <a href="/blog/20080722121673.html">file input operator</a> "<$fh>" to return the contents of the entire file.

And when the scope ends, "$/" returns to its original state.

Keep in mind that Perl, which doesn't have a builtin functions to read a file at once, may read the entire contents of the file in this way.