<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20161012147627.html">Array</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "3" />
  </li>
</ol>
<h2> Get the number of elements in the array </h2>



To get the <b> number of elements in an array </b>, <a href="/blog/20161012147627.html">array</a> <a href="/blog/20180531152777.html">scalar Evaluate in context</a>.

<pre>
my $length = @nums;
</pre>

The number of elements in an array is also called the length of the array or the number of elements in the array.

In Perl, there is no such thing as a function to get the length, you can get the number of elements in an array by evaluating the array in a scalar context.

The easiest way is to assign it to a scalar variable as described above. That way, @nums will be evaluated in the scalar context and $length will be assigned the number of elements in the array.