<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name"><a href="/blog/20180820153471.html">Installation</a> </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>
<h2>Installation of Strawberry Perl on Windows</h2>

<b>Strawberry Perl</b> is one of the Windows Perl distributions. Strawberry Perl is easy to install and has the C language compiler <a href="https://en.wikipedia.org/wiki/MinGW">MinGW</a>, a CPAN module installer <a href="/blog/20101027127859.html">cpanm</a> and often used C libraries.

<a href="http://strawberryperl.com"><img style = "border: 1px solid # ddd; max-width: 450px;" src="/images/strawberry_perl/strawberry_perl_logo.png"></a>

<a href="http://strawberryperl.com">Strawberry Perl for Windows</a>

<h3>What is Strawbery Perl?</h3>

Strawbery Perl can be downloaded without registration. Older versions of Perl are available.

<a href="https://ja.wikipedia.org/wiki/MinGW">MinGW</a> is a <a href="https://en.c.perlzemi.com/">C</a>/<a href="https://en.wikipedia.org/wiki/C%2B%2B">C++</a> compiler that can be used on Windows. MinGW is compatible with <a href="https://en.linux.perlzemi.com/blog/20201216103956.html">gcc</a> of <a href="https://en.linux.perlzemi.com/">Linux</a>/<a href="https://en.wikipedia.org/wiki/Unix">UNIX</a>.

<b>gmake</b> is also available. gmake is a port of GNU make to Windows.

For the reason that Strawbery Perl has gcc and gmake, many <a href="/blog/20101008127859.html">CPAN</a> modules written in C/C++ can be installed on Windows.

The <a href="/blog/20101027127859.html">cpanm</a> command allows you to install CPAN modules quickly and easily. If you create a <b>cpanfile</b> required modules are defined , you can install all modules you need at once.

<h3>Download Strawberry Perl</h3>

Assuming Windows 10, I explain how to download and install Strawberry Perl. The way to download and install is almost the same for older versions of Windows(Windows 8, Windows 7).

Let's download and install Strawberry Perl. The latest version of Perl 2022 is Perl 5.32.

Click <b> Strawberry Perl 5.32 64bit MSI installer </b> of the following link to download Strawberry Perl.

<ul>
  <li>
    <a href="http://strawberryperl.com/releases.html">Strawberry Perl Releases</a>
  </li>
</ul>

<a href="http://strawberryperl.com/releases.html"><img style = "border: 1px solid ddd" src="/images/strawberry_perl/strawberry_perl_msi.png"></a>

MSI installer is the default installer for Windows.

The version number at the end(5.32.x.y) may be a little different, but don't worry.

In most cases, the 64-bit version of Windows will work, but if you need the 32-bit version, download the 32-bit version of Strawberry Perl.

<h3>Installation of Strawberry Perl</h3>

Double-click the downloaded installer file of Strawberry Perl.

The installer will start. It may take some time to calculate the free space. Please wait.

Press "Next" to proceed.

A check box that hears "I accept the terms in the License Agreement" will appear. Check it and press "Next".

Press "Next" to proceed, and finally click "Install" to start Strawberry Perl.

You'll see a dialog here, "Do you want to allow apps from this unknown publisher to make changes to your device?". Click "Yes".

It will take about 5 minutes. Please wait.

When the progress bar is full, the Strawberry Perl installation is complete.

Press "Finish" to close the dialog. A Readme will be displayed. Close it.

<h3>Check the Installation of Strawberry Perl</h3>

Let's check if Strawberry Perl is installed.

<h4>Command Prompt</h4>

At first, you execute <a href="/blog/20080603121251.html">Command Prompt</a>. Command Prompt is a Windows CUI tool.

The command prompt can be executed from:

"Start Menu" | "List of Apps" | "Windows System Tools" | "Command Prompt".

A black screen will appear. This is Command Prompt.

<img src="/images/commandprompt/commandprompt.png">

Input the following command to display the version of Perl.

<pre>
perl -v
</pre>

And press "Enter".

The version information of Perl is displayed.

<pre>
This is perl 5, version 32, subversion 0 (v5.32.1) built for MSWin32-x64-multi-thread
</pre>

If you can see this, the installation of Strawberry Perl is succeed.

<h3>Trouble Shooting</h3>

If Strawberry Perl doesn't work, see the following trouble shooting.

<h4>The Priority of PATH Environment Variable</h4>

If another Perl such as ActivePerl or Strawberry Perl 32bit is already installed, the Strawberry Perl installed in this article may not work due to the priority problem of the PATH environment variable.

Move the path of Perl you want to use to the front of other Perls.

<h3>The ways of Installation other than MSI</h3>

The ways to install Strawberry Perl other than MSI.

<h4>ZIP Version of Strawberry Perl</h4>

ZIP Version of Strawberry Perl is also prepared.

<ul>
  <li> <a target="_blank" href="https://insource-mkd.co.jp/staff-blog/16635.html">Reference: Installing the ZIP version of Strawberry Perl</a> </li>
</ul>

<h4>Portable Version of Strawberry Perl</h4>

Portable Version of Strawberry Perl is also prepared.

<h3>Other Ways to Install Perl on Windows</h3>

See the following links to known other ways to install Perl on Windows.

<h4>ActivePerl</h4>

ActivePerl is another Windows Perl distribution.

<ul>
  <li>
    <a href="/blog/20080602121231.html">Installation of Active Perl on Windows</a>
  </li>
</ul>

<h4>msys2</h4>

If you want a Linux pseudo environment on Windows, you can use msys2.

<ul>
   <li>
     <a href="/blog/20180806153350.html">Install msys2 on Windows to use Perl</a>
   </li>
</ul>