<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161005147566.html">      <span itemprop="name">Operators</span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20080910122105.html">      <span itemprop = "name">Arithmetic operator </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
  </li>
</ol>
<h2>Modulo operator "%" - find the remainder</h2>



You can use the <b> modulo operator "%" </b> to find the remainder of <a href="/blog/20161026147748.html">numbers</a>.

<pre>
my $num3 = $num1 %$num2;
</pre>

This is an example to find the remainder of 11 divided by 3.

<pre>
my $num = 11% 3;
</pre>

The remainder will be 2.

<h3>Explanation of arithmetic operators</h3>

The modulo operator is one of the arithmetic operators. For a detailed explanation of arithmetic operators, see the Arithmetic Operators Explanation page.

<ul>
  <li>
    <a href="/blog/20080910122105.html">Arithmetic operators</a>
  </li>
</ul>