<h2> Giblog 1.0 release-Websites and blog generation tools that can be managed by Git </h2>

Giblog 1.0 release. Giblog is a tool for generating websites and blog generation tools that can be managed by Perl seminar-produced Git.

<blockquote>
<a href="https://giblog.perlclub.net/"> Giblog Official Website --A tool for creating websites and blogs that can be managed by Git </a>
</blockquote>

<a href="https://new-website-example.giblog.net/"> <img src = "https://github.com/yuki-kimoto/giblog/raw/master/images/giblog-website. png / "width =" 100% "> </a>

You can easily create static websites that you can manage with Git.

<ul>
  <li>
    Git management for all pages
  </li>
  <li>
    Advanced SEO measures
  </li>
  <li>
    Responsive support
  </li>
  <li>
    Inquiry form
  </li>
  <li>
    Fast rebuild
  </li>
  <li>
    Advanced security
  </li>
  <li>
    Easy to search and replace articles
  </li>
  <li>
    Compatible with Windows Mac Linux
  </li>
  <li>
    Freely customize with Perl
  </li>
</ul>

Rebuild 645 pages in 0.78 seconds. Since all pages can be managed with static files, you can freely edit and replace using Perl.

Since everything is a static page, the strongest security that does not create vulnerabilities such as page rewriting.

Compatible with Windows, Mac and Linux.

Functional requests such as adding a Twitter card can be fulfilled using Perl.

Upload it to Github Pages and your page will be ready to go.

Inquiry form is also supported if the environment can use CGI.

Provides advanced SEO protection proven in Perl seminars by default.

Compatible with smartphones by default. Modern website design can also be supported by modifying CSS.

The official Giblog website is of course made on Giblog!

<blockquote>
<a href="https://giblog.perlclub.net/"> Try Giblog </a>
</blockquote>