<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    here
  </li>
</ol>

<h2> Create a form with Perl - PDF::Create a form with API2 </h2>

I will explain how to create a form in Perl. Here, a form is defined as a file format that can be printed on paper using a printer.

A common way to create a form is to create a PDF. If it is a PDF, you can print it.

You can use the Perl module <a href="https://metacpan.org/pod/PDF ::API2"> PDF::API2</a> to create PDFs, set fonts and type characters. You can draw, draw lines, insert images, and save.

If you master how to use PDF::API2, you will be able to use the form freely.

<h3> PDF::Install API2 </h3>

I will explain how to install PDF::API2.

<ul>
  <li> <a href="/blog/20191227161458.html"> PDF::API2 installation</a> </li>
</ul>

<h3> PDF file operation for creating forms </h3>

Learn how to create PDF files, draw text, insert images, and create basic shapes and tables.

<ul>
  <li> <a href="/blog/20191226175520.html"> Create a PDF file</a> </li>
  <li> <a href="/blog/20191230091936.html"> Draw text</a> </li>
  <li> <a href="/blog/20191231143440.html"> Insert image</a> </li>
  <li> <a href="/blog/20200101082734.html"> Drawing basic figures and creating tables</a> </li>
</ul>

<h3> PDF generation sample </h3>

This is a list of PDF generation samples explained in the article.

PDF generation <a href="/examples/pdf/empty.pdf"> blank page</a>, <a href="/examples/pdf/size_a4.pdf"> A4 size</a>, <a href= "/examples/pdf/size_b5.pdf"> B5 size</a>, <a href="/examples/pdf/size_595_842.pdf"> 595 × 842 size</a>

Text drawing <a href="/examples/pdf/text_core_font.pdf"> Text English</a>, <a href="/examples/pdf/margin_full_text.pdf"> Margins, line breaks, page breaks</a>, <a href="/examples/pdf/margin_full_text_jp.pdf"> Japanese, bold support</a>

Insert a painter <a href="/examples/pdf/image_png.pdf"> Insert a PNG image</a>

Basic shapes and tables <a href="/examples/pdf/render_tri.pdf"> triangles</a>, <a href="/examples/pdf/table.pdf"> empty tables</a>, <a href = "/ examples / pdf / table_items.pdf"> Table with items</a>

<h3> Sample forms that can be used in practice </h3>

We will post a sample of a full-scale form that can be used in practice.

<ul>
  <li> <a href="/blog/20200103081131.html"> Invoice</a> </li>
</ul>

<h3> PDF creation utility </h3>

<ul>
  <li> <a href="/blog/20191226175520.html"> How to check the PDF file from the browser</a> </li>
</ul>