<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161022147731.html">        <span itemprop = "name">Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/blog/20161003147558.html">        <span itemprop = "name">string </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<h2> Single quote string </h2>

A <b> single-quote string </b> is a string enclosed in single-quotes. Unlike <a href="/blog/20201026075254.html">double quoted string</a>, <a href="/blog/20180228151982.html">variable expansion</a> is not done and newline characters You cannot use <a href="/blog/20201030075254.html">escape sequences for double quotes</a> such as "\n".

<pre>
# Single quote string
my $name = 'Perl Tutorial Book';
</pre>

Variable expansion is not performed and the newline character is displayed as it is.

<pre>
my $message = 'I like $book\n';

# "I like $book\n" is displayed.
print $message;
</pre>

Single quoted strings can be used when you want to explicitly express that they are string constants that do not use variable expansion or newline characters.

<h3> Escape sequence of single quoted strings </h3>

A list of single-quote string escape sequences.

<table>
  <tr> <th> Escape sequence </th> <th> Meaning </th> </tr>
  <tr> <td> \'</td> <td>'</td> </tr>
  <tr> <td> \\ </td> <td>\</td> </tr>
</table>

In single quotes, remember the "\'" that represents a single quote and the "\\" that represents the backslash itself.

<pre>
my $message = 'I \'m honest Perl User \\';
</pre>

The explanation page of the escape sequence of the single quote string is as follows.

<ul>
  <li> <a href="/blog/20201029075254.html">Escape sequence of single quoted strings</a> </li>
</ul>

If you want to copy and paste a string containing single quotes, you can also use the <a href="/blog/20100304126967.html">single quote operator</a>.