<h2>Add module search path using PERL5LIB environment variable</h2>

Explains how to add a module search path using the PERL5LIB environment variable.

<h4>Linux bash environment variable</h4>

The following is the <a href="https://linux.perlclub.net/blog/20200617103220.html">bash environment of <a href="https://linux.perlclub.net/">Linux</a> How to add a module search path by setting "PERL5LIB" in the variable</a>. Add this to the "<a href="https://linux.perlclub.net/blog/20200616103220.html">.bashrc</a>" file.

<pre>
export PERL5LIB =/foo/lib
</pre>

If you specify more than one, separate them with a colon.

<pre>
export PERL5LIB =/foo/lib:/bar/lib
</pre>

<h4>csh environment variable such as commercial UNIX</h4>

It is a method to add the search path of the module by setting "PERL5LIB" in the environment variable of csh in commercial UNIX such as FreeBSD. Add this to the "~/.cshrc" file.

<pre>
setenv PERL5LIB/foo/lib
</pre>

If you specify more than one, separate them with a colon.

<pre>
setenv PERL5LIB/foo/lib:/bar/lib
</pre>

<h4>Environment variable in Windows</h4>

It is a method to add the search path of the module by setting the environment variable "PERL5LIB" on Windows. The method of setting environment variable in Windows is added by GUI, so please check the method.

<pre>
# Value of environment variable PERL5LIB
/ foo/lib
</pre>

If you specify more than one, separate them with a semicolon. This is a different part from Unix/Linux.

<pre>
# Value of environment variable PERL5LIB
/ foo/lib;/bar/lib
</pre>

<h4>Environment variable PERL5LIB is not portable</h4>

The environment variable PERL5LIB is not a portable method because the way environment variable are represented differs depending on the OS.

On the other hand, although it is tightly coupled with the script, the <a href="/blog/20100525127859.html">lib module</a> works the same in any environment.