<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop = "name"> Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop = "name"> Syntax </span></a>
    <meta itemprop = "position" content = "2" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161003147558.html">
        <span itemprop = "name"> string </span></a>
    <meta itemprop = "position" content = "3" />
  </li>
  & # 8250;
  <li>
    here
  </li>
</ol>

<h2> Double quoted string </h2>

A <b> double-quoted string </b> is a string enclosed in double-quoted "" ". <a href="/blog/20180228151982.html"> Variable expansion</a> and <a href="/blog/20201030075254.html"> Double quote string escape sequences such as line breaks and tabs</a> The feature is that you can use a>.

<pre>
my $ name = "Yuki Kimoto";

# Use variable expansion and newline characters
my $ message = "I'm $ name \ n";

# "I'm Yuki Kimoto" is displayed. With line breaks
print $ message;
</pre>

<h3> What is variable expansion? </H3>

Variable expansion is a function that allows you to expand the contents of a variable in a character string.

<pre>
my $ name = "Yuki Kimoto";

# Use variable expansion and newline characters
my $ message = "I'm $ name \ n";
</pre>

If you want to clarify the delimiter of the variable name, you can specify it by enclosing the variable name excluding the sigil "$" with "{}".

<pre>
my $ name = "Yuki Kimoto";

#Specify variable name
my $ message = "I'm $ {name} _foo \ n";
</pre>

Details are explained in the article on variable expansion.

<ul>
  <li> <a href="/blog/20180228151982.html"> Variable expansion</a> </li>
</ul>

<h3> Escape sequence of double quoted strings </h3>

Here are the escape sequences that can be used in double-quoted strings.

Frequently used ones are line breaks "\ n", tabs "\ t", double quotes "\" ", and backslashes themselves" \\ ".

<table>
  <tr> <th> Escape sequence </th> <th> Meaning </th> </tr>
  <tr> <td> \ n </td> <td> Line breaks </td> </tr>
  <tr> <td> \ t </td> <td> tab </td> </tr>
  <tr> <td> \ "</td> <td>" </td> </tr>
  <tr> <td> \\ </td> <td> \ </td> </tr>
</table>

Some escape sequences allow you to write the ASCII code itself by starting with "\ x".

<pre>
#Specify ASCII code directly to express line breaks
my $ message = "Hello \ x0D \ x0A";
print $ message;
</pre>

The above example is a sample that expresses the line feed code in the HTTP protocol because it is an ASCII hexadecimal sequence of "D" and "A". The 0 after the "\ x" is not required, but it is included according to the convention of representing ASCII codes in 2-digit hexadecimal numbers.

You can read more about it in the Double Quote String Escape Sequence article.

<ul>
  <li> <a href="/blog/20201030075254.html"> Double quote string escape sequence</a> </li>
</ul>

<h3> Relationship with regular expression literals </h3>

Variable expansion and escape sequences of double-quoted strings can be used as they are in regular expression literals.

<pre>
my $ name = "Yuki Kimoto";

my $ message = "I'm Yuki Kimoto \ tHello";

# You can use variable expansion and escape sequences in regular expression literals
if ($ message = ~ / $ name \ t /) {
  
}
</pre>

One of the reasons Perl's text processing is useful is that you can use double-quoted string interpolation and escape sequences as-is in regular expression literals.

I don't use variable expansion very often, but I feel that the fact that regular expression literals are a natural extension of double-quoted strings is a natural experience.

In Perl, <a href="/blog/20100827127859.html"> regular expressions</a> are built in as programming language features, and regular expression literals are also implemented as one of the language features.