<h2> How to display UTF-8 at the Windows command prompt </h2>

I will show you how to display UTF-8 at the Windows command prompt. It was confirmed on Windows 10 on September 3, 2021.

Create a command prompt shortcut. Right-click to display properties. The link destination is as follows. The code 65001 is the UTF-8 code.

<pre>
%windir% \ system32 \ cmd.exe/k "chcp 65001"
</pre>

<img src = "/ images/command prompt/win_command_utf8.png">
For Perl programs, writing the source code in UTF-8 is currently the recommended method, so it's nice to be able to view UTF-8 at the command prompt.

I referred to the following information.

<a href="https://qiita.com/s4i/items/75c19c9feb10b54c1ce9">How to change the character code to UTF-8 when PowerShell starts - Qiita</a>