<h2> Perl 6 has been renamed to Raku, and Perl 7 is planned to succeed Perl 5 </ h2>

Perl 6, which was once developed as the successor to Perl 5, has been renamed to Raku.

<h4> What happens to Perl? </ H4>

Perl is currently planning a new version of Perl, <b> Perl 7 </ b>, for future releases. In Perl 6, "6" is included in the language name, but in Perl 7, "7" is not part of the language name, but a major version number.

<ul>
   <li> <a href="/blog/20210921094146.html"> Maintainable Perl 7 plan </a> </ li>
</ ul>