<h2>Maintainable Perl 7 plan</h2>

As of 2021, Perl 7 with high maintainability is planned. Perl7 is a new version of Perl that improves the maintainability of Perl, reduces beginner mistakes, and maintains high backward compatibility with the current version of Perl5.

With the following description, it is planned to be able to use the functions of Perl7. The release date is undecided.

<pre>
use v7;
</pre>

In the description of "use v7 ", "use strict;" which makes Perl grammar strict and "use warnings;" which outputs warnings are enabled, and you can write Perl with high maintainability in one line description.

You can use functions that were available as Perl 5 features, such as the say function.

<pre>
use v7;

say'Hello';
</pre>

<h3>What happened to Perl 7's announcement? </H3>

There was a <a href="https://www.perl.com/article/announcing-perl-7/">Perl 7 announcement</a> on Perl.com in June 2020, but it was announced. The content is now updated.

<h3>What happened to Perl6? </H3>

<a href="/blog/20210605102758.html">Perl6</a>, which was once developed as a successor to Perl5, has been renamed to Raku. As of 2021, some sites mention Perl 6 as it is without updating the information, but the correct information is that Perl 6 has been renamed to Raku.

<h3>Relationship between Perl 7, Perl 6, and Perl 5</h3>

There is so much misunderstanding and confusion about Perl 7, Perl 6, and Perl 5. I feel this is the responsibility of Perl, and I feel that things will get better a few years after Perl 7 is officially released.

To reduce misunderstandings and confusion, I'll write about the 2021 versions of Perl 7, Perl 6, and Perl 5.

<h4>The latest version of Perl is Perl 5.34</h4>

The latest version of Perl in 2021 is Perl 5.34. The latest version of Perl 5 is the latest version of Perl.

<h4>Perl 6 renamed to Raku</h4>

Perl 6, which was supposed to be the next version of Perl, is now defined as a different programming language and has been renamed to Raku.

<h4>The next Perl will be Perl 7, the release date of Perl 7 is undecided</h4>

It has been decided that the next Perl will be released as Perl 7 with very high compatibility with the current Perl 5.

<pre>
use v7;
</pre>

With the description, you can use the functions of Perl 7.

The release date for Perl 7 is undecided as of September 2021.