<h2>JavaScript Supported Web Scraping using Perl</h2>

I explain JavaScript supported web scraping using Perl and <a href="https://metacpan.org/pod/Selenium::Remote::Driver">Selenium::Remote::Driver</a>. Selenium::Remote::Driver is a Perl module for Selenium. Selenium provides the APIs for JavaScript supported web scraping. 

<h3>Download and Install Perl</h3>

See the following articles about how to donwload and install Perl.

<ul>
  <li><a href="/blog/20180820153471.html">Download and Install Perl</a></li>
</ul>

<h3>Download and Install Google Chrome</h3>

I explain the way to install web browsers.

<h4>Windows and Mac</h4>

You can download and install Google Chrome in the following page.

<ul>
 <li><a href="https://www.google.com/chrome/">Google Chrome - Download</a></li>
</ul>

<h4>Linux</h4>

In Linux you maybe install Google Chrome using package managers. I try the installing Google Chrome on the some Linux distributions.

<h5>Ubuntu</h5>

<ul>
 <li><a href="https://ubuntu.perlzemi.com/blog/20211117083934.html">Install Google Chrome on Ubuntu</a></li>
</ul>

<h5>CentOS</h5>

<ul>
 <li><a href="https://centos.perlzemi.com/blog/20210104090837.html">Install Google Chrome on CentOS</a></li>
</ul>

<h3>Download and Install Web Drivers</h3>

Web Drivers is tools to control Web browsers by using programs.

<h5>Ubuntu</h5>

<ul>
 <li><a href="https://ubuntu.perlzemi.com/blog/20211116083934.html">Install ChromeDriver on Ubuntu</a></li>
</ul>

<h5>CentOS</h5>

<ul>
 <li><a href="https://centos.perlzemi.com/blog/20210103090837.html">Install ChromeDriver on CentOS</a></li>
</ul>

(Uncompleted)
