<h2> Selenium :: Firefox for JavaScript-enabled web scraping </h2>

Let's do JavaScript-enabled web scraping with Selenium :: Firefox. Selenium :: Firefox is a <a href="/blog/20210105145700.html"> Selenium :: Remote :: Driver </a> customized for Firefox.

<pre>
#Generate driver. The following two are the same, but only work with Firefox 48+.
my $ driver = Selenium :: Firefox-> new;
$ driver = Selenium :: Firefox-> new (marionette_enabled => 1);
 
# Do something

#Shut down the driver
$ driver-> shutdown_binary;

# For Firefox 47 and if it's too old. Marionettes are disabled.
$ driver = Selenium :: Firefox-> new (marionette_enabled => 0);
$ driver-> shutdown_binary; </pre>
</pre>

<h3> Preparation of execution environment </h3>

<h4> For Mac </h4>

<a href="https://sironekotoro.hateblo.jp/entry/2020/06/06/185455"> Using Selenium from Perl </a> The environment construction procedure will be helpful.