<h2>JavaScript Supported Web Scraping using Perl</h2>

I explain JavaScript supported web scraping using Perl and <a href="https://metacpan.org/pod/Selenium::Remote::Driver">Selenium::Remote::Driver</a>. Selenium::Remote::Driver is a Perl module for Selenium. Selenium provides the APIs for JavaScript supported web scraping. 

<h3>Download and Install Perl</h3>

See the following articles about how to donwload and install Perl. Windows, Max, Linux/UNIX are supported.

<ul>
  <li><a href="/blog/20180820153471.html">Download and Install Perl</a></li>
</ul>

<h3>Download and Install Google Chrome</h3>

I explain the way to install web browsers.

<h4>Windows and Mac</h4>

You can download and install Google Chrome in the following page.

<ul>
 <li><a href="https://www.google.com/chrome/">Google Chrome - Download</a></li>
</ul>

<h4>Linux</h4>

In Linux you maybe install Google Chrome using package managers. I try the installing Google Chrome on the some Linux distributions.

<h5>Ubuntu</h5>

<ul>
 <li><a href="https://ubuntu.perlzemi.com/blog/20211117083934.html">Install Google Chrome on Ubuntu(Japanese)</a></li>
</ul>

<h5>CentOS</h5>

<ul>
 <li><a href="https://centos.perlzemi.com/blog/20210104090837.html">Install Google Chrome on CentOS(Japanese)</a></li>
</ul>

<h4>Check the version of Google Chrome</h4>

Check the version of Google Chrome.

<pre>
google-chrome --version
</pre>

An example of the output:

<pre>
Google Chrome 87.0.4280.88
</pre>

<h3>Download and Install ChromeDriver</h3>

ChromeDriver is a web driver. Web drivers is tools to control Web browsers by using programs.

<h5>Ubuntu</h5>

<ul>
 <li><a href="https://ubuntu.perlzemi.com/blog/20211116083934.html">Install ChromeDriver on Ubuntu(Japanese)</a></li>
</ul>

<h5>CentOS</h5>

<ul>
 <li><a href="https://centos.perlzemi.com/blog/20210103090837.html">Install ChromeDriver on CentOS(Japanese)</a></li>
</ul>

<h4>Check the version of ChromeDriver</h4>

Check the version of ChromeDriver.

<pre>
chromedriver --version
</pre>

An example of the output:

<pre>
ChromeDriver 87.0.4280.88 (89e2380a3e36c3464b5dd1302349b1382549290d-refs/branch-heads/4280@{#1761})
</pre>

It is good that the version of ChromeDriver is the same as Google Chrome to prevent problems.

<h3>Install Selenium::Remote::Driver</h3>

Let's install <a href="https://metacpan.org/pod/Selenium::Remote::Driver">Selenium::Remote::Driver</a> using <a href="/blog/20101027127859.html">cpanm</a> or <a href="/blog/20100504127089.html">cpan</a>. Selenium::Remote::Driver is a Perl module for Selenium.

<pre>
# cpanm
cpanm Selenium::Remote::Driver

# cpan
cpan Selenium::Remote::Driver
</pre>

<h3>Get a Web Page using Selenium</h3>

Get a Web Page using Selenium.

<h4>Load Selenium::Chrome</h4>

Let's load <b>Selenium::Chrome</b>. Selenium::Chrome is a sub class of Selenium::Remote::Driver for Google Chrome.

<pre>
use Selenium::Chrome;
</pre>

<h4>Create a Selenium::Chrome Object</h4>

Create a Selenium::Chrome object with headless options.

<pre>
my $driver = Selenium::Chrome->new(
  extra_capabilities => {
    'goog:chromeOptions' => {
      args => ['headless', 'disable-gpu', 'window-size=1920,1080', 'no-sandbox' ]
    }
  }
);
</pre>

These options is needed for headless execution. Headless execution means you get a page without the GUI of Google Chrome.

If there are no these options and you don't have GUI display, you will see the following error message.

<pre>
Could not create new session: unknown error: Chrome failed to start: exited abnormally.

(unknown error: DevToolsActivePort file doesn't exist) (The process started from chrome location /usr/bin/google-chrome is no longer running, so ChromeDriver is assuming that Chrome has crashed.) at access.pl line 79.
</pre>

<h4>Shutdown a Selenium::Chrome Object</h4>

If you finish the use of Selenium::Chrome, you need to shutdown it.

<pre>
$driver->shutdown_binary;
</pre>

<h4>Get a Web Page and the Title</h4>

You can get a web page using a <b>get</b> method.

<pre>
$driver->get('http://www.google.com');
</pre>

You can get the title using a <b>get_title</b> method.

<pre>
my $title = $driver->get_title;
</pre>

<b>Examples:</b>

This is an example to get a page and the title.

<pre>
use Selenium::Chrome;

# Create a Selenium::Chrome object
my $driver = Selenium::Chrome->new(
  extra_capabilities => {
    'goog:chromeOptions' => {
      args => ['headless', 'disable-gpu', 'window-size=1920,1080', 'no-sandbox' ]
    }
  }
);

# Get a page
$driver->get('http://www.google.com');

# Get the title
my $title = $driver->get_title;

print "$title\n";

# Shutdown
$driver->shutdown_binary;
</pre>

The output:

<pre>
Google
</pre>

(Uncompleted)
