<h2>Installation of Perl on WSL 2</h2>

<a href="https://docs.microsoft.com/en-us/windows/wsl/install">WSL 2</a> is Windows Subsystem for Linux. You can install Linux on Windows using WSL 2. And you can use Perl.

<h3>Installation of WSL 2</h3>

Let's intall WSL 2. Run the following command on <a href="/blog/20080603121251.html">Windows Command Prompt</a>.

<pre>
# Install WSL 2
wsl --install
</pre>

<a href="https://en.ubuntu.perlzemi.com/">Ubuntu</a> is installed by default.

Reboot Windows to enable WSL2.

Take a few minutes.

You see the following messages.

<h4>User Name</h4>

<pre>
Installing, this may take a few minutes...

Please create a default UNIX user account. The username does not need to match your Windows username.
For more information visit: https://aka.ms/wslusers
Enter new UNIX username:
</pre>

I enter the following user name as an example.

<pre>
kimoto_ubuntu
</pre>

By right-clicking on Ubuntu terminal, you can paste the user name.

<h4>Password</h4>

Next, set password.

The setup of Ubuntu is completed.

<h3>Boot Ubuntu</h3>

Let's boot Ubuntu.

"Start Menu" | "Ubuntu"

<h3>Checking the installation of Perl</h3>

Perl is installed by default on Ubuntu. Let's check the installation of Perl.

<pre>
perl -v
</pre>

The version of Perl is displayed.

<pre>
This is perl 5, version 30, subversion 0 (v5.30.0) built for x86_64-linux-gnu-thread-multi
</pre>

<h3>Show files using Explore</h3>

You can see files on Ubuntu by the following path. <b>\\wsl$</b> is root directory of WSL 2.

<pre>
\\wsl$\Ubuntu\home\kimoto_ubuntu
</pre>
