<h2>Easiest Way to Get Started with Perl</h2>

The easiest way to get started with Perl is to use <a href="https://perlbanjo.com/">PerlBanjo.com</a>.

Please copy the following source code to <a href="https://perlbanjo.com/">PerlBanjo.com</a> and click the run button.

<pre>
print "Hello World!\n";
</pre>

<b>Result:</b>

<pre>
Hello World!
</pre>

<h3>Regular Expression</h3>

I wrtie an example of <a href="/blog/20100827127859.html">regular expressions</a> with the latest way to write Perl.

<pre>
use v5.36;

my $message = 'I like apples. I buy apples.';

say "Input:$message";

$message =~ s/apple/orange/g;

say "Outpu:$message";
</pre>

<b>Result:</b>

<pre>
Input:I like apples. I buy apples.
Outpu:I like oranges. I buy oranges.
</pre>
