<h3>PowerShell(pwsh) Tutorail for Perl</h3>

<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

PowerShell(pwsh) is a <a href="https://en.wikipedia.org/wiki/Command-line_interface">CLI</a> tool to run programs on Windows. 

<h3>Features of PowerShell(pwsh)</h3>

<ul>
  <li>UTF-8</li>
  <li>Linux/UNIX-like Shell</li>
  <li>ls, echo commands, etc</li>
  <li>A string is quoted "" and ''</li>
</ul>

<h3>Installation of PowerShell(pwsh)</h3>

PowerShell(pwsh) can be downloaded from the following page.

<a href="https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-on-windows?view=powershell-7#installing-the-msi-package">Installing PowerShell on Windows</a>

Click the following link to download PowerShell(pwsh).

<a href="https://github.com/PowerShell/PowerShell/releases/download/v7.2.2/PowerShell-7.2.2-win-x64.msi"!>PowerShell-7.2.2-win-x64.msi</a>

And double-click the downloaded file. The installer is executed.

"Next" | "Next" | "Next" | "Install" | "Finish"

<h3>Execution of PowerShell/pwsh</h3>

Let's execute PowerShell/pwsh.

"Start Menu" | "Apps" | "PowerShell" | "PowerShell 7 (x64)"

<img src="/images/installation/pwsh.png">

Your home directory is shown on PowerShell/pwsh.

<pre>
PS C:\Users\kimot
</pre>

<h3>Showing File Extensions</h3>

The extension of Perl program is "<b>.pl</b>". It is useful if extensions of files are displayed.

The way to show file extensions is described in the following page.

<a href="https://www.howtogeek.com/205086/beginner-how-to-make-windows-show-file-extensions/">How to Make Windows Show File Extensions</a>

<h3>Execution of Notepad</h3>

Perl programs are text files. You can create your Perl programs using Notepad.

The way to use Notepad is described in the following page.

<a href="https://www.digitalcitizen.life/start-notepad-windows/">11 ways to start Notepad in Windows</a>

<h3>Creating Perl Programs</h3>

Let's create a Perl program.

Create a file named "start.pl" at your home directory.

<pre>
C:\Users\kimot\start.pl
</pre>

And write the following text.

<pre>
print "Hello World";
</pre>

And save it.

<h3>Runing Perl Programs</h3>

You can run your Perl program using <b>perl</b> command.

<pre>
perl start.pl
</pre>

The output is:

<pre>
Hello World
</pre>

<h3>Commands of PowerShell/pwsh</h3>

Intorduce offten used commands of PowerShell/pwsh.

<h4>dir</h4>

The "dir" command displays the list of files.

<pre>
dir
</pre>

<h4>cd</h4>

The "cd" command changes the working directory.

<pre>
cd DirectoryName
</pre>

".." is the file name that means the folder one level higher.

<pre>
cd ..
</pre>

<h4>Changing Drives</h4>

You can change drives using "c:" or "d:".

<pre>
c:
d:
</pre>

<h4>Seeing Command Histories</h4>

You can see command histories using "↑" and "↓" keys.

<pre>
↑
↓
</pre>

<h4>Getting Environment Variables</h4>

You can get and show a environment variable as the following.

<pre>
echo %PATH%
</pre>

<h4>Setting Environment Variable</h4>

You can set a environment variable as the following.

<pre>
SET DATE=20080604
</pre>
