<h2>Easiest Way to Get Started with Perl</h2>

The easiest way to get started with Perl is to use <a href="https://perlbanjo.com/">PerlBanjo.com</a>.

Please copy the following source code to <a href="https://perlbanjo.com/">PerlBanjo.com</a> and click the run button.

<pre>
print "Hello World!\n";
</pre>

<b>Result:</b>

<pre>
Hello World!
</pre>

<h3>Regular Expression</h3>

I wrtie an example of <a href="/blog/20100827127859.html">regular expressions</a> with the latest way to write Perl.

<pre>
use v5.36;

my $message = 'I like apples. I buy apples.';

say "Input:$message";

$message =~ s/apple/orange/g;

say "Outpu:$message";
</pre>

<b>Result:</b>

<pre>
Input:I like apples. I buy apples.
Outpu:I like oranges. I buy oranges.
</pre>

<h3>Parsing CSV</h3>

Parse CSV in a file. <code>,</code> are changed to spaces.

<pre>
use v5.36;

while (my $line = <DATA>) {
  chomp $line;
  
  my ($id, $name, $price) = split(',', $line);
  
  my $new_line = join(' ', $id, $name, $price);
  
  say $new_line;
}

__DATA__
1,Perl,2000
2,Database,3000
3,Web,4000
</pre>

<b>Result:</b>

<pre>
1 Perl 2000
2 Database 3000
3 Web 4000
</pre>

<h3>Parsing UTF-8 CSV</h3>

Parse CSV written by <code>UTF-8</code>.

<pre>
use v5.36;
use utf8;
use Encode 'decode', 'encode';

while (my $line = <DATA>) {
  $line = decode('UTF-8', $line);
  
  chomp $line;
  
  my ($id, $name, $price) = split(',', $line);
  
  my $new_line = join(' ', $id, $name, $price);
  
  say encode('UTF-8', $new_line);
}

# Plain UTF-8 CSV data

no utf8;

__DATA__
1,Perl,2000
2,あいう,3000
3,えお,4000
</pre>

<b>Result:</b>

<pre>
1 Perl 2000
2 あいう 3000
3 えお 4000
</pre>
