<h2>Perl Programming Tutorial - Start by installing Perl</h2>

Perl Zemi is a free web document for beginners to learn the basics of Perl programming, starting with the installation of Perl. You can learn basic grammar such as Perl variables, arrays, hashes, if statements, for statements, file input/output, and text processing such as search/replace using regular expression which supports Unicode.

<h3>Perl Installation</h3>

Perl downloading and the installation. Supports Windows, Mac, Linux.

<div class="block-link-list"> 
  <ul>
    <li>
      <a href="/blog/20180820153471.html">Perl downloading and the installation</a><span>Explains the way to download and install Perl</span>
    </li>
  </ul>
</div>

<h3>All entries</h3>

All entries. The document is originally Japanese. I try to translate using Google translation at first in this year.

<a href="/list.html">All entries</a>